<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1</string>
		<key>Build</key>
		<string>11D167</string>
		<key>Device</key>
		<string>iPad2,2</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Baseband</key>
		<string>04.12.09</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7.1/031-4484.20140310.CfrFr/iPad2,2_7.1_11D167_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4169-001.dmg</string>
			<key>Key</key>
			<string>2861a9093f35eaaa2a2e79f1616c1969989561b7e776c7511acf42b1491df19696c2dd3b</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4442-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>76d8af85148b0b8d3cbc9d0fd4c71ae9</string>
			<key>Key</key>
			<string>e4367b0713823e472fff59b2ad10f57b4543e0156cbe3147ad69802941d5762d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4228-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>208ec891a7030ff34889ad55db4b4305</string>
			<key>Key</key>
			<string>9060ebaf2d7ade5b6ad29db300a45c5db09899d875f5fe81542d5c8f89d076d1</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>26f74f90279f06e19cbef6659f811483</string>
			<key>Key</key>
			<string>afce083ef98ef08dd7bf903636a8281dc8e1e0b693d0ce0e977368377cb71154</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>08ab1605ff6909c856ab3fb16c47c4a4</string>
			<key>Key</key>
			<string>1e1cd55ab37a488381d96f10023c1025747be91736b4d064e3a1c0f978126268</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e20b8031866b29f46617c4f2d10ffde0</string>
			<key>Key</key>
			<string>515cd6da67ad82990428b18038657793f8fc8ec0b2763bc91b8186a10cb661e6</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8acc738d7a457314144c2b0db657096f</string>
			<key>Key</key>
			<string>626fde77e5c217eec19c12e0f6dc0f9ff45b6b30e5086442caa8eb09c3367a4b</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>123c231fc065f4370c4d277b77685355</string>
			<key>Key</key>
			<string>caca1b87beb405118969ea257a9fc9004ad381ed0c9fdaeffda77cc7e3e0afef</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>019cb01ba40a413d65837ca7e65c2d7b</string>
			<key>Key</key>
			<string>dcbfcd151feaac2ef9db0c846e83e3b5b29c631be556d3b823d77d5b43648b40</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c831c5335d3f1ab36b19616d0313b968</string>
			<key>Key</key>
			<string>87285553555c9973d24fc979185db7ffb1437a6c7b8e41569ac17534e1e5786c</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bc58e45ec6107939da8bd7d3664faca2</string>
			<key>Key</key>
			<string>a14c7d63fb6b50d551cc1e915e52c901fe70b55127cb80b8285e8b90dad52820</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>74c7f0820350be5fa4c6200c0c9f85e5</string>
			<key>Key</key>
			<string>f79fb3e2338ff14da8e37d2a0abe9907411cfc98ce4ade83417e70f2ecbef184</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cb3d1eb7b85f17205f01314d8c215e8a</string>
			<key>Key</key>
			<string>59c0457dda804c97e017b99e6cbffb662edcaf9f04dd47c0eb333a5ea975f369</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>de354960b80d91b804d8e218128e682c</string>
			<key>Key</key>
			<string>c17d7ac4226d7e4610625ed2c644f80586c50b1a1aca5ec47dc6a18661d40086</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bb068eab73bcc419eb85e7c3626264f7</string>
			<key>Key</key>
			<string>2436e110f1f9845db6ec656a6ac0e9dd5e9be41dafe9e3b5098dcee0aa4f0c25</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bccb08a693dec15a5e2c9de3a2d85184</string>
			<key>Key</key>
			<string>8314ff989835a2089dcf1af9f5e4ab01c6a6d1f69ad4422fdd127b82ec7472f0</string>
		</dict>
	</dict>
</plist>