<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>5.0.1</string>
		<key>Build</key>
		<string>9A405</string>
		<key>Device</key>
		<string>iPad2,1</string>
		<key>Codename</key>
		<string>Telluride</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3310.20111109.Cfp76/iPad2,1_5.0.1_9A405_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-3701-001.dmg</string>
			<key>Key</key>
			<string>bca4f26aec46e818da0def825f63c5e6c6b2cedd60f30c9d49d32e569dbd62358947c055</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-3712-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d95e8a487c2160a02cd5f1a3c7ce8e8c</string>
			<key>Key</key>
			<string>c7b5e7d391a124b9848fc2529ffb3ff603ce95703797d1ab76b80dc121075e8e</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-3718-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>32909ac1b0ad81592b48e3138ac3e9dc</string>
			<key>Key</key>
			<string>5140a0ad97913ebc60874c10f718099a824f13f249e52190636026e7b6595446</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d13fac0e06ba655b932d115c3867da7a</string>
			<key>Key</key>
			<string>061a37f84c46e63965f45bcc5658b4918128e53987fd06cb21221c5ab3d75c78</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ad97760c0f61e36653581d99c3748581</string>
			<key>Key</key>
			<string>f89289f16e25fb5a4262b19cb84627bc8f3d20def44e034bd8fa31ae7c58ecb1</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9d2b0568a42da2d425804284bc376473</string>
			<key>Key</key>
			<string>9e173ca01143484d1c7d0cabc25f97a876eb37cab89855c1b485afefcc4c4f1e</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c3c141cb9e834896cdb5e46f13c490a6</string>
			<key>Key</key>
			<string>a6e02c966e3496a0a546564d488cf4c1157a762993a373765b4121f2fbb31a68</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6bac6d0abe33fe54fec15f6b3ceb9cb5</string>
			<key>Key</key>
			<string>2818fda4952d6254b97a8142c617dfa1db24f7cc71ca08c92e72f5d65f8c0190</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>294787428339a4f27d89d3377ec95402</string>
			<key>Key</key>
			<string>9cdc4a85ae09289b4ad1424503cb4477037ad75b16fbf7c7ab22c5d34088ed74</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e84ac1bb38a3ea40cebeb31e9dae4b7f</string>
			<key>Key</key>
			<string>3b14a2723d3a1d2a0179fc3883a5fee068d7aab88b390f7e439138410f888787</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8d9a9f35a83da6118a5e4f5a1dec06d4</string>
			<key>Key</key>
			<string>1ea271c531b1761d6407cbd7c0b6afa99182fef5d92160b606b1e41b78763a1d</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7907b8d75ffe41d1bb2a088da650872d</string>
			<key>Key</key>
			<string>5a09f26e5bdd5e484b1fb554c44e51d1e7b6bf7b14338a25fe20e0c8f68b6d78</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>40d71127da0c22085ed1b997e9870c8c</string>
			<key>Key</key>
			<string>7b987bd43a399ce19f8b3349f13040a0a1c30edd2cd4392cee13e76c5ce0a458</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7eae8516b967aee5e2e275b4fbb4b54d</string>
			<key>Key</key>
			<string>aeda74b351fa39f42f475ba4766cfc98a588d93b6e8faf97aa73a4fd7e4f7f12</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>26042d7e6d63e59fc517659deb1b47a2</string>
			<key>Key</key>
			<string>b274d327edff9ab3c09b298f5907dc8f2eae581bd8a43670fd2daf6c9516d6ab</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>efb9fd3c6761dd22d453982c16f5c857</string>
			<key>Key</key>
			<string>9176f5b2a9ce2fc2f00807b4cd0f9c4ce23b2c54fb302ee93f7485b46e983350</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>313409879b952ddd2e25fb44f45b5d27</string>
			<key>Key</key>
			<string>bae59a2c15476c67a9a0f4f64024487d4fa7eb808d386989fd7573c09c40aa37</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode-768x1024.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b1389c1cf3e7648ebf787adfe2bab27e</string>
			<key>Key</key>
			<string>ee45ca243c4d4f5b1076e6213b811b7e57bfffdee7435e2fd2f3bd16e1e1326b</string>
		</dict>
	</dict>
</plist>