<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>4.3.2</string>
		<key>Build</key>
		<string>8H7</string>
		<key>Device</key>
		<string>iPad2,2</string>
		<key>Codename</key>
		<string>Durango</string>
		<key>Baseband</key>
		<string>04.10.01</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0664.20110414.39vUS/iPad2,2_4.3.2_8H7_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-1027-007.dmg</string>
			<key>Key</key>
			<string>30584c8087f5b7cbc64a9fd0533cc25c69e4844b0b465092b7e30f0074356ce889914481</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-1032-007.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-1042-007.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5e9e57d087bfd5f60b73fcd1ea52a727</string>
			<key>Key</key>
			<string>af4ac4335be75a5c75b31c418c7bab71d09610786bc8dad28416aba053296ead</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9cd13815fbe5de3698588c62d15e2f7f</string>
			<key>Key</key>
			<string>c27b0c11b5a069ee8df2b7d5020e171a10899314022740d28df02f2b1beb4c8d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f5d30f83cd3daeeae2d6a61cbd1e5b93</string>
			<key>Key</key>
			<string>9433b96340c59d35e3ae30b5d1faac725102b60a3ddf480207c2e60242b524ef</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>63e55009576f876eb77695aa2c0db43c</string>
			<key>Key</key>
			<string>39fd9863b77fd3f1fa17b805599927e65abd657967e6827d3136ada078c1eebb</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8fbc678701c5defce7b6f03282342d30</string>
			<key>Key</key>
			<string>3f8859045169870263e4aab47fb24fd31e69b7fc053e0aa697ecfbfe10d4459c</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f06c5c582407e62017c8224e52d57ec9</string>
			<key>Key</key>
			<string>1b596ceccceea56e7e281faa0f49239b28e80413d3bce88f26b0206277c34c86</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef13a8f1d4ba5b59e1b25b407ad50830</string>
			<key>Key</key>
			<string>84205a95dc1744c6ac63558c716a842c431e6a4712e7adb59bcf98d17c397bd3</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>df9b23a896398872aa6c920c7c118227</string>
			<key>Key</key>
			<string>0aa6d55d11810c5efc9644f5aba3ba7f7f37635099d7cd648528bd779aa520ed</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ed37ffa30377f9c6d85f57740e29054e</string>
			<key>Key</key>
			<string>51bedc30eb589dabac91b961a52b1634c6ab3a5f882d4c80cfee0111136c66a9</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1ad95e5da174403662fcee1ffe9c0eff</string>
			<key>Key</key>
			<string>95ab889cc9c58e3575d520851fbb2483cf367f657c3b89dc9989dae13487af35</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>76de42057e78e11dcf4b65c8afd9ce60</string>
			<key>Key</key>
			<string>3f2a4185a5adcd00b91b344e7370c1ace2fa4c38fa1ccc4777de826aec43d320</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4d11aabec5a1883937ecc92f81a4b2cd</string>
			<key>Key</key>
			<string>15b807850e3aa9704d6b8221e66c2f70e844b0147b2c2c0f9e6c36c85e803c50</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>484f402132d314ee05625c0e69623ebb</string>
			<key>Key</key>
			<string>4c19fa297593ec94f60d1a01af2f0e13af94b9bc3d70aa276fbc27a0103f1f59</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b4046b999ee14acbe4cafb56b24a61d2</string>
			<key>Key</key>
			<string>e34d9ff792f20544852246efe2d60452e37cee1d1f0eca5232750dca1e421822</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode-768x1024.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>05a780fe24ea85ec65fd590709fb4795</string>
			<key>Key</key>
			<string>7a44cf88e2a7ac38482e46d6de3fd6dad05715fa104502e05b4f21a652e58229</string>
		</dict>
	</dict>
</plist>