<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1 (7.1.2)</string>
		<key>Build</key>
		<string>11D257a</string>
		<key>Device</key>
		<string>AppleTV2,1</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4270-013.dmg</string>
			<key>Key</key>
			<string>59f4f140ff274f74a141d4ea1f63c3fed3775725d13e909bd41505c9b9921eb7b102fb3d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4107-014.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7ca161e5cb2b8d44c319519eb804433f</string>
			<key>Key</key>
			<string>fcfdd1be1260602368ee8b22c830232e27b5ec221773d8ad79204aefd0df4720</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo~appletv.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k66ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cad5a201e87d5e4c2f974a8e53343318</string>
			<key>Key</key>
			<string>2ba2b8614eefaca5c3762dc7d9e379b0712df9ede5521bb30a0567d075c82f9d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k66ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ff21bbedb5da57f03bd1c24e25863026</string>
			<key>Key</key>
			<string>a56ae1d74fee02fb552068031cca77d95d1748a1a8412b1925ab3e17fee61167</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k66ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5e5c3b200e8a589d80dc5b34b6cd998d</string>
			<key>Key</key>
			<string>3981744cdf3552401af07cde85a6f5f73acba17921317033046229a142a62c3d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k66ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ababa7f3a14477e6f8e283f7f3d40ae5</string>
			<key>Key</key>
			<string>3596970a06831def415dea3c0667ba7c483ccb6335026f55263bc18b2f7be5f7</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k66</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2a68396e6c73a32a741404f7d4e515e0</string>
			<key>Key</key>
			<string>446a1124ea3825c022a73fa049f5ba03acef207a31b02404e5ca18c64fef92f3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k66ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4c8716b912fcfe058a18875ed020ea9f</string>
			<key>Key</key>
			<string>49f3d06b79badaa282f233d558bbc453eea5a3016a0dee8d31c8e981c4791460</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~appletv.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>76ccca3ea2a3c79bb459c5c2ba27c00a</string>
			<key>Key</key>
			<string>b1e8a388beb412a2c6808b6bad1c48dbf12f902c92b0dbd823804a34d5f6f33b</string>
		</dict>
	</dict>
</plist>