<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1 (7.1)</string>
		<key>Build</key>
		<string>11D169b</string>
		<key>Device</key>
		<string>AppleTV2,1</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7.1/031-4478.20140310.XDdib/AppleTV2,1_6.1_11D169b_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4270-004.dmg</string>
			<key>Key</key>
			<string>c649f7f18515f2d6643aba60e6f549ed26a5a36423b0a2cb27c55a6f45fda27c776423e5</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4107-005.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1f8556f7ba1f29de76223ce6f2842fd6</string>
			<key>Key</key>
			<string>12648e9cb3a4d997c11e2f1a43d0bdebb08b74dbca43d850d20216ef980c2dc0</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo~appletv.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>556bf109d138ae960a4a54ce536f836a</string>
			<key>Key</key>
			<string>4fccb137a921ae5057238d8f37e3dc0a5bfa9f63f3305caccbeb80058d9c5a7c</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k66ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c09734124d8ced2d72b3c8d125b279d7</string>
			<key>Key</key>
			<string>92ee3542158de9232b09903f1acae8aed4332343c26801786d09efd0a4b59777</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k66ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f109d9fd7de19989c4b6286cbc16adcf</string>
			<key>Key</key>
			<string>d3b529ce8e183f3803d58e46affd1b77ad9f1f45bacc3b9860777c1e779e8f09</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k66ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6217209d7a83c509c58f0bbb0b19951f</string>
			<key>Key</key>
			<string>612b4a6e9a5ca57b7baaf5be584f33412ce05c56c821419b5efad794a05d8c55</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k66ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5577451d08a7f8288a4f7826af5ff818</string>
			<key>Key</key>
			<string>8019fbc105df35de2b8bc199484230141ba1a4e8d0c363b8d725f4e661410f4e</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k66</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>af5fe6482319bf70ba81ba02a47dd1bb</string>
			<key>Key</key>
			<string>65c6859bc511a60b4c3ed5e911e557baf02952caa1c0d17bb355d3b13b284b66</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k66ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>35fccf600e5590428c8e86e0aaad2623</string>
			<key>Key</key>
			<string>650a0340827f14ca8c6f2601ea25fbb8bf1b732f5baa1d8c3adffb537533d922</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~appletv.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3fd66fd123b32e2429a51b1f0c00b7e</string>
			<key>Key</key>
			<string>5201b17c760a61356097355775462d3256d12fb036cace7d3b7fda9e9e4a0662</string>
		</dict>
	</dict>
</plist>