<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1</string>
		<key>Build</key>
		<string>12B410</string>
		<key>Device</key>
		<string>iPad3,6</string>
		<key>Codename</key>
		<string>OkemoTaos</string>
		<key>Baseband</key>
		<string>7.03.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-05103-078.dmg</string>
			<key>Key</key>
			<string>85bb6bb5f0b1f5324c0eb76c86a8710d6e4d852b509cc826fde43415b6fc831473c88b04</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-05127-079.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b8bd4b72f8229afffa20e122866d930a</string>
			<key>Key</key>
			<string>e6495d5fec62897386216be5aab13e8f089d6e0121e1b9e3cbb26058861a73b0</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-05189-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>118c555ebda23517544aff5677352864</string>
			<key>Key</key>
			<string>475b7d54e577b4550d95bc404dee203b36638c24bcb10f528242edb5b8b26c47</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cc25d95a42911bff00d6f3238412eca5</string>
			<key>Key</key>
			<string>a24dd0b429d62c5a220c76bc6be6c12d779729a80b8b39b44415763eaefc9986</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0176298c30f5bb4c920d9853ca553de4</string>
			<key>Key</key>
			<string>1ef80928753604b3e96f44f424ca50eee1df73f4a4bf8913b1a8cef32d41e3d4</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>93aa2e2d32085f532da081306b70b8e1</string>
			<key>Key</key>
			<string>1e0a17f58f5ff6746ecb3950683e0d2adbf3a2fbdd65a8e079999a6644a0113a</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d531f9c45bf1f472d6104b7ddfe84c6d</string>
			<key>Key</key>
			<string>93dcf9f18fb85113c4997bf5e793b9eb5a0ce41c3aa89f4e9d7185de5329397a</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d7e8232ec4042ccf4d5d407bdf759048</string>
			<key>Key</key>
			<string>09a89b9ecba671bbd895196e182c1bf14a985b65336327a2639f1d79d73d763b</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7f4105b4ef9344376229e3b531eef48f</string>
			<key>Key</key>
			<string>1a615720a162f7b445228480078ecc2281a23e690f4b245491bdaeae4b02721f</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p103ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f45a51ddeb6cbf87376f130fd8b0ee22</string>
			<key>Key</key>
			<string>5de0d822f2637688c9714de7fbc7683a695073bdba8e51395d8b41cecab385d9</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3a30c84bf62d19679e53bca83f78024e</string>
			<key>Key</key>
			<string>dd6c6afdec87f27d490526cee8636e531b067825368304190dda940da5ccd5bf</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p103.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7c41d03600502bfc0a1e57a2e0a558b4</string>
			<key>Key</key>
			<string>5dc0faade0132c3f5291acbbb57f72628ceb6b53a4657835b7899ca5a3b56f5a</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p103.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9e8c6d92a3ad915aa4da2b9f34fabaae</string>
			<key>Key</key>
			<string>48758439333eb23c95e526506c33e987090052976400841ded5274fec484c87d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p103.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5d6e5aff8b057fb089dd3f13ded338f1</string>
			<key>Key</key>
			<string>f2b66e579191991c72dfd1848a1ed635d26c0f52fda08904c9d056389d133167</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p103</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cf422cea84ad6e52a62adb7250734a67</string>
			<key>Key</key>
			<string>cbb2733c50d986ac6ebb51ec2befeff224e2f194d252761ab68dc67c9752406a</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p103.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>26a593d0cc238a697d904a89db8e833e</string>
			<key>Key</key>
			<string>5fab810eaf3fb77f6ce5bb6c12b5ebaabb08bfb837740f119e1f529a8fcd2f41</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a8c52ae0fcc9ee42c423a1544c940e7c</string>
			<key>Key</key>
			<string>122229242727016d2853c1f198da97a6afbfa9121f8f2a17983970130863fde9</string>
		</dict>
	</dict>
</plist>