<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0</string>
		<key>Build</key>
		<string>11A465</string>
		<key>Device</key>
		<string>iPad3,6</string>
		<key>Codename</key>
		<string>Innsbruck</string>
		<key>Baseband</key>
		<string>5.00.01</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/091-9461.20130918.Bqjnt/iPad3,6_7.0_11A465_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-5923-361.dmg</string>
			<key>Key</key>
			<string>4d1fad8ebe11c2201765f6aabb442c0b1a17759e8721058f38d1b193ebd6e82278d47fdf</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-6644-247.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>756638fab01a221bd5d52dcbc30039c5</string>
			<key>Key</key>
			<string>8f6fb6d68440165042e9a4107a73051f1ca5f47c38d6a3330396ecc9aa1726dc</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-9804-247.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>361012c4a0f259ac9c2f0231828356f4</string>
			<key>Key</key>
			<string>459823c153f21645565ed0b402cdb2274df1140523b69351fcd689cffd8c3f0e</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be6d52241465dee948f875100fb814eb</string>
			<key>Key</key>
			<string>7aa12f91e428cbdc232c80cae856bef7a3c8f155a7e9b3cf5bd20f64d60f2036</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d3d5edd6431049d529e4d8d7492ff0ba</string>
			<key>Key</key>
			<string>80ed7ce2e493db7df9ab6b60806a96361d0f0526e9a626f9fe5aea434f9d808e</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cac643854e12df288e647ae3b62cbca0</string>
			<key>Key</key>
			<string>b296ce878df6c944823fb7d2e2212ceac45b50e29feb7758a137822bb9d60575</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a6f3f7b6277a04ec77dcb983c8b1e164</string>
			<key>Key</key>
			<string>7f3207dc0038a351d579ecaff88302e2a3163ccb51ddd88ea85def7bb7db0a17</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>38cd147cec856bae650dd23dad6b841d</string>
			<key>Key</key>
			<string>797af2278af639643b435f1a071573e49730c7a6ed4833104e4f4c22e2909134</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cdfd1ec228fb12dc6e3129ee8c8d2529</string>
			<key>Key</key>
			<string>eaf1a3f11f0fd7004bf330fe959e76005ae02fabf31b7a03232de8b3ecd533c1</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p103ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>48cf9559c70712e5f27209d2dd7ba4a8</string>
			<key>Key</key>
			<string>aa13369a059ebb3d66c9260483bb40d60cb734ae97311e6665a2154be5cf862f</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>001cf8898cde66eff1b4c1269047cffb</string>
			<key>Key</key>
			<string>6021664fc5d9eca2d59dbcfb7f2af31000bc313a24db57f41696ad11688e6360</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p103ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4eac27b3670ba2ab4eb3cbe293eabf0b</string>
			<key>Key</key>
			<string>78c9087e1af5122ea6652888187f913fca078465144b56dd9064392b3a18d07e</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p103ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f61ccd59113dcc0a0318e8f39a301b18</string>
			<key>Key</key>
			<string>c60c679c1a2033c5f01c851788ed8928ea8ddffbed4dcbb4c7d256ceca9a2b54</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p103ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b2a59a8e48331af4d46beccfa8985638</string>
			<key>Key</key>
			<string>c53eedf5be08b8dc693ecbdd52a9d02ab18658183247aa9b25fb2511a460f2ef</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p103</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>70053b6ae71d3058ce99f2733cd5de61</string>
			<key>Key</key>
			<string>57f24a2b43d7f7531bae57f26eb13eb6e0ff684ef7f16db9a550c9024768c9e6</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p103ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f8983e11c6cc549d41bc9be86256efa4</string>
			<key>Key</key>
			<string>0aa971f3ce56d0555e3704dc1675435e29663d6f1ca02ff8d267b426ce70d91e</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9dffd2265e7189a4c628d5b079cad531</string>
			<key>Key</key>
			<string>a9a0192e0415e186c32c82f10464730725845c26e5c2236be109689ae62aa75a</string>
		</dict>
	</dict>
</plist>