<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1.3</string>
		<key>Build</key>
		<string>10B329</string>
		<key>Device</key>
		<string>iPad3,3</string>
		<key>Codename</key>
		<string>BrightonMaps</string>
		<key>Baseband</key>
		<string>2.3.04</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6.1/091-2592.20130319.64uy6/iPad3,3_6.1.3_10B329_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-2645-005.dmg</string>
			<key>Key</key>
			<string>b25062445770e1a11c83f1d3458854eed48e4e177c5bb1814445b14c06d6cad90694f35a</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-2525-005.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fba67b6b0287d346d254152794569b7b</string>
			<key>Key</key>
			<string>6bb60f8d1aa59d2871e27d05a713b7c627be40c46f78103f3fe6b2db289be1b0</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-2557-005.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>491b5b47280e0f5d074bd7ce3ddcb88c</string>
			<key>Key</key>
			<string>eaab43dfe48ed09d3cf0bdd4f169a5c75d5d3fa4e8bbb1a366ed5b599b4a3025</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>97213b756451a4f79f9dd33ec04ebb84</string>
			<key>Key</key>
			<string>8fc99dde5e247cde5ff77bbcce2e78576bb6914a17052dacc7e22609596d041b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.j2aap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>229b617c1880314c82f3427ebf1e0c18</string>
			<key>Key</key>
			<string>72a3b49e50ebdf1e2925245951428e480c8531123e10d01f1e968134932e85c8</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.j2aap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6331e3a65d829557578c6707d29517b6</string>
			<key>Key</key>
			<string>c8db5d6867ba37ed0f4262f27d690051d0d3704d94723f0fba09537e5d12206b</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.j2aap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.j2aap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bddda5b682c9044278bbd82dd800be9a</string>
			<key>Key</key>
			<string>023c7f98822fe3230f48dced2a1baa41bb524d096999fcdee762f3d69bb2db9c</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.j2a</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>81216ca61c770d1574cdf8134269fa3c</string>
			<key>Key</key>
			<string>d7da4700cb1b61ffca0db14a07d8523fba86bfaa0e3be2252ced7a4a90e95bc7</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.j2aap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
	</dict>
</plist>