<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.2</string>
		<key>Build</key>
		<string>13C75</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>Castlerock</string>
		<key>Baseband</key>
		<string>10.00.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9.2/031-29145-20151203-8BBD5084-8D8B-11E5-A799-AE648B8BECEB/iPad3,5_9.2_13C75_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-26090-078.dmg</string>
			<key>Key</key>
			<string>b6009ce1941db58da07a8c62ebcffa1070d1c1f976bd4155cc21a2f19639016f69d70d58</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-26242-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b0241d0b85a6a76a76149e4cfc213def</string>
			<key>Key</key>
			<string>296cb1c86c6ed0ca0062029615bdf046c6099ca609e1a391e42922cc8bf392c2</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25903-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e1d518d42b704ae68658af392f8ae11b</string>
			<key>Key</key>
			<string>1f5396cbe41575b517e1e8d7e7507b138c7ac7eac2590c84e972cb9b8321814f</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>939fe7496554b5e8836e1bbad87168ed</string>
			<key>Key</key>
			<string>a95cff36dfa16fdcbcaf3367887aa08a90ca7169362ee459113f735d98d6757b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>48ebb5b8664069d56a45308896ad9223</string>
			<key>Key</key>
			<string>3312b289334735c9903a8d63fe0bfc9ae59319ec76274eb5041c7231e00104df</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be81aa4fcba98645c865986ff9a3a8a3</string>
			<key>Key</key>
			<string>e51bbd6d7b88a94294b8bb057393ce227dec9977e24e1b31270ba7bb0b39a1c9</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fc5269a7e53fd566f2ba63e1fb993212</string>
			<key>Key</key>
			<string>1075e2f832a2755e6af9487419b70b80e5e3051e7d16ff4c752f2357581c4041</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e4533ecf6a2f7b41896992d63bcbff3</string>
			<key>Key</key>
			<string>4dfabddc5c80e5e22ca52e0d81dc3d0fba1a164f0bd41a4118f20909c114f763</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7c081f1b51cc28cf495ef79e3dd7feee</string>
			<key>Key</key>
			<string>563353bb283826ab3018b4c9f69573cedbcb53f243ac53b85823fb58b71ce5a4</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9bf2782dfbbcf9fe6ffa07a3b43676fd</string>
			<key>Key</key>
			<string>32e3546d95f163a70d4ca384a61a0c17b75faa0137b8fc50ebb2ae50cb760f78</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ac6adf3719c75aa5c30a3fa08f9ffe09</string>
			<key>Key</key>
			<string>9e53d1b0119a7235d8ad80e1fcf518fb992b37ca980970d63931195f0a85b53c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>69a052c7f18215665cf3a68b30371b66</string>
			<key>Key</key>
			<string>96611a7e96daaa5d89fd813d13b4ea3690bedb79260d7f29d864ac7c7c47340b</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1ed98f6233b7d7dfbe7150cb171c6696</string>
			<key>Key</key>
			<string>3d222a4a3b9d842ab095734dd6fa49fc0bb076d1a05803bbc739c66480890b60</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b2867ddbde4af0c28a04b7e8247636fd</string>
			<key>Key</key>
			<string>7ecd35058201823c51834459b5eabac517214424a56c0f64785e0555eb5388c8</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>967e87a0bae9a75c4c361b32fb380f91</string>
			<key>Key</key>
			<string>3843f5832d1698396836ec8b01fe89221ccc422909114d4f012efe76ad208870</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>28f896ecf146489c301486d2a5bf129b</string>
			<key>Key</key>
			<string>db510fa1b3fe8b66a8507f7022bad0a1ba864954599a2684e188edc2f879ce8c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>09a8552975a9ad6ddeb6152e0d07191d</string>
			<key>Key</key>
			<string>3bf76ef48c096dca398761850146c631ae75dae56d8d34a22cae707381602c4b</string>
		</dict>
	</dict>
</plist>