<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1.2</string>
		<key>Build</key>
		<string>11D257</string>
		<key>Device</key>
		<string>iPad3,1</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4505-009.dmg</string>
			<key>Key</key>
			<string>6373fdff37556c58968b8f58d9b4349f9910bcc2972cd750e3329c167f21d5b687646aad</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4242-009.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>02bbd3995ca1c0f3dfb90d28eb0175f7</string>
			<key>Key</key>
			<string>1971c369c166293f9301bde534695e80820111b94d4bfd91da9cf4a410695922</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4289-009.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8ee27ab56cf7d9eaac94bfa15c90f70c</string>
			<key>Key</key>
			<string>7de26d3a0dd39e55822ba5321252af98ac1cb26a2219ec08b1e65c897cd73d5a</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5d8e9ff970f5badfcfc8c8615c96c14e</string>
			<key>Key</key>
			<string>c713f87a9db68f62f5ca5be7c747b64c6d10ec0fa35f86eb8613affa4737fd78</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.j1ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6fe5de33e91282f4a577bdf2c808c912</string>
			<key>Key</key>
			<string>c861a7ff5b4860b52e235f9179af5b2282ff702c0a243df3cf4bb2b1847312d3</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-30pin.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.j1ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>270bc9a3a38a5d9862867b34a94e3f87</string>
			<key>Key</key>
			<string>cfc64b699aeaf538829c79cb48a06aa8f71e9f336dd2afc3b64236c5588f7d86</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.j1ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.j1ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fa457818157d83dfbbf400a79d5b6c59</string>
			<key>Key</key>
			<string>4cac9c6507032f7eb54349216e3648142aa79b39ae2fefb60a69ac4bb8794ebf</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.j1</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ab5e7e604548c32375d75538df064f87</string>
			<key>Key</key>
			<string>34bb085a0ad39eff9f28f3d51aa2a927043bb27919c5e37d71d4103ece0c6d37</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.j1ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-30pin.s5l8945x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
	</dict>
</plist>