<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.6</string>
		<key>Build</key>
		<string>11B651</string>
		<key>Device</key>
		<string>iPad3,4</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-2921.20140221.8j5GW/iPad3,4_7.0.6_11B651_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-2328-001.dmg</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-2361-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-2382-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1ba440bd2e81dadd7c7b763950e1a3f8</string>
			<key>Key</key>
			<string>b0a2398aefcd98c0bcd325941d956af60af5fd54d559d2cc9e509b89d88a3216</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>30b738c580a2dcb72283fb70d92b5e5a</string>
			<key>Key</key>
			<string>db5b11d36adf1294fad73bd1e5169f6419a1272d5b35118b9c6da38820b69ad2</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p101ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bbcdd65fa931c2fb7f23200389d718fc</string>
			<key>Key</key>
			<string>86d196013db009fbe22b4c0be7d705edb698fae087aee1101938518b46bc1e0b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p101ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ac0e31e1b406c2a8460c971e1b49d975</string>
			<key>Key</key>
			<string>5067afa6c4ba315938e719b791dbb266880a01a764608cf7d8d79fb49fd41569</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p101ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>04b3b49e4fdcf18c52b9b867756096db</string>
			<key>Key</key>
			<string>cf87acbd0ba00cf70b9bae5337092136b2b28fe2aa2cde45a74bcccad273bee6</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p101ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>834f7777c9baaf08e24cddd14b37c5f4</string>
			<key>Key</key>
			<string>cc45159d2ad3b80d55dd3bcfa403d27f14ebe9c5bbc7219fb661a4147b238943</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p101</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p101ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9829be1b60636f442cebad7e7a35aa14</string>
			<key>Key</key>
			<string>a6d0b0730bfc632fc5b311b651428054b2c6e4736631003ceaf74fb14afc6e57</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1fea50cb0764aae19a0f25fb5461eb87</string>
			<key>Key</key>
			<string>566fe0b6864a01aade06495faef617fe663fca339278648cf01de81f1d23f636</string>
		</dict>
	</dict>
</plist>