<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.3</string>
		<key>Build</key>
		<string>12F69</string>
		<key>Device</key>
		<string>iPad2,2</string>
		<key>Codename</key>
		<string>Stowe</string>
		<key>Baseband</key>
		<string>04.12.09</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.3/031-14921-20150408-124A64C2-D8B8-11E4-85C3-6C1C90F2D2C2/iPad2,2_8.3_12F69_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-14427-072.dmg</string>
			<key>Key</key>
			<string>b461b884b78ac66c2edc9e3f1fa7508cfb94ee43afa527e625c68f95883d3bb0fd1415b7</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14620-072.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>91191566e905f861eef27f5e794dcaaf</string>
			<key>Key</key>
			<string>efb0c0cd12ea3422bcfbbaf80424874e1e36e2a0a4f45e261d357ef4b443df5d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14828-072.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6197d8f99984a4309ab6b9db167a2eaf</string>
			<key>Key</key>
			<string>6e1d74307861d12d515fd48ad4a50a4f0542e0112369b079b583a39fb2dcf63e</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6342b9580e3f8d5e0f88066868642fdd</string>
			<key>Key</key>
			<string>c09099acfb9f013e3d095df9ce9d3467d803d16bd725c014a45b68cb529b9eb7</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>13240f2f8e28374e660e36e02c36d7c2</string>
			<key>Key</key>
			<string>a24b6062229a4a1ea72bfa33635a58966242f406b79241e450f2dfd5928d4a3d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4a0a8862dc109d32585bba77accc653e</string>
			<key>Key</key>
			<string>d8514e902a21af59751c5330f39450229399a16fdd87a7206ce6a59371cf7224</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7cc9232e95225e3faeadaab1e70ddd37</string>
			<key>Key</key>
			<string>9f4841a80def1ecb9a3db8d9103ea9bbe61b647abc293424b58f8b9de65ef21b</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>39340d897146dd4b45cbe833557369d2</string>
			<key>Key</key>
			<string>e18394a47c76254f305c21f6a3e652637ea23aee283e2b3c78ed6f0dab9a33d1</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a2b54a032ae3497d70dd56a83d1c7e31</string>
			<key>Key</key>
			<string>05afc092ec30ef5278fd89fd557156a7adc42e2ee0555f2f5c20e4c9f9a3c764</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f37a1a6acba144c95e189acdde84f741</string>
			<key>Key</key>
			<string>5ef223d13ecdd52524f35c15c67ab6da50d3e6d5e9a105f10b731f7b669cd85e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>882f3f23ed5004868c53f217fbb1ec53</string>
			<key>Key</key>
			<string>f9fb6a5c4b4e2c5996ba2f34e84e66b45fcd340f307b709a339ac57d6908d58e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>910b61a2e4e3ed4672de4f8e00387422</string>
			<key>Key</key>
			<string>aced28b043c9e7fc83f26d15d5020adb17aae3774119f2a7bfed20859985ca3f</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>83551125f6a2e8f5b5c1819e14814fed</string>
			<key>Key</key>
			<string>510cdf7f1649dd84cc524c4d94c68894b849bcf3d48e8736f8333da8a40e7dd2</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>35b73258cf4c411ff8e30c6bf9cfc3e8</string>
			<key>Key</key>
			<string>6b877977dcdfa588c5c094a835706cae97910506acfa18719d866838e45694cb</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>644309964954913c88ba2458abd1af8c</string>
			<key>Key</key>
			<string>a2596ef94fd921ea33310847f4f088b6470a148e738a91a5c479e7be9f2a8317</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>781b35faa413a509b1349c21f267844e</string>
			<key>Key</key>
			<string>d7ec18caca5b631d118cfba70d76d9b179deba427c2dc5a617897a213ca5f7f6</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b24439904e7cb927e49c9df113ea85e9</string>
			<key>Key</key>
			<string>f87b55a10f3b627d5381aa9f891a639969da89aba68fd0e1299958963bb3ab7f</string>
		</dict>
	</dict>
</plist>