<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.0.1</string>
		<key>Build</key>
		<string>12A402</string>
		<key>Device</key>
		<string>iPad2,1</string>
		<key>Codename</key>
		<string>Okemo</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS8/031-07485.20140924.ZBhyD/iPad2,1_8.0.1_12A402_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04755-038.dmg</string>
			<key>Key</key>
			<string>c08df5be1cf693d8b86333b5ace887909ef99d9a076a1780400a593cb7ef778904a76880</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04807-038.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>25043d76ab2cedfaccb5303b3fc8c727</string>
			<key>Key</key>
			<string>c8ea6cee2f5967139ebefc8fa46e7ae5ddd5ed94b2466129ca2beb0cc1d747d7</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04585-038.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>83bd103f09ac2eb6fd5a7d57d4a238d1</string>
			<key>Key</key>
			<string>48cc6c67de68e405aefd7c23919ef7818796cc19b99354fd2fa3729eb5d2127c</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6fa2f5c998b873672a7e0ec7a8f12a44</string>
			<key>Key</key>
			<string>663f6bed8f172e2e2d039896e848f5fbdbba4d33367070b860dddcb1cafb95fb</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>92f86d92e79adc6302f2cce730ae6d90</string>
			<key>Key</key>
			<string>1f27c78c601701095579a9a1d8f1e1bca318c1df23555e28b72bb2a8cf462300</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6ae2e304de83ee6bc2b2a62c98bb61ec</string>
			<key>Key</key>
			<string>77848b7cdc42d45fdb844d76fec6cc670a7ee0f05a81fa1690c47292e4307e13</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b10651dc8697b2b088c7112ed75f8007</string>
			<key>Key</key>
			<string>0f87b355d676eaf27de4e2e0e33355503d205a430ca53b63f88584facca18744</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>913be140f5e57902f03c272d7142fde9</string>
			<key>Key</key>
			<string>b02b879e4688a8275aa454c3015f956e9f3adfbba4da8cbcfd52371ba27bb552</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ddf013dc6550ded5d4766b2c413ae427</string>
			<key>Key</key>
			<string>13eb5c59f00d927264ee7f2a744383b0cae78225883149db09525d4c03dc80be</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5ddc333a8e89be49e221ec35246f413c</string>
			<key>Key</key>
			<string>6a686588c20fa6cd4d35206523028dee03783ada8ceacc59be36ac9cb05f5e5d</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>88582eba08bbe6827199874654fd0ece</string>
			<key>Key</key>
			<string>6993f42eedbd8b03747e62a65c52d1db597dd63dda5effb93b3a719e764afa3d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>11997d43decc27f0d5635d3f4473ed82</string>
			<key>Key</key>
			<string>1ffaef340d1f9d06f93c5400d854559bd6cc22d6b170e45edbed74e97fec4076</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5908e2d2c21539c26d4b74e630b7775f</string>
			<key>Key</key>
			<string>459fb9b36618c486faa24432d37f7abcc0ea780ad7e850ca7062bfa116106ed3</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>58bb76410de483a8c11ef666fb6b5fb5</string>
			<key>Key</key>
			<string>44ec8b210336e3ddd3b07a540810ffb9a8548c4a9275075b30a1d847bed35c46</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e19a7ba78bfbd75978528c65b05e3be3</string>
			<key>Key</key>
			<string>ee64f1efc2af552cdf53e2ce800f3a3361771a1b15e4ef2294d8472871be0958</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5d65ea13ae66d7ac01f02099884f97c4</string>
			<key>Key</key>
			<string>36a166db837176bad19434013226ba139196a37bc0a0c314a09e9f6a2747d6ec</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a49685fa6d0564b30d8b886fb4e6506b</string>
			<key>Key</key>
			<string>16fbdea103362d484832ec7954052eb0672178fc9dbcd470312852ebc9372bbe</string>
		</dict>
	</dict>
</plist>