<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>4.3.3</string>
		<key>Build</key>
		<string>8J2</string>
		<key>Device</key>
		<string>iPad 2 (CDMA)</string>
		<key>Codename</key>
		<string>Durango</string>
		<key>Baseband</key>
		<string>2.0.4</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-1014.20110503.52dap/iPad2,3_4.3.3_8J2_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-1429-003.dmg</string>
			<key>Key</key>
			<string>18516a9744529fcf5f01cc12b86fe5db614db6d688d826f20d501b343199f2de921a6310</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-1439-003.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-1495-003.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5e9e57d087bfd5f60b73fcd1ea52a727</string>
			<key>Key</key>
			<string>af4ac4335be75a5c75b31c418c7bab71d09610786bc8dad28416aba053296ead</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9cd13815fbe5de3698588c62d15e2f7f</string>
			<key>Key</key>
			<string>c27b0c11b5a069ee8df2b7d5020e171a10899314022740d28df02f2b1beb4c8d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f5d30f83cd3daeeae2d6a61cbd1e5b93</string>
			<key>Key</key>
			<string>9433b96340c59d35e3ae30b5d1faac725102b60a3ddf480207c2e60242b524ef</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>63e55009576f876eb77695aa2c0db43c</string>
			<key>Key</key>
			<string>39fd9863b77fd3f1fa17b805599927e65abd657967e6827d3136ada078c1eebb</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8fbc678701c5defce7b6f03282342d30</string>
			<key>Key</key>
			<string>3f8859045169870263e4aab47fb24fd31e69b7fc053e0aa697ecfbfe10d4459c</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f06c5c582407e62017c8224e52d57ec9</string>
			<key>Key</key>
			<string>1b596ceccceea56e7e281faa0f49239b28e80413d3bce88f26b0206277c34c86</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e17f40ee43f2e42a1484a190891987d5</string>
			<key>Key</key>
			<string>f6417ce8685800b0497b1e2d52c4c5e5490a3bd060e68768649850b24a7566ce</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>df9b23a896398872aa6c920c7c118227</string>
			<key>Key</key>
			<string>0aa6d55d11810c5efc9644f5aba3ba7f7f37635099d7cd648528bd779aa520ed</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ed37ffa30377f9c6d85f57740e29054e</string>
			<key>Key</key>
			<string>51bedc30eb589dabac91b961a52b1634c6ab3a5f882d4c80cfee0111136c66a9</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fcbd3e09945d9b5fe031f57c9c38504d</string>
			<key>Key</key>
			<string>fb1b6800f6a997eff837242d8f9bdadf99430c0d386122b8ef28dcc8e8ee55aa</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>327ce7a20d991733ef58194e4928358b</string>
			<key>Key</key>
			<string>b9f16f14353fa01f079851cfe60a5410d5469cfc1efb6f4e68934db7a802a36e</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>653b5434941a2bcc5099ac675f3637c6</string>
			<key>Key</key>
			<string>f718c803effb1586f2ace1b6853bc8c0297af4db94b3c1c766c68388584d609d</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>461d3fc947e766249755d84cc609bf12</string>
			<key>Key</key>
			<string>4513aa528e821af3055fe214fdac7a9ec56cdece871791522ccc8cc08f102c06</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>59204f15984bb65e484e41850dacc10e</string>
			<key>Key</key>
			<string>fa555ea2315209287a0f2edaf421ac975e2231ef38c441deca3624bd343b3a22</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode-768x1024.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>05a780fe24ea85ec65fd590709fb4795</string>
			<key>Key</key>
			<string>7a44cf88e2a7ac38482e46d6de3fd6dad05715fa104502e05b4f21a652e58229</string>
		</dict>
	</dict>
</plist>