<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>5.0.1</string>
		<key>Build</key>
		<string>9A405</string>
		<key>Device</key>
		<string>iPad2,3</string>
		<key>Codename</key>
		<string>Telluride</string>
		<key>Baseband</key>
		<string>3.0.03</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3312.20111109.zp3ws/iPad2,3_5.0.1_9A405_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-3703-001.dmg</string>
			<key>Key</key>
			<string>d619f9acae7c9d4de20d3340c993d95997248afb27b14f46f908d08b75d166b33e40ef32</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-3712-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ea6f412427f0973229697cd13ed07ef1</string>
			<key>Key</key>
			<string>605daace5d25570873e35f11a60d08e103f958f2a3c5dc569a79b269efda9261</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-3718-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>674cb08fa0651e5c1473dfc6f7331589</string>
			<key>Key</key>
			<string>4f892cccc5a7ed783155d3a77a67248dd456aab8bfd1cf668b75ca1ba090e715</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d13fac0e06ba655b932d115c3867da7a</string>
			<key>Key</key>
			<string>061a37f84c46e63965f45bcc5658b4918128e53987fd06cb21221c5ab3d75c78</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ad97760c0f61e36653581d99c3748581</string>
			<key>Key</key>
			<string>f89289f16e25fb5a4262b19cb84627bc8f3d20def44e034bd8fa31ae7c58ecb1</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9d2b0568a42da2d425804284bc376473</string>
			<key>Key</key>
			<string>9e173ca01143484d1c7d0cabc25f97a876eb37cab89855c1b485afefcc4c4f1e</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c3c141cb9e834896cdb5e46f13c490a6</string>
			<key>Key</key>
			<string>a6e02c966e3496a0a546564d488cf4c1157a762993a373765b4121f2fbb31a68</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6bac6d0abe33fe54fec15f6b3ceb9cb5</string>
			<key>Key</key>
			<string>2818fda4952d6254b97a8142c617dfa1db24f7cc71ca08c92e72f5d65f8c0190</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>294787428339a4f27d89d3377ec95402</string>
			<key>Key</key>
			<string>9cdc4a85ae09289b4ad1424503cb4477037ad75b16fbf7c7ab22c5d34088ed74</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>898a127f269e97c79f51dd6b786525a8</string>
			<key>Key</key>
			<string>d912a52fca542771ea46183091ed45139ca8e5155356ad8beae9cb6afe7733a5</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8d9a9f35a83da6118a5e4f5a1dec06d4</string>
			<key>Key</key>
			<string>1ea271c531b1761d6407cbd7c0b6afa99182fef5d92160b606b1e41b78763a1d</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7907b8d75ffe41d1bb2a088da650872d</string>
			<key>Key</key>
			<string>5a09f26e5bdd5e484b1fb554c44e51d1e7b6bf7b14338a25fe20e0c8f68b6d78</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c863d9f4b819ede1856f93bbabafbf09</string>
			<key>Key</key>
			<string>15831ad4872797f46401be01c441b99faf7f2c99e1f8433a344bd9944c15c838</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>26560b79855817039b6b5d6ca0496517</string>
			<key>Key</key>
			<string>c7b00d3bfca3f0af305ac0e7469466549358be077f9bf03f7b5a6e4d3a32ad6d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f894f5cc07bb9a1e86219bb6c4e778e3</string>
			<key>Key</key>
			<string>f324fa228e535d27644ae856247d0b46c2bc2d0261da23e58321a1d0a1036c5a</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>16dc3cf1d40dc99426df83312f1561a9</string>
			<key>Key</key>
			<string>3e4023c9c62aae052c1daf651968139c283c7d13bdd31df5687f1d2ef093c22f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ada0c2afb9187016e6203d5b5d4da922</string>
			<key>Key</key>
			<string>bc978de15de4c41b34e050277649d8c7189acd86f46a13a657edac1589e63a58</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode-768x1024.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b1389c1cf3e7648ebf787adfe2bab27e</string>
			<key>Key</key>
			<string>ee45ca243c4d4f5b1076e6213b811b7e57bfffdee7435e2fd2f3bd16e1e1326b</string>
		</dict>
	</dict>
</plist>