<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1.3</string>
		<key>Build</key>
		<string>12B466</string>
		<key>Device</key>
		<string>iPad2,1</string>
		<key>Codename</key>
		<string>SUOkemoTaosTwo</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-12226-017.dmg</string>
			<key>Key</key>
			<string>20404f17a555df120a4ef8de63000968993d5a2e4eb7918b7399dd7d9c0c73e82aab0735</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-11915-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3824f6fef231aade5eaaeb90c4d85a2</string>
			<key>Key</key>
			<string>e6b52bc02c8763ef7a470471de43997b6dc74d66e743d722e8acc4210e3602b9</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-12115-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c5876f388663e4795ccc1853589f6b24</string>
			<key>Key</key>
			<string>ed26865e9c72e1810cc741a52426e9b86e3ea809a3d8da193cf869507ca0e4ad</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3867233b4a52782a9f72d9af019fed2a</string>
			<key>Key</key>
			<string>ce50dbd0e7b290873e1b4953a3fc34edfa9e40032867d33908e26a894dcea645</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>afefe8d975dbb49605f9a4751409e439</string>
			<key>Key</key>
			<string>6a6399125c1e05f04d3ac4eb551cf38a5648403275d19d3d0888e3ae6b69352c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3ef13dd0ad0aeb1c3221b72125070812</string>
			<key>Key</key>
			<string>21b33832e2a1ff7ac25d58833c438a6aa197c07a5de4010a9ce97dca994ffb0f</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d247e51053d587b8c13c611fe9ced7f7</string>
			<key>Key</key>
			<string>6a248a04917f631ef7709f0dd8501e5e93882e1cc4c28ad782a68df9c3a73dde</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f55746ef6e997b56897135250295268e</string>
			<key>Key</key>
			<string>8f1d376aa8f03afdbe099c96627f2bde84cba1a10284461ac854cb61599b2b05</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d82ede4321d701dd83020e61b575522b</string>
			<key>Key</key>
			<string>a056e041495ff02cfe86f7bdab5698f05a45d2a50f9aede470e25f4b18b5bea0</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d98e2d76e3811978014373be507a21ea</string>
			<key>Key</key>
			<string>5f2ba9df56c2b7bfb53a85c6c0183c6ffe5a06d76bdee9ba1cab7b9a92c9aa4e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0250d2ae6c869a1c96fe9c0f53530fe2</string>
			<key>Key</key>
			<string>b3f8f7daa0dfc4f8affd4a313b6bdc5ed589949327530d6beace05add202fe52</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>406453173d2e4672351e0cf6124a5f0b</string>
			<key>Key</key>
			<string>523f69773f498c66e322e2dbceb52c5efb3aa7dba7de73ad0d6093e53a3277f1</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>af2d8ca25e07d33eec3e4d9dd18cfd73</string>
			<key>Key</key>
			<string>5daf2d39ea50862b0ec86dc14cf11c3580123bcb786bc6c199590a3864380495</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0b25933b9620dc4d823e01eb69272627</string>
			<key>Key</key>
			<string>6694f5612c2d11a8f42a02e47073ddc8c3b3acadb3d698c1e1910e6e498a8955</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9e397323ad79305d57f37e19ee82a438</string>
			<key>Key</key>
			<string>99c67c3bcd3e9f747bf67adefa4e84873b3df3db8022cdca9d7e2da56dae726e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5c85afa1be55f26d8b19c7d5bebfa72b</string>
			<key>Key</key>
			<string>483444b0be59a22687cef131a27e67f072c119f318c37170f51f2823d8d9a927</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1eba698adbaa6071b1bfd4ac6031bd14</string>
			<key>Key</key>
			<string>ac03ddda36b3d64990805ea2480636d761bd62358d6e986c4ffd6c87871aad02</string>
		</dict>
	</dict>
</plist>