<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.0</string>
		<key>Build</key>
		<string>10A403</string>
		<key>Device</key>
		<string>iPad 2 (CDMA)</string>
		<key>Codename</key>
		<string>Sundance</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6/Restore/041-7167.20120919.y2ard/iPad2,3_6.0_10A403_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-6482-001.dmg</string>
			<key>Key</key>
			<string>7bc560402845ab168b1e938e83faa6a137dd5f467af3f69ce1a3a22aafa5e0ef9443230b</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-6458-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>764d96a0ac8bd570c59ef4cc37021f28</string>
			<key>Key</key>
			<string>da013faef90cbcc6c1c450c23f8b8250eda1f7802ae8989bcf9d0cfaf7b2055d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-6455-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9587228328cc1ae1a612bac9517b78b3</string>
			<key>Key</key>
			<string>50d5ff6c0753ecd2140437a25f8cbf1dfe337afe27802f4af1b1b73da73989d0</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>59b1370f8388da94f98b8590e71aedd8</string>
			<key>Key</key>
			<string>b458fd27963f8393b5e15f1efcfc4fde8098d3ba626d119d3445d7b22bdfa0e9</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b587e0de6a66bceaa3bd2197fae00e5a</string>
			<key>Key</key>
			<string>c10cba064a74227b90af24f948b52d94c96dc60100f6e1228cef521f0422906d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2dfd61e2a501690ed5b3780891b8617f</string>
			<key>Key</key>
			<string>6d080b99c2a1514454c58901774ecd05f470a7b44ffb8a6101dd11b2b46886f5</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e0f01f36e7bf2cf3bcb7e286e6361fb4</string>
			<key>Key</key>
			<string>875302039272f1cdba379625b003dfd11d1bb0c3173db692509416c178b932ba</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2ed8002e2c065a5c367d1eaf9ee67e36</string>
			<key>Key</key>
			<string>ef6abddd5ee04395d37104efd35f1cdc93c6d1d54fbfe56ce73f39dab7479cda</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6a7b15b9f3a873eb2c67eb968347c835</string>
			<key>Key</key>
			<string>cad4cf9afe1c20afe4fcfd65feee2494b19bcc240891e7220f1f19d70ffeec3d</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7d3c688e40dbc6f15da27aa414f45bb6</string>
			<key>Key</key>
			<string>34ebf9560c47e32307d736fa9e8cc8222da625e7b8dd5a30f17a2615d8386f30</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d71d41430fe8628d3b84d1d3c6d6c512</string>
			<key>Key</key>
			<string>e7519fdb5add15125467c584ebd9e11825512791692413d871a2299abebcf4fa</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e4fee48bdbb1b21222c229e2f0fcc590</string>
			<key>Key</key>
			<string>fac3192e6543c10fd98d6d056a6f2d2934cd7b84aa230aa6f96c2c151c55b2c2</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>26571e3a6e85345877651345737eff0f</string>
			<key>Key</key>
			<string>fb2b8113caa3383157598404f0434993575b8de861c424792e480b34ac45277d</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a81c83aaa5d2e09ef10851b998813cf8</string>
			<key>Key</key>
			<string>fa4bd82d0168fa9f8833eeb22de565734a49b1539a386199d5271a0b01e7caec</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>07456b05547f02866c3659b68f7ee26c</string>
			<key>Key</key>
			<string>dfe29aad91d3aeeb363f8b710b9ffadb10cfb7f659b8069105d3f600a6111da4</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c48274aa409b83a74fa12e7c0395a07f</string>
			<key>Key</key>
			<string>0ac611a059360b2d82dc9d1ec6ebc56082a17c8aeb7dd4f66cbe4fd2263bb364</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4c7aa321084a6875bc7a49d396236afe</string>
			<key>Key</key>
			<string>844062272ecc24345bc58db19321872b7d501dbfbbcef38989aa654271ce08c3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode-ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2057d46265be74e90c4092b3966049f0</string>
			<key>Key</key>
			<string>375de39e5b30d31041d41e03c891c24f17bb5512fdfb3158e87f2d0d67ab9c3a</string>
		</dict>
	</dict>
</plist>