<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.2</string>
		<key>Build</key>
		<string>13C75</string>
		<key>Device</key>
		<string>iPad3,6</string>
		<key>Codename</key>
		<string>Castlerock</string>
		<key>Baseband</key>
		<string>10.00.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9.2/031-29104-20151203-90147798-8D8B-11E5-A6EB-C3648B8BECEB/iPad3,6_9.2_13C75_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-26342-078.dmg</string>
			<key>Key</key>
			<string>193d267ee97f12386f4d0eddd42182217d55361a44308229430911f2f1ecbe33c0c9c656</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-26242-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c6be965ef67523c2e806d78793d0f613</string>
			<key>Key</key>
			<string>b20cdd2ba9036075fc5ff4c0d724c01b38f9d05b54f1b5a0ca5c96d193ef46b3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25903-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>195a92fd66a9758f47120472de606b0f</string>
			<key>Key</key>
			<string>52ec9e61b6f19add9e47896fd436be8892a7d45d0fab81c70e9728f3acaa2fca</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>939fe7496554b5e8836e1bbad87168ed</string>
			<key>Key</key>
			<string>a95cff36dfa16fdcbcaf3367887aa08a90ca7169362ee459113f735d98d6757b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>48ebb5b8664069d56a45308896ad9223</string>
			<key>Key</key>
			<string>3312b289334735c9903a8d63fe0bfc9ae59319ec76274eb5041c7231e00104df</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be81aa4fcba98645c865986ff9a3a8a3</string>
			<key>Key</key>
			<string>e51bbd6d7b88a94294b8bb057393ce227dec9977e24e1b31270ba7bb0b39a1c9</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fc5269a7e53fd566f2ba63e1fb993212</string>
			<key>Key</key>
			<string>1075e2f832a2755e6af9487419b70b80e5e3051e7d16ff4c752f2357581c4041</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e4533ecf6a2f7b41896992d63bcbff3</string>
			<key>Key</key>
			<string>4dfabddc5c80e5e22ca52e0d81dc3d0fba1a164f0bd41a4118f20909c114f763</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7c081f1b51cc28cf495ef79e3dd7feee</string>
			<key>Key</key>
			<string>563353bb283826ab3018b4c9f69573cedbcb53f243ac53b85823fb58b71ce5a4</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p103ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8c418708a58df097a664cee4144387d6</string>
			<key>Key</key>
			<string>edba6eeda70d6689a2caff7a2e38d3e189aa50daf08bf11def8b5f7a57dbfdb7</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ac6adf3719c75aa5c30a3fa08f9ffe09</string>
			<key>Key</key>
			<string>9e53d1b0119a7235d8ad80e1fcf518fb992b37ca980970d63931195f0a85b53c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p103.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dd4e664c77049af077b33d52f95a0465</string>
			<key>Key</key>
			<string>cf7b1f126e102fbb198d2da51dbf2828ce9621a43e376729ccf2967bcfa3c674</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p103.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e1c58db2043855d752feb998f6080162</string>
			<key>Key</key>
			<string>c09cae6c64e199d9b3e091c4897c6d120d276c07bede841a8582d79a50145a97</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p103.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f02f2c0dd144680709101f9733d95b42</string>
			<key>Key</key>
			<string>cd90932ba800532b45798eed46644edc4550023a46b0210ef39450cd509e107b</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p103</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2062de1cf2f624c6bbd900525015071d</string>
			<key>Key</key>
			<string>d61f902ea3f15101019c5d60c34ae68de9d320663ac4519625878fbf01e2b3d0</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p103.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>97868fffbcd91944c3f6a67edca6ca40</string>
			<key>Key</key>
			<string>694148b3fbe721ecea12ccd0b0dac0569df4a488bfb0711126dc6c455306821c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>09a8552975a9ad6ddeb6152e0d07191d</string>
			<key>Key</key>
			<string>3bf76ef48c096dca398761850146c631ae75dae56d8d34a22cae707381602c4b</string>
		</dict>
	</dict>
</plist>