<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.0.1</string>
		<key>Build</key>
		<string>10A8426</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>SundanceTaos</string>
		<key>Baseband</key>
		<string>2.03.09</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6/041-5481.20121109.aPCdk/iPad3,5_6.0.1_10A8426_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-4580-135.dmg</string>
			<key>Key</key>
			<string>dc49c4d43c0397a293194bfffe5a06a2e385e7071acba07b0daea7e05d89fb537cfbe8c1</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-7560-013.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6550bc4db99be3b7e45e9eadfe6b584e</string>
			<key>Key</key>
			<string>960579ad01a9485003dc837bd2657238690b17abd4a2a7cc53b898199a36a1b3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-7650-013.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dcc0d0682a89299ced421512b4a272ac</string>
			<key>Key</key>
			<string>8f009d4c22dc8b949a04427bd66a1fc503c4d04d401d713b1addca9007f7d040</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>11f96ecc7742d79b3de2330de02363e3</string>
			<key>Key</key>
			<string>70bcd842e4a7d7365cfd7c343b4cf5523f1c8ec453d79633d7faf503c02bfe0f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>516cb9b33feb2f1828dd43d199aa235f</string>
			<key>Key</key>
			<string>42667fff967ada7d087b1c4a4d9444b86a3cd9b805772ee65069b7881fc382ca</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8bafd5be571afcc16609d4a84f2dc755</string>
			<key>Key</key>
			<string>8c2ea409f2c35d240e7ff170e6ad367b7e918f9a693083172a3e5e8f1b4bd275</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bfc5a045ea5d100a7136b45c53b5ffa6</string>
			<key>Key</key>
			<string>adc900a1eb50253aab249d577c47504cc15bd776957117e0f390264e4bdebbee</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5d4365a04d4fd56f8b8541cd112bf99f</string>
			<key>Key</key>
			<string>e08ed75ea1d42d720b264e4d3aad6f257311cc3adc6c24acbdc081e3bf947398</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6a4c43ecd17e7c7249925f9ea6630aaa</string>
			<key>Key</key>
			<string>64f9d360f3e700810a74b4c230891d82ab2117444b35651852f94f03f6645fee</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8c6871abdab996804ff861458f981495</string>
			<key>Key</key>
			<string>7af4a1099c96990b75be4859f6528ac98249c35bb92489631e339d6b96f72906</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cbf243e46d27d9b7b4df1861e767fceb</string>
			<key>Key</key>
			<string>f26686f3c5cc635728aa5c32f4d73fe4cf6c94dcfea3ca86a3db55472dc07564</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>acc67bac2971ace8eb4b3b956808b62a</string>
			<key>Key</key>
			<string>ae5d15101604c9828b84da29a189e063144bc7081d160e9c0357a465fa0ce73d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5236f4faf06e10acc98c2cff1062f4de</string>
			<key>Key</key>
			<string>f0e3e6307e4b7196939044f6152596e7222124753dba0492d6b04bafe052e603</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>478d2a16b3cc7e602a9e1f3ff1f535e7</string>
			<key>Key</key>
			<string>fbb3739ee4e93b40bb798ad6ac5db0fee2dac9c7436e54a9f5d91bab77688652</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>12b6eb01c46f36dc566e3e910d2c43df</string>
			<key>Key</key>
			<string>c2251a78553922d8225b40ddca3486ecaf7dd37f60f349d29fb984ff3d08e67b</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f0e59109336f3dd2494bfa5a53e82806</string>
			<key>Key</key>
			<string>ff497a2ea9cb58d1fb24003d1b13207191bf2e0ca1752ef275c0398bf8c0d839</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7f1261c4b26e772a9dbd7bd34f508efd</string>
			<key>Key</key>
			<string>b384e723b1fd6977a32ab651a33d588886b2611d26f209db9eeab8a404420f06</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3548560d0d0010063ec02f4a8abb5964</string>
			<key>Key</key>
			<string>b10da4049e004b448f130c35beaa3efa2b56f62f6a3afbdded9a50b595460c0e</string>
		</dict>
	</dict>
</plist>