<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>5.0.1</string>
		<key>Build</key>
		<string>9A405</string>
		<key>Device</key>
		<string>iPad 2 (GSM)</string>
		<key>Codename</key>
		<string>Telluride</string>
		<key>Baseband</key>
		<string>04.11.08</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-3311.20111109.Vpr43/iPad2,2_5.0.1_9A405_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-3702-001.dmg</string>
			<key>Key</key>
			<string>c611beb98302bab5760f95a17c68b0a50a11aef788aa0ebc38cd1aabb72ce5e005e565ae</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-3712-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e365c928b2610c01e9075a0883bd444e</string>
			<key>Key</key>
			<string>3261e0ac0366719d8d7cb8815eb90b0cd497aa36c5f9cab7fceb2801014126b3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-3718-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>97a38d79e3223d8e5741153dcfdd5727</string>
			<key>Key</key>
			<string>ef516133c7a8ad6212f1d164d868706b7b985fe4806a55e2c1b37aa97ebef229</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d13fac0e06ba655b932d115c3867da7a</string>
			<key>Key</key>
			<string>061a37f84c46e63965f45bcc5658b4918128e53987fd06cb21221c5ab3d75c78</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ad97760c0f61e36653581d99c3748581</string>
			<key>Key</key>
			<string>f89289f16e25fb5a4262b19cb84627bc8f3d20def44e034bd8fa31ae7c58ecb1</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9d2b0568a42da2d425804284bc376473</string>
			<key>Key</key>
			<string>9e173ca01143484d1c7d0cabc25f97a876eb37cab89855c1b485afefcc4c4f1e</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c3c141cb9e834896cdb5e46f13c490a6</string>
			<key>Key</key>
			<string>a6e02c966e3496a0a546564d488cf4c1157a762993a373765b4121f2fbb31a68</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6bac6d0abe33fe54fec15f6b3ceb9cb5</string>
			<key>Key</key>
			<string>2818fda4952d6254b97a8142c617dfa1db24f7cc71ca08c92e72f5d65f8c0190</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>294787428339a4f27d89d3377ec95402</string>
			<key>Key</key>
			<string>9cdc4a85ae09289b4ad1424503cb4477037ad75b16fbf7c7ab22c5d34088ed74</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d692c36cee092e26c826ef14962e28d8</string>
			<key>Key</key>
			<string>1e056a022a0a96aa6c9942ca543d88dc55a1cdf97aaa5e0e7668aebcea03d38e</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8d9a9f35a83da6118a5e4f5a1dec06d4</string>
			<key>Key</key>
			<string>1ea271c531b1761d6407cbd7c0b6afa99182fef5d92160b606b1e41b78763a1d</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7907b8d75ffe41d1bb2a088da650872d</string>
			<key>Key</key>
			<string>5a09f26e5bdd5e484b1fb554c44e51d1e7b6bf7b14338a25fe20e0c8f68b6d78</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4b7b7b418e3a38e78c7ab021afb0d378</string>
			<key>Key</key>
			<string>7462c6a298e7ddb27b35b2f9bc481c4ec2f679b6c66854961442a2e743e708e0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e71a9b61becdaf35ccad7a2112353b6a</string>
			<key>Key</key>
			<string>9f07fec9333e87c717cef55ac58483e07f704fafd2b130baf77699fbf6189b2c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e421510cc1508ffffd656f8a6c3a60cf</string>
			<key>Key</key>
			<string>e0d98c8987cb549e510721c15f628eaa82bd3f5a903a118f31741792aaa3d31c</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>46151ea2a93386caf6fceee89ae7d8ca</string>
			<key>Key</key>
			<string>c4e743d221ef7d50ab389b3e514b83d6a30cdd3974a8ea38702d14bc57d56378</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d371dc88c42013acc86e80e0ab1c0e75</string>
			<key>Key</key>
			<string>0229143f9042dbdcc676858c72d2b16f93da7395624cd277123fc956cab71ad8</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode-768x1024.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b1389c1cf3e7648ebf787adfe2bab27e</string>
			<key>Key</key>
			<string>ee45ca243c4d4f5b1076e6213b811b7e57bfffdee7435e2fd2f3bd16e1e1326b</string>
		</dict>
	</dict>
</plist>