<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.0.2</string>
		<key>Build</key>
		<string>12A405</string>
		<key>Device</key>
		<string>iPad3,4</string>
		<key>Codename</key>
		<string>Okemo</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS8/031-08127.20140925.lrCxx/iPad3,4_8.0.2_12A405_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04498-039.dmg</string>
			<key>Key</key>
			<string>5f59026ad70774e0b49d8f447d1579a3b3e9b4fee209c0b908dbfc7ea8a28b31098fecc5</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04697-039.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>749671a0054f49e0efc43131d779a216</string>
			<key>Key</key>
			<string>b89d56c9d5214c60c3b5c4793f2dc4e63e324a673615b6ce347cd1dc6a24645c</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04795-039.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c18bea112bcad5fef318978d377921a8</string>
			<key>Key</key>
			<string>b6d0af37b8d2ae53c90daf256a7a1aafb0a816a779e2579363340fda032b1a1c</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1970de6f67d2da0dedf7291038ca110a</string>
			<key>Key</key>
			<string>c971c9332eb24732e34c30ea7ff0b1c274fc41bb51a4d172a5589e6bd21bbf1c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e769af6e7c7177b24a14d84e8648b830</string>
			<key>Key</key>
			<string>a7ad76e2c12e5d065a113558b2cea2812777d84142c57653782b116cba99f50f</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eb8a47210c3b39b372bd76a34b73e068</string>
			<key>Key</key>
			<string>860b35fbd6e3fd81046f4c1f0db80afaf82106320aa9908c5353d6662b3d604b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>94435f8147f5b9cc45323f26e704a491</string>
			<key>Key</key>
			<string>619b915f8196a45667a99c072e826fd86634a5beefbc057cd62d8c00705cf8c0</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>488dedb86c46252498f189d6e88b0fc3</string>
			<key>Key</key>
			<string>62d108846d61975a4a4075fd30319bb794e5b82dbf34f45ab84036ee1a0d1118</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5e08d49f8ef65dd7c7a389c968ae5900</string>
			<key>Key</key>
			<string>36aa176180330be7a9aba8eeb4344af1641100d1c687c221c2f8173151b945db</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p101ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>db5d7a6878f89b2b01acf72f8cc40648</string>
			<key>Key</key>
			<string>06424516ed790a1e422b3fee66db7cbed65c5ed4d48052fe0619041e15c649f6</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>66321a9f4559670b7d27442c93aef5b2</string>
			<key>Key</key>
			<string>1d13bcae1a9340fafd1e310f0ac8cf4ec746e4117e0de8df16bf3465fe63f29a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p101.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8150e6f1a4dd744dbafae2a4af437790</string>
			<key>Key</key>
			<string>f1b3cf2467e175c4c1a5982b812438e757597a726e714babbf62afcde7972b5b</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p101.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>80be309ab500da376833da9017fa2874</string>
			<key>Key</key>
			<string>bca00f36d7baf3ea84ce832ba34f9bd921ac8c2fab6e5f4f3ef25c68c2903e6f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p101.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>43f4062ceb34296dad5a73f7e0e82356</string>
			<key>Key</key>
			<string>152a4e2242057e18f073a8e5ed2eb13245307e33383fecd9326257c95942625a</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p101</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b48e26d1eb0ad406833813789a6bf587</string>
			<key>Key</key>
			<string>9dc71106b0423eebe6df5e34d93315bef841eefe8021512250f32633953b59bb</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p101.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c574915e6938781ac1ebc49f35547593</string>
			<key>Key</key>
			<string>c8861d131d94e9b6e07e0d9011bec52aec4a6c3b67d26fc1e16f6d14f27d1362</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2a3763eaa503c5a101fbd3c6f0aa086a</string>
			<key>Key</key>
			<string>2abd57b480c1533eb27b2bfd2521b43c1df424821ca2836218c3d3e08bd5efe4</string>
		</dict>
	</dict>
</plist>