<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1.1</string>
		<key>Build</key>
		<string>11D201</string>
		<key>Device</key>
		<string>iPad2,2</string>
		<key>Codename</key>
		<string>SUSochi</string>
		<key>Baseband</key>
		<string>04.12.09</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7.1/031-00228.20140425.9zqxW/iPad2,2_7.1.1_11D201_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-00138-002.dmg</string>
			<key>Key</key>
			<string>ac6820fb24762a7f1a0fae036492a1a6440ec81a4e7a0c64a66a3be714c216b9168fe5d5</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00363-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>32f58da2c5e5dbe1b3ad8213ed3a0d59</string>
			<key>Key</key>
			<string>707089f1fada9587f3ec212cd7bdc4337b095a9212de25c88a8a93207b09691d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00183-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>60e16d7575014b318f665ae727febfb7</string>
			<key>Key</key>
			<string>a96d0d0373e7b7fe44fae55cce0c1208725e26359fa40c3c8ec050798b4404e1</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>15ecdd75dd4a4a0ca05b2d248c469217</string>
			<key>Key</key>
			<string>1c3c7fe8f1f87687cb68ce9c4f9243ced41b415fea0ca0e3793559a1407e1b8d</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7c49846a65f5715cce669f2cce1090b1</string>
			<key>Key</key>
			<string>14238d95f17d7714405cb5c51a15168151d09214ef96f633af23d3e4adbcda59</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>352ef949edf2dd6c77a5fecbf0c511ed</string>
			<key>Key</key>
			<string>684bb9c3d4c7e2c1fe6051649a581f20ecff7912f8433a1ba252f819484db24e</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b940a11e73f260b023ec09019512530a</string>
			<key>Key</key>
			<string>b0230d3836af0f5da2db232b7110e48d9370d3f75f8d206c4be37ec445e423e0</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>07bdef82c16f09d657f2abf3766a28bd</string>
			<key>Key</key>
			<string>c048c414b87d961b906b90865bbc3db0bf1a0e6ea1f69208428d9c9666e9c849</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>788a867a1f8a6a96d72fbd472f95d009</string>
			<key>Key</key>
			<string>cd6106947129070b92fc2da735af470a79d01fd3dc7061599e4e496a43e3cd9c</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>325741f12607d626aa9dd7e5e1488af6</string>
			<key>Key</key>
			<string>6e62206dd0c6259dcf0492fa82b6f67727604601ab1e6835e8761a1ee2073352</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aef21480e01cce4f5c494790d54ab0ca</string>
			<key>Key</key>
			<string>0f6e51ff476dc6cd109a7024b12e62f25b701faf6f1c026635c9ff729529572a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ab2dabc408d5e4f33a7b865a384d975f</string>
			<key>Key</key>
			<string>cada2b225b0a916893d38adba876456dcf81d1679ebb86aa13893c6a33a70ced</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2b9cea42f1b1b1cb2b4e7580e77964c6</string>
			<key>Key</key>
			<string>8284250d82730510ec1a5dbc53f1c569680643d3eef7e2288e015fb8f90d320f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aace25f9be2a27badda092a5ec040f89</string>
			<key>Key</key>
			<string>d5808400be4996b958589dbaf02dc5bfd790c2418f11c629e6d2c37c4f1089e5</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>60cc39bde57833c631b200c895895518</string>
			<key>Key</key>
			<string>3854d7e67f0c402634802558821dbfc0b4d79a115315aeb17661034c14db667e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0f64fb4b2f7ab7720e4d0b9b281b0b37</string>
			<key>Key</key>
			<string>f534a2706b4112a347ddb2139ac7e2e99a6ac445679e600d1e83f8d92119cb16</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>597b2b0854ec294826641e77254b8ae1</string>
			<key>Key</key>
			<string>c340cb6654e1352fa44b919874bd11ba64cf9eb72e7ce995a8a936a8782864ed</string>
		</dict>
	</dict>
</plist>