<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1.3</string>
		<key>Build</key>
		<string>10B329</string>
		<key>Device</key>
		<string>iPad2,3</string>
		<key>Codename</key>
		<string>BrightonMaps</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-2653-005.dmg</string>
			<key>Key</key>
			<string>b51815b65f7e572ad0cc1238bf799edb558b602b0ee390a76cd874d714b7daf10205b195</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-2679-005.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>43cd5ee48e82707a8b824ad90e08647f</string>
			<key>Key</key>
			<string>f512fa4e7a5837ffd294f421dfcafe3a5e742ed6ea67395bf715ecdf92ae5192</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-2516-005.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4edaee1b65d86a5f9a16c3ef09b262bf</string>
			<key>Key</key>
			<string>fd1188246393949c4ae81c302221019a2699dba6185cb1460e39ee80f1c7424a</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>623b2592ad563ea16bd8a86af6960bcb</string>
			<key>Key</key>
			<string>0e7aa7bbcfddc88dfe0e56e021363028502621c52c709afc3744850977e2fb9f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>230f2bd81d110544033d46537aee286d</string>
			<key>Key</key>
			<string>5ed2ed6fc384f16a7825691ae7a9e70ced0043e0ae590314529554671dbd0d23</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>039f22adf2b618b56dc4c4d920ed0e91</string>
			<key>Key</key>
			<string>031d013459f7472542ade0964ee3259ae462711c4471a037883ed95e424c7bee</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ff8dc57b164e9c59a3b24140295b2685</string>
			<key>Key</key>
			<string>b6b2ad4ab96f2f4eedd441d8219f15dae3df4e513e49432fbdccb5104af0dbff</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d176babd01a372fd728461d41ba6e5eb</string>
			<key>Key</key>
			<string>22deb6a9453e662b107491fe0b3da19fd07e161875efaf36af7c02e7a95b88a6</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c7930c5bc88d2860eba8d442fdfe219f</string>
			<key>Key</key>
			<string>673135fd28d06a4813149d643fd64e493f884e70766371b0887fadcef66536a5</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e28736e5e1a7c3fd31021398ed65af62</string>
			<key>Key</key>
			<string>8debb89e1457cc695e10891312bdbfbb4d5f40f7eaa6913dfe7dc61be6d9e5c7</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>94be97055aa93eb58c83e95b1fd4d19b</string>
			<key>Key</key>
			<string>658bd5c1695abaf0ddbc3f8dddf1dc7d8b52047ab52aff7ca2057630ce058560</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3408208585f57d26e823215b4742a86</string>
			<key>Key</key>
			<string>0312de0938791b033dab4421ae212972131fd3881c2aec5f8e8b16468a963a1b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5aeb8eb73be0c634f9fa2a4eae791438</string>
			<key>Key</key>
			<string>12805eb0cabe89539cfecbf886b0638a6fe941976ef9afe8bf3dc838139357ba</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d5275fbb969a77bb20dba6e37bb8f432</string>
			<key>Key</key>
			<string>21f6cd3e3d16b1a6e2c0660bc9fc67e17839b369e79b7d2e6069421b062ad99a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>56f964ee19bfd31f06e43e9d8fe93902</string>
			<key>Key</key>
			<string>0bb841b8f1922ae73d85ed9ed0d7a3583a10af909787857c15af2691b39bba30</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0cc133db4539b82dee5849d6abbcc467</string>
			<key>Key</key>
			<string>0e2f5fa117fa62535dc18ee0526137d6e73b4fc69edec9d99f1528f2a632fc83</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3bac88aab4f57b8dc91594a24e1ee6ca</string>
			<key>Key</key>
			<string>0a6d05beedf0028bb6a31c6667ea4fe45e82639de7d92fa3ac564863d388866f</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode-ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a1db9c3e755307b935be1401cc621cb3</string>
			<key>Key</key>
			<string>97e917468c9754341a76e5348610481bda7e34cc64790526929261c1f1440d85</string>
		</dict>
	</dict>
</plist>