<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.2</string>
		<key>Build</key>
		<string>11A501</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>Innsbruck</string>
		<key>Baseband</key>
		<string>5.00.01</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/091-9855.20130924.kp7DF/iPad3,5_7.0.2_11A501_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-8505-002.dmg</string>
			<key>Key</key>
			<string>9f7c94a15b7d5a5a993c360a6666ec47228abdb0f084506dad920a4b750bc5a5d404668a</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-8501-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>60307bf6ecbf402798abf6afd897cdbc</string>
			<key>Key</key>
			<string>1096628bcc513b61b45d17eaa5ce6f3989a84ddf0221a65b1ecc52970b5a671b</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-8519-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9be9c5c7ca5e9a65ecd0d7cbda778116</string>
			<key>Key</key>
			<string>ebc9e7abce92b5e75037eb068757b53a8b0cf4afb9c13480e1e01fa6544af8e6</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e2cddbdf67ef818734cc7e803edbdc5</string>
			<key>Key</key>
			<string>6e1a27f59669c671daca6687d158d88ec90b24169a3252d36c80d015a1186435</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>04f1e1d3f9fdef248bde63b6886735bc</string>
			<key>Key</key>
			<string>5ef85bd2b62c4f704972773977eb36a13ccb9537faa5a11f0e817a7680975016</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9ebd5f187cbf41673d6f6b207d3befe7</string>
			<key>Key</key>
			<string>f40d056d18129e591a1166fd04f12bd978d01a5d5a48fbc4275c26bcd8cc487b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>618940490f4d3e6057d8a46eb0721105</string>
			<key>Key</key>
			<string>b3e4272ea0bbc03fa1c943de2365da523b40714714d2735b2e6852b28517c0b0</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d7bcce5530ec0a0aefdd97523c7f9c14</string>
			<key>Key</key>
			<string>00529d6bce902a8a97019bbc26b22e5ea588c71477679c7c49cc913e43c6315a</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3af994450a110869aef7bfd7184bce43</string>
			<key>Key</key>
			<string>ceb0fd8748436e0cea1065ac6a2b92cf4d2aeae1ba334b7d747b4755c4e0dd85</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>275455ce33d811963d91fb4cc62bf2c4</string>
			<key>Key</key>
			<string>69421c0860de3e623795de7e24323d3d15892444dbf9cdb65e231569b801b907</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8733ddc709c81a9381d24c6e4df4d343</string>
			<key>Key</key>
			<string>ec6e249dc4c9e385b7c70f106191e2c191c5e89aee22e0778d97834253be8831</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1de31d653df41ff661fccab23ca4bf2c</string>
			<key>Key</key>
			<string>138d791b9eeddba49064d64b12f41ce5b51e5e7889848baea82b9d1c38f8ff1a</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ff08918e7e89acf452894b366e876979</string>
			<key>Key</key>
			<string>746afc7eb6c35a00e126af8485484e4910c4e0343109ed4989f659334c4dbb61</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a354c72d45540fdf1cbe95843eb638c7</string>
			<key>Key</key>
			<string>b066dd2bf73e18a47cd006725c9fd08933ce2623d508d65953b3c21934525a78</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5d94522f0d984bb70767b2e1d2fa8597</string>
			<key>Key</key>
			<string>f47e58b2bf797db4623ab6d895b90cafb064c68f9cae82e14d4438f69194d2b3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9fcec73c64d3a5b46d9f8839d9a0bbe0</string>
			<key>Key</key>
			<string>fbe64d875a7e3ae96ecb928c739223f399c5842eacce0122cb6166da60add3d0</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>758463f360b3b9628f0b0a3860814adf</string>
			<key>Key</key>
			<string>a113edc318b516a60e7f6b17982e650c2a5edd05b1e5489a190e9bab243b36c4</string>
		</dict>
	</dict>
</plist>