<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1.2</string>
		<key>Build</key>
		<string>12B440</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>SUOkemoTaos</string>
		<key>Baseband</key>
		<string>7.03.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.1.2/031-12319.20141208.B3TZE/iPad3,5_8.1.2_12B440_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-09756-017.dmg</string>
			<key>Key</key>
			<string>f91d457b31f71ff9a535ef280c8e97ee678a3550759eb661fa3cd387c2811dc47c311e8e</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-09752-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aea5657f72f57c42481f51a6082e9bd0</string>
			<key>Key</key>
			<string>ed3a5e4dc8d0a33d959e37c2f2d5dfcc1ad5c23ddaa833fc3f05c3f0ff6c4351</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-09854-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>abaf48cb49741c1bc8035918a18b2024</string>
			<key>Key</key>
			<string>c415dad18731fd0f2b79b6536ddad12c11955406605db52238c520ce2e7a995c</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b2d7b6df40d9aae1e59231e804e287d7</string>
			<key>Key</key>
			<string>e7d777872d8de0ba5095f62a3be5920ec4375f887a03ee2c23a58fb9b528b3e5</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be4b652f9abd6df915e861d3e1c92923</string>
			<key>Key</key>
			<string>490f84f62ed7c4947b16705b4402ef34d4b742e8c6a649de7dcc5611a66255d8</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f485735595af4fa8a4cb3258efedd213</string>
			<key>Key</key>
			<string>5724bfe9535f4862f97d8290dad4c2cce37efdce2225760946eb3c73b9ce63d3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>11d683be5d3c30e62a2954f87d4cb7bb</string>
			<key>Key</key>
			<string>9055ef8015224dcd2ab57912c97e615dff7c1da3946ae926f1a9b75d2bd2b6bb</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8f5687598985d1f766eef4011ddab13d</string>
			<key>Key</key>
			<string>e0547b53fcb7fd5e065793bc65428a4a24e7d35c2f69e8ddd0af1b253a07a6db</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>64dd3e2b1d043ba8dd093a797407bffd</string>
			<key>Key</key>
			<string>0c31fa98869ba175f8f22fd590eaffb812ea5e85acd5e11bacd235b496fcfa3f</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c20cc0b679025e1653f47502d7f46ee1</string>
			<key>Key</key>
			<string>0c31fa98869ba175f8f22fd590eaffb812ea5e85acd5e11bacd235b496fcfa3f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>43c340abaf8fa82fa2b63154d1966fed</string>
			<key>Key</key>
			<string>886d9ba10cd03e4871d48bd477c85fb6e55fc9e3701c483d52442b5ee13cf5b1</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3a3c601cc81756ff685d887e66a9fa6f</string>
			<key>Key</key>
			<string>c9217a3f801027d1457cf44b9ab7554c5b733f5b28b6d89e8c1ce961adf6526b</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e789c82af36eefce005da5b600ac0cbb</string>
			<key>Key</key>
			<string>1924e610ce7fbe21116f1e46409800762a924dd29bb913336dea8aeab28fe55c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4882bf353d11940a881f44469445d5b2</string>
			<key>Key</key>
			<string>42ed6a680bc15d15a07b45cee469fe9bfdf6c66a878c76f5107e6a9e4f104484</string>
		</dict>
	</dict>
</plist>