<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.0.1</string>
		<key>Build</key>
		<string>13A404</string>
		<key>Device</key>
		<string>iPad2,1</string>
		<key>Codename</key>
		<string>Monarch</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9.0.1/031-35305-20150923-C57E8330-5EFE-11E5-8473-245D51D92A8C/iPad2,1_9.0.1_13A404_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-07911-223.dmg</string>
			<key>Key</key>
			<string>a3e8a387571234b48328c0815345a5cea3bfb9d69ee9b4771547876b4801f4f697516b17</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03591-288.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6ae54e6b9a722fa436039595662601fb</string>
			<key>Key</key>
			<string>499a651af065eb0ac6d13c6a26cf301e6efe3366a4ffb688bda32c3ab1528998</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03653-288.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d7bd23a9e881d2d10f559af2da649b61</string>
			<key>Key</key>
			<string>9c19a4438359c70f3d7a28ea09918eca1fa7237c7ac2b293835744f54251a326</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d966b6c2823f01d216bc433850682fd3</string>
			<key>Key</key>
			<string>76d4eeafa2c56fbd0b9a3052f2962a854c0a92e473422dec834c2d80161bfd52</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>446ccb9772d22affc6f43942bfcc568c</string>
			<key>Key</key>
			<string>b287a35236f9ebe6215e9b42ea72e9c6dfa3c61dd56f14f96e846ce46f7d376d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>11380333ac6d8ca7ebf57d6a5b70ac91</string>
			<key>Key</key>
			<string>299dce718acb0d6f1ff454252f8db425d0b5fdf6bd58cf44974225b6cac02a3e</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>420e7ddc4f8f398ce2dda4da9280f8f0</string>
			<key>Key</key>
			<string>c1fb9e2217d6284e5c3c218244288e641701a39c262afbc4e20c29868ebec0b8</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7f2fd0bf7ee2916f429890669ae4de13</string>
			<key>Key</key>
			<string>26d0e5b158ece881cfa33d0b1690aee613d2aafb2b6bf6d88513fb660901f27f</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>80bb899b3410b552e5cf8318c5971670</string>
			<key>Key</key>
			<string>eb4c7a4b3ac3c9f821a9220adb73686714c99562c5ce65c0f03a548d299638e6</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fe2454862e4db7d6c110eeb50182a2b7</string>
			<key>Key</key>
			<string>eb1a9b9150a8899ef458f4ec8979a1b21868002d99299660e056c8d093bd1934</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>287c75207d8409a7562bc3c2170638c4</string>
			<key>Key</key>
			<string>aa9098be29106263b51a1c90791bb6ba942700ebfcc093b0150f8dbe0de12806</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f1ce1b2fc139e72c6f2cc94c64f21d35</string>
			<key>Key</key>
			<string>9ae4a92cfaf79163f2b3de48d0186855fa51607367e3572068220ce6209f9bf5</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5b73e955ac2d2d08376b393150337dab</string>
			<key>Key</key>
			<string>121b18198d8078e2db1bea03f2dcf78adb055bee326f4f31a2a2b705cca194aa</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>194b005f43b0cc436ff8d55841afc4bb</string>
			<key>Key</key>
			<string>ea62aff767e9e23fa55a264c37a104ea4a06fee023171ae94397f3a93b177727</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aa8ef9814b095b0fed1faf51adf8cf5e</string>
			<key>Key</key>
			<string>c8fe1c7bd54a4b4b84d8f0ad42cacbbd0a2711d884bc16dcd4f39250b2842b4e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9b061506ac67e6f86aac0fcac0446e5b</string>
			<key>Key</key>
			<string>571782381268bd18a22fa55a7ee765fe00dd34802d6574f5586caff798e1f255</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1cf178dcb133d80c0b447ca9e5c43163</string>
			<key>Key</key>
			<string>c40a0aaf5863f9e551348059c24861006eb6d3b770b9beb599fd6f3ada0107af</string>
		</dict>
	</dict>
</plist>