<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1.3</string>
		<key>Build</key>
		<string>12B466</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>SUOkemoTaosTwo</string>
		<key>Baseband</key>
		<string>7.03.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.1.3/031-15458-20150119-8A751C58-A005-11E4-B41F-36565BAA4ECA/iPad3,5_8.1.3_12B466_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-12197-017.dmg</string>
			<key>Key</key>
			<string>0503e3d730d0e997b7b9a501c4a2181cee8f2ea08d51d413babb722d375845ee9835d5d0</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-12195-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6e763ff1c0c7e3b2a8d6ac0cc867dce2</string>
			<key>Key</key>
			<string>1d1353de77660899dea94174d26d551dcc877decd48a55eaaeb2c24bd43d3dd2</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-12258-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>06849825956c3b884f10f689cb5df84f</string>
			<key>Key</key>
			<string>99b878576b5d1d6820966b78ad2ef382c801162da52ec7d818fd9bbbc8946178</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>37629c955d503709d2801bf18610b7cc</string>
			<key>Key</key>
			<string>3152cc34d8ed579833e0a419a8cbf3bc6e561b6fc2ae914ad2dcc4f89fab0c72</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>46ea602d35dfa864f4729bb80caabc8e</string>
			<key>Key</key>
			<string>5731d911ca3362090b189a384d65cedb7c4681cd0d7e99162669be92be9b88a0</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>373e193304225e8851b4ab3744c91325</string>
			<key>Key</key>
			<string>5d87ff983893c5ab755399e70838173add8d8adff9d65fde7e18a4e1a6695451</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>92fa778da67fc0f44ef7eeeef5061b1c</string>
			<key>Key</key>
			<string>6d41349771d6b1a6aafcd92eb031b55d2b9969b8638a099334a74bcda36670b4</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9d9a2e824be2966c289652350d5e8d77</string>
			<key>Key</key>
			<string>c3cf29e8752db81148b6d30c3f0ce16a5f1bfb86a5d20d5a86c1b22de47899c6</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6cacdb1dd644c916985e4164678969c9</string>
			<key>Key</key>
			<string>76ac5cd2398dc96d75e0433283716b32c09eda931f707384d0cb410ae4238241</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7a35f313c40c9e34d364533af08b2543</string>
			<key>Key</key>
			<string>f787042ac5982b3475ee04eeb7927363b04f6a89c63209592a968553037bee4b</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cd65e6b7fbee1db6cd942b41d5676907</string>
			<key>Key</key>
			<string>c907b7e4d4aca18b864157d10086cfc447572fe97bb0e80c2c3110f88e2a1bf7</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a757de485078d2e2aa8fae0fd3fe4673</string>
			<key>Key</key>
			<string>2044d4b9f7e18b4d49c97f5fe55cd0ed2cf55a7b28228ad18b07d4d345b386e2</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3491125957717a2f9d57ccef84971d5c</string>
			<key>Key</key>
			<string>53d78757a726b855ce774e0183cdf0cc3f927a07dd620fc0060607161aec3ef0</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eaf0e7a7485ce8fb7405fe5e9edc6f36</string>
			<key>Key</key>
			<string>e155f6d42f05cd7570162c1f10ca6dbbbf71e33c7348239c446f581e4c862da8</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e176769d17dbd57085f6eb76393bc4e0</string>
			<key>Key</key>
			<string>d47fc3754f1b919bb44e626d5b0bfd7d2af2fc5f5f8f325327f8bcdbda3aff62</string>
		</dict>
	</dict>
</plist>