<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.2</string>
		<key>Build</key>
		<string>13C75</string>
		<key>Device</key>
		<string>iPad2,1</string>
		<key>Codename</key>
		<string>Castlerock</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9.2/031-29231-20151203-6749D840-8D8A-11E5-A245-59618B8BECEB/iPad2,1_9.2_13C75_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-26114-078.dmg</string>
			<key>Key</key>
			<string>7bffedcd30e1bcf1631b5cb68908064be46106d5403fe5d86e001e1f02a49ed0b078f40f</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-26124-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>05d8979f92daee21e09ccb8e3a61f9b1</string>
			<key>Key</key>
			<string>3af099e166870b7100f20ab8af3440efbba428e7db7de87ada23920892c46fbe</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25910-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>705a9ad3040245d21088e24936c3060b</string>
			<key>Key</key>
			<string>3ccb53bdebc5f7202d160a3bccc40903fa9ce0ea7e148096963745d09743bed6</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e76bd842c42a14bca4f9a707a738953a</string>
			<key>Key</key>
			<string>cffd2c42da9f00c5bb3f2c329f2ce7bbe5c8dd8cc7ad7612e5ee0997c84030ac</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>23968a327113db60bbd274dc0d0802b9</string>
			<key>Key</key>
			<string>cfa61302f3926bcd8d0c657677a275a4588751cf77a0eb8d1e2d5c99664914d7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3e4f352fc256e6820d4561992c3c105</string>
			<key>Key</key>
			<string>7eba986abeee4f9d85d7b8740ca81253fe89bb305fc581433312698ec34027e1</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9f0d49edf233e4437753c60e4f984c66</string>
			<key>Key</key>
			<string>bb14804d2529dd22a9db3795538ac762a7339ca412d55c96902de1e2258648bf</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef0331c15763a37e99b7608cff9c8db3</string>
			<key>Key</key>
			<string>eff94c3018728b97d2f3adf07f44ece9fff6f94feff9edf45e212cd8058946b3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aaa0c488ad4ee71922fded9e327d7598</string>
			<key>Key</key>
			<string>88ca3cbea438736ff93bdde15904ae6b671aef6ddf1410486c523b09d5439a1e</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e807a53074174d35a6b23cc2662d52f7</string>
			<key>Key</key>
			<string>3929e22702a1bd48064e4dfeab7d19680776090c167fdebb396ae02ec4e33de5</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aa49284d3af79c6fce859efce456f4f1</string>
			<key>Key</key>
			<string>091af581b99a2e40723c3b536506243f322c3c4dcc932a0c496d6f7313c76a10</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>12b729066eaca8dcd8ba24bb0523ffb0</string>
			<key>Key</key>
			<string>785ea4da631dcc476ce16e0a25dd7861eee431c6c4a9c7a9aabee82bada8c33f</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5ac1d52039c024904cd70563339e370c</string>
			<key>Key</key>
			<string>db15e03840d968d141390afce7d69d496752a2ee333f1b65c8697b43aaf220a3</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8897ee902a59c78732f9b28c96d51c23</string>
			<key>Key</key>
			<string>e0e2be944ddc90e56525306e2cca634d96439ab61768ce95377eb74287d6b9eb</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2082a1c3a16da6ec4b6ba58c3aec5986</string>
			<key>Key</key>
			<string>ce6bac717dcd52468afa927bf7d11a2524b3233ca4d1867a06d113b30a12897f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4f91514c262a0fa2dde979febfee8f23</string>
			<key>Key</key>
			<string>786ece6260b11537a77251e7bcf1640c17c4f2ce78ce26e05505e5f3a99e6263</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8cb97648155253845ef312466ef9a5a1</string>
			<key>Key</key>
			<string>72c5dd69f8298b6b4abf81be434e6305ecb7ac64db5fb49fb0cac0e23d9724ec</string>
		</dict>
	</dict>
</plist>