<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1.3</string>
		<key>Build</key>
		<string>12B466</string>
		<key>Device</key>
		<string>iPad2,3</string>
		<key>Codename</key>
		<string>SUOkemoTaosTwo</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.1.3/031-15502-20150119-FF0944B2-A006-11E4-85D4-B3575BAA4ECA/iPad2,3_8.1.3_12B466_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-11899-017.dmg</string>
			<key>Key</key>
			<string>1e9e14661142a9929808a3e69dd3ec10c49cf19b61fc2d7ccf92fa7aba986b3e6632f394</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-11915-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>204d59fd83d15b0b950c7cd1ebb90a9f</string>
			<key>Key</key>
			<string>d8b68cb3550f59e583a371db41e81fca32b6bc900ee8eeee4c4172b4308095e2</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-12115-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ce0f5f15dfa8c3fe3118be9e76d4c977</string>
			<key>Key</key>
			<string>8b614742ac0d88947d6653ce1d069e7f2df5ab10974b710eff73d72dac33088c</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3867233b4a52782a9f72d9af019fed2a</string>
			<key>Key</key>
			<string>ce50dbd0e7b290873e1b4953a3fc34edfa9e40032867d33908e26a894dcea645</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>afefe8d975dbb49605f9a4751409e439</string>
			<key>Key</key>
			<string>6a6399125c1e05f04d3ac4eb551cf38a5648403275d19d3d0888e3ae6b69352c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3ef13dd0ad0aeb1c3221b72125070812</string>
			<key>Key</key>
			<string>21b33832e2a1ff7ac25d58833c438a6aa197c07a5de4010a9ce97dca994ffb0f</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d247e51053d587b8c13c611fe9ced7f7</string>
			<key>Key</key>
			<string>6a248a04917f631ef7709f0dd8501e5e93882e1cc4c28ad782a68df9c3a73dde</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f55746ef6e997b56897135250295268e</string>
			<key>Key</key>
			<string>8f1d376aa8f03afdbe099c96627f2bde84cba1a10284461ac854cb61599b2b05</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d82ede4321d701dd83020e61b575522b</string>
			<key>Key</key>
			<string>a056e041495ff02cfe86f7bdab5698f05a45d2a50f9aede470e25f4b18b5bea0</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dc0cb52005ea0e4a6e5595e4be1d158f</string>
			<key>Key</key>
			<string>455f7c1a966a0eef97542f6ab0bd173d3984ef5aa59c450cd6f48efdc7486c7f</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0250d2ae6c869a1c96fe9c0f53530fe2</string>
			<key>Key</key>
			<string>b3f8f7daa0dfc4f8affd4a313b6bdc5ed589949327530d6beace05add202fe52</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2e84f797e330575efda70b027981c002</string>
			<key>Key</key>
			<string>4a17d78a9667257e26bafb1db8fffb61ab5ddc5fa7d875d20ef0bd3ba4719aec</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0380c1c94a82d36d7bca1ad0e949feb5</string>
			<key>Key</key>
			<string>9d36c5104d5a4c25b6d623d79a78dbe6c4b491a648aed83cb9e3c4ebc9b2b242</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d5776d6568ee26dbfa32608d97b6997f</string>
			<key>Key</key>
			<string>36c21bde060d4c9a577955b37c090b29f5cb27fb24ae23e170339367e6380817</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7f673c9aa7a5fc1290832c2d1ceb9e17</string>
			<key>Key</key>
			<string>ecd056d8548073f7b0e62589f869fa1d44ace1d955e8f03b1926b14e736e5b52</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>25fb9314d9b58b5301b56e450e1a165b</string>
			<key>Key</key>
			<string>2513c862dc160acbffe6916f4f18cb1bde69081d2566ba484929efd8c0d710da</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1eba698adbaa6071b1bfd4ac6031bd14</string>
			<key>Key</key>
			<string>ac03ddda36b3d64990805ea2480636d761bd62358d6e986c4ffd6c87871aad02</string>
		</dict>
	</dict>
</plist>