<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.1</string>
		<key>Build</key>
		<string>7C144</string>
		<key>Device</key>
		<string>iPhone 2G</string>
		<key>Codename</key>
		<string>Northstar</string>
		<key>Baseband</key>
		<string>04.05.04_G</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6605.20090909.PQ3ws/iPhone1,1_3.1_7C144_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-5343-086</string>
			<key>Key</key>
			<string>dbe476ed0d8c1ecf7cd514463f2ca5a6f71b6f244d98ebaa9203fd527c1ecbf2bb5f143f</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-5348-086</string>
			<key>IV</key>
			<string>c59f088b4235c468a7afaf037f45fe25</string>
			<key>Key</key>
			<string>5d6f20bd6ea462ed7ee9b0dd1c7538f5</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-5351-086</string>
			<key>IV</key>
			<string>6accb41f50ffaea338ad75a43bf063a8</string>
			<key>Key</key>
			<string>d6a042e9675a5f3a7378c3867637a63f</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b7be3e28313303fc07abb96dc2ce1d42</string>
			<key>Key</key>
			<string>e02bc4fc9b6af2a26de82ef3238864b6</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>78388306ecdf189117c7fc71ba28ea77</string>
			<key>Key</key>
			<string>ab4c4a441163f99619d1452a2a4a5311</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4147193dcdbc27b477ca8fef53e0f8d5</string>
			<key>Key</key>
			<string>80b5b92a96b038f1c4df84c7bf9e19f1</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ec3744681044c65a804f4b865cfa78b8</string>
			<key>Key</key>
			<string>c2609ac587135109a50afc3058105d5e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bcb9053a9e5975edab85facbbb684b69</string>
			<key>Key</key>
			<string>fbb10b8919d425af779ac54a85ce73f1</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a7b6636d93cf876befe5096b523dcbd1</string>
			<key>Key</key>
			<string>a9d2421a4b33d60d88a99ef986418099</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>98b6c64c0cad61e6bf0da4c8a2d90c79</string>
			<key>Key</key>
			<string>93197ae027238dac306dc7743a4c71e5</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4654145320d46d0fe21c15621beade65</string>
			<key>Key</key>
			<string>fa066dc27fa4f347538701f7f2a0d679</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>46db8b2a5b77cb36725980872eebea9a</string>
			<key>Key</key>
			<string>6701d5f03fd51ef70f2059674303082e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c44413948623ca47640858ec3ecf7630</string>
			<key>Key</key>
			<string>4d48aeb4466f90f38e93bc41e90d90b7</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>612726fff1a589a3a8906dd6b1129e86</string>
			<key>Key</key>
			<string>258303b6d261e6476de63bc9f185b9f0</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2c38d728b8da8f7c0d01591656830f21</string>
			<key>Key</key>
			<string>837d7b160ce0efa3ce921eb0fd621129</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9ee31b854276a0734d5e677129c43e18</string>
			<key>Key</key>
			<string>5e19a65dde110a2c9f9aee8f8219a2db</string>
		</dict>
	</dict>
</plist>