<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.3</string>
		<key>Build</key>
		<string>11B511</string>
		<key>Device</key>
		<string>iPhone5,2</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Baseband</key>
		<string>5.02.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-0910.20131022.EerKf/iPhone5,2_7.0.3_11B511_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-0215-001.dmg</string>
			<key>Key</key>
			<string>c67678c6cbf68b27f840554f57b620cd12ee996e4ff4a32360bb4cfbb41084ceaef9902e</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0196-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cd80c4dfe079b2216ed8da624a6d4dff</string>
			<key>Key</key>
			<string>0e12e74666b2baee39a40f91c6afabd70985357adeb921009d83a32a2d60daa8</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0174-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4a9603aaaa5f4b43259b6c39f43a82e2</string>
			<key>Key</key>
			<string>b5c0e22b25b66a085aff62d086bcd5f1825f37951189bdaa8e093ba8af41bc22</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fb2aa8a900e618bce5717ce2431afbd6</string>
			<key>Key</key>
			<string>3dcf7e393d774b30b4f3cc2d09117a47ca0f36d7104ec46c2efdaccd2972bf62</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8809584e8455a55defd848692dc0e396</string>
			<key>Key</key>
			<string>95c8f1e082b988d38cef382c0e2d191fa6d7588bea56d5feaceb238d62ac1b1c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>80cce80bac62c4da663c426fc916b64b</string>
			<key>Key</key>
			<string>887d6c0ca2589508b4afca470795cd9f03c979c3e8db854a6c2abd89dda2f9ae</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e4f4ef0a90345e2a433435f2e5901d6b</string>
			<key>Key</key>
			<string>509b1de91174d1b24732c42108897c8e236776e261047b00dc0abf44157182ef</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b3c4c9864a4dc33bd36ff2a2d06cc103</string>
			<key>Key</key>
			<string>0b2a354fb4de191c69a5d9160ed4f63f8d6d61a1a5a5569a2483102f5d81d788</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6166319950ea3b4ad95d5f3e2f1e151d</string>
			<key>Key</key>
			<string>f2e8292924a3b0435ad106b15e45350c1c5bfa08a797f0c730bb4a15ea3a74b3</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n42ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4ca82ffbd45c9f8c897c6a4e4e2aaf89</string>
			<key>Key</key>
			<string>5e5a36b8f1b528c98f989b8e3d474fa7a501f126697161732a1f597375ac70cb</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>229cb7abcc1cd7e592064e7060289fa4</string>
			<key>Key</key>
			<string>9d772b183f1827d59f6bce2d0829ee56d1a32358b9ca0a7fd8a1adb0f686f806</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n42ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aae81b3543ac4cf5ebaeb1ed1ef3e7cf</string>
			<key>Key</key>
			<string>a2ef7e9bedd6dddd0893639f3b299d205286e0da8d0ba67ce4d2f28b64a97124</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n42ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8f66deb83d46d65c5df4d8ff13ef5614</string>
			<key>Key</key>
			<string>75f78b0857a98c33e1a728a88c9a738fe3cf2f188baffd12236fa4832db95390</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n42ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>308b316baf12e3f6525db7ae57d19cf3</string>
			<key>Key</key>
			<string>dc58fdc2486bc4e0e0f4797804467aa4df9cad65aacc2d5d7814aeac49dc8f60</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n42</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>148239aae108ba69f0ffcd5661d50552</string>
			<key>Key</key>
			<string>547208b8a96dff2d305e187414ea4048352e4a935bc821d7dd5de87b36e99591</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n42ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>36653e09c09340627b0ecc2cd6710df9</string>
			<key>Key</key>
			<string>4edc3037323d30647002066e242eafdb3c9c62ccaa6ee6cf53c768f25e38b44d</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e8798c0adc1f82e6d9713857d10babd7</string>
			<key>Key</key>
			<string>113880dbe713a59bb2735f09e3161ef2599dd34b28db4fc0c4f59331ca2540ca</string>
		</dict>
	</dict>
</plist>