<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1.2</string>
		<key>Build</key>
		<string>11D257</string>
		<key>Device</key>
		<string>iPhone5,2</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Baseband</key>
		<string>6.02.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4447-009.dmg</string>
			<key>Key</key>
			<string>16f99aba62c8325456e9f9c36c9ad31b4498c6f034042540222321b81ec4734b1a3780d0</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4357-009.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c609eba82fe8acb1710ec3539a1d37eb</string>
			<key>Key</key>
			<string>b3070f4fb8da78d478ee2f5422b0988883f295208e78ab0d79f84ced490c22dd</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4276-009.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>13b6456bec67fa74faada14e1c3607aa</string>
			<key>Key</key>
			<string>4e0bcc542aefc750cd463f6d0ed4710f15fb0ec0d2a11d4e213b6f58c1e20e87</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9e81e7de70555a77c8ca9ee14d00420b</string>
			<key>Key</key>
			<string>89e683b3820c83b0971e46c28ef3f11e851a4907b85bedffa14c4ccde8e5736c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>965f2f774639c72fd930617051ba95c9</string>
			<key>Key</key>
			<string>f59bcf24806eaaa712eb0966901ca2aa794f76544e4535bac141fb35dc5dc4d3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cbc4bb3fca585fa18877970ae8bab532</string>
			<key>Key</key>
			<string>db3a8402c16aee450b43460162f9cb95312f489a1dff1c56c2bc910464edbe11</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>208203e66f8764b18a14d0edecb4815d</string>
			<key>Key</key>
			<string>e3c5e92bd17a8701d4eb7da1d7a7b24d1ca2bedf3dce130f5a180bb09bde40e6</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>12ffe5e4a3fb42b9d09c23fd385264c1</string>
			<key>Key</key>
			<string>1fb973478062ea8d815db5bd5962542327428c7bf8f68243e0f1dd4292deb413</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef8e4d282b7cc1394eab296f1983295d</string>
			<key>Key</key>
			<string>abe3dfb85d89a0309d823bb22af28cac11d7afce025faa58a9b735dc593dc3b3</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n42ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>814b4f2f7ea8aa695ba9503663293222</string>
			<key>Key</key>
			<string>3df14c776de506ce08353d1c87d997f6f5a75343c83f8f43d313dae058aae2bd</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0c71f70cb151b1076e2b72b9ded2f44b</string>
			<key>Key</key>
			<string>a6d040af2c5c58b7375f8de97a9505aab9e16b6cf24c6a94a72cf4a3091e33de</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n42ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1d45b6ca42dafd5d711e3d23e5fa0fc7</string>
			<key>Key</key>
			<string>459912ddeeeb9d4a1c66068c8c1d8f46d8dd72e3e7dfa3ff0326f1ab6bb59c28</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n42ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>422b9c5e642ff797dc38b9910f084826</string>
			<key>Key</key>
			<string>b23dbe781086f6000cba372e5e8ae01c3f61c032ab1fb6729129707e3ccb9463</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n42ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d279e5c309be7ac035fd313958a178be</string>
			<key>Key</key>
			<string>617f7e2d5d8e2940a325758cd42055b83e2e3d243f068d5a9015b0fe67bed815</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n42</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c7901452e5c32f32a7195a77d126e592</string>
			<key>Key</key>
			<string>2697534225bb043f54c2db418b1584c969f3e4f11bca8cb1e6baffe7c815e73e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n42ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f91c21637ca0b51522d4c4d4d0a68378</string>
			<key>Key</key>
			<string>3349b42d49224378ead053885503e426ebd08d3653538015630783314bab209c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f91c21637ca0b51522d4c4d4d0a68378</string>
			<key>Key</key>
			<string>3349b42d49224378ead053885503e426ebd08d3653538015630783314bab209c</string>
		</dict>
	</dict>
</plist>