<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>2.0</string>
		<key>Build</key>
		<string>5A347</string>
		<key>Device</key>
		<string>iPhone 2G</string>
		<key>Codename</key>
		<string>Big Bear</string>
		<key>Baseband</key>
		<string>04.05.04_G</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-4956.20080710.V50OI/iPhone1,1_2.0_5A347_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-3785-2</string>
			<key>Key</key>
			<string>2cfca55aabb22fde7746e6a034f738b7795458be9902726002a8341995558990f41e3755</string>
		</dict>
		<key>No Update Ramdisk</key>
		<true />
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3786-2</string>
			<key>IV</key>
			<string>29681f625d1f61271ec3116601b8bcde</string>
			<key>Key</key>
			<string>850afc271132d15ae6989565567e65bf</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5e5caacc7f493a6cb53ee677893cb6aa</string>
			<key>Key</key>
			<string>de72a0456984fd3b1abb800ef990d672</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a19d4cb93edfef37677897fca48327b4</string>
			<key>Key</key>
			<string>6cbb24ad7d6a5731ae64dd6f6c2276af</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>01e5f75c9f6b9bd3365546b9b0bdb4fb</string>
			<key>Key</key>
			<string>0e8801a01566adbc8feea9063f064aa5</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>899cd2bcf950330a1ccab714cee37cd7</string>
			<key>Key</key>
			<string>21db329a83c57342f7be7dee015a741c</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>54a907c139d2005c762e3839bdda153a</string>
			<key>Key</key>
			<string>5fdde5d3db433e4c9decb5ac9f6155f1</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e17c171b43c5093de0d305541515d5a3</string>
			<key>Key</key>
			<string>9e445d9dadf5ce17aed7a2496b37f139</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>649ca6cd0d27ec61f70630698edb9cf9</string>
			<key>Key</key>
			<string>ad14feab6d729fe180339c2c1acf6019</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3525bab8a8375143469c5c6a4533d9bc</string>
			<key>Key</key>
			<string>e8a54cb7b34773d67a2e6540c588129f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0f0387bf208293fdb6bf6e779a060e03</string>
			<key>Key</key>
			<string>1c964a77809527fd4bb73ea4cf322bf2</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c6661f5dee7e0852d74253bfb957a311</string>
			<key>Key</key>
			<string>ac752e69ef48d4aab54b76f059c76100</string>
		</dict>
	</dict>
</plist>