<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.0</string>
		<key>Build</key>
		<string>13A344</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>Monarch</string>
		<key>Baseband</key>
		<string>10.00.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9/058-21825-20150916-2CFEADD0-5678-11E5-9EC1-F7F76CA99CB1/iPhone5,1_9.0_13A344_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-07904-297.dmg</string>
			<key>Key</key>
			<string>07e9c1f32aa1a954b4aaa31123c1c6201bd8aa113e5d8a924c5f708967432b0091adfd1a</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03478-362.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ee05637c385c469a0766ea9cb605c4b9</string>
			<key>Key</key>
			<string>878f3ba3a9c479bfb57e7d430f511d7e7c4dd4cca520ace9f431eb1c806c5825</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03706-363.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aadca68ae0e9d5ac7ff943e9c8659d81</string>
			<key>Key</key>
			<string>90bc31a656c26dbfb3e91613ff262b3763446cc46c307739cb027d65718574e9</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ffa75ed41e594e84e75d02cc77236651</string>
			<key>Key</key>
			<string>1c3c32275bf4232fa58a67f72606a627b4b48774e6a9f1efa7326e6bd5e2626b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>215d639217ed7196232cae4f85f08420</string>
			<key>Key</key>
			<string>c3b82f948250b4d9555e2502f86c4fe094bd88768c87c52cb3551a3523ac63d1</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>03ca866c847ed639cee9d577d78d3688</string>
			<key>Key</key>
			<string>751d766f40d0083f53b27a3997bbaee5664c1cb5f8eeee088bea5e1be8e922ba</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1455ef4edf43920db8bae1f15daf792d</string>
			<key>Key</key>
			<string>e38f30795962a95bc56e4ce540016affae0ee8e36eb32c7a42c7fed64e5ae098</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>34651858fc2cfcf4b15673f88ff943d1</string>
			<key>Key</key>
			<string>71a502a857af1602db2235a056697d23ecc7b287d88205af3beb8680351e5b07</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6c5c9d8fc0f1488381ee096b66bdb12d</string>
			<key>Key</key>
			<string>0079dbac416d0c615acb9164573838311cd6d568355c3b4c3f5a38517027a157</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>52e5ccc1a4450e360af00b7f8946eeed</string>
			<key>Key</key>
			<string>81444fb6ca83c5f156a8054a81b29a22f57a8c4b70c6727608b1ea7481a23cd0</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8f26cf094e256bfd8ab95b05f1fbe540</string>
			<key>Key</key>
			<string>2d1b3d0d831200d488ab30ca00f7aa4e7326747bbf0d3ace5d7ab2660035c6d7</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9b46382b43ef18f472ccb4dfa8ebf24f</string>
			<key>Key</key>
			<string>6113ccba8249ba6bda83d0868469c314558d816dfe6c3421924b81e91885eb1c</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4b3c865132acd7a258ce06c6312aed3f</string>
			<key>Key</key>
			<string>5e5354c337c71722b5ee8b722501ad57c98e039dc469470b0002d5a0031ab0ea</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>644a9fc8052c051917ad911e78df711f</string>
			<key>Key</key>
			<string>8b98f18ce2305be7d5032fbe7012ab6210156d7fe7eb3c40a14a5c1481049be4</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fe8e01332f1c45dbf1d062980930d026</string>
			<key>Key</key>
			<string>5ae7728a2915eaf5ddbcdd4069edcb59a5a848cec347a6596a989637eb0b497d</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9bc7473d7b359b2f4e2747ba7d7d1922</string>
			<key>Key</key>
			<string>5a5a5ad7476498b13fb5cfba2a2068a278aefc9f0f481a81995774ec13975b55</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b7f40a1a42819877650e7b0eea0a91ee</string>
			<key>Key</key>
			<string>e895e4ea838f19237c31cb84cd0a5b4aecb2b470120e147cb102f86e0b7e477c</string>
		</dict>
	</dict>
</plist>