<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.2.1</string>
		<key>Build</key>
		<string>13D15</string>
		<key>Device</key>
		<string>iPhone5,3</string>
		<key>Codename</key>
		<string>Dillon</string>
		<key>Baseband</key>
		<string>6.01.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-32322-015.dmg</string>
			<key>Key</key>
			<string>93043525c717b1223ce2fbb7b59e50ddf3e116424a4d6b906ea139dbd6691a26cc76d9ef</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-32173-015.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e8d2998d35eee6bc9eca04792aee7965</string>
			<key>Key</key>
			<string>59839624d9d71a280ffd9218f0d6cdffb7c4524b265aabfbd666e73cc90261b8</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-32359-015.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e75352c864fd9bd033e6283fe7d09b1d</string>
			<key>Key</key>
			<string>733a56bfd8184188a2c278b6162ae9ed070398181ea489f00033aa1ac9325d58</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>73ce7e32b23ea20666b9f9065a4380e9</string>
			<key>Key</key>
			<string>7a0457408683dbe30c671204b4870d8bf5838caadfe75683b73247d59e87f35d</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>960c007655c28e75342e2621d35d0e01</string>
			<key>Key</key>
			<string>bb21066c164a377569a57b0f79f31049416f1b3b74446c13592ea390cb665420</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0de0d09e3763d496d7817e83d7fc7b4c</string>
			<key>Key</key>
			<string>49e2ac67dcb4d45fcaf676ea76d88382bbcde49f6644106e357077138d7ea943</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f5429a004f9a93e6cbcdb09efb29a251</string>
			<key>Key</key>
			<string>06eef6878f956c595c64efdd5b5a555686f74da68573f09e6546d64da97c456c</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>859489da08a1ea8dea8ea17f4115b1c3</string>
			<key>Key</key>
			<string>5a81046f8f8f23b780a0ed70f47b729344ed164575c0f7191431869159c0d0f4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0aaa711b55fea3ba42dd055ae2678beb</string>
			<key>Key</key>
			<string>c7d3a412c7db38b6d5533a1c4db89ee3c03c326756fef2de4d3072892be8bbb2</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n48ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3766c50a8fbb47215885d4e42a539cea</string>
			<key>Key</key>
			<string>45b3c4f940c16c098c9332360f994d27d338297959732a5f2f2e1c80550d50d9</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4619cd5a124827fc7e17c4616a2ad179</string>
			<key>Key</key>
			<string>f501bbb7ad4415f01a625d410ace8e65242a62560631563c1d8afdf486e9fee9</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n48.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aada9e96a122360be0e8ff28af64dccc</string>
			<key>Key</key>
			<string>e23db170ffa5929b524e01741f16caa4a33b83157f1d72acab5638ac3a0407ec</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n48.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7622ac9b2e5d91a9742cd89ec327e169</string>
			<key>Key</key>
			<string>00bc559aeb9b95d601301643150aab1802bbfebcbedfe42a4036d04dcd64d981</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n48.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a4df726f2875c9b6fb50b697a279c6e2</string>
			<key>Key</key>
			<string>99db61fe906195401dd7a8b67b69fe11051033aa84409c980a5a892d034af9ea</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n48</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2ea6ab72eaf3632aaa9590f44e67fb97</string>
			<key>Key</key>
			<string>4742cdde57ff898e73d98ead6917d38982781f2d8260f881587814361fca27da</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n48.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4f18be6e4cf58d26aa5197966c365400</string>
			<key>Key</key>
			<string>3b9708b6d708776a8657f3485b0f2de988ebca292146cececfbf2e2bbbe81a17</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>732f17c70a43580eb820fbc1399df1a8</string>
			<key>Key</key>
			<string>6bbfcbc299dde4462c17e9f9eeb81e185814626eeeba14c10987f051a71dd018</string>
		</dict>
	</dict>
</plist>