<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.6</string>
		<key>Build</key>
		<string>11B651</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Baseband</key>
		<string>5.02.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-2383-001.dmg</string>
			<key>Key</key>
			<string>59f39fb3f79ee38e54a798148fb8284ef650c84ecab1337f13318dbaa3a225a4cbc827f8</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-3116-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9a0174c68fe10d2846735c89589f775b</string>
			<key>Key</key>
			<string>24c6d5e5be65076fbbb1a53c054837bb3cd59e9e226d82ab3a1e2e25346ca8ca</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-3121-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7d200f5a2b6ccfcb9d90f59c0b73a65d</string>
			<key>Key</key>
			<string>4d99aefbe5ee9845f21e702af287a1bfcd4b3597459330cfec857b526b55f125</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0a255d591aa2120974a05b1507840dc9</string>
			<key>Key</key>
			<string>0c18a7bccaddf5728ed870f85af7de04c9caf3a880605043ab0dff86991f70a5</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0da1950673e8d56ba69f8fc8ef5975e5</string>
			<key>Key</key>
			<string>4d6767338c0d49853747a201622e1d93f49dfbb99a4a9ab860e7e0e6bd450437</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a545fdebc7f9e694d55f0e9cf6fd1120</string>
			<key>Key</key>
			<string>1da6136c371a843353e57b0864802918627e348578e4e8411d5b28b84b0ad1f4</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2f29941426c01d475778e924025173a6</string>
			<key>Key</key>
			<string>a83a6b3498278ea39f6431c4249caa7dc468c712f213815406f4270d8d88619e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ddd91a5277316118656540547f864f1c</string>
			<key>Key</key>
			<string>01a6d936503d8c27a91db87561909f4e7395a330a96b65ab7d4ff5bb2c6b00b5</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7ac180acca329707d883b393f84889b0</string>
			<key>Key</key>
			<string>7b89f0add8453353e422038e4dcbe0f0a90116c76085c7fb6241c2f67586e791</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>241c2a455f1317e3e2ec27022561a901</string>
			<key>Key</key>
			<string>3e27f8604ea10845fdb7a97537cf4e9a46116d32235304010f030de104551cab</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>74d816a41a663afdae8cfa1a54579d00</string>
			<key>Key</key>
			<string>d4376e4fcade9abc860af437998e1278fa1e3d28f3b79869da1d9ea184b2bc0b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d0f0014ac1af45d128e80fdd02e0b1cb</string>
			<key>Key</key>
			<string>4ec345782ee717f88c0dfaecc76bd7d655590c548c5898091b81f99facce143e</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>662e36cbbc8883d1afbb996f00ef0dfa</string>
			<key>Key</key>
			<string>736657d78b1647411f92b2f6fd06169ecb7077f2f3d18b23e688a5bf73570552</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f59920a3a2d15230e05f0ae6c07d45e1</string>
			<key>Key</key>
			<string>e6ff963b6caba7815bbb94257706f40788ee43e8177a7cc659e640d4428db822</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a616849d6f6f07a4134582c8a3365f55</string>
			<key>Key</key>
			<string>9d24f920814a9771546979fb441fff9c0b0bb520ad002a3dd6399ad9224594d7</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>62603f0a152de145ca4165d2de812e4d</string>
			<key>Key</key>
			<string>5c76a4166302516575991da197432209a2af2d7ebb79dd684e2ab419a3b75d0e</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>892515b2770245a90ec62afc4cc40d7a</string>
			<key>Key</key>
			<string>8f92de9ab8dded5015e12a203132e4980fb47bf1cf49c54c2b623dd9552ab0de</string>
		</dict>
	</dict>
</plist>