<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.0.2</string>
		<key>Build</key>
		<string>13A452</string>
		<key>Device</key>
		<string>iPhone5,3</string>
		<key>Codename</key>
		<string>Monarch</string>
		<key>Baseband</key>
		<string>6.01.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9.0.2/031-37464-20150930-7ECE0B70-64A0-11E5-8471-61E151D92A8C/iPhone5,3_9.0.2_13A452_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04040-356.dmg</string>
			<key>Key</key>
			<string>d8c320ba25cf38485593a2d4383136deb436eaba4a178ab6ea97f0f6877945cfe9fc9e1a</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03478-368.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef993ea77ba5b53ef509074621daaac2</string>
			<key>Key</key>
			<string>c75d26fb9a33e7095bb486b5b7fd996f7a8b01ce36a15ed69d2c480601096e5b</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03706-369.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7001ded854d73f8676fc311fdcab80c2</string>
			<key>Key</key>
			<string>712133f2c3ce36f40acaf59c6072fa4b1cccc91056e734273819544e81748bb8</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>962dd1d4734e9e9b27a0014ac0a9379a</string>
			<key>Key</key>
			<string>dfa1dcbba6faa4d6016a065af725a244305be093457c0ddbc8c928f18c0bdc10</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fb0eba36c2ebd3103b35a796dd334a7b</string>
			<key>Key</key>
			<string>97d01c0ba643f4a48e5a7b0206815f97cbdb21e9650870b9d5ee587b0824b8d4</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7baf9085a5d2c2231ab37d6cb6b3a3a6</string>
			<key>Key</key>
			<string>283ab2b17ff5f1f97d307c30da500c50aaf8e9eba9957312fe94c6229726bbfd</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>403ce1d9bf8ca7fe2de88b3d75b4201f</string>
			<key>Key</key>
			<string>7c1ed601eb71b9d9ede6e08091bf3a1c6435ada88670ec0f949b00587d980635</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>33d3ecf73d1a05295ab190a0eef1807e</string>
			<key>Key</key>
			<string>03784dc10ea80252d463923c2ad33ebc74b10fcb9d4c14b72159826171319004</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1a1f1cc3dd574bec8cdc72630ada2f7b</string>
			<key>Key</key>
			<string>f649c8b5fb9aabe7b024650340a2990b4f8f42008f6104f162de9608483292be</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n48ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f6cfdbe0f4dd21339d5b6d2dd3184abf</string>
			<key>Key</key>
			<string>0ab8ae8af2c68b326b5e43035c7f4005addf62ebf1291d268e7155e5db44d2f9</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c3e8d5c5a7fffeeddc4d1633a922e803</string>
			<key>Key</key>
			<string>c050c7c284f11fd65cf8f1fb3194b2345982cc3f752dc14c0df6aaa2c38a8404</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n48.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>85d7b663bdac656e4d21039e3f46a048</string>
			<key>Key</key>
			<string>aaa3fb746ef45f1a240b5bb2583e7d9d6ebb182d420adfa18b2a4cc6c5a68101</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n48.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7479ce252b7e2ed9f215ead3ac158a46</string>
			<key>Key</key>
			<string>b67f3fb84d29877dc3e35df472c123c23df97e2da0bcb0ee94b991cae8546166</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n48.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n48</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n48.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ae3c6dfb61937e096804c8ed8fbd5909</string>
			<key>Key</key>
			<string>87a530627ce7cba01d3d4df11227fab482c56f9b054119e55a73acb94a801405</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
	</dict>
</plist>