<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.1.2</string>
		<key>Build</key>
		<string>7D11</string>
		<key>Device</key>
		<string>iPhone 3G</string>
		<key>Codename</key>
		<string>Northstar</string>
		<key>Baseband</key>
		<string>05.11.07</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7265.20091008.Xsd32/iPhone1,2_3.1.2_7D11_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-6028-014</string>
			<key>Key</key>
			<string>a8a886d56011d2d98b190d0a498f6fcac719467047639cd601fd53a4a1d93c24e1b2ddc6</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6134-014</string>
			<key>IV</key>
			<string>dc2c487fd5ce7d89c2fcfbec5846f40f</string>
			<key>Key</key>
			<string>998aa71f7816e979697b2d4b25e6a8a0</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6136-014</string>
			<key>IV</key>
			<string>0e128e1f69806afc476b73250908d641</string>
			<key>Key</key>
			<string>6a4db11073eb748bad1fabafb066fe13</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>677b4c711e3cacb72505feae8e1eae5d</string>
			<key>Key</key>
			<string>1fb738d6c091113d7dfdd89864a718d9</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dde864054380607c5288e25223ef82af</string>
			<key>Key</key>
			<string>dd19f159408788876f2eeb39529622ea</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6216f87db9d321f9fbbdca47929c668c</string>
			<key>Key</key>
			<string>2d0717fe22a7b53ad20e322318a7502b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef12bff947224121144466645d6343c5</string>
			<key>Key</key>
			<string>165333187029f0e25acd24b886f0b0a6</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>45b6c16329718661067e7f9ae62adf1c</string>
			<key>Key</key>
			<string>9c10012125ba85aa6826e83f47440732</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cc4132951e3e496064983807ebe29eaa</string>
			<key>Key</key>
			<string>da0157686bddf9200a2c48b8eea45a30</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2aeb14ac71c98c793f496da817fba758</string>
			<key>Key</key>
			<string>82e003f89bb37bebbe63fabcfed9c4b7</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>20893570863e0a694997214fb2676569</string>
			<key>Key</key>
			<string>7a1981649643120648693a024618ca27</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>37182be2e6a085e86f93ffa057d98c58</string>
			<key>Key</key>
			<string>c29a6b094a454d356491f6e6d864047d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>13e320617bc655211e2b68042d4508f8</string>
			<key>Key</key>
			<string>a4039d79cd6d41ce2b755ed566902103</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>25b7f586d184c329d3d05953a6516a36</string>
			<key>Key</key>
			<string>dd03b5b52a53d3582b18a0052ef84038</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5b59f0b8cbbc2686319299c3367db93f</string>
			<key>Key</key>
			<string>a3ea2a88ca09dd6648a747c9e5462534</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dbf44c3cc2944b87bdecdbdcd8e42b82</string>
			<key>Key</key>
			<string>6d7d035c04c60ab2776a5e7c729daf0a</string>
		</dict>
	</dict>
</plist>