<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1.3</string>
		<key>Build</key>
		<string>10B329</string>
		<key>Device</key>
		<string>iPhone3,2</string>
		<key>Codename</key>
		<string>BrightonMaps</string>
		<key>Baseband</key>
		<string>04.12.05</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6.1/091-2444.20130319.exFqm/iPhone3,2_6.1.3_10B329_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-2727-005.dmg</string>
			<key>Key</key>
			<string>7e2dbf591820349a41df18e39e18b351422e2ca424f3cba61709d7384545f5d8dd7674de</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-2533-005.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1a842897317a3c67a4558a1b040e5851</string>
			<key>Key</key>
			<string>ff2c7416740c46482744633de7eff5e7039079fa38774eb6b345034c614692e5</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-2441-007.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2a86581ac1cdce1bde2a3ad9e179d982</string>
			<key>Key</key>
			<string>8919343e99f38e8c0688aea588118d982e9d5441ebab6608744b39ec416e60ef</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>02c61d93a817034d49edb0ad1ef4e77e</string>
			<key>Key</key>
			<string>ac48545272fa0c0bd806d9e9e9f3d923e650f5d114b1f9aeef4dd2da326e680c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>106d2da3734b5f555d853c9ffd47825c</string>
			<key>Key</key>
			<string>8bc3e37896dbecafaab6dcadc5866860cf875ac1b8c397bc6e32ceb8bdba054f</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5857f3341dee029e0f8fce3eed61a0d2</string>
			<key>Key</key>
			<string>0c8b08ac8f68c8c87e0ae357fac0911e1b1ba39dcd224a235c045068f1b14ab8</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2e23d85e496e3fb770269d442f02e3f5</string>
			<key>Key</key>
			<string>2b031af5bc905c16fd9bf9843ba65ebae050ff0ebd011a5c8f1cb196b8297780</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ab5edd823dd584dbcc9d85f18fbbf3e4</string>
			<key>Key</key>
			<string>33496ebe9599cc9859899f6013845a19b37c0aa77afca9044656e396202fbc82</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>285e6c1c6b806233a000d1847199dd1c</string>
			<key>Key</key>
			<string>3585bfe8e6d02647bdf9ca2f157959b9357734b41382a20ff572b3abbecb1383</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n90bap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c3f7c2ead868a49f014cff79ba43d147</string>
			<key>Key</key>
			<string>5c4d8a734d3883c93f416e5de2e4d549f050b19dbfb71b9778cf4ac1a85f76db</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>81402196141b4c44693ba447d286033c</string>
			<key>Key</key>
			<string>1e2573529eded4db3f33e8aafa99be3cd496863c90e248357708cdce2cab9ffb</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>64101869c1676102c3dfbf530303cd67</string>
			<key>Key</key>
			<string>8e4a3800d519c1f00a8a4e7ed5bbfe062fb3eafa667a45d950c21637c482d315</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n90bap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>253b947b22fc66ca5be504379f8b3d05</string>
			<key>Key</key>
			<string>709a4eae59d737f53d910b4110f060c0b33212f5efc0c7305b01af083ca09445</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n90bap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c6b5f8067f76cab94f77e19c103ac807</string>
			<key>Key</key>
			<string>408ca218d79ef17343c24dd404daf0f77d6e3294ec5a3ad32a6dc6bfd03146b0</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n90bap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6317777d94e4ff978ed0f58bd6c6ab8c</string>
			<key>Key</key>
			<string>cd851654229d80b7e9e48f0fbc5748f499595727e9f5635bd0ea2d195fe81557</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n90b</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>60951af106bc17e4dbb51e98a11ea68f</string>
			<key>Key</key>
			<string>47179daae903c6746bafcc0ed6c88b5f9759aaa75854272ba8d0724dad3e4b92</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n90bap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cbf39d4654f37b39c09332597da35a49</string>
			<key>Key</key>
			<string>703af64f51498206bf8cef272303e9720d2781c514f668e627d18b80eab05007</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ce172d5bf5c8a981cc7f3b748aef06db</string>
			<key>Key</key>
			<string>3a0c613f70305a962738717a203988db879dce0d2866a2cc0c87258e0fb7d5ad</string>
		</dict>
	</dict>
</plist>