<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.1.3</string>
		<key>Build</key>
		<string>7E18</string>
		<key>Device</key>
		<string>iPhone1,2</string>
		<key>Codename</key>
		<string>SUNorthstarTwo</string>
		<key>Baseband</key>
		<string>05.12.01</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7468.20100202.pbnrt/iPhone1,2_3.1.3_7E18_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-6482-014.dmg</string>
			<key>Key</key>
			<string>bf5eb72cd65e9c37cf9920707cb6b4f7ecc10b38cfec6b167002ac9fd6a3ab6643e45005</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6488-015.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>28f586f972f37ada68ccb1db9c0809d7</string>
			<key>Key</key>
			<string>05ad3977f313f7efaf9263bb33915af0</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6494-014.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>25e713dd5663badebe046d0ffa164fee</string>
			<key>Key</key>
			<string>7029389c2dadaaa1d1e51bf579493824</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>29900b1381b112bc6ca157b8d5e533fb</string>
			<key>Key</key>
			<string>f991b79dc86f1ed7d997785b4e93c0b9</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4a7131c4e4ab53c54c9cd67000022c0c</string>
			<key>Key</key>
			<string>5c5e265adf97ff887f83c1964cd26fbc</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d95821f8d527c863bc83384b2a49d70f</string>
			<key>Key</key>
			<string>3e94246a2893d04223b960ec163a0d1f</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b510390a90fe02ba01fc72e25bc4bed0</string>
			<key>Key</key>
			<string>92669d64fb9ea886317d8c38b3cf88cd</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>18c4cc5b9881a7f46fb6816b6bf98621</string>
			<key>Key</key>
			<string>7a2f4af7bfad3190a119533432e4ea79</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>43046878e50b200c94208e71d54d7d46</string>
			<key>Key</key>
			<string>3b2abd9b9b4cc7ed6e9981ba208f129c</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n82ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>77cbb8d3e874efa1364cab1bbd38a8fc</string>
			<key>Key</key>
			<string>9532919c4b4ff636f0559ff25be64f35</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f063514314d014e962d072d144869448</string>
			<key>Key</key>
			<string>4efaa97201e0be8eebc633be2bd8e80e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e2cbdecb935e44022411251450e09e25</string>
			<key>Key</key>
			<string>51e76b6183f5de42988cd3f983714c11</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n82ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n82ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bc3a7ecbad75285a0b9ea96e268ac0c2</string>
			<key>Key</key>
			<string>fcce502abcfac78aad6e842f64f79864</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n82ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
			<key>Key</key>
			<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n82ap.RELEASE.img3</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e16e51ec62db28fb3d84a9ee0f8ef502</string>
			<key>Key</key>
			<string>de308342ba029c5c569f3a96f2723f3b</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1df103ab51af7ad9f8488d9e3b9edf11</string>
			<key>Key</key>
			<string>72e3360fae2d22252f497bd08d060d83</string>
		</dict>
	</dict>
</plist>