<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>2.0.2</string>
		<key>Build</key>
		<string>5C1</string>
		<key>Device</key>
		<string>iPhone 2G</string>
		<key>Codename</key>
		<string>Big Bear</string>
		<key>Baseband</key>
		<string>04.05.04_G</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-5246.20080818.2V0hO/iPhone1,1_2.0.2_5C1_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-3998-1</string>
			<key>Key</key>
			<string>31e3ff09ff046d5237187346ee893015354d2135e3f0f39480be63dd2a18444961c2da5d</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3984-1</string>
			<key>IV</key>
			<string>537eb4e7129ea81f572ec23dbec42b80</string>
			<key>Key</key>
			<string>cc028fd29dc27f895e401d9865e72100</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-4000-1</string>
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>WTF</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
	</dict>
</plist>