<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>1.0.1</string>
		<key>Build</key>
		<string>1C25</string>
		<key>Device</key>
		<string>iPhone1,1</string>
		<key>Codename</key>
		<string>SUHeavenlyJuly</string>
		<key>Baseband</key>
		<string>03.12.08_G</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-3614.20070731.Nt6Y7/iPhone1,1_1.0.1_1C25_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>694-5281-6.dmg</string>
			<key>Key</key>
			<string>7d5962d0b582ec2557c2cade50de90f4353a1c1de07b74212513fef9cc71fb890574bfe5</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>009-7662-6.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>BatteryCharging</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.m68ap.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.m68ap.RELEASE.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.m68ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.s5l8900xrb</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.m68ap.RELEASE.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
	</dict>
</plist>