<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.2</string>
		<key>Build</key>
		<string>13C75</string>
		<key>Device</key>
		<string>iPhone5,3</string>
		<key>Codename</key>
		<string>Castlerock</string>
		<key>Baseband</key>
		<string>6.01.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9.2/031-29163-20151203-08D59E74-8D8B-11E5-8D43-A8628B8BECEB/iPhone5,3_9.2_13C75_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-26278-078.dmg</string>
			<key>Key</key>
			<string>9c9de35a1d8524e620a049c1ca0667be96596c81fa716f74b3948159d78573a6aa768712</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-26070-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a25b5fcc0b7dbc1fffc4a64f04bc724c</string>
			<key>Key</key>
			<string>00046910572df8dffcb19c5306d6933fb4391b6ce4ef6fb4eea4daccc0aa1180</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25952-079.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fdc7b66cbdcb6a8e09992bcb65720c01</string>
			<key>Key</key>
			<string>bfba95de14156eba279afbe6e37b5b025dc8495434363cf18a527748bf06e399</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>db177ef07de5b295a59e89ae82b34722</string>
			<key>Key</key>
			<string>81fabf8a84cd5fd86a5f16fa6c817d8378ae42c409516737c21f3b96e6d7ef1a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5c637ce1ce024c5fbcbe6f9fcd23cfaf</string>
			<key>Key</key>
			<string>ae4be35de4575715c20f8d35acd70b43520778e277244a722c2d9387662fe84d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>67a5010dff9d0cf09003f26098481f9c</string>
			<key>Key</key>
			<string>5cd79c6b35492f55dd32f966817bbd7bc1e44657f7729d3b20a3d69142910cb6</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0dd15dcd5a25f8faf56ff94361acaa91</string>
			<key>Key</key>
			<string>c5beff66cc8cc744b35ae35452c0bbb54678a802735d3cdb287f93c519d783eb</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>06a97f2118d71a7cf6c2aa924eff4f9e</string>
			<key>Key</key>
			<string>e35f8e84d866e094ba3d7272eaaafc8679cba74c5eb63ecb89e7bdb381cf905b</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fb92e5408622cadd049acc9e90911e7b</string>
			<key>Key</key>
			<string>5da0a25a2ec2d5944fe347b15ee333488904f4b9b6e222254b2f35845bdb581d</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n48ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8abc242b49b41235f082790e126ce2c5</string>
			<key>Key</key>
			<string>ab2cb67623b49d78badb63c7bb4e9a59327f3e28d4dc8a636fadecc2ab8a7b0d</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7a18cb2847671ed5560b46b863899cec</string>
			<key>Key</key>
			<string>99e6c1ed9f4948a05daa9343f61241606758a5bbb3727e814707343909736761</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n48.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5e177ad0e555cbe9494f64736f51199b</string>
			<key>Key</key>
			<string>1cb5a466f8a6eaa930defce0fa2d6ff513033f2150d6149d2cd7a346ef0b9cc4</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n48.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ea386907cc28a9391f772539f5844e97</string>
			<key>Key</key>
			<string>06cedfc49ec55872bc934936778d84aa3d3fdf4965d449b2b8d7d217bd3e2e60</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n48.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4bee32419ef7c242094a176d52d53c1c</string>
			<key>Key</key>
			<string>ce48a5b27181fa346bf4a490ab778328908ebb5b0f0fb2f664868c195597aa59</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n48</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2ae28cdcb0ef835f1b8364453cdfed91</string>
			<key>Key</key>
			<string>525c06d1d5f4476f61cd8170d591d10b60e941dca0dc6b65de3d7de6a95e00ad</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n48.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>02fd8bbf76a761084c2ef2c32e4e60f6</string>
			<key>Key</key>
			<string>281e373b88802c45a613254c6a31b1418321c5f114c0c1517cc38d9b3fba9727</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>714c02c6389e96b9019b820fd2a8c44c</string>
			<key>Key</key>
			<string>ea645c7d8522d39e6db63e02e28dc85040dfa4e3a42532e21b5b67ff6c8cc60a</string>
		</dict>
	</dict>
</plist>