<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.0</string>
		<key>Build</key>
		<string>13A344</string>
		<key>Device</key>
		<string>iPhone4,1</string>
		<key>Codename</key>
		<string>Monarch</string>
		<key>Baseband</key>
		<string>5.3.04</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04038-272.dmg</string>
			<key>Key</key>
			<string>63676d730527ba91d6eba3a0402ee5f8b3dc940a33d7ef056163a9fe1a3a8f499e276cda</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03591-284.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>edafdc5ec12e38bc7e6aad781963617d</string>
			<key>Key</key>
			<string>0b2d2943d9b02d8e5a2661144c0ac0a51a21ca02bee5e8d28e4ff2b26c42027a</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03653-284.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c751d527a64bd5b9ae736866c70b2eb9</string>
			<key>Key</key>
			<string>caf50e8770e4c63e1977f6d609d407b9fa6fe7b2e4e634db6f8dd602e91cbf6d</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dcb3a8ce681cc74da9595ed85232ceb2</string>
			<key>Key</key>
			<string>cebc557ad0784d81523a0d6deeaa7f19cb2a4991adf48701a66c31c8eeab0bf1</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5edb2ed7c19cc310aafec403ae8aea66</string>
			<key>Key</key>
			<string>8f107b5797207b1580366cdbf7f8c5e1d98b605b3381bc4eb20cc4f5f8aeafe6</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5b0a7cb58b53a81256dcf4c7d9282aea</string>
			<key>Key</key>
			<string>df7d8f795d334f87de44070f95ed620da4cf642e93f23b1d25f568800c97f013</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7c5db1a6eb1a254f476fdc0bfbf8af34</string>
			<key>Key</key>
			<string>7f5f15fe5ea3ef31c8f052c7e3980a4b7ff1075d2eb2238638a49d08ace99dc2</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0f9345d298ed3187f1a75fb838fcf9d3</string>
			<key>Key</key>
			<string>f256dc55962f14774ca7663b833a204857ae671a501eb780475660faae0159b3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>33f43cd3a6102260940c4bf154428a50</string>
			<key>Key</key>
			<string>0694367f662ea2e5a3e9887d26adb17e5a98a061be6d6d395d0656a092837173</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6266cc08f8cd52a93fdf0ca76c4186af</string>
			<key>Key</key>
			<string>acd86587edf5525adfb51bf9ac14a60417ea17cb9e44d3e8f1ce15c4a3217df2</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cca636693bba93be54d76a467d6a3a06</string>
			<key>Key</key>
			<string>645b52616a8f26e41a47fcd201bda13a119689498c7e8b49ea1ac6b94b0149cd</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ce23ec07f549c8024003ce784f8ca901</string>
			<key>Key</key>
			<string>23b7cbc755d796c0bfbf66068ec0cd59595f0995022e5e81c0860b66ed328c96</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>57cd16826f87965a1e4a49c419e7e34b</string>
			<key>Key</key>
			<string>0411f198363ae88510b965fbaf7015b0c209f846b9588f8f97f53504070c3b32</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>50986f7977b906a58eb271d77e16e772</string>
			<key>Key</key>
			<string>3ec71021563ef80ea09a1ea3dcf64cd4658697b67e14fbf2f88e1c23ed4a9fb1</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f29eaaf9b08c1eee8020090eabf1f038</string>
			<key>Key</key>
			<string>6235c5f842e2961ac5e53487329f9b4aef88b7b0985fcb321313e26bceb0a37f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5e749411f6490da37969ff5992d974d8</string>
			<key>Key</key>
			<string>e660c958535a48f5cbb2b8abb35d90a9f6eaaa1e5efd2740243356f1cb055c96</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1c9dc110077e9b0687ff968b4a43d4dd</string>
			<key>Key</key>
			<string>9e79730a03abcd0167e592e30eb0264dfd18f4cadcd150b096d51f73e2ec0cdd</string>
		</dict>
	</dict>
</plist>