<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.2.1</string>
		<key>Build</key>
		<string>13D15</string>
		<key>Device</key>
		<string>iPhone5,4</string>
		<key>Codename</key>
		<string>Dillon</string>
		<key>Baseband</key>
		<string>6.01.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-32080-015.dmg</string>
			<key>Key</key>
			<string>b78a8d2cfd91984d192f634d7221443c9e2e322030b19006cf39e41a13353761dd990db4</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-32173-015.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4bd3f0f86576135d818275f77576ee9c</string>
			<key>Key</key>
			<string>0cffb629724404f04260b16683efc268ef683dd3f0647383fb734c07a0b45224</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-32359-015.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7644c57273128a5f6866f859b69f5e3c</string>
			<key>Key</key>
			<string>95d2432d49de405df7dc0ad2fea0a1bc28e5bf24963d5c8101cf62e90c4e7ff7</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>73ce7e32b23ea20666b9f9065a4380e9</string>
			<key>Key</key>
			<string>7a0457408683dbe30c671204b4870d8bf5838caadfe75683b73247d59e87f35d</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>960c007655c28e75342e2621d35d0e01</string>
			<key>Key</key>
			<string>bb21066c164a377569a57b0f79f31049416f1b3b74446c13592ea390cb665420</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0de0d09e3763d496d7817e83d7fc7b4c</string>
			<key>Key</key>
			<string>49e2ac67dcb4d45fcaf676ea76d88382bbcde49f6644106e357077138d7ea943</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f5429a004f9a93e6cbcdb09efb29a251</string>
			<key>Key</key>
			<string>06eef6878f956c595c64efdd5b5a555686f74da68573f09e6546d64da97c456c</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>859489da08a1ea8dea8ea17f4115b1c3</string>
			<key>Key</key>
			<string>5a81046f8f8f23b780a0ed70f47b729344ed164575c0f7191431869159c0d0f4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0aaa711b55fea3ba42dd055ae2678beb</string>
			<key>Key</key>
			<string>c7d3a412c7db38b6d5533a1c4db89ee3c03c326756fef2de4d3072892be8bbb2</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n49ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>138922c65a5751a387104d8d5db87d27</string>
			<key>Key</key>
			<string>669455cc1025bae67185f60d86d8f28f302d97d31f606cff3f5d5c5a81c91eb3</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4619cd5a124827fc7e17c4616a2ad179</string>
			<key>Key</key>
			<string>f501bbb7ad4415f01a625d410ace8e65242a62560631563c1d8afdf486e9fee9</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n49.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0232d68c1746774f0d1302efd65f573b</string>
			<key>Key</key>
			<string>d09097a5b61ee4e30bbdb34227d324aabcd7dd99bdb2ed66d7b8e30e1a159e18</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n49.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bb1b37e53fe6c81fba3bbef282a5fb89</string>
			<key>Key</key>
			<string>6494dda11617ea78e56f3934402b59aa0a9e7d922a2483e47b20e406bab6bc92</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n49.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dd8e2306a636ec10ac431249ef222fa5</string>
			<key>Key</key>
			<string>25b38695a997d83f309b4607a6944996836b5f6a63a7efc0d9293e7a1ea1553b</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n49</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>406f4bd51d9dfafdfd287ee5c6b856c4</string>
			<key>Key</key>
			<string>e5a40c3beacfb0c0ac34d1f4c2e3ca064bb6ae4d3a6fb82ee08959d6819f2f9d</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n49.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c538fb6295f46ff7b391fe4b0b82064f</string>
			<key>Key</key>
			<string>27e0206e4f5d55e12cda5c4dbade082cc3fac0ba3c251d27fe8929907d385f79</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>732f17c70a43580eb820fbc1399df1a8</string>
			<key>Key</key>
			<string>6bbfcbc299dde4462c17e9f9eeb81e185814626eeeba14c10987f051a71dd018</string>
		</dict>
	</dict>
</plist>