<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1</string>
		<key>Build</key>
		<string>10B142</string>
		<key>Device</key>
		<string>iPhone 4S</string>
		<key>Codename</key>
		<string>Brighton</string>
		<key>Baseband</key>
		<string>3.4.01</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6.1/041-5902.20130128.bhyt6/iPhone4,1_6.1_10B142_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-5307-151.dmg</string>
			<key>Key</key>
			<string>a543cd377b8d82465d0f457810f3b6dae781956abdc4c6a3dba53ab0c44d4670f7f3c870</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0737-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>33b396f602e9c09e9f244500c9563f62</string>
			<key>Key</key>
			<string>e74e797ff440a6d08d92a00454e6e08053ef2b8526cbb27298d6840d2c5ff67c</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0736-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9a5e3613c068ec860099ee2e42f6f9c1</string>
			<key>Key</key>
			<string>daabc1c996711b13ca91c8da4edf216c9ac9508605ecbdccb5ebf27b789966ad</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>35490867faa57a7530eaa48c72d91629</string>
			<key>Key</key>
			<string>1144d575892a0216b64f60edb89a4df7f6c3b481441bfe9cd9bc8c4dcedd614b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9652ffffbe3a98bc4fc951060bdb4c4d</string>
			<key>Key</key>
			<string>68d986f445fa24dd91d7d08d8ae731722e28bccb4f8012f431c1d9e83c4ecb2e</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8730e72a98ebbc750b0977d40faedd25</string>
			<key>Key</key>
			<string>87e65b93e0e401102628397d6bfda6717672dc46ef30ec89196ff60d2a7e2139</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9785fd1a6fefd2e10a9f6cb458562e8e</string>
			<key>Key</key>
			<string>50cecde85bf5c7a6c7afa898b1585a6867ba99dd30249ccf42660f50f0ec9485</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ec956fc6ef69af8d9278ab162e371656</string>
			<key>Key</key>
			<string>b1ad1fe75b15e52925e9a287ef01cb3757ca446b07e9580acd2b44287ed604a4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f1b45f9330775571543666568a6d5380</string>
			<key>Key</key>
			<string>86a55f6738aab5ba7328a0b5e5c60946d0a36d933a073a78214b88899dbeb826</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b5efee30e9ac14b28a96643a3f9cd216</string>
			<key>Key</key>
			<string>3dbd044d2218402556fc65bbe57dccfaf0a78318b54d18ea4082b3aba2575226</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3ed57d105cf3ca0e344bb32d0d112a56</string>
			<key>Key</key>
			<string>69294979074f4fcec0e3f5bc0aa8152aca5e13290a4b03f10605af729f58fc54</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b5e55a4785f22647da582de774096752</string>
			<key>Key</key>
			<string>f54b899489bc38392c95b582737fb8f2af66e714beb5493aaee2bab1ebec3c22</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3198f6a2776366aa37c4c9d039b3df79</string>
			<key>Key</key>
			<string>42c59fa0315e6377c87a297e5724edf73d421802637e023da8e1f25b6af824cc</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1b1b2ec7a1e64fe5e78ddcf8761f9ed8</string>
			<key>Key</key>
			<string>61e2c8d408325680a50c163daeb9dfcc91252d7907344ccd25070a6c480f2a69</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e05c46975b2e9fa7b5e38553c575b676</string>
			<key>Key</key>
			<string>354ccdc0ddfa048d7f507bc707aa95a4764087639cf058b91f79bd3d73792e59</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c12920522b27eaad4f734046ac87ec31</string>
			<key>Key</key>
			<string>ddc7965f87f269a396af8a97d5b92969f4d15c526519f62c2204e315886481a9</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>60b72c869fe99fe935a9f8fb39d23954</string>
			<key>Key</key>
			<string>399e45d865f5025044adb93cdd70d094c474fbbc5ac9d7dd0be0b24e0f58c89b</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b88015c1b755895f1e0fc6aad5560fcb</string>
			<key>Key</key>
			<string>b03452c0115ca948bd1f4785a1fa49ec96417ec7d33a969e4af6fc9bf934ea38</string>
		</dict>
	</dict>
</plist>