<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.1.2</string>
		<key>Build</key>
		<string>7D11</string>
		<key>Device</key>
		<string>iPhone 2G</string>
		<key>Codename</key>
		<string>Northstar</string>
		<key>Baseband</key>
		<string>04.05.04_G</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7268.20091008.32pNe/iPhone1,1_3.1.2_7D11_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-6028-014</string>
			<key>Key</key>
			<string>fe431a1e436e5298d3c871359768aab43189fd5e7375a2ced3405dd8a223879a4d64a28e</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6134-014</string>
			<key>IV</key>
			<string>75d225e3c641c7f024019704a64cd823</string>
			<key>Key</key>
			<string>91e76095c0f19ed0697b542850639788</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6136-014</string>
			<key>IV</key>
			<string>ae8c91a59802f5af220a646bdbf751bc</string>
			<key>Key</key>
			<string>4f72fc1f155423c36abeeb620902848c</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1c943b87990e4bcb9154fa1e29e2e5e7</string>
			<key>Key</key>
			<string>a473d8203c57aa21623ced1fd413f711</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dde864054380607c5288e25223ef82af</string>
			<key>Key</key>
			<string>dd19f159408788876f2eeb39529622ea</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6216f87db9d321f9fbbdca47929c668c</string>
			<key>Key</key>
			<string>2d0717fe22a7b53ad20e322318a7502b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef12bff947224121144466645d6343c5</string>
			<key>Key</key>
			<string>165333187029f0e25acd24b886f0b0a6</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>45b6c16329718661067e7f9ae62adf1c</string>
			<key>Key</key>
			<string>9c10012125ba85aa6826e83f47440732</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cc4132951e3e496064983807ebe29eaa</string>
			<key>Key</key>
			<string>da0157686bddf9200a2c48b8eea45a30</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>316c9520eec956d3164216cf9a349c0f</string>
			<key>Key</key>
			<string>c010e7bb85ee63de99d343d4c3fea25b</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>20893570863e0a694997214fb2676569</string>
			<key>Key</key>
			<string>7a1981649643120648693a024618ca27</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>37182be2e6a085e86f93ffa057d98c58</string>
			<key>Key</key>
			<string>c29a6b094a454d356491f6e6d864047d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3232eee4fb99d95005ad84e272212a6</string>
			<key>Key</key>
			<string>a17c1e2f4ce07ffde870e899f175e286</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>25b7f586d184c329d3d05953a6516a36</string>
			<key>Key</key>
			<string>dd03b5b52a53d3582b18a0052ef84038</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5b59f0b8cbbc2686319299c3367db93f</string>
			<key>Key</key>
			<string>a3ea2a88ca09dd6648a747c9e5462534</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ce16f3539e257f6d210b82547e57bcc2</string>
			<key>Key</key>
			<string>3b1eafb50468b776e28fc5f90d15f7ea</string>
		</dict>
	</dict>
</plist>