<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.4</string>
		<key>Build</key>
		<string>12H143</string>
		<key>Device</key>
		<string>iPhone4,1</string>
		<key>Codename</key>
		<string>Copper</string>
		<key>Baseband</key>
		<string>5.5.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.4/ipsw/031-25968-20150630-5CA12418-1B91-11E5-A4E7-6265BE268FF7/iPhone4,1_8.4_12H143_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-15896-139.dmg</string>
			<key>Key</key>
			<string>2710c37d4d3545486db6093da4ad5d224737cbc7c6b5a5df177af52b2fdea42dc467af84</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-15947-139.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>393f32850f0ec8dd64906c3fd63af16d</string>
			<key>Key</key>
			<string>9e424b27ea18fb39f44cfd71f0a18485e9bf3565567a6fedfb2ba1e5c75a6a85</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-15814-139.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f70d91617bce89cf8f33a3fc52b9514c</string>
			<key>Key</key>
			<string>5d73ed1eb0e3cf655927249a1e8f1263210ecfb0093f3d9c54f99a24861c10f4</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d8a42bdb7b969132707028a395c06820</string>
			<key>Key</key>
			<string>0cb4209728204884b0f38e149466ec9b92747b9d077f65747e5973019599bef3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>64e7346a054955caefd499652809a644</string>
			<key>Key</key>
			<string>614a394dcd6b579c8faff10e9bef23a44591703bb7114e7db476d5b286318bde</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>87d6f238d0165b358ec07e507e0db85c</string>
			<key>Key</key>
			<string>d2edca48f76aeae8913daa06e466a001cf8f92783d90e3bce0f290b2b35d8552</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8ac62da810ff87d902903761888f831e</string>
			<key>Key</key>
			<string>6a78d3e3da6b8250f5c118e11fa45fffe7b48c374440bf72a483b0f854db120a</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>09c03f1eb13608dcef22d23b34be2a5e</string>
			<key>Key</key>
			<string>a866af3e9a20952e4bfb86a9641202b0d39cf27b0eeb6716e57f751c5d5e5e31</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e88debadb878537c4760c141c6b9f43</string>
			<key>Key</key>
			<string>509d8beb910d79ee3fe4fd2ebc0e14677fde8e0505232cce1f7a0e91d35dd0b9</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>43424ddb1d4fd5e273220d4efd4c6c20</string>
			<key>Key</key>
			<string>c2dd200b2c1e939cc01b28624e5fd2d6ffca7c84436306b57cb59079b44778bc</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>edda0dd28e48764f2ede9b0f839bb1ba</string>
			<key>Key</key>
			<string>cb1cc2944a8a920488ab261f3fc7f591ef74e762b85607d38f07540d38b3e037</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8213955f911d370e9cb8b09b7b1903b2</string>
			<key>Key</key>
			<string>82e7a14b14e93296e51b0c6f45c48b9e37add9c8b6529c03efc48bc8196ad0b9</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6f09ed8060725f3339142fde7ff3c671</string>
			<key>Key</key>
			<string>33374485b0bf013394255399792b934e4533966370576f357504860360575e13</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dca23082d162aaf99c740dc69d1479c0</string>
			<key>Key</key>
			<string>bcdf35e3217e135955901eafa1365cc60af5bbfc877c95c1cf99337df7474d8b</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0c30a1abc35d2d94cdcf4c90235bcf47</string>
			<key>Key</key>
			<string>ca88e6b67f8072d9dfd1605072f6e88db018d36b5d3c41663a93cc5e8810d0ea</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>225b9ed4a0241d9c4d8ceedee2714a04</string>
			<key>Key</key>
			<string>ab8660b67200dc8884e8a3041226fdece9b552706b3df3b4981282f2b34a4da1</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>570be46bad4b4bec32e0bd56c1194f3d</string>
			<key>Key</key>
			<string>95077e033cd30975ce2cb9276f8a3087173feb0394717c40669d7079b0f8c623</string>
		</dict>
	</dict>
</plist>