<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.3</string>
		<key>Build</key>
		<string>11B511</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Baseband</key>
		<string>5.02.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-0855.20131022.astg4/iPhone5,1_7.0.3_11B511_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-0211-001.dmg</string>
			<key>Key</key>
			<string>27a54e621826a2f7d1607bc7cb515de71a3fc805dce3e789396cbdfe8b26f07d26914be5</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0196-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>85dd528bf0c5c82f309eeea5629137a0</string>
			<key>Key</key>
			<string>c4cfb96c879166fa8e9727007e2c2b9e308e4409881a0cd68a09d6cb54af5922</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0174-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>62f9551c23b30f8e0b6cff575b2e03da</string>
			<key>Key</key>
			<string>31d67c1601a22cc327ae24e12f4d9a02fb0ac12b4cb2468e86a6374b4822967f</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fb2aa8a900e618bce5717ce2431afbd6</string>
			<key>Key</key>
			<string>3dcf7e393d774b30b4f3cc2d09117a47ca0f36d7104ec46c2efdaccd2972bf62</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8809584e8455a55defd848692dc0e396</string>
			<key>Key</key>
			<string>95c8f1e082b988d38cef382c0e2d191fa6d7588bea56d5feaceb238d62ac1b1c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>80cce80bac62c4da663c426fc916b64b</string>
			<key>Key</key>
			<string>887d6c0ca2589508b4afca470795cd9f03c979c3e8db854a6c2abd89dda2f9ae</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e4f4ef0a90345e2a433435f2e5901d6b</string>
			<key>Key</key>
			<string>509b1de91174d1b24732c42108897c8e236776e261047b00dc0abf44157182ef</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b3c4c9864a4dc33bd36ff2a2d06cc103</string>
			<key>Key</key>
			<string>0b2a354fb4de191c69a5d9160ed4f63f8d6d61a1a5a5569a2483102f5d81d788</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6166319950ea3b4ad95d5f3e2f1e151d</string>
			<key>Key</key>
			<string>f2e8292924a3b0435ad106b15e45350c1c5bfa08a797f0c730bb4a15ea3a74b3</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>899f0fb1da9b67c908d29646dc89b3db</string>
			<key>Key</key>
			<string>10a812787fcf575d220fbc4fec0a0b961abf6a51e5c52a4695e8f0a52d86d380</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>229cb7abcc1cd7e592064e7060289fa4</string>
			<key>Key</key>
			<string>9d772b183f1827d59f6bce2d0829ee56d1a32358b9ca0a7fd8a1adb0f686f806</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>73e6a37e40c285a2d47e1fe8a8596066</string>
			<key>Key</key>
			<string>5d8d0bb9f7fc6641c467c49e00c782b00f6a575634ebc4978c2c4f787b0db398</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8caa5801361a367b8b52a4f387f82808</string>
			<key>Key</key>
			<string>a28102b9c188c6fd2c364d4993524db9743c92744814f198519aa77c3f3aace4</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a2e15a1ae7999ff91ed576c1a2eb2dbb</string>
			<key>Key</key>
			<string>325b01e18ba8f9484dd16d9d38a74ea711becddf0efdf3b241dbf0c8679189a3</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9af3bdd3b8ff19f5af96337662f15ec3</string>
			<key>Key</key>
			<string>2ebe96cc7e38d287d7793aa75711d5d2d38ff830dcf852e0c03b944d4bfd42f4</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eefa83a7859cfb8246ce8da9f60e0e2b</string>
			<key>Key</key>
			<string>c7b98b70b4a98e9789b2a7b8d9d5496639e3f2d78bed92dd687f5869635dfb27</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e8798c0adc1f82e6d9713857d10babd7</string>
			<key>Key</key>
			<string>113880dbe713a59bb2735f09e3161ef2599dd34b28db4fc0c4f59331ca2540ca</string>
		</dict>
	</dict>
</plist>