<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.0.1</string>
		<key>Build</key>
		<string>10A523</string>
		<key>Device</key>
		<string>iPhone 4 (CDMA)</string>
		<key>Codename</key>
		<string>Sundance</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6/041-7952.20121101.aClm5/iPhone3,3_6.0.1_10A523_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-7958-010.dmg</string>
			<key>Key</key>
			<string>1076b3547842e1822a10eaa22723c0ef9145f823899be7f876d5bde1f853f4fb496ab606</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-7927-011.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>286df01256459fbe445d998917f6d4ed</string>
			<key>Key</key>
			<string>a142b20ce1c1a4f7b889925bb4b261949b893152d26aecb94e02d96f208fd2c4</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-7924-011.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8b1ff0c8c73405dfe723f6be3f9290dd</string>
			<key>Key</key>
			<string>4f97bc9ba21e3535e640b3a69f0b88ae260506a499a991ece2b1b9797eba5052</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fa0abf89c62f9be2e9d724ce8ff92965</string>
			<key>Key</key>
			<string>eddd34308ec6138bfccd1004e9ea03e7217dc685e92515613d0d06135eeff71c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>375ba6d2e9d7672eea63eb82d0f57740</string>
			<key>Key</key>
			<string>5185c929da14e514a01682db880745130dade64cc37b45743ae22e6aa934c93c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>adbfb0dfa6dce65660609cde457b054a</string>
			<key>Key</key>
			<string>5bbaf8312442edb3d59294ce29dc0ea6bea63af39fd87268b907e63fe13be670</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c9aa5ab96c829f7b9f47cce1b4356ecd</string>
			<key>Key</key>
			<string>24241840a44b70cf246f05592e6a7b021988e52b6dbe958abaab166c1ed0867d</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>56300a3840f956906876e1f7420323cf</string>
			<key>Key</key>
			<string>f8ee708c19bd4db6c2360db5e29477e225efb765d7afcf12f613f08b0550102f</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a8884d9ecf228f6752d7fb3ad1b9c040</string>
			<key>Key</key>
			<string>fe33f3ad445401133412119ff882a00399a7817f30f1d941ff5816eaa3fb2c2f</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n92ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>684d923b700c4818a71108e3561da62d</string>
			<key>Key</key>
			<string>6abafff4cbb08b87a155229fd12362956d18e140e828d02408ddf89e9f3aa4bf</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6abf8e2e3b7064ef3a4f1fe7179bc446</string>
			<key>Key</key>
			<string>3ff42737a62d84c27032d07a63c1c73c968641c8f05ee18eaa000d4c9cd4f3be</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3823055190c8a240e9661a7fc8e725b</string>
			<key>Key</key>
			<string>59b89f21b321a686fd180e03eedd515871631250bf4ea4d1f77da75b68cf6b0b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n92ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d8cf8b9b2043b88a29ee63d01ff900dd</string>
			<key>Key</key>
			<string>5c06fe1539c5bc1e9ad5ae4025b682cc08ad5e256c4e844828e7bd3186627fd6</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n92ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3ef0eed3c4b75ff88457ca9c211a3a06</string>
			<key>Key</key>
			<string>d43c73017f98e93d44c9a75bb5cc5d3fa048d3c17ebec2241e960fe72ea95c07</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n92ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>23385066017c0b14542736d5308fc9bb</string>
			<key>Key</key>
			<string>7616fe3865cbb9c98e764a0c26c4911d58f14048cf3faffa50417cc55a6a296b</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n92</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a35253bfe85a1d616d23287472a136eb</string>
			<key>Key</key>
			<string>020f9e1d9d974e8c267637e1d0a503cd8d49c1c967ae723440558df2859e4ecd</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n92ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>840209e3f607dc63582bfe02b88fd930</string>
			<key>Key</key>
			<string>3a0c2dcb0fb4f7e01495cdad7947f2ba23de48d01fbb370f10735110d08e52e4</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>62f2dfe6ff94d03594e2f840f7504105</string>
			<key>Key</key>
			<string>74ef80744cffa9ed316defb4f8fcae8e9380c21a92283f9a9627525a611f6443</string>
		</dict>
	</dict>
</plist>