<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>1.1.2</string>
		<key>Build</key>
		<string>3B48b</string>
		<key>Device</key>
		<string>iPhone1,1</string>
		<key>Codename</key>
		<string>Oktoberfest</string>
		<key>Baseband</key>
		<string>04.02.13_G</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-4037.20071107.5Bghn/iPhone1,1_1.1.2_3B48b_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>022-3725-1.dmg</string>
			<key>Key</key>
			<string>70e11d7209602ada5b15fbecc1709ad4910d0ad010bb9a9125b78f9f50e25f3e05c595e2</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>022-3726-1.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>022-3729-1.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>BatteryCharging</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.m68ap.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.m68ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.m68ap.RELEASE.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.m68ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.s5l8900xrb</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.m68ap.RELEASE.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
	</dict>
</plist>