<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1.6</string>
		<key>Build</key>
		<string>10B500</string>
		<key>Device</key>
		<string>iPhone2,1</string>
		<key>Codename</key>
		<string>BrightonMaps</string>
		<key>Baseband</key>
		<string>05.16.08</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-2955-001.dmg</string>
			<key>Key</key>
			<string>7ab6f9149d78ade9b6900740a8312d6f81bf75be6688e72d9048fdf1ec0f231e1e6c3705</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-2900-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ba66476a54ad600fa55260a666d3a985</string>
			<key>Key</key>
			<string>7175f3b04b21dc4f2440396c99a715e1b491618327c8df71068c632c4cd80baa</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-2889-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>702c4aebddc712d22ea41c8091c40ab9</string>
			<key>Key</key>
			<string>7daa8741a223df0672513b95852a1a78f7055867872fd5b4907fc158735d9abd</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>33787ba6a52afd52cab7080e96d01056</string>
			<key>Key</key>
			<string>25ec25f7f2962bc8f655cc039aa463c2a0d0a1f78db7968f741ada0ba37d9ae2</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a0cafdd35eab1173e11426ce22b5bdad</string>
			<key>Key</key>
			<string>e13213da988fcad1aed77ca633c8d29edc09ed3a6b085fa1bafb266c3166c9d6</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ec363ce36dde9c38b0da8854dafba4bc</string>
			<key>Key</key>
			<string>8d22594b449e1e3e0b81c5787b7f3f031d32ce0bb3a49669f2e3f5af3ae0c7e8</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6d4ba41ac089df46f51cb6c3ac2842d4</string>
			<key>Key</key>
			<string>c01c6bf1111d805014891fc0255340dc263b4210b10b7f9a24b4930eaec7ea9e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5cb98586f96f522d62feeeae448ae29e</string>
			<key>Key</key>
			<string>6e19b5059baf920d3091156da3bd0da1737ce753897aad036663d73a65072953</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fdf275bcef9e32c83980aa1a6197bb2b</string>
			<key>Key</key>
			<string>4590a3fd9532b5829e5966eb9b3eae16166776797ef849bcd7114d03a0e33281</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n88ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a16a5ccd5caf61d6d6531fcd1cca939c</string>
			<key>Key</key>
			<string>2da1c0226ba06b05404523810a5c65b0960b0c2a7f08f34f2ec6b41f4ec755ea</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>65f87f7a6cf74f16860ac8a5631d1f1d</string>
			<key>Key</key>
			<string>fa90e530fde7289bd8c13f81bc27009ccde8e74890187554204afb82b6ff5851</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eeaa044ecd79e5e4fbf30b9dc6fba842</string>
			<key>Key</key>
			<string>833b360e0d1e38a0b3245df42e8862c14f6a877ed0b609acefb063385b456a9a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n88ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2c10d1e17305cc3968297b9dd7733a39</string>
			<key>Key</key>
			<string>ae86446dd5300ddb962de73b44cb02d05f22a368a9aa175d8e78c2b1737b6231</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n88ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a5abb50a839fd6a71b64670567cebef8</string>
			<key>Key</key>
			<string>3ed29e53b28b4cf05eefa219d99b9d518b6cdfb30294529545df698e6a6d9afb</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n88ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7378889b55a5b6cbe67d54958b3126ec</string>
			<key>Key</key>
			<string>075e4c6d7634f89cd0dadad8a45b46b839b456a7348857120e041530872ae32b</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n88</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>99f4981eabf125e0d4936401bbe8fe66</string>
			<key>Key</key>
			<string>aff35a1f2b056d1de3216d68e837531fcad24f2a31512d59131e289e5c607ad8</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n88ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6cd7721b9a689e7cc8667fb9ee8724bf</string>
			<key>Key</key>
			<string>af6889f21968a37165b17b148722ce2d4ef59ec4bdd3932c6e0dc5c60cab7413</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~iphone.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>70cebe3a2f3e2e5f734648c597b667cc</string>
			<key>Key</key>
			<string>e8cf52ff07f33fa3e5e1ea7aa59c22e1bf00b2437a54cea8606c03e08773e99d</string>
		</dict>
	</dict>
</plist>