<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1</string>
		<key>Build</key>
		<string>12B411</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>OkemoTaos</string>
		<key>Baseband</key>
		<string>7.03.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS8.1/031-09568.20141020.2Dfj1/iPhone5,1_8.1_12B411_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-05194-079.dmg</string>
			<key>Key</key>
			<string>249e918e7c66621b7fa2cf85fe7d6ec1a12ee3b0066dcaaaa7a911f39cb5b108efc847ef</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-05144-079.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bb2814bdef51b11f27a812e58925a4a1</string>
			<key>Key</key>
			<string>f1aaeb6b48c3f71d7895fe1915f81b8059e9041168e48e69f0a58ca90ab2cddd</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-05086-079.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f26d4007b3aa134c9a871f9d9c51e9a4</string>
			<key>Key</key>
			<string>a65eac7868f0681d8e3f2485ac8848fa4af47c1b7a67f202d3a66f68a19931d1</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ec515228176bb4fbaf65ffad9460f09c</string>
			<key>Key</key>
			<string>8f256264d0d3cb8ee47e4372faff6b0063790c39de912f2ecf50a55c93dbdb4c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b3186c81fe6d823fe6fe973cf2b0c3af</string>
			<key>Key</key>
			<string>fce1429f4199a01b7ca79df9e5930aa2c0364165b9208decda96634b6a09e038</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d1c4e330983446167145ccbb6db714e9</string>
			<key>Key</key>
			<string>d67f3684f8148b42a3c9a506cee7bc6db109003742916d754085c0607cc1909f</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>85197dd80c7d61ff183c4097658a725e</string>
			<key>Key</key>
			<string>8747954e97956c8b3f99e5939ee5fb551cabd66c632847b0286db9bf0d81e18b</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ec5454ea241d7e3a7df6b0a24a30bb1a</string>
			<key>Key</key>
			<string>540c0ea95c53253e177ee79a435252cce718bbbba7154477298d04b0b3cc4b52</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>59c55377860c86574575b51aa4de0a58</string>
			<key>Key</key>
			<string>02fb3d38224a2549a2c4e1dba67dbad30999bd5da609bccc205e8edc03fcc8f9</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ab39ad5b49e9ed4a1ba84f4eb36602ab</string>
			<key>Key</key>
			<string>f9bc14178b87f6b637b9acceac2537940ab7a01dc4c824606640331ce7ac375d</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7b1f67d82e4fa309a8f5b29e3f218f7a</string>
			<key>Key</key>
			<string>abfb652e4b14e87b183db7cb495914a577b1a869e7669dabad148a876e6f59a3</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>04bd35d8000fcad0648dfc94ae890ab6</string>
			<key>Key</key>
			<string>3e1eb34ec39bc51a4f60787bc05be1aa2873f6b5e6469f81a77a975f5ffde278</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>03007d2a68ad3c8aad082ed831eedd00</string>
			<key>Key</key>
			<string>93e54ec32d39adc6bc600abe53e5896df654a6bd1f916f1fe2ebcbef2cc3808e</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ffcd961db8f6dc4c58603718e19d520a</string>
			<key>Key</key>
			<string>4168c67ae53068a2e999abbd358139efd569de3867a25684a961ae722c2950e9</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e8d7390d255cee458030a14bd946ec06</string>
			<key>Key</key>
			<string>29728815b784449e975e36bfec64d0a94c5f6da96056107e818e53a957bf43c6</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>20f62f033925f4f6b9d0fad09956ff45</string>
			<key>Key</key>
			<string>61108cfc9e6279c439bccb3c87b2031fccbe41cdc2220a87e648bae0f6d58bfd</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dc1aa074a708e253e4c09d5d1e4c4a77</string>
			<key>Key</key>
			<string>caef1993385e4bcc66cdbb91f7c5cf053a12566a0e455a5727fdd3e298a14ef6</string>
		</dict>
	</dict>
</plist>