<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1.2</string>
		<key>Build</key>
		<string>12B440</string>
		<key>Device</key>
		<string>iPhone4,1</string>
		<key>Codename</key>
		<string>SUOkemoTaos</string>
		<key>Baseband</key>
		<string>5.4.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.1.2/031-12334.20141208.uTuEB/iPhone4,1_8.1.2_12B440_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-09779-017.dmg</string>
			<key>Key</key>
			<string>ae52bd8ffeb5ab6a96637c124fb2d9b820ceb232a2a469e4690b29967b8ee764dd298ecb</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-09869-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>58c7178443ba1bcaf70b35e5883b9c7e</string>
			<key>Key</key>
			<string>6de57beee257d5f16820aa019250590dfe543e859b2fc734c57fc7e4bdd0345e</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-09642-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1877de077581ddcd94f9d7d5d5fb6146</string>
			<key>Key</key>
			<string>578170763ce0f688313fea9983dea10c32ca17ea0307fcde96ec3ea3f486f1b3</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7801a3998c46736b88fad3a306c688cf</string>
			<key>Key</key>
			<string>39b8ad8b5f7af3fcd215258bb2a60a0b96b4afd6074660b5adbe9fda1193ca33</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ffa653e386178620c207de5b2166f2bd</string>
			<key>Key</key>
			<string>9c1a11bcb3ff4a152bcd341ba95c068536e6f4d3e57c0b7e36dfe110d22f186d</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7f9195df82bbeeafa2ed21add6e44a76</string>
			<key>Key</key>
			<string>4dbcc16e88655e0148d76ac0b77beffd7281eab28eb1bbe89e8302ca67b326bc</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>22c287bf4cfc22f0854e3b127d861c6c</string>
			<key>Key</key>
			<string>decb6827816f2734af66329b81f117ae0a42bcde5ef64e18dc80c1c2bf25ffab</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>68fdac19d23eb4023bfdfb8327072c72</string>
			<key>Key</key>
			<string>2cd690822ae394d95e45426ffadc7206c20be69b15947afcc34f8d8ac5498830</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5d76dca6b4beb14e16dcb015a2d4a879</string>
			<key>Key</key>
			<string>011e788254710f0d580e358cd0b6bee2e2a9441d06a53e9968fa67d66d219cd8</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
	</dict>
</plist>