<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.0</string>
		<key>Build</key>
		<string>7A341</string>
		<key>Device</key>
		<string>iPod touch 1G</string>
		<key>Codename</key>
		<string>Kirkwood</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-5299-002.dmg</string>
			<key>Key</key>
			<string>16fdad25424dc17008728e89f4900b887732dcc5fb48eedc9f1c9433af558db705eb0577</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-5303-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0dc67d4f50ac62ee142b99baa569d0f4</string>
			<key>Key</key>
			<string>5a0f82979f336baa58ed37926bd89dfe</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-5305-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>caca33f1aca029320d60873a4deed68d</string>
			<key>Key</key>
			<string>9962589aabb4d5ec56b7a867ab5b11b0</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>30c0cb05ae49d0484392261b2c8b21a8</string>
			<key>Key</key>
			<string>f9841fa3197f0bd9fd162ce170c5f6f9</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dce93ec9df98cf590c0b792bcbccca8b</string>
			<key>Key</key>
			<string>a3f0c602763852309469648116df4722</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0c794909235d360af8a2aad92b92c281</string>
			<key>Key</key>
			<string>6eb1142e1f77f87687da00c796e4eb61</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>04bb4dd56ca411dd5a6c4cff06eac5e3</string>
			<key>Key</key>
			<string>e518c7f9df797bc7a9c5e7256a6a85dd</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6ed7927936a0b7227ade1cae7baf6a8d</string>
			<key>Key</key>
			<string>b6a8c1a9b7dc523146558422305e2237</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eb3a27a0d16927a3be24bf4f7e75df21</string>
			<key>Key</key>
			<string>7bf6775691685437193e089299979171</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n45ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5a95a408a33a2eb241aeb1639e3d163d</string>
			<key>Key</key>
			<string>cc773d599c67e54203abbb72f345f3ed</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c62f0a6d0c296b1859599a614ecabd80</string>
			<key>Key</key>
			<string>f5a6ae904d976741cbefabd527f5027c</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>38ff24afa0422c6be244ea0be00ce12d</string>
			<key>Key</key>
			<string>689f91dab29610b6064e450901f3d87f</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n45ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n45ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1dd17716257f652079ac43e04718610b</string>
			<key>Key</key>
			<string>7b638c51ccb3d69dc2cdc0ac5faea3d7</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n45ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a4db9183cd79722b4146c9de09ab29c5</string>
			<key>Key</key>
			<string>02418105dfb3be2af2a76248e026f702</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n45ap.RELEASE.img3</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5827a2f59a92f6d3ed16712a2185c9d7</string>
			<key>Key</key>
			<string>6a44e62d072062ba03b5b634a67d6b20</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>848d4cef8e4d8182c3f10062cf5347fe</string>
			<key>Key</key>
			<string>5a56972f4750335c448f3219269ed202</string>
		</dict>
	</dict>
</plist>