<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.1.1</string>
		<key>Build</key>
		<string>7C145</string>
		<key>Device</key>
		<string>iPod touch 3G</string>
		<key>Codename</key>
		<string>Northstar</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-7163.20090909.NtstR/iPod3,1_3.1.1_7C145_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-6030-001</string>
			<key>Key</key>
			<string>de14c16e21ad5bb12fe572ca9400d29a4443ff208ec49c120ad72d6c3269fd5553047cdd</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6044-001</string>
			<key>IV</key>
			<string>8d41dc41fbf2ce35f7f39379db9da6dc</string>
			<key>Key</key>
			<string>f6d8841f668c6b16c51b9a8862889b831f638326116b46444f8120f914b36437</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6045-001</string>
			<key>IV</key>
			<string>663139ba9ff0d04dbbd68534629994b7</string>
			<key>Key</key>
			<string>7345a9977b97937c4fca2f53a1475aff8d5d39e3b91191110b233be4be7d281c</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eb6f0478ac0b4a902cce8bebf77afa8a</string>
			<key>Key</key>
			<string>65daafbec249d58f8f2d78589f66877113bb79e3ba912ccf18d9941bf0f64a74</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>374efd2b1db74214128b2e24891dbf6e</string>
			<key>Key</key>
			<string>2eb38a225e8c98a06f497def9dafa6f60ec2e094a8df77875070af162c109d5d</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1c7cdfbf9b5756247cda6bfc3b774cf2</string>
			<key>Key</key>
			<string>9aaa525c265d8b1943354a366d229134222bb5b80df54a25eaf5601851133014</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e1b99c5b491a6c9dc2ec421a10853b1e</string>
			<key>Key</key>
			<string>5685c34824a7873ef1dca42dec535efbf202e0e90915d2acc8c36a78283671b8</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>faa718b1c6dc3319fa0df19c3c41e880</string>
			<key>Key</key>
			<string>b5cad03239fb583c706b685d331a0b614df85803dc63fb1d68580b510577f1eb</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>98ee6dbdebd0b598ca1539b5e134f603</string>
			<key>Key</key>
			<string>99d615b96dc99b9a412b4d7c6516db0d62dc16262b9e11e966c529f52056b502</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
	</dict>
</plist>