<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>1.1.1</string>
		<key>Build</key>
		<string>3A110a</string>
		<key>Device</key>
		<string>iPod touch 1G</string>
		<key>Codename</key>
		<string>Snowbird</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPod/SBML/osx/bundles/061-3932.20070927.p23dD/iPod1,1_1.1.1_3A110a_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>022-3642-8.dmg</string>
			<key>Key</key>
			<string>d45b837ddd85bdae0ec82a033ba00ea03ceb8c827040034f7554c65d6376472844b8dc6a</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>022-3656-1.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>022-3655-1.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
	</dict>
</plist>