<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>2.0.2</string>
		<key>Build</key>
		<string>5C1</string>
		<key>Device</key>
		<string>iPod1,1</string>
		<key>Codename</key>
		<string>Big Bear</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-3976-1.dmg</string>
			<key>Key</key>
			<string>31e3ff09ff046d5237187346ee893015354d2135e3f0f39480be63dd2a18444961c2da5d</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3984-1.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>537eb4e7129ea81f572ec23dbec42b80</string>
			<key>Key</key>
			<string>cc028fd29dc27f895e401d9865e72100</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3990-1.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e3ae96be1b77d92431e9458381cffdc7</string>
			<key>Key</key>
			<string>0efc377a2982a98b2ab2e3c098a12908</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bf67cfba9160ad7dbdf44f2baf176458</string>
			<key>Key</key>
			<string>4b69f6c9eed042cacf89fc575ff3b193</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aa35ebd31aa4b234942c82c9cc554da2</string>
			<key>Key</key>
			<string>82ada2c6ded2d09c3641dce0a6e3b994</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8a75fd316a6ed1c50ee361560b3d2ff0</string>
			<key>Key</key>
			<string>5710d5ed5ecb579dc5ce19637968329a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n45ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be606c8201a122182df9b0e3db4a9bcc</string>
			<key>Key</key>
			<string>dbe4e063c3e863e4e8c4a2492b44b50f</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6aad442a5849a45688fbcd7bc409ab9c</string>
			<key>Key</key>
			<string>855bbebec01ed2f1e939370645863fac</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b2866546a751f9d6557c37e761c28401</string>
			<key>Key</key>
			<string>117f24929aa7c66e67d5ead2a0972780</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n45ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n45ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f7e464f98b0b7fe6dfdbd8d0a7f239a1</string>
			<key>Key</key>
			<string>524df80669f9f0237f097db25e8e0c6b</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n45ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n45ap.RELEASE.img3</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a722c93e4a9dfd101e673cab380f20c7</string>
			<key>Key</key>
			<string>3bf51c19a575f709b8440a88426cca1c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0e1504c70c2b7eabe2488a5bf7b1ac60</string>
			<key>Key</key>
			<string>2e5d3470a5a1c9ab8b6c7c334569e86f</string>
		</dict>
	</dict>
</plist>