<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.0</string>
		<key>Build</key>
		<string>10A403</string>
		<key>Device</key>
		<string>iPhone4,1</string>
		<key>Codename</key>
		<string>Sundance</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6/Restore/041-7181.20120919.lEuOK/iPhone4,1_6.0_10A403_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-6503-001.dmg</string>
			<key>Key</key>
			<string>21e902c9271917f5fd20da31c3b1e89b1818c1546db9032b36482e3d6726b0f83fa45a17</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-6458-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>75accbe9bb6e8ce0a169c2d693f92a5d</string>
			<key>Key</key>
			<string>3000949d24aff9c18f92b7a7e467af3f8af030a678c8c3e7dbc3bcabc5645855</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-6455-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c91272b20b7d3097020bd2e8802f2548</string>
			<key>Key</key>
			<string>4b8c380e31322dbb1f51dc39979687722b45e0e85539d307fdaaa556d0fde7af</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4d9f018790f93859948a1539db06dee9</string>
			<key>Key</key>
			<string>6fe6f5797c04d077e6e14ac04f66bb8b8bcc493450ff335d708478f1732fab30</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a8f51ea306af6e24cae4a7053e979d2c</string>
			<key>Key</key>
			<string>746a3663b3f5233583fef7ffba998d420dcaf85a163b3ff714ddbda7fd89acaa</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5e574fa08b0954f39c06287b016b2055</string>
			<key>Key</key>
			<string>78d4f025a33ed7ece71ef4e86e9103575a21021e95527ef43fd515f461a1a354</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>83521db08d714c34ba93aeeba91ca7cd</string>
			<key>Key</key>
			<string>b4720a7fc620b11e0619386473d31f3e5b9e81c00de885df7d7cc78a45d0505b</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c6a613c3cd9b20d58acf258269f59472</string>
			<key>Key</key>
			<string>11af4980e1284a7cdaf03788ed6fe6f61db303ecd37b7bf04ba711b81caeb30c</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dea4181994df38a850b862285344dba3</string>
			<key>Key</key>
			<string>dbf29b8d8f3ec517103fc04e5290ebd9e1a23b98267f42d01fdef5c1b4b44388</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>24648d62f2f97c23f76ad306010ab535</string>
			<key>Key</key>
			<string>eb5657347635d84459fd935400f861a80463d53ecc2aceb69ae1e938501499a8</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>711aa24291436694b8f36fb8ad982d4d</string>
			<key>Key</key>
			<string>0a5f35f3a587df738420ab05ed1b38b71bac46e4061473ab3f8426955d90cc7b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e038f5a16cf3d00174de58c1a6fb19d8</string>
			<key>Key</key>
			<string>604a91095ef07e8597db158b38c9b6dd8175aaa17cee23ccbcd62f27b9c40e0d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>61e462d591adb56130d58f17cfd11522</string>
			<key>Key</key>
			<string>6c764f79c8ac0f775a41a6e99de09860a0f8f5f478e5433e8dbd14f6aa959a44</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c949cd93f6a4f68d33560ccbc9afa62e</string>
			<key>Key</key>
			<string>eda6d90a9c75948701644e3efd61ca7b524819ff35a5137a99b0d6d1ee10f983</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>219977f4df2d5468b9b9201232437fab</string>
			<key>Key</key>
			<string>cd3a8ffca03859844b1bbc809a1e068df319afbd847453f27958a3c734d09f52</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8dcd3575e5fd5acdf6590ceb6ed3bdc9</string>
			<key>Key</key>
			<string>0368f01ba0b6c8f7bdef6efb82dbd90e40eb13467008c682ca9338f872013907</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>05ca926bf3aa497e3df80beafcdb5808</string>
			<key>Key</key>
			<string>3df5952947101ec2c805547d3055569dfe5f46cbc210429e760f3b1126b0604a</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>38e48f5fb4631b5b1119764ed6658e5f</string>
			<key>Key</key>
			<string>3a5d224a97c8b0f65f263e06998afd045f7685246f3cd08e7a6f1b96aecb77d7</string>
		</dict>
	</dict>
</plist>