<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.3</string>
		<key>Build</key>
		<string>13E233</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>Eagle</string>
		<key>Baseband</key>
		<string>10.01.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-25457-330.dmg</string>
			<key>Key</key>
			<string>16acfc1720a6b76b1766c0fcf96d54947d86b2881949173dab4ba7a5cb661067904b3dad</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25495-330.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>da304e97a648f072185b4a287b9c8364</string>
			<key>Key</key>
			<string>ad9e527a0197000da78f9534153b356713dc6c0f1c7e696c4294c994eead3fbc</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25683-330.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>53464771aeb02c4236f6744ed0d69648</string>
			<key>Key</key>
			<string>ffc28b6435effe70af216cf270f10ac75074b289953220aef6e72b097a1644d1</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>931401a026483d437da48ca52579ebd8</string>
			<key>Key</key>
			<string>940193f33deeb8ddc06635c525a97a63a9ba41d1d671851e222a13b34aecf83a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7d897703ac50d8db7eb418ca2e85c6ef</string>
			<key>Key</key>
			<string>a897da035c2170f2fc926218824a03cbea520e31249a2dd9591c405a4e331435</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5cae571cc2858e0b6ec4c484aa177713</string>
			<key>Key</key>
			<string>94c49a9fb076cd8dfb3f9e41223eac9cdae44f047885b93be69b57c0809ebbb6</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ccc1c4f870e2598c3e133ea2dda44ce6</string>
			<key>Key</key>
			<string>49154bdeb3eebbb61ae7e43ecac49764107c875650b8742bf0595a1727162e15</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>621886ddba6dc2fbad10d0519f07d358</string>
			<key>Key</key>
			<string>cc71c3cfd5ee0b1f47fc93c9d070c6d4f6c0f477a2e5d3f3387d79463023a4b7</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d4934d2a7c2baef5f96d2f34a6822f49</string>
			<key>Key</key>
			<string>e2db628ec263b14e7116edb4fe37c0dbe80a2d8e75a57e0294660718ae8f1210</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f67d9318e7e549ba632d0d75769a13bb</string>
			<key>Key</key>
			<string>285227a23a4ed44e7b93afa1260eeda721f67963a82043b268c5fdb30219bded</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>03a6a022b3ea2ab3af7a6e559dbc9061</string>
			<key>Key</key>
			<string>6537777fced3d0016de8bb567bb07283cd0f585446534a8a3972de139f1c1469</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>306c56ae95ef9f5548228367952bfd32</string>
			<key>Key</key>
			<string>5ddc4120f7d0a7852f4850218210a71f0e3a8f80c6aca24baac6dc62b6ac9bff</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7a8f5714dcca2c395b02463e6e3e5cc7</string>
			<key>Key</key>
			<string>4c5caef477f510cdb4ceeba203dec11d3c5630793ac5f038523c97176f72dd7a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cff2338b03364f339fc9a41bf60697ed</string>
			<key>Key</key>
			<string>6d9267fa9e6c819bcc904adb2d1975b60472a8d9137f7a2f2013b8b0bfb7d0a5</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1fa1b710cd3189e31a0d0b0a28d0624d</string>
			<key>Key</key>
			<string>9f2b24a0adcdc4e4fb572f6c6b23f1f54d912743b72a4d21ef52f930fac18db4</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e62be5e480dc8a7ae2b068047f35a6d6</string>
			<key>Key</key>
			<string>ec256e546e35611373b4d6bbd2e00c008824cf6493a39913bfd32f430dfa6ff1</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>efd2e3e3798f34c57690a9826c1bd940</string>
			<key>Key</key>
			<string>2f07b28fc6a41d526f9e46aac28e300f227ffc3116b69f400bfce3b67d8bd89e</string>
		</dict>
	</dict>
</plist>