<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1.1</string>
		<key>Build</key>
		<string>11D201</string>
		<key>Device</key>
		<string>iPad2,3</string>
		<key>Codename</key>
		<string>SUSochi</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-00338-002.dmg</string>
			<key>Key</key>
			<string>151467bf27127996b2bbf60dafaf73f569df7e6c7b1d9f11513a71e797be2293e9a6bbe5</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00363-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>393cc98f80f209f0527a81ee390cb23d</string>
			<key>Key</key>
			<string>9849cc980dbf972026fb6625b8757728c73a5bbc2d5f8312909058a92464f0b8</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00183-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fb356f706b200bc8278d5d401decc9f7</string>
			<key>Key</key>
			<string>c1e3838d01c52e73b26b2d9128a68450bd0b0722b933164d30f5f2e0753c4877</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>15ecdd75dd4a4a0ca05b2d248c469217</string>
			<key>Key</key>
			<string>1c3c7fe8f1f87687cb68ce9c4f9243ced41b415fea0ca0e3793559a1407e1b8d</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7c49846a65f5715cce669f2cce1090b1</string>
			<key>Key</key>
			<string>14238d95f17d7714405cb5c51a15168151d09214ef96f633af23d3e4adbcda59</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>352ef949edf2dd6c77a5fecbf0c511ed</string>
			<key>Key</key>
			<string>684bb9c3d4c7e2c1fe6051649a581f20ecff7912f8433a1ba252f819484db24e</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b940a11e73f260b023ec09019512530a</string>
			<key>Key</key>
			<string>b0230d3836af0f5da2db232b7110e48d9370d3f75f8d206c4be37ec445e423e0</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>07bdef82c16f09d657f2abf3766a28bd</string>
			<key>Key</key>
			<string>c048c414b87d961b906b90865bbc3db0bf1a0e6ea1f69208428d9c9666e9c849</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>788a867a1f8a6a96d72fbd472f95d009</string>
			<key>Key</key>
			<string>cd6106947129070b92fc2da735af470a79d01fd3dc7061599e4e496a43e3cd9c</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ed942a1324143d73cdd88f535a725fc8</string>
			<key>Key</key>
			<string>4d0fc5557c755a4e23ec8c3c886c4911bf8d1c2433bb7686ccb881a22b368e2b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aef21480e01cce4f5c494790d54ab0ca</string>
			<key>Key</key>
			<string>0f6e51ff476dc6cd109a7024b12e62f25b701faf6f1c026635c9ff729529572a</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e9c3762f923b9d8de7e8ad8f8bf68d0</string>
			<key>Key</key>
			<string>ffb035230d128f2c56aab918242e237de9b80c90635e9a6ec9415c65dedeb078</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9ea4ebce491be82a3645e13abbd97c25</string>
			<key>Key</key>
			<string>871f60f73e7e5c7fd1c5092f3b121c99ef27c8db164198696a336a4090fb2bfc</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3300a54f50ca213c9dfd4a08740ef220</string>
			<key>Key</key>
			<string>0c2b17c7400d562a6f251ea9d498e15b7f581ba48a245624503abf70e50133d6</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e61f3e86aea1ff5e916b81681aef9d4c</string>
			<key>Key</key>
			<string>47c09b026da8a3c9d587cbf1d0ee2ce4577e7cfdbc8b80fb1f179aead75d7ca4</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b6554d83626e883811f6f3ab6650cc6a</string>
			<key>Key</key>
			<string>ad03064f89960fe87d4fc82b63a53f3b07e64fc19962a2769dcb41079a462050</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>597b2b0854ec294826641e77254b8ae1</string>
			<key>Key</key>
			<string>c340cb6654e1352fa44b919874bd11ba64cf9eb72e7ce995a8a936a8782864ed</string>
		</dict>
	</dict>
</plist>