<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.4</string>
		<key>Build</key>
		<string>11B554a</string>
		<key>Device</key>
		<string>iPad2,1</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-1113-002.dmg</string>
			<key>Key</key>
			<string>f1a5a402f868801ef7e249c9de3e9a4c575bfc155e449f9102fe7d70c6f5c5fbea296089</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-1124-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bca3d74b0c8fef504a1b02a39367b564</string>
			<key>Key</key>
			<string>0747346962a2ab51c0a1d02a9dd6c3de68b41b025fca5c563fe5bede1a96961d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-1077-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5963f168b56117edb21254c7f571b8cd</string>
			<key>Key</key>
			<string>185754d63ce63a1aaabd3fcacd7f0242fed5b154b4661659fdf4485e4e9f2d42</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>53ff4ba00b0b9aeddbc7987efdb640e4</string>
			<key>Key</key>
			<string>ce6029e9747793549583f9777fef03218cf392f422579529382507aa0b66018d</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>88badb01e5a397e2ba1c142fc0966025</string>
			<key>Key</key>
			<string>04ffb07d5201a799f4eeb76612d4af4b0b3a7eb36c949b57099f667522230dcb</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>409ef707b5e77221446b4ef56d4a7b77</string>
			<key>Key</key>
			<string>28c20f186b4381a4e96014ca5dbd0eb7b28c43bbf0c23a97810675eee83e33d3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e05c81b9055988970c88683866d1a600</string>
			<key>Key</key>
			<string>aa6b067d1d78e121ebbd664fe64cb47e44ef99f665b4edf6d12ed25ab7094182</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>15bf7a8eb2ffdeb84b337534a6704365</string>
			<key>Key</key>
			<string>5e16b6f1f164776f83b8155bc3bb8c3e7462e7333a4e48e41ee31b462f5fb299</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0ff59f2e4f0e31f298cd1951ccc4dd7c</string>
			<key>Key</key>
			<string>312a5dfdefe6543216b14ef0bde7b3b842039271575297e89c98ccf061eb3df1</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b16057b5c7c76f10bb6f3051374bc3fe</string>
			<key>Key</key>
			<string>d2ca8b4c09c50e9edfa3937bf0aa887c2f1fccd1bbfc4dde8a29818ce85bbab9</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1f177ca1089c3587dedea5c8e66d365b</string>
			<key>Key</key>
			<string>980b9602b5b397b46b0dc3c36a51f7b0675d0d04b6e1a5fd2ced5e0e9d099292</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0a40a4f06a8812ec812651b8972ebc24</string>
			<key>Key</key>
			<string>b90fac31a4b88333cfe45c5742891f8432accc3e3173e3fba8960b5510c5e7b0</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9c587a58cc881ad93221bdaadd2d1177</string>
			<key>Key</key>
			<string>72c378f36c44d945c92772bf1859582f4f24a8178cd50f1d0eac7cb43539695f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fe2c22952b6eecb46be3c323aabb296e</string>
			<key>Key</key>
			<string>9dd3e92f51d811efc520879e3ded9c9a59ed773057a681c87d74db043c7a4cff</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cd0ba286c4398b89ef5f1e810c76b97a</string>
			<key>Key</key>
			<string>6a10a5b98a1f2f2c123f5bc28edb1546be3707cb2211f27f7240b147ec96c812</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>62ae00bbd1a0579e6c4cda42066605f3</string>
			<key>Key</key>
			<string>7c39a90d41cdfc4925e879d2ac1fdc53aeea7c7955d2d9a0ac54eb81a2f263b8</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>15aabb1e86bc4edb1bdf4c88e2631338</string>
			<key>Key</key>
			<string>f8d95301436e0c5f8cc9eb75885a49b581078db5d3f91920bbf798785a6d32d3</string>
		</dict>
	</dict>
</plist>