<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1</string>
		<key>Build</key>
		<string>11D167</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Baseband</key>
		<string>6.02.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4338-001.dmg</string>
			<key>Key</key>
			<string>42f3f65ad9ddea56f2f97ad3c3d011d88f2d86b2f3c9df22053c42b141a883462426ed64</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4336-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6d45ac7f01a3dacee617d1e5825a65d4</string>
			<key>Key</key>
			<string>530994468ce48b299a3e6e56e317658d22ce3b346c03a582db52f2606d9635cb</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4429-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1ecc5ded74dc882b7a9dfa4e1b01285f</string>
			<key>Key</key>
			<string>41091dc8461dc3c9058820de02d7549c4ffb97ed970f8b112e2282f0b13f1377</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6cf064ea36d7eb3ad6645e6ee5abbb76</string>
			<key>Key</key>
			<string>cc30982ca657eb22a4f4d71c48f176d02845eb2e08054a744c19bbe1ed571693</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ad9e2f241e26c7bbcfa8ecdb1334df40</string>
			<key>Key</key>
			<string>06ad7edf75a93e4a88bc7332ab83403d897198b8ad46b941f4a6e050a64d37f6</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6fbd792d7dc5ddec67d4bbb4ef0a993d</string>
			<key>Key</key>
			<string>8f345494e1a2c42ad9edcdf9f2d3fec0d6a2a9b60eb73a6e3475b238308faec9</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>44624265596c4652eb610ab1cfde7049</string>
			<key>Key</key>
			<string>355caf5c839bf737dd470982b10f0de0fac403127387b7631076f61fd5399f58</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>08bcd7d15980ccf1eb20b0a055140645</string>
			<key>Key</key>
			<string>6db5568d2c742a416387bf69e750ced7bb1a92f862e0592c7b63f3c74b6a2348</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e1b2aba3be15f360c57435bc4f4394c</string>
			<key>Key</key>
			<string>d18e37c8c62da72806250b17982eddf0b77ab587ed755d4701168ed1442170ec</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3d80353176873ef4d0bc15b275bd1516</string>
			<key>Key</key>
			<string>1d075ccde505179ccf09b03eab294333c7c3d4c28da1589a5ef5be3581901719</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b3ef1c40b177abd5af1ada90b7a7e859</string>
			<key>Key</key>
			<string>2c3f9ad4bdc88d828f9498ff64b108b2f810fd8ce08c5a50f8605a15e792a80e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e5745ff00ccdf531ff327d183fe8a8b8</string>
			<key>Key</key>
			<string>c5d69597699c741248d4b8ecc7f351737d8241156d4016b31d91cea8a437870c</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>671204618935e068b0882c047d55cf88</string>
			<key>Key</key>
			<string>6536554ef181217fcddce626f547b6845137b9d9e5796d0c0b5a2dc6a96de86a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>08b52929345f7ac106f78ea5cd5243e5</string>
			<key>Key</key>
			<string>e0667c57b6a106457d2a34b9a163b81794a41c520e937c7a803cf14c2e30195e</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9fc338b82a277e7d33fb385a1003b738</string>
			<key>Key</key>
			<string>befd996fd625274d066311368181b8d1fc93ec4e0dabd094e711e450b8209a80</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>32be1a6b3c57022166000851b3205da5</string>
			<key>Key</key>
			<string>7a46dadcafc58bb4b325cca0a8a3c35a1f6412fcdc7dadb2e4f6f8b08cf5e5da</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>59a9303f2e064362880b55ce41c004f8</string>
			<key>Key</key>
			<string>82c6f3752360468eccd4d24988a9989b4427aa5510a4b91980f40dfd426401bb</string>
		</dict>
	</dict>
</plist>