<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1.2</string>
		<key>Build</key>
		<string>12B440</string>
		<key>Device</key>
		<string>iPad2,3</string>
		<key>Codename</key>
		<string>SUOkemoTaos</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-09838-017.dmg</string>
			<key>Key</key>
			<string>59c031e953282b55849d26f5a4ccf46b50d3fda25589d3bc87d43f6f30ca8ddc90c6ad88</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-09869-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2ec94f456790cf1615888ddc51dac321</string>
			<key>Key</key>
			<string>9b8b7f565a1b1aa9606c8c8a40d62dee57626e7b7c8a552d22fd7477993aed3e</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-09642-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1f9f3a0dbaa0b03cda2dc0e34a73e027</string>
			<key>Key</key>
			<string>b626d4cdc0135f7127ed7f30b8da8d883bf238da0049c540bbf45321d7ccf20e</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ddfa753dc8edcbbaec80059e6b4d42e0</string>
			<key>Key</key>
			<string>a6a75ec181c419c4c7a086fa96b27cf98a9e08cea8b7d7f1f3456799b0fb0cbb</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ecb445a447c732aac41863f6081a07ee</string>
			<key>Key</key>
			<string>914b8b7b0719e6320c5e965596a65bdfa83b34996cc60ce5c2b1696d1002e494</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>23760906d40b8705d99fec7f6081725c</string>
			<key>Key</key>
			<string>ec54f9066445bfba676cce9259bc3bffd7c17128225436babd5d4cc14b9665b3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cd8694a898d5c08709327a0628d6c6b7</string>
			<key>Key</key>
			<string>0927554a1fca70cd3ce2ae6ff80dbbbfe34435a91e425d1d33a0aa7fb2686879</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>46ec1451db8dd2c6e7592968c13b3f97</string>
			<key>Key</key>
			<string>1731ef382702c62b8dbb81e8af4a0be8d881e5614d78c1abdfabc3475a1a067b</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a5ab80fc6f9c18707fe2760e436dbc12</string>
			<key>Key</key>
			<string>8054bf437e5f71b31bba54299f7ad2be22742bb26672db22186efc6cd7f3da23</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dc1e7eafc839873da3f23ed2fbab661a</string>
			<key>Key</key>
			<string>3d911f0fbfff4179defd5efccfc8fd7aedcc27c7bd1be611db91c1e7892cf59f</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c99ed341ed308de2012c69787d5df68d</string>
			<key>Key</key>
			<string>5a6dbebd1c05b24249db9dbb70a5fabc89d481c1dd9f7a7f7dc5321932111832</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5eddde607dc8dddf9b3667fd3d960545</string>
			<key>Key</key>
			<string>9253e971aaa7fd5a7f12fdee7dabad3a34d9771764454276ddbe00eabe390b10</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>56715dd8867269f5052c83e934cf5767</string>
			<key>Key</key>
			<string>5ebc08b44db05fc0cd43110542da92fa518875128ea79f9a5fd2c29c7c2a6932</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8201c960dc2c07c78356ce017c303537</string>
			<key>Key</key>
			<string>b12f7ae8748032e35098c451d6013a6f890e5f8e5a9cf900a9ef2ba295f54dbc</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2d9aea2aa1aeb262db82e95ef8f8104e</string>
			<key>Key</key>
			<string>e463958e379d20f28223888e2b5de0f96f953f330ff3186d87a2846af5ca02a7</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ecd57804b69fccc93eae1f96a40aafdd</string>
			<key>Key</key>
			<string>3f85148cecbfcb7ac15a1d1608cfd169b4e13aa546e27ce6e18a826cbd01cbb9</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>111467c9159c7ee395f711252352e6a9</string>
			<key>Key</key>
			<string>ac784ea577c8113436b5b00175f433e2c60aeaa46f5fd0faa37408774add2d45</string>
		</dict>
	</dict>
</plist>