<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.0</string>
		<key>Build</key>
		<string>12A365</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>Okemo</string>
		<key>Baseband</key>
		<string>7.03.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04701-035.dmg</string>
			<key>Key</key>
			<string>1ef2afb8dbafc685b02661e80079f8897a5a7b36bb256ae98906fca03380a1af0f22658e</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04697-035.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2370120734034735df53d377b174df97</string>
			<key>Key</key>
			<string>69af66c2e9008b105b0fcb00daff8a94d5f0a343c10bc9431f477a330dd702c8</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04795-035.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0391765fe20028689983ed2085e6345d</string>
			<key>Key</key>
			<string>cdd26b53af346b275fb5028c59f328a15bab264e82ec6d466103afd4cdb6bbbd</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>47fd26254e422af24ddbb36aeb3e1e07</string>
			<key>Key</key>
			<string>ef6faa7874bf636f1d54c6d3531e504c30357393e47d17c7a13b5e0c0873bcf1</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4d2d22ec746b75452d1b31714a9a8c89</string>
			<key>Key</key>
			<string>eb98845c805df0199140d9d9533200750072f8eac971fe67719cc6ef049a6265</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>280988fca145e970ef39ca844156fa94</string>
			<key>Key</key>
			<string>ff94c8dfe2c42c643c0c5152e304bbf562ea7dcfd9718d22658fdc0cb6fced83</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>87632eb1cd8c3a45482b8bc3cd7cf2d1</string>
			<key>Key</key>
			<string>02a3d78a5cc0b2136db10186d0bebd8b5567237fd308c0eb39229625b45c4b16</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6d3894c2af480596fcfe206d825ec016</string>
			<key>Key</key>
			<string>569c0ea5bb8a5c0e1263528dadac106ff315911175b6fac020f8fb958fe3c231</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f8edb1591d5e8ee1913a0a5c12483d4b</string>
			<key>Key</key>
			<string>2c683392224c0e605dae54734fcf07a21171d3773b068d685fd73862ea039b83</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8f0acddecdd7a71c34650fe6a37a6013</string>
			<key>Key</key>
			<string>eab4a85331b1af1c81144110e8e7fd87484f12fee101b60dd13b5f1e6ed03d2e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f5368c40dee485a4e9bcb1814e9f96ef</string>
			<key>Key</key>
			<string>c7a395ad3aee8dde9c1da13db5323bc4665de6c00cc06ab692c9d899b9ebd0da</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6812625010fb43049710f3908f521b9a</string>
			<key>Key</key>
			<string>8c1bf7505501543663e790add06b8240e6300ca50c6a97b9ee3b3bd399a815ab</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8e476565fae79f6cbbd52b8a67a2aa37</string>
			<key>Key</key>
			<string>64271df718fcd0b8f023aa1810a8ad7d508833c1670d81bff22448fca0c873b2</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>197b5f34b45131bb7d70dd7d6d024672</string>
			<key>Key</key>
			<string>cf5b10675b7dd566b36c03f7079bdffcb5742b0426d5523e4090b26295ca7a7c</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>632abc02c1d293db6307cb3cd9dd35b3</string>
			<key>Key</key>
			<string>bc6e1c177ad099aaed416361938a6b5de8e4bf086eee5cdcebc76218b01ced4b</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>97df6abfa15561bdcd2073af6a50b364</string>
			<key>Key</key>
			<string>b0c16578771e71d884364f87dd67680ad5b6745e2a7cb8a9c3340e05f7bc62c5</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>76bfa222efbc434ff7cfc0118673c6e5</string>
			<key>Key</key>
			<string>ee11625302698634f638c1b162823928b6465802d0721c6f9c7605a70a498bbe</string>
		</dict>
	</dict>
</plist>