<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.4</string>
		<key>Build</key>
		<string>12H143</string>
		<key>Device</key>
		<string>iPad2,2</string>
		<key>Codename</key>
		<string>Copper</string>
		<key>Baseband</key>
		<string>04.12.09</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-15781-139.dmg</string>
			<key>Key</key>
			<string>8c5e8fe2c25fc262824f630cedf7e20b26524ff556c65bbcb8c2e3645e07f00cc1d68c3e</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-15947-139.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d5a3bea77ce3e67a1ad6d6fdca90010c</string>
			<key>Key</key>
			<string>49bfaef035381f283be70669381964a6d4f469af19db23e543142c00e746fb9d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-15814-139.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f8fc832c969d1142f5be4970499fb748</string>
			<key>Key</key>
			<string>e7855f99c48dc3f93a5b1eab94360bea691b1734f6b43a9c9f094d0d73e930ed</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e68a345fb4806d8de296dd066f689ea</string>
			<key>Key</key>
			<string>3f23378d1ab83340ea5f5deaaed74143e7e611112e2cf3cbaca227db822bf150</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>de1f3dec96d4093f9c1377cecd6a93d0</string>
			<key>Key</key>
			<string>ec7b499590b12016bdb19a26c65804ee26fbbfbd78b96fe5d97fc747a4586050</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3362b72fd631469e63b7e99c2ed469d9</string>
			<key>Key</key>
			<string>3b7c2f3f51eee8631ae33ada70e56c76eb56874d4ec40890cc37bac1890950ee</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bb72feba5ded3eb109ebc406ae348612</string>
			<key>Key</key>
			<string>3907b7f8fc15c1c0ef766589864895e3d8fa3e45de803b548e8fc6bf3129a96b</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a9dc29554d9b5ad271e045636d852309</string>
			<key>Key</key>
			<string>f6741cb8201a2d6a3be2648dbf72f4c717861a282863d3d514606fdb9548b914</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>11f371f08d4742874b85ab749604b955</string>
			<key>Key</key>
			<string>c5415fec260baccc74e3eebe482aaff3f211cd855909252e4092fdd07c2c5e33</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>40c40701608f72bf774520fd2cabb409</string>
			<key>Key</key>
			<string>74af77201908fc846c945d78db3c057aad484afd9b1415dc95af4eb1f23a9c47</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9729117ea755722a2a7122b5542c18e7</string>
			<key>Key</key>
			<string>b7f9781533fafc9fa6c8e34b0eee4820062f0859d9f7785c13057bf26d775f5e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b98d987e3843d7c3668f72a5d82de623</string>
			<key>Key</key>
			<string>61a01062942302dc31fd13ac8894017df3ca1a1f20de849444206d8dc25cc952</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e60cbed973870a7ffafd22e009ca8c9a</string>
			<key>Key</key>
			<string>80e0988b572185ddd72e328a4a16297603d70f20de38afca4e6182ef75ebbc42</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>14175f8acfc81b029ad5cbabb8e2ef40</string>
			<key>Key</key>
			<string>f3e06aaaeeb047b37ddb6d53ddf52aefc30590cf26ec177d47f5099e2ee4fec9</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b22cfba94ed44c67daac4cc1420c2825</string>
			<key>Key</key>
			<string>ea7f669de05f82e85bc9f21258d33e94c26716a137b62267008ae95d9bc2313c</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b7b8ab5ed3d41007f8d6e41a212077fa</string>
			<key>Key</key>
			<string>900526e8514fde72629db43b6921c029bd8fdf43ffd844652c62e32cf1e287c2</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>741f6e9d6110ca8e5ff9ef7a2640bf3e</string>
			<key>Key</key>
			<string>c0daf217b00b6a9c2f56f395aac895c06947f18f9e9369e4c62ee550305b94a2</string>
		</dict>
	</dict>
</plist>