<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1.1</string>
		<key>Build</key>
		<string>11D201</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>SUSochi</string>
		<key>Baseband</key>
		<string>6.02.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-00277-002.dmg</string>
			<key>Key</key>
			<string>9c0d1602cdc2a5548dfc9c9075ee4b90f05fe6c995a324fb32705877d61469126efc8645</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00274-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>456aac3c4c2663f49ada63bcb0ad3c4a</string>
			<key>Key</key>
			<string>8f7b11611a0ae38c6ae167554613d0b9a1bdd9de7231b325b717e217745ecfc2</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00351-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f97493a68a14dd94dbb63556beb1900f</string>
			<key>Key</key>
			<string>6a0b9db17c28cb393401e14df8eff021b751d45a2e82bcb98b9175bda7349d7f</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>518bf60ab7eb897ac49a137bce17ab29</string>
			<key>Key</key>
			<string>6627e70d54d9ebcff2df1f152aaea71c9bbc3cc0963a4c2dce279c457d4f20eb</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>704a5defb9191ed4c258d1cd2c8c5481</string>
			<key>Key</key>
			<string>3142f863a73512143963a27d6afed49796bd6f27b68122e55fa4f52e7b0b1d46</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ac8658583c50be51d9e8182b100dd751</string>
			<key>Key</key>
			<string>10a7545c74d0fffd3e6c388437149bd5cc613e1582e5a0963ca5eed6eddec7d8</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eed259af2c9ac5f70190e48a77ebb733</string>
			<key>Key</key>
			<string>c9a39fd5b2cd3bd767b0b31f1047a748affeed4a86d4e8024927559ec5c9bd87</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6686fad5aa9fc027938dd4221944e738</string>
			<key>Key</key>
			<string>d24603d6cde86d26c7f67c449ea6af8ef9ce48974603f2bc45db98986ce5636b</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>81f9a1e5217c312fc93095848b54e512</string>
			<key>Key</key>
			<string>e5159fec73f2d763ca302f910ff541a1ca672dc05623fb09343fad1ae0a2944a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>989f1dcd0d69ce9d3ce848ad93c568fe</string>
			<key>Key</key>
			<string>e41a5a440bf4be03cc760de3df9c234ccc8e429b7361eecca111a2b725900652</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>95153a8cda3b2920ebaddd33bc039e63</string>
			<key>Key</key>
			<string>4fe71ee59e95d988e2aa9b2ce2558fe6dec07d3787d2e21fc0e7e83ca9cba241</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c2f5cca876c8b6f1e5c15e229839771c</string>
			<key>Key</key>
			<string>998464e268c7f656187b8bf32b04d56479d64da5b8ff7ac3d8a756ae12ba270a</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>084436b64a65c63d5ca350b3d307cdc7</string>
			<key>Key</key>
			<string>898cafa085586e33f9234d12c2d3c4f274608b871389955ee9fe0ea21a10b0fd</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ccb2705e274268a6ea4b7bfbac7ce496</string>
			<key>Key</key>
			<string>49627cf14913f97a9fea77e665393d85bccabc293c91f680521375cc0345cd5a</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2ed43d5854fc5371d804a82b16e5c399</string>
			<key>Key</key>
			<string>9bcee5f54ba4aef016f73570d1f0a37f4576ecd6add33d394c8056c58a4bbf67</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>45eedcec3886b2732437871bcfaf2567</string>
			<key>Key</key>
			<string>9efca01f619063f86e26b29b3ef32b73aa0dd9e5f0672230655194853fa0c280</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>16a0982c8912f9c81854599fcfcf736a</string>
			<key>Key</key>
			<string>9899a391e00860e47eedbb51ba801d89d5cefe54bce4bcde9dce8e2fc73e3b00</string>
		</dict>
	</dict>
</plist>