<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.4</string>
		<key>Build</key>
		<string>12H143</string>
		<key>Device</key>
		<string>iPad2,3</string>
		<key>Codename</key>
		<string>Copper</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-15929-139.dmg</string>
			<key>Key</key>
			<string>78da224716346437c24f947b9c6e702fa891176935b78a4f32022d4a81226f3b5c64d8fa</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-15947-139.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>142187f93b5b64c8765849ac1a892deb</string>
			<key>Key</key>
			<string>58f6cebcab4df51d111d8e5f3bfe03f1bdfc21f7608208df857619a96e471d04</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-15814-139.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>592f454f4d4bec23412e30376fed8575</string>
			<key>Key</key>
			<string>6c6e9fea32bab8ae0199403130a937808fa5305950b5b308cce58efb91e8e58e</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e68a345fb4806d8de296dd066f689ea</string>
			<key>Key</key>
			<string>3f23378d1ab83340ea5f5deaaed74143e7e611112e2cf3cbaca227db822bf150</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>de1f3dec96d4093f9c1377cecd6a93d0</string>
			<key>Key</key>
			<string>ec7b499590b12016bdb19a26c65804ee26fbbfbd78b96fe5d97fc747a4586050</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3362b72fd631469e63b7e99c2ed469d9</string>
			<key>Key</key>
			<string>3b7c2f3f51eee8631ae33ada70e56c76eb56874d4ec40890cc37bac1890950ee</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bb72feba5ded3eb109ebc406ae348612</string>
			<key>Key</key>
			<string>3907b7f8fc15c1c0ef766589864895e3d8fa3e45de803b548e8fc6bf3129a96b</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a9dc29554d9b5ad271e045636d852309</string>
			<key>Key</key>
			<string>f6741cb8201a2d6a3be2648dbf72f4c717861a282863d3d514606fdb9548b914</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>11f371f08d4742874b85ab749604b955</string>
			<key>Key</key>
			<string>c5415fec260baccc74e3eebe482aaff3f211cd855909252e4092fdd07c2c5e33</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2b7a0d1bd6b1e2144e57c40d98dd777c</string>
			<key>Key</key>
			<string>ccbd8f02ea30d9b3b16bb9de066a662679da5625cdb31e5cb08e2b2159fb94d3</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9729117ea755722a2a7122b5542c18e7</string>
			<key>Key</key>
			<string>b7f9781533fafc9fa6c8e34b0eee4820062f0859d9f7785c13057bf26d775f5e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>feb96ba77d4c5708dc1fab746c281909</string>
			<key>Key</key>
			<string>1da68ec42fcbeee54e45b673e6cfcc0fcc74802bb0ac67bf62306716b82db6ae</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>46c27bf48d81eb81d4eb333aec5545ff</string>
			<key>Key</key>
			<string>975066bb4e480f586dfeb06bd10990c9248d912de2a3016fe18145dee1c379ec</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b598cce579b4a02917687e94c141ad37</string>
			<key>Key</key>
			<string>92c992aeff726f226125ffcf4ec56a6d3fc99154ba714afc33d44a92080fbe6e</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>79aeafb5f14bc8769d5f49ebf2e2bf3f</string>
			<key>Key</key>
			<string>10d2d3ddaaa4d57b2e88ff1840cce6174fafd9828f422bde1d75cfd4954315e9</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0eef94f30eba1a9fd671632d0f706170</string>
			<key>Key</key>
			<string>7ae5937021bbea42fae6b66cdab64b41b469f8f59118db2d3fb5648749c7349d</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>741f6e9d6110ca8e5ff9ef7a2640bf3e</string>
			<key>Key</key>
			<string>c0daf217b00b6a9c2f56f395aac895c06947f18f9e9369e4c62ee550305b94a2</string>
		</dict>
	</dict>
</plist>