<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1</string>
		<key>Build</key>
		<string>10B141</string>
		<key>Device</key>
		<string>iPad2,3</string>
		<key>Codename</key>
		<string>Brighton</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-5776-122.dmg</string>
			<key>Key</key>
			<string>82d66097656a9e4f22fd12ea98a965b0ee674909f00b7af0f1d5be4beff777dc9c9971f3</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0133-003.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>95f4a5ec58c5068cc92b04ad2c91f66e</string>
			<key>Key</key>
			<string>7543160293aeb48f5369803918147438de7a5ecbc38cc57d36e85a5b85536a11</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0156-003.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c013a4f6a547794f0c0c683f7b26a2d3</string>
			<key>Key</key>
			<string>5a93755fd46e49546f182e130649de215380a90d5513b8c12068d126428e06ff</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cb752d3721acea3cbcfb262ffb78374a</string>
			<key>Key</key>
			<string>a2eff3cf5a9e80cc41e56638e604cc9c64fbeb7387b93eb22881ee036c24f35f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6620c2fca5414fe9d17c185514223b73</string>
			<key>Key</key>
			<string>63666c0c6170371dbe4df4177643a6e25f8b38632ff99482c0665a8a4694bf0f</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cc4caa5a2686a38306ddf57ff3b4e772</string>
			<key>Key</key>
			<string>99b1690317d7f07c665898ed7436a2a954660b26363aa52973efebb9de9b1cdb</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>41b12d323974a5b8a929672b6a7d09dd</string>
			<key>Key</key>
			<string>961e4605340bec36b0cbf48b3c7fb2640d6ad96bb4195e832364f258b6c5f7bb</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>339a102bdf291a880ad7d4df52350326</string>
			<key>Key</key>
			<string>35c77c6e518f63abb436dd442cd3dfcad261d3b9b3b03260dddde7fd70548bed</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>11adf51ababdcd7959af362b63c45c67</string>
			<key>Key</key>
			<string>230eae245bef1ccff76e0aada86f3978f61cf764512c4cb486e00fe0e77d4af6</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>775534ace462778d5add7be89112c7fc</string>
			<key>Key</key>
			<string>0b8099a4b9827cf142a23e57e131a09174eb67d75e4f6b38610557565b4db3d1</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1fe4bc6f7b3fdd1d214b170e79501507</string>
			<key>Key</key>
			<string>b13ac56beadcc83be836d32d44713ff7e365d43f7a4f60cde23cb3a86fa8d226</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7c8fbcdcc13fa4cfcd1b39f63ec1537d</string>
			<key>Key</key>
			<string>ddd0218a84a534174e681813f37ee284ea93646c6bdd67c17055227feab9db17</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6e990b6f8a40519e9d7225954b207551</string>
			<key>Key</key>
			<string>3e6948bae599badb85b89b8de0ece6fd30eed5378de4d68de9e7301ca9647da7</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4a2587f4ec22272d5cb63d4e4236b095</string>
			<key>Key</key>
			<string>9445f257a3a5bc8f3acbad46bc26e805702f878a924f90940f927bc657482eaf</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8e3a573b258b6d91d03f55b1778160ed</string>
			<key>Key</key>
			<string>d83ec5ecb9b19b004987eb8d1171036ebad5f94190de4e48be46777b71bb4efb</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9ad05cb774c33fb6566d274bbe3fa358</string>
			<key>Key</key>
			<string>b67ae97eb20da3e99c386a4929ac16d3629d29a59b8b5ac62a31f6c35abdbe3d</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>34ce47e5e6db8679fab80459bd90141e</string>
			<key>Key</key>
			<string>d0cf2ab126909197ff970c4e56795613942737b9ed696550030496e9912c5442</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode-ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>249da8cbb29d02144895758b0ac60d87</string>
			<key>Key</key>
			<string>d761507dec894a1c26d9414df7f601d911b6022aafd6cc288f9e761e4bb9cec4</string>
		</dict>
	</dict>
</plist>