<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1</string>
		<key>Build</key>
		<string>12B410</string>
		<key>Device</key>
		<string>iPhone5,2</string>
		<key>Codename</key>
		<string>OkemoTaos</string>
		<key>Baseband</key>
		<string>7.03.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-05201-078.dmg</string>
			<key>Key</key>
			<string>8fbbc2fbd4b7f4100538ba3fa0577c0dec8492c1c00341577847ce231f8ae531b7a88e74</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-05144-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>73d2595ef73018c57746024d433dd547</string>
			<key>Key</key>
			<string>396d1ab2b522dfc21917d82109d03ae4b5b10b7a7cd7bd550f82d51d54048a88</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-05086-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d8d595c7b0fea43ae9ded709becb7f41</string>
			<key>Key</key>
			<string>2e0ab690bf2b32041ed57785f6fd99f4f0c1041ee7ecd3ced4f8fd7b0c504c3b</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ec515228176bb4fbaf65ffad9460f09c</string>
			<key>Key</key>
			<string>8f256264d0d3cb8ee47e4372faff6b0063790c39de912f2ecf50a55c93dbdb4c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b3186c81fe6d823fe6fe973cf2b0c3af</string>
			<key>Key</key>
			<string>fce1429f4199a01b7ca79df9e5930aa2c0364165b9208decda96634b6a09e038</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d1c4e330983446167145ccbb6db714e9</string>
			<key>Key</key>
			<string>d67f3684f8148b42a3c9a506cee7bc6db109003742916d754085c0607cc1909f</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>85197dd80c7d61ff183c4097658a725e</string>
			<key>Key</key>
			<string>8747954e97956c8b3f99e5939ee5fb551cabd66c632847b0286db9bf0d81e18b</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ec5454ea241d7e3a7df6b0a24a30bb1a</string>
			<key>Key</key>
			<string>540c0ea95c53253e177ee79a435252cce718bbbba7154477298d04b0b3cc4b52</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>59c55377860c86574575b51aa4de0a58</string>
			<key>Key</key>
			<string>02fb3d38224a2549a2c4e1dba67dbad30999bd5da609bccc205e8edc03fcc8f9</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n42ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c8f82ef72ac52f071542522d7dbedc7b</string>
			<key>Key</key>
			<string>73ad2ef1fec3a39fe3a211a651ed2ab9c447d44b3200e74424b6f30f52cab33b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7b1f67d82e4fa309a8f5b29e3f218f7a</string>
			<key>Key</key>
			<string>abfb652e4b14e87b183db7cb495914a577b1a869e7669dabad148a876e6f59a3</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n42.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4ec4f5e03350200b7d7b7d2c7d6d496e</string>
			<key>Key</key>
			<string>7cc4133f0bfae66dc2d61355889478b8dcf63eb4d94aae95334b94dde2847c71</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n42.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>999b0ec9aff860104fcab58a54824d17</string>
			<key>Key</key>
			<string>87b7a2ac398a883cb19b3c59c81ff92f3c34622db250ec1fa9e3be84b4c67d91</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n42.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2520c19e11b1de2e72d92a373d26f36f</string>
			<key>Key</key>
			<string>8758ce0ff3cea1f22e3251f75510e56063d9cdf89fe9f6255541c085739d0d82</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n42</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9342a02cf03402da047804e12ba4bc60</string>
			<key>Key</key>
			<string>fe94708b4f980b96d65302d8598308627926155f1d80207f725183ed503ed03e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n42.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1302295ba14dcc8d88b319bd42ffa6cf</string>
			<key>Key</key>
			<string>f2159c52e4112418c919ee70d0df5862ba09c4d75144b05a303b482d15bcb67c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dc1aa074a708e253e4c09d5d1e4c4a77</string>
			<key>Key</key>
			<string>caef1993385e4bcc66cdbb91f7c5cf053a12566a0e455a5727fdd3e298a14ef6</string>
		</dict>
	</dict>
</plist>