<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.4.1</string>
		<key>Build</key>
		<string>12H321</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>Donner</string>
		<key>Baseband</key>
		<string>8.02.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-24525-023.dmg</string>
			<key>Key</key>
			<string>da2aa06747849210b9cc1ff219b4584572d1df2832e2cd3ad6636d281447c156ae544b35</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-24024-023.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0f15734c2f08c140de68c94c4e2f3571</string>
			<key>Key</key>
			<string>fa44e32cba1714bd8c68b08eab24ce7ed8366014144f8aa60c05c14176504487</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-23947-023.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>22e450d708b6319a619d5edecad88a86</string>
			<key>Key</key>
			<string>53b8fb57b67db2bf471cd3c3b652247dcb77ca381bd64c687b492dd0cfd65187</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef41848f4bdd07ea7de5a2bd2d90b989</string>
			<key>Key</key>
			<string>967e260de1a600600ead78fa451865be406c851f8d97da4ddc6d7429173f5648</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>09c5d6fcc1036284ddfb44dbb3ee510c</string>
			<key>Key</key>
			<string>921f87621d26e902cd56f1d7eaf5d640fefa8427010a8bc87d2eabae020da064</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>51356ef38dfa424f8c2c1554c4b0f25e</string>
			<key>Key</key>
			<string>5688c6d98483945aeb71c5844e08c4bf508e97ddcc7db43da1ba08a77fe4ab0d</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3f2f09bd0991ed670fff6375efff92f</string>
			<key>Key</key>
			<string>206ffd4863b3dba2baff6f21ca69309f810f7b1e476b12ddaa44a17ec08831e0</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a2bd56b795e07d4ce21ee0820212d2f2</string>
			<key>Key</key>
			<string>f793ca70cfb80595a3d851a8bb981f501dd492ac7a734fc9cb2819884d2c55c3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c14003b9dccc6ffab60056c7ad8bbd68</string>
			<key>Key</key>
			<string>be25f0e2954dd5e41c80c4cc075bf450ccbcacf0ae659319126795ab3a205077</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5ff721d45504fe136759292b2966e3f2</string>
			<key>Key</key>
			<string>a7ad85c49ef64cfb37549c1126ab13ff7297e038f5548410adedbdb29efdfa77</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f22b99dc38a5ae4441e3003e983bc44d</string>
			<key>Key</key>
			<string>92d0e023138feb0869639d4e3b076f647e8825579fab1c0b81d6c996d1d440a5</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2055ec501ea1bb9474d7c914dd883e61</string>
			<key>Key</key>
			<string>df94c70aa77322498b3be544e3134b820236fef0f155e7f1354db662d6031368</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3080bf505cf07468c36d7cea84c12cd2</string>
			<key>Key</key>
			<string>addfb47629c1de5312528a6a5c37f620d80db0a2597a9fa4330ab3b066402f13</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bd0c8b039a819604a30f0d39adf88572</string>
			<key>Key</key>
			<string>baf05fe0282f78c18c2e3842be4f9021919d586b55594281f5b5abd0f6e61495</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>31ff9006a2d8326cbadf0c7795c71c1d</string>
			<key>Key</key>
			<string>6c4dfcd48110c6d13df01874e6d2d12348d95320d2a5971c5465316eca6f8061</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>461c6d341a44639a9a6064ae3afa4887</string>
			<key>Key</key>
			<string>ab334dbd05279a4522d18a62cf7d1c3cd3ae76ebdb063813a4f6a697844e2afe</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b7f40a1a42819877650e7b0eea0a91ee</string>
			<key>Key</key>
			<string>9bbbb96c690eff8df79e7c60e6dd553c3443947528d8d5e600bb95f6dea219aa</string>
		</dict>
	</dict>
</plist>