<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.1</string>
		<key>Build</key>
		<string>11A470a</string>
		<key>Device</key>
		<string>iPhone5,3</string>
		<key>Codename</key>
		<string>Innsbruck</string>
		<key>Baseband</key>
		<string>1.00.06</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-8815-007.dmg</string>
			<key>Key</key>
			<string>e01636177a90c94e0c9ded14aa06ced8004cf8d16e0785666cedf73cc7bd21d2aef8c749</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-8817-006.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9183ddbddb06398ab2ef23ba497d41c1</string>
			<key>Key</key>
			<string>4a673de4ea1fb7ecdb7141a6f21dbf6ff257a2050ce680cd44a27c74cf3732fe</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-8814-006.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bbc4de554185135d0bf74ec5bdf608d0</string>
			<key>Key</key>
			<string>aef03af64ed24f20f6f43a17fa5511a3781416e3b1b66ae5abc4a3aafc510a0d</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5b8099e59c8aebacd11ddf7024786a47</string>
			<key>Key</key>
			<string>9dc7f6c502b91388c0f72e53e7ef8784f30955ce0aebf9bebb39637005ad201f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3ca19addd9c3d4b4bcf66ced21779dff</string>
			<key>Key</key>
			<string>94d7aefb4183f9e2e079a2b2d425375b2fffff133e1a7678a26266c607a6fb5a</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dfdd966da2c056b6c162c3207293850f</string>
			<key>Key</key>
			<string>20f93e183bcc391d1df519dd896dc5f4181824c7a1c6a52a0ec0d22755e2d66d</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7320928e4d45af0cdbf48b5fad9aa7a3</string>
			<key>Key</key>
			<string>50b88c8d12127e10f2e6d0025f6bbd44ca4a34e9f239235c9af0f5bc78322945</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>af51a013919c6deb51624a601e317595</string>
			<key>Key</key>
			<string>a5f824824328bd2cc38ed934282af5625939eed8da4ba3636ea0b8c218ae0215</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>305e928ba323b9559eb78cb9d37a1dc1</string>
			<key>Key</key>
			<string>cb067b86d393f1ac85358329b03259b288876137935ead4711738bf664bf4d0e</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n48ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>92d015fbede55dcdc62b9918bd651903</string>
			<key>Key</key>
			<string>64e07e8dff143fadcfabdb89adabf94d7a65e087aff22bc3f61b4c60c46d29d7</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ace595aedba6ff1123122d2aefe6b026</string>
			<key>Key</key>
			<string>986949b8a6befde563b4d0e3341d90b91e3e480d589d6a9ab46436a8dce3e59e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n48ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a6ce3610eda35e61e91e9629ccfc38c6</string>
			<key>Key</key>
			<string>cdf69fb38d3a24f9f427fe48643291b077618d03e046b92a978d188f2b27bc45</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n48ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a01ada0a30ccefecd6624943a225cb1e</string>
			<key>Key</key>
			<string>9e2d03ca0bf4efa95bef84a542ddc731fe633758dcb7f2e9e395e6237e9609d4</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n48ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>592412ff196ab347c6b18d45d9189c62</string>
			<key>Key</key>
			<string>e4195eacba2c816ea029150aa0afd08542c07f72a213aeff5a505e8e208f78f7</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n48</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>876b6c86db40fd4dbc67d57d3963c9ca</string>
			<key>Key</key>
			<string>2d974ffa5caf764ebe0d7218ae99f3e0523249f1b62c5603386be4f2c14bee8f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n48ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>22790427c54eb336362948fbfc9bf3d6</string>
			<key>Key</key>
			<string>69547a12bd0716268d38b6059578b7e4a370cc054075b9dd84db469313095278</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8606229f00f449d21c8d7767c8d4e9e1</string>
			<key>Key</key>
			<string>a68ae0845343cbd1cce4608d8e23398957dd6aab7f28c1a82df205b57ac50cb8</string>
		</dict>
	</dict>
</plist>