<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>2.0.1</string>
		<key>Build</key>
		<string>5B108</string>
		<key>Device</key>
		<string>iPhone1,2</string>
		<key>Codename</key>
		<string>Big Bear</string>
		<key>Baseband</key>
		<string>01.48.02</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-3796-9.dmg</string>
			<key>Key</key>
			<string>2cfca55aabb22fde7746e6a034f738b7795458be9902726002a8341995558990f41e3755</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3881-4.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e33d5c7af40422bb32a9e522cb0448b0</string>
			<key>Key</key>
			<string>fc0dfb4d99bfb020621f28f3d6ed774b</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3882-4.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>024fdbba71ebf34df5b525cd975aefe8</string>
			<key>Key</key>
			<string>219eac3e01276c7ec50432123f50971a</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bf67cfba9160ad7dbdf44f2baf176458</string>
			<key>Key</key>
			<string>4b69f6c9eed042cacf89fc575ff3b193</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f0408fd6dc0778876c58fb59d37d44b1</string>
			<key>Key</key>
			<string>b41941f8d30bc06e2268a7e89eb2c018</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3ce0dd810dbad8b90407a57acca80ff2</string>
			<key>Key</key>
			<string>bd80bf6f43aa13c7e6518faee262e3ab</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n82ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1cc36eafa09616b4a879fcf1faf970a8</string>
			<key>Key</key>
			<string>6da79b6e3f0f496f8651593916ff2b32</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>28bebce29b48781aafc9b5109dccc83f</string>
			<key>Key</key>
			<string>497914be358babb79cad2877fed02add</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a6ece338e8db3eefa4a38201c8e5033f</string>
			<key>Key</key>
			<string>e69a0d9f9fba2e33269c140d54cc5223</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n82ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n82ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e5da914dbe543767dc71a076dfbf7317</string>
			<key>Key</key>
			<string>467b29af0350ba297cffd14bfb0f94c8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n82ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>285df0aa00b76e8c0b9870a4dd7bd5f6</string>
			<key>Key</key>
			<string>444f19d072e725f8a27d88ce50ce73de</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n82ap.RELEASE.img3</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2e5e5657ea41b468c2a7712d01ec6342</string>
			<key>Key</key>
			<string>c40d0fd13597a59bc1ce48c783de10a4</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0e1504c70c2b7eabe2488a5bf7b1ac60</string>
			<key>Key</key>
			<string>2e5d3470a5a1c9ab8b6c7c334569e86f</string>
		</dict>
	</dict>
</plist>