<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>4.3.1</string>
		<key>Build</key>
		<string>8G4</string>
		<key>Device</key>
		<string>iPhone2,1</string>
		<key>Codename</key>
		<string>Durango</string>
		<key>Baseband</key>
		<string>05.16.02</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-0935-003.dmg</string>
			<key>Key</key>
			<string>c338fb2858bd5dad4cfb073d4fab2fbed4a3f2d1541bc50d8443f3b18475cd1b62c25983</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-0893-005.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-0900-005.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1c1f8eb1e8f56face3d46dfa6bc59075</string>
			<key>Key</key>
			<string>01975f83b83b1da7a177835e23699058148e4ba90699eb1ae4ba405cb0b74c85</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>69c6b19ed0a89565d76b131efeee6b8b</string>
			<key>Key</key>
			<string>45e9489b1c772603b8d6c8edaa2f13d1c6c54ca63b0979c13d0a8e16e9fb0fa3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b13ec3961c4a89d142e34da9e1ab8297</string>
			<key>Key</key>
			<string>879aa2fc3bee28c4a5220cb973ea5db1eec12913205bb9157e8bbc3248783137</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3d023ea1af43583a1934598b11ea659</string>
			<key>Key</key>
			<string>73db3bba13312b89b7c4532711bbfc57f4babeecbbcc967bc6e78792c99e990e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>605d24e2e6cad40ab5f8fc6d608597c6</string>
			<key>Key</key>
			<string>f42738e11292ecf51879827a6e53f6ce5b9d161bbc13f41d05a1e9ae2fd4affc</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>010dfc60c8e93a50dd62697b3505e9f4</string>
			<key>Key</key>
			<string>9a23e633767ef39227043b8c923ec207533d35d9a978db54128550429ec81c3c</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n88ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1439b76911f7edaacbd5aca61a6072f0</string>
			<key>Key</key>
			<string>0718c0dd487d5635cc551f00458ec76198f8eabbc2e7343757ab728b77e30200</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f8c528fe19f58a14f2dc8eb37d43ca8b</string>
			<key>Key</key>
			<string>b67fb1b3875fb880507755218e64446f93057196661e53fca0b7057bc8aad039</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eaeb650cd1e5c45442ab0a0aec9e879e</string>
			<key>Key</key>
			<string>08d323f5801345f6a50d5c05908f3029bfc6df8933967caf52ad4d16f51eb701</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n88ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>62070c6c193a1ece1733ce05a391d253</string>
			<key>Key</key>
			<string>533b7a7948bd969e4c9b9bb1206f0778ca9ccb9b4394bde3c41f79e286cbe5f6</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n88ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a165da014fd83765b9d4ddc2198e9586</string>
			<key>Key</key>
			<string>18358b073a584af0959b9fdfb9a09450da5e4431510a896b9584bff34517a35b</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n88ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>086c8a91cbda60d094e5f96c8a62c9bd</string>
			<key>Key</key>
			<string>795b5196dfcbe8aea9803154148c087d59a1659a0543c59d4bf7e2ff889b7ed7</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n88</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ee19526dfe68c4fce1c684d44820e519</string>
			<key>Key</key>
			<string>6ca1a62ebb91d04026bcb01240ffdef97d868b51dc14a9359e55cd6ebc3e4004</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n88ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>372237d6c0f4e22d7639424f45b015f8</string>
			<key>Key</key>
			<string>5eef2af8139abed0adec56802ecaedc7d10928b6aa0e1fdc607317584af61837</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>20c1fbf73ffead93f65972615f0fd6dd</string>
			<key>Key</key>
			<string>97dc01fb07c0300bdf8541b8f0d89cb1ee39ae7d06c8a63bd2a05373c90d32b6</string>
		</dict>
	</dict>
</plist>