<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.3</string>
		<key>Build</key>
		<string>12F69</string>
		<key>Device</key>
		<string>iPhone4,1</string>
		<key>Codename</key>
		<string>Stowe</string>
		<key>Baseband</key>
		<string>5.4.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-14563-072.dmg</string>
			<key>Key</key>
			<string>6b4eefc740ae0dde79ee0d4a314c8f61784281b03831e57a6903a7ca572065e709bce1bb</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14620-072.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5f1477a524edfa572951c52a773a8527</string>
			<key>Key</key>
			<string>c02f04449537f24e1359282f5a4b8914203176a8963374ab994a46ec67802567</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14828-072.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>852070c2b93fab4cae711dd74a3e75d4</string>
			<key>Key</key>
			<string>375111641237a5c980c0b1ca9e18d8d6d9235f0ec536101496d1adb2f2adab8d</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4238a26549cafc784e9a3ea867dce97c</string>
			<key>Key</key>
			<string>d2b4a85df723300661f57e2aae0c65e9c53305472a8362554892db00a880902e</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6992eb71743d5b0359e948b5bdc8db49</string>
			<key>Key</key>
			<string>75432bb7c0e6f4fd95b2b4bdc5dc88d8965809adeec269dd20fe4f040e8ee81a</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3f28cfeae62c7e7ac7cc87fa713bf51d</string>
			<key>Key</key>
			<string>373066de9f6246951e0cbd9db503663255fdb199e20a9a12abd11f339318de3d</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4e401ae8de0143364bd4ec362bd0b613</string>
			<key>Key</key>
			<string>3a3bda0ba7520f6db606f21a6ff05589d226875ac1a98e899bcc68bed732638a</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8c292b10b0fac56a775d880613470a5b</string>
			<key>Key</key>
			<string>ed1d84eea602a4b56b3fb657d98592f78c32a7f01926f170cd9509a323375486</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e66339cef2ae7822e9e3bbf55f576c74</string>
			<key>Key</key>
			<string>bcbf920397dc51dd1580e685663a7a27dd800d29650c9e127fbbb43bc10b6eb9</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c29616595e9f78fd7284d21ca037d0f9</string>
			<key>Key</key>
			<string>1504c3d5cd9b02e10be85f4b90cb0c9d8ca666822ce67b50b885397c3c0e30cd</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0538e781b21cef29ffe4deba9fde49c1</string>
			<key>Key</key>
			<string>440744a48e03b90d8a51e62f960f97e3ba92ded97dfb3cf992d46cf6a45ab1ba</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>645132786e8a81f25e51330aa84daae5</string>
			<key>Key</key>
			<string>d0cbbebcd386bb9d65b2d4784a4e69cdc73d761c5df939a47635b2decd808f49</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e09c65f3945e850661ddea6976cdc082</string>
			<key>Key</key>
			<string>32e63bec5dbaf1916192c33f11751e1435609192dc750b44a5a41f3a12f864e6</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>053218c1c094435850746232625191f2</string>
			<key>Key</key>
			<string>f53120db128402434c0366555361aaea2012dac4eba2765421cb734fda838b4c</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9a1fe5f3a9ba58ac7d3e0be1cbb89a15</string>
			<key>Key</key>
			<string>7d1d42de3f8f43e177665de566028cf1689b849a7bf219609d76f3fe9c78a7c8</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a9b46c5219df10458f75c1b8d3848063</string>
			<key>Key</key>
			<string>f2a402f7ac7d9df25304aa4b77fb2c68a93cb0814720f0a557a96d1ea5d81898</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>05463dfb9a4adeaff5f1702f962a22cd</string>
			<key>Key</key>
			<string>ab33fc9a8939e367a3316151e57fb48ebc869e353aaee35676d1c3903614d09f</string>
		</dict>
	</dict>
</plist>