<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.4.1</string>
		<key>Build</key>
		<string>12H321</string>
		<key>Device</key>
		<string>iPhone5,2</string>
		<key>Codename</key>
		<string>Donner</string>
		<key>Baseband</key>
		<string>8.02.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-24110-023.dmg</string>
			<key>Key</key>
			<string>7f68bec2637d5ac0837e38878a8a411c72131fc6394b5a84fd0f878f54f97af3801f34fd</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-24024-023.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>138eb80122fd5c8db347804c96f14596</string>
			<key>Key</key>
			<string>1c559fcfa3f06770111b0391fb6954a81c69093fbf09137b649597f49e2936b2</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-23947-023.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9f3c9ed053e2057f7b2be54a80c3eec8</string>
			<key>Key</key>
			<string>9bde35e15c13939b0e910e30f45109103cacabc3c5535a20a79f87d35d4a8c35</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef41848f4bdd07ea7de5a2bd2d90b989</string>
			<key>Key</key>
			<string>967e260de1a600600ead78fa451865be406c851f8d97da4ddc6d7429173f5648</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>09c5d6fcc1036284ddfb44dbb3ee510c</string>
			<key>Key</key>
			<string>921f87621d26e902cd56f1d7eaf5d640fefa8427010a8bc87d2eabae020da064</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>51356ef38dfa424f8c2c1554c4b0f25e</string>
			<key>Key</key>
			<string>5688c6d98483945aeb71c5844e08c4bf508e97ddcc7db43da1ba08a77fe4ab0d</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3f2f09bd0991ed670fff6375efff92f</string>
			<key>Key</key>
			<string>206ffd4863b3dba2baff6f21ca69309f810f7b1e476b12ddaa44a17ec08831e0</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a2bd56b795e07d4ce21ee0820212d2f2</string>
			<key>Key</key>
			<string>f793ca70cfb80595a3d851a8bb981f501dd492ac7a734fc9cb2819884d2c55c3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c14003b9dccc6ffab60056c7ad8bbd68</string>
			<key>Key</key>
			<string>be25f0e2954dd5e41c80c4cc075bf450ccbcacf0ae659319126795ab3a205077</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n42ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>40dc28c4fc1b28df6f44bff7f833b44d</string>
			<key>Key</key>
			<string>dccfcf97891d4fa62fef944ff646ce9a81e821883f2b6bc3cc5ca3a22ee90ce9</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f22b99dc38a5ae4441e3003e983bc44d</string>
			<key>Key</key>
			<string>92d0e023138feb0869639d4e3b076f647e8825579fab1c0b81d6c996d1d440a5</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n42.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ba178c287f6ce38acbec569f6adbf170</string>
			<key>Key</key>
			<string>888f24c26a13fdb2c8182b156d793b1350428e2b6c31a634d16a61752b236dc9</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n42.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9b5e8f3dad421c22a265015cc64b9261</string>
			<key>Key</key>
			<string>d1bc8a9f10d3040bd7b722933231b1430876349821f70fec74fb12f6db2d2478</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n42.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fdad2b7a35384fa2ffc7221213ca1082</string>
			<key>Key</key>
			<string>74cd68729b800a20b1f8e8a3cb5517024a09f074eaa05b099db530fb5783275e</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n42</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a037ef50ae5bf24ae2d373345b6e5be5</string>
			<key>Key</key>
			<string>66b8ca4f732113f54dae9de7d1713093d6c54731c06033eef94489c168a8db3a</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n42.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9d94653602c0ad8eb856309dcc8c027d</string>
			<key>Key</key>
			<string>1c1c545f36c39878e7192d8e15b38a48722cb1846b2d1d91982ad529abf563f8</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b7f40a1a42819877650e7b0eea0a91ee</string>
			<key>Key</key>
			<string>9bbbb96c690eff8df79e7c60e6dd553c3443947528d8d5e600bb95f6dea219aa</string>
		</dict>
	</dict>
</plist>