<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>5.0.1</string>
		<key>Build</key>
		<string>9A405</string>
		<key>Device</key>
		<string>iPod3,1</string>
		<key>Codename</key>
		<string>Telluride</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-3717-001.dmg</string>
			<key>Key</key>
			<string>9890bc603e37b7ef74bc211cc9bfa09362c251c10c5abe9dcac43716e104cb717419e271</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-3716-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>57c6d5f686d43b3964543befc42adbca</string>
			<key>Key</key>
			<string>6f66a439d1e4c6af64a698bbe30fe79fa99cf0776705885061fbfc4f7298ece3</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-3714-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f91e451ab030e7a2eb219e51ef523c80</string>
			<key>Key</key>
			<string>2c5a60cd63f31e133c280dbc95c4640efdb39e70088d6f2de731ce6deb58f603</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5ba188301df7d8057b2b9adbebd9b473</string>
			<key>Key</key>
			<string>1074308cff33c81ce3af0a329571fc77eedce590dbf566972dcb493da3b986fd</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8b3c8792587b8dfe028da050c7c0b908</string>
			<key>Key</key>
			<string>cb0f00f61276282c4e7e903169f04aea704a6daeeeb667c8ab21f50e484fa0bc</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f2380993b42d4b60f374ce9e129add46</string>
			<key>Key</key>
			<string>eabd42e43009f74924fbb2bb66573b061f89d66ef083a7aaa09a2da878e9cbfa</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8a50287ae91ed60de7775aedc0cfe555</string>
			<key>Key</key>
			<string>5fad5868fdf24242315a7e4656e6a1f52df821f1c9503416108cf051f595139f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3126917ef5152bb543b40afda1ba3d75</string>
			<key>Key</key>
			<string>8ffe8fba7664424647c8f30571dd9f35c83ad91b4d67625ae8351476404e46d2</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3f8f7da8009925776f992976a394fd2a</string>
			<key>Key</key>
			<string>97f722e3418385dd28eaccee391afb11caa3ae883a4af1f00513a5ebc305761d</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n18ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>094e0cefa1722c9f2d15e55c0c3a177f</string>
			<key>Key</key>
			<string>7dddd133ced0cb3d18ea218091719e890e10e3dcf0020bda354af5b2b4ee961c</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>980750989763955b3963727d8d47d78a</string>
			<key>Key</key>
			<string>5f1e7d003b3ad4eb505a9c3f7cc4ea7579705f6d6a69da6194330811d80f11cc</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ba466333df50d11d0f14624d74e74f33</string>
			<key>Key</key>
			<string>f99f7ee052905bca9b633936be2784f1d6e4023571dbf5d8854e8170fc7ad9e4</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n18ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b9db93e06cdcc20ae46ded57e1356ded</string>
			<key>Key</key>
			<string>2faea9f60edaa820e93d707a7fc15f4aec3fc519d02754b5b0a07e07bf290d1b</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n18ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f7a27ec10321a097205f2abfa18549ac</string>
			<key>Key</key>
			<string>c72fb1a20bc8422d9a6f18d056d4e2e9b59c0b3d3f6543cd1140b07d07dd4313</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n18ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e069af55f6d92d8f0a1a7678d799121a</string>
			<key>Key</key>
			<string>9d307bba8b9b2aa1a3777590c226397110f6c1dfc9ec0fd4397671691a2016d9</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n18</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1dbda19ff48be1f08a0503b78fa1dc2b</string>
			<key>Key</key>
			<string>083588578634bea0cc134359a152119a18babf8b1ebeebb8c39cc6a84725dbec</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n18ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>613dca4c215732654fe713273d37a2eb</string>
			<key>Key</key>
			<string>084dd9417559b77253d3402f4f802aa48df75189fcf951af4774f8e86a93da45</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1a96203708183f2e1d3f645e24e3e287</string>
			<key>Key</key>
			<string>a80f06b23539c9f9fde54452f6801f00fdb918df1d57d4de1be0561a89c1f766</string>
		</dict>
	</dict>
</plist>