<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>2.0</string>
		<key>Build</key>
		<string>5A347</string>
		<key>Device</key>
		<string>iPod1,1</string>
		<key>Codename</key>
		<string>Big Bear</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-3787-1.dmg</string>
			<key>Key</key>
			<string>2cfca55aabb22fde7746e6a034f738b7795458be9902726002a8341995558990f41e3755</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3783-2.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>29681f625d1f61271ec3116601b8bcde</string>
			<key>Key</key>
			<string>850afc271132d15ae6989565567e65bf</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5d1c8f19b86411f032d647de174ca7cd</string>
			<key>Key</key>
			<string>94bf8963c8ef945e919adb1ee38f8d74</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aa35ebd31aa4b234942c82c9cc554da2</string>
			<key>Key</key>
			<string>82ada2c6ded2d09c3641dce0a6e3b994</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8a75fd316a6ed1c50ee361560b3d2ff0</string>
			<key>Key</key>
			<string>5710d5ed5ecb579dc5ce19637968329a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n45ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>45e941e4b6f9e7c61062142069877101</string>
			<key>Key</key>
			<string>a8a2aaf7bb841311bab17728d157d7da</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6aad442a5849a45688fbcd7bc409ab9c</string>
			<key>Key</key>
			<string>855bbebec01ed2f1e939370645863fac</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b2866546a751f9d6557c37e761c28401</string>
			<key>Key</key>
			<string>117f24929aa7c66e67d5ead2a0972780</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n45ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n45ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cdb10c7743b9480ce64cf902b6ce0f05</string>
			<key>Key</key>
			<string>e2f7a77e406653e3ad0306b6fd3afe63</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n45ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3525bab8a8375143469c5c6a4533d9bc</string>
			<key>Key</key>
			<string>e8a54cb7b34773d67a2e6540c588129f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n45ap.RELEASE.img3</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a722c93e4a9dfd101e673cab380f20c7</string>
			<key>Key</key>
			<string>3bf51c19a575f709b8440a88426cca1c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1007fd4b6d504082573ae48d96fa88e7</string>
			<key>Key</key>
			<string>94bd127dfec81a27a486d599b821875e</string>
		</dict>
	</dict>
</plist>