<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.0.1</string>
		<key>Build</key>
		<string>10A523</string>
		<key>Device</key>
		<string>iPod4,1</string>
		<key>Codename</key>
		<string>Sundance</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-7009-012.dmg</string>
			<key>Key</key>
			<string>82465a9f8328fdb0a4ef2b3fb19bb8934cb96e773d10d7e2b4ab29a5df482870c6737f7a</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-7927-011.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cb4c3fbf282d03a1335ba4c374938058</string>
			<key>Key</key>
			<string>0cbe705598b41ef45d49163dd349248f7c6c850c7132e74f0b7b5b6e9d31bcbc</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-7924-011.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c0bcc59087dda18d0627af51700b80b1</string>
			<key>Key</key>
			<string>51b355da8a84ad677d44eb37a88085e9f506aa196e45d1cd2cbc27e63ef5747d</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fa0abf89c62f9be2e9d724ce8ff92965</string>
			<key>Key</key>
			<string>eddd34308ec6138bfccd1004e9ea03e7217dc685e92515613d0d06135eeff71c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>375ba6d2e9d7672eea63eb82d0f57740</string>
			<key>Key</key>
			<string>5185c929da14e514a01682db880745130dade64cc37b45743ae22e6aa934c93c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>adbfb0dfa6dce65660609cde457b054a</string>
			<key>Key</key>
			<string>5bbaf8312442edb3d59294ce29dc0ea6bea63af39fd87268b907e63fe13be670</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c9aa5ab96c829f7b9f47cce1b4356ecd</string>
			<key>Key</key>
			<string>24241840a44b70cf246f05592e6a7b021988e52b6dbe958abaab166c1ed0867d</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>56300a3840f956906876e1f7420323cf</string>
			<key>Key</key>
			<string>f8ee708c19bd4db6c2360db5e29477e225efb765d7afcf12f613f08b0550102f</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a8884d9ecf228f6752d7fb3ad1b9c040</string>
			<key>Key</key>
			<string>fe33f3ad445401133412119ff882a00399a7817f30f1d941ff5816eaa3fb2c2f</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n81ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>239d7a50a1ec8403180f74a0d01bb8ed</string>
			<key>Key</key>
			<string>8af749ff05ed63dd9db7684d44facb9daa69a164fd1b799e78ed336837498dcf</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6abf8e2e3b7064ef3a4f1fe7179bc446</string>
			<key>Key</key>
			<string>3ff42737a62d84c27032d07a63c1c73c968641c8f05ee18eaa000d4c9cd4f3be</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3823055190c8a240e9661a7fc8e725b</string>
			<key>Key</key>
			<string>59b89f21b321a686fd180e03eedd515871631250bf4ea4d1f77da75b68cf6b0b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n81ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>00aaa6ef709023422dc8cabe0624cf46</string>
			<key>Key</key>
			<string>b3eb6a85b1ea2eef63b7de99ca12648b2b46b27df74dc2b024860a5507614613</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n81ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9c39813e0b3ade5bdfec1e05ce59a617</string>
			<key>Key</key>
			<string>e19527aaaf4b0903ae96cdf6153eeef3d1b614fae8c414103d2e4aa57594ccef</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n81ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d28ad8b5ca4cac1c178fd3465ceea743</string>
			<key>Key</key>
			<string>753cc79032d95b847c1b50e13815b57f887e152e68a96b59386a40f811bbe5a6</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n81</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>62017deb97d4ad07a4ebfbf37f82196e</string>
			<key>Key</key>
			<string>146627d2953e061c6b7fbac370c7982c77bb7aed8466c0a385e745953ca660f5</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n81ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8d84442d61cefff5fbce66c33f3990bc</string>
			<key>Key</key>
			<string>9200b3f6b577a7976f484143103e28e6abc0681e2d84ed631d157c017df4bc30</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>62f2dfe6ff94d03594e2f840f7504105</string>
			<key>Key</key>
			<string>74ef80744cffa9ed316defb4f8fcae8e9380c21a92283f9a9627525a611f6443</string>
		</dict>
	</dict>
</plist>