<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1.5</string>
		<key>Build</key>
		<string>10B400</string>
		<key>Device</key>
		<string>iPod4,1</string>
		<key>Codename</key>
		<string>BrightonMaps</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-2914-001.dmg</string>
			<key>Key</key>
			<string>4432650682d8f34039f9cc61efc435e95e266d6a425b73835d58f8303b77b8c178599cbb</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-2918-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e4970c57a5a39fbe6b27184b60ec5ee3</string>
			<key>Key</key>
			<string>1c2e0165bc8c56660359aa0b98422d3a46d4831a5ec9bed6502d267b9acae05b</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-5280-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3ee93867dca9f215eaf25c8788151246</string>
			<key>Key</key>
			<string>511f04ff6545e66f5745c9f5e15498e7f7fc7cf07db0766015ed28e283a6436f</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4070df5cdaba5b0cec11767d0dc62b41</string>
			<key>Key</key>
			<string>8d9f7126748e6912b60b74bd0d669614e23d1adf523bfa2f6af00c276891412e</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a4e6445fca1cd2ee18aec35e0d753fb3</string>
			<key>Key</key>
			<string>d5e111c0dcb258035c0fc673ee631173b1deeee88f755e0748e3470a60253364</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b4a8739a9b1db57be8190cae08e44128</string>
			<key>Key</key>
			<string>83d8f8b280bdc10567650c8fc34e6ce1b182215cc01b688bf4e7eb5056e128d0</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>69aa30e471d42c458b69030c8284b698</string>
			<key>Key</key>
			<string>8d0d1903915237569048d50af1364d525e5dba47c2c5126acda27cff5c5f93de</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a32771e1750c0eea967473bd1d65edda</string>
			<key>Key</key>
			<string>38a3ddbbf7603c2f18093483e1d7db414ea6dc95a9471c09373acf9ec09163ed</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b5b30924ef56624cc8654ec2ff776154</string>
			<key>Key</key>
			<string>6d77bf98a243dcc688f33e78fed1763aea91bfa655645dbac39d47a7428d7d10</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n81ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>830c518baddc2e82ad27de186a56e451</string>
			<key>Key</key>
			<string>fd12079909ae24b2f8140720854608d12c066def4dc07b66f142259d2970426c</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>278c2710c0670de83d952c77c72ccb39</string>
			<key>Key</key>
			<string>9fdc732e058907f49ff94be9baec01fbc5ab765faba0c03e39ff4d8a57ba4748</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fc6ee025aab901a2c51d54be78f49c89</string>
			<key>Key</key>
			<string>d740febbf4494318df276a2a3ddcf8cce6b609a31844c7b03796f0f83c500fc7</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n81ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fb44e5dbd3eb75d20f83c0f14d452346</string>
			<key>Key</key>
			<string>12a5192b4a2e860a76e9368e18e182e5f9f4809dcba62098fcbbaa63ef998a3c</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n81ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cebc2a5cce8d03563522b084efa0cf33</string>
			<key>Key</key>
			<string>d18f5cc97f6d8c2a4e1b5d580bea70c9fb4c071039fbae3e5c77895f63702c2c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n81ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>daafc6ddd42c8f807000b9c1dd453236</string>
			<key>Key</key>
			<string>1e68d69064ca17c6717be4fa4ff09a71eba1ad0af2a96df4b99a69f6e7258058</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n81</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9c9429b4440d6cd771f15955f1ef6671</string>
			<key>Key</key>
			<string>82c7c2e02f94c0d999245856e9405196368c7504e6313638806e17fe63bcdfc2</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n81ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1162f76744cbe19124f9af5f077e547a</string>
			<key>Key</key>
			<string>2ed23a4e0e997508097b2706034831e87b0a348a83df46f69b033efe4d83391c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>231eca9b0f98097100fbf6ccc7a71013</string>
			<key>Key</key>
			<string>39c79df854820cd7b9e0d790cc7d024188d9057fe87521f5edbf6a1f53cae835</string>
		</dict>
	</dict>
</plist>