<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.0GM and 3.0</string>
		<key>Build</key>
		<string>7A341</string>
		<key>Device</key>
		<string>iPod touch 2G</string>
		<key>Codename</key>
		<string>Kirkwood</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-5300-002</string>
			<key>Key</key>
			<string>415225778e1bebf8eeff2a9050b04ce429de9680e4acba50820a3fa453897bc4a4b307e2</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-5310-002</string>
			<key>IV</key>
			<string>395f0ec18c19f302298c0fd49b75c6e6</string>
			<key>Key</key>
			<string>8f4a88ab8acf4bed06a5f641ba804c50</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-5309-002</string>
			<key>IV</key>
			<string>b7ae396e8e8ea533b1593802b1d59678</string>
			<key>Key</key>
			<string>4672f8b511586e795ec7d6aa9ad1b1c3</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1237fe42ccb2cc144cf680d112409413</string>
			<key>Key</key>
			<string>4f597271cb2a131f5b9ffb1832f8f07a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>625434a61c354d9a325b7b8db48a0962</string>
			<key>Key</key>
			<string>38788d3f80e84c00a88feb454c1310ea</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2497d0cb0a5bc3d2b774ae0fc419f47f</string>
			<key>Key</key>
			<string>afa026b0cc1efb39586082ec7f2023e8</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9631f413e96a38e40925c41f2e60cbb9</string>
			<key>Key</key>
			<string>5fcc938c67b55507a230c76380d54a1e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>62edecfd87f56442a7e145cef66686dc</string>
			<key>Key</key>
			<string>067804b6f4d959e78e9c1b33bd3000bb</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6748c9a0659f51a1e85ea26aa6e5869c</string>
			<key>Key</key>
			<string>01b231b289acc777f3d9f975a3065379</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>58a4993608ddfbd3c7be970c7656f54a</string>
			<key>Key</key>
			<string>b11cafdbacf7ccc0a73a500dffe48c81</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>80deaa6a52faf40e7bd9f0c370bc8bf6</string>
			<key>Key</key>
			<string>e178f1dbfea6da9e2f266fd8948c4d7e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e4a3edd136315a9b2464526529bc6d38</string>
			<key>Key</key>
			<string>5ac996aefc96924fe7bfb9b8ffaec38f</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cb811d7b738e930fdf21660dd261e937</string>
			<key>Key</key>
			<string>592b94ddb22d797f5bfe0b6529223233</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c71876986992913eeb8b12b072e00293</string>
			<key>Key</key>
			<string>e0476a04b7dfba9531e1c0263f8b0143</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>562681289ebe33a82a810a6463b95dde</string>
			<key>Key</key>
			<string>d42a45e83880d70807fef01f2fed29ac</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>308dd79438f44a9b9f2d465dbc850f3d</string>
			<key>Key</key>
			<string>d1dd8688b1845fd4c58628e701a1e0a2</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6a362817b3dfaf5932f13a747e0181a6</string>
			<key>Key</key>
			<string>fd285252b62192710f6f8c902ef96aaf</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>98b8496df8d8997f5000b8252c8cec05</string>
			<key>Key</key>
			<string>5cfaebe8d1271e30d503b1337df51239</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f4f80a036191a8b5cf429caee4aafff1</string>
			<key>Key</key>
			<string>f56998facelc00729449e7c5620c98</string>
		</dict>
	</dict>
</plist>