<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.0.2 (7.0.6)</string>
		<key>Build</key>
		<string>11B651</string>
		<key>Device</key>
		<string>AppleTV2,1</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-2348-001.dmg</string>
			<key>Key</key>
			<string>65b5bd3f2469755086c684405c21ae871684ff30fd12d9af9049612649c26dc09dac71e7</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-2320-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2891eeb2c0672ffea16b1c645a0e41e8</string>
			<key>Key</key>
			<string>f41baf237b4fd0c5ecfaba7a0f3a3539c8546a34415dc8dd51a1eb4c22dfbf52</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo~appletv.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>09fa8a76282991d5b44aca47793f78b3</string>
			<key>Key</key>
			<string>092a389099007ff49b1c37e7f7e09e8eb54687d535ab0bab5a6d7dc66121fe50</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k66ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ad75ad4ccb41f252b169fee164533443</string>
			<key>Key</key>
			<string>eaaad6bf8af718a993e5a72d2c91edcd32caa4b5d72716fedc2d0ed16b933353</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k66ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cf22a404f569903d818bdfbde21e89fa</string>
			<key>Key</key>
			<string>a81f41b7ab1e7f703bb88b3d6ec7789b4996184c7b630af3461648d0991351be</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k66ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>76d579ac2bc377b0a137f6c428ec4c56</string>
			<key>Key</key>
			<string>0416cff47b806d8c9f72e7b13589809cefcafffa06010e3637aeb8900c93c210</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k66ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e1b3c5314f03b43a23c2926b418d05fa</string>
			<key>Key</key>
			<string>20616d73de709650d7b8a10580023164052a89a1c35e4ff6b4608b0fe95ea38e</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k66</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>21a04323ac59858624fc874be1d0da6e</string>
			<key>Key</key>
			<string>d8290edfb44ba0a33a0a661d84ba2fd7d58322291aa386f412c6ce3dfb50ed3f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k66ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>324792287684b5bf4840b2e31f5aba58</string>
			<key>Key</key>
			<string>7d4b224dd8beb1a3a563756bc80b7302348529ece090244bfa797cb52c3b1bb8</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~appletv.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c0a13b00f62372157cfd99299bc39625</string>
			<key>Key</key>
			<string>b0d1d2f23b8a751fffc6e977ef57de8a408a3d0111ee72f10d68b607b3a70729</string>
		</dict>
	</dict>
</plist>