<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1.2</string>
		<key>Build</key>
		<string>11D257</string>
		<key>Device</key>
		<string>iPad2,3</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7.1/031-4790.20140627.EDsAA/iPad2,3_7.1.2_11D257_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4416-009.dmg</string>
			<key>Key</key>
			<string>e082e192e39a36e8da312bdab7f0383145fc4a8c89f31f22c704abfa160873a63b2dc58a</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4442-009.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7afc464717affe671c32a8718b4356cf</string>
			<key>Key</key>
			<string>5e1466fccf6689c18967ecc879f668e97c73e16856c26187aa52d752299e121e</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4228-009.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4c86ef502138f7375d4460a4bdb5d07f</string>
			<key>Key</key>
			<string>ebb2ed9de8847269858462f48fd8e59e8009aee09814057ad392b7600785b847</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bc449960341e8921d31f922b022ee4fa</string>
			<key>Key</key>
			<string>ffe5bfb38bad58ea0a3d69575faa9773c23b81623e45522820375420d1fabf06</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>35f01045f53c3bc905f0ecb8ae98e5d5</string>
			<key>Key</key>
			<string>1286c2e5480308ebf1a50a8e5f783bbaaebc8c6def9eda80a7585505ea8da1e7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>59be26641e1312dcae5df5c45ebaba84</string>
			<key>Key</key>
			<string>eff1ceb1002daebcd89425dcd3c85038a7b64a28a7aee18d8782e0aef631d8cb</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>71815cd73c5edc3922e43e6ff2bd9f57</string>
			<key>Key</key>
			<string>a13e2d0f1ff730d0312227c2ba3ca659da23fc5b4be8ba4849892c24b117d6bd</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3ce93dac9c0719f482e3fd24f9774d65</string>
			<key>Key</key>
			<string>2cd399f09c32d4c70f0df162881c4900ef69fe5c58ad97148fac3637b83b01c5</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d9e882c15a6784dc40cae757e2776f83</string>
			<key>Key</key>
			<string>b157617ff6ee75d66d4a97c4a1794df9797c4f38ae64db9b767a4aabcdb7ce8a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k95ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3f60dc73687b0ecfdc7fea159e190134</string>
			<key>Key</key>
			<string>b73e8e2a06774f25d321eb782e7ddc3535f2d7220dd276f57ba4d0e2cc2620b0</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>99e0f380ae68ea3ce492954fb5303fab</string>
			<key>Key</key>
			<string>7e3283004b299523dd7246493de9ba2d36e14068ffc13fd119d7ca2e5e72ba27</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aa49ce2af387ae0c80877563e09196fc</string>
			<key>Key</key>
			<string>87fdf4e88348e7ca050479cec814cb80440ef6655c46d7549e8a4a0a55af1e70</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>413aef66e3616849a387aef22a1f2d4c</string>
			<key>Key</key>
			<string>f1cb795c4b2a1818047451c4ee6b7ca894a05963fac94a60b19194fa43b2d495</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k95ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f4e8f80c89473ba00d49697648e73788</string>
			<key>Key</key>
			<string>52ce8ec0e0dc458a203906e8eab72a6dce665c3c0ed623f515d1bed1971abc16</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k95</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>37127b3fcfecae246f859f020731eb9b</string>
			<key>Key</key>
			<string>8585258fa8e48b1ce48cdbbbbcdcc41998ef64d5590782273dd201ea4d1c6780</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k95ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d930f73a8d93a04df1988828caadf406</string>
			<key>Key</key>
			<string>4ce5aaf4da33b7f507034867e668960aa1ad09f51acab6310b00f2f9487f1d2e</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f97094b761f0465e8f0a4d48b5ce80ab</string>
			<key>Key</key>
			<string>0e9d5a6dc9541f3fbece38d03d908413722cfe6fb7fff2fd2b1ecb091b493990</string>
		</dict>
	</dict>
</plist>