<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1.2</string>
		<key>Build</key>
		<string>11D257</string>
		<key>Device</key>
		<string>iPad3,4</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7.1/031-4781.20140627.kvhCc/iPad3,4_7.1.2_11D257_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4135-009.dmg</string>
			<key>Key</key>
			<string>186c62a1a087323445d8ea420c42575bc57bf93c28de86c803a10786610f6aa8b2e0fa22</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4336-009.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0e207b9194da037bf3d239bce12eaefd</string>
			<key>Key</key>
			<string>a229c50b6bf4d619277f2976cbfa8ded8850b0d3113f363eb0c9c78aff890396</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4429-009.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>db68f5581955cc372fff0aa39e90c87f</string>
			<key>Key</key>
			<string>226da6ecc06cbb9d493702afe6ab7d2acd702952a8b0d5e7658c5dec6ea498f4</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ceeb60ac663a3bec46dcfad2446d5b66</string>
			<key>Key</key>
			<string>8a332764c237804bf23d81653f772f1674047ec5713281ed6f279286dfa5a68e</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3b4763158128b09a63467fce91571835</string>
			<key>Key</key>
			<string>bf5a2f9269bcad41c2b5a5095af3e3c42d21290dadf029b77e74b74fd2e856a6</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bc16166111b672d72130254874f2279a</string>
			<key>Key</key>
			<string>8626c0ef37a3f7ebe732ad36c95758ddb25142dc6b89e2b1a938c49780dc8366</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p101ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8f875297d7bbde28a3516585030f44b8</string>
			<key>Key</key>
			<string>30046dea43692fae0cff37d6ca020b9720dd38d7e376f7263902893a1cb0332f</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p101ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3bd152696b3022a623869ac8b8139d99</string>
			<key>Key</key>
			<string>33b73abaeeac1c7db1bdda9252ed2441a40738443dfe955e4fa99e5f428d414d</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p101ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5c02ee18b36074b63ea05ef82eedfafd</string>
			<key>Key</key>
			<string>48a88473fd543c2e5bd93bf09565c02053c7f9c4171de9962528f398a147d052</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p101ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cfc7263a5fd5eafe21e3cbd6b1dd6483</string>
			<key>Key</key>
			<string>def9c28264a1b8752f95fa7ce6b7ffc97fd662ad767b03816ef2fab4dcb3bd84</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p101</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p101ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3db1ad0ed9a0006ac84c293ce7ec1880</string>
			<key>Key</key>
			<string>0e902d9a7f68a1150816b7f9a5ce0f9f75ccfbb300cdfeeb23de068a21544a84</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1579d1606f914bd9178d5fa70ca0fcb3</string>
			<key>Key</key>
			<string>ccc419bb8dc9a5d71b90e31487d7aecc3dfb25db8c24d3cfee19d3c76a47be65</string>
		</dict>
	</dict>
</plist>