<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.0</string>
		<key>Build</key>
		<string>13A344</string>
		<key>Device</key>
		<string>iPad3,4</string>
		<key>Codename</key>
		<string>Monarch</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9/031-24741-20150916-18D8E4DC-5679-11E5-8CA2-E1F96CA99CB1/iPad3,4_9.0_13A344_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04041-350.dmg</string>
			<key>Key</key>
			<string>67926bb4a016e7a23cdf96c39b1697ed796e1ae901f5c47d9b3ccf10fee1227f4ea3579b</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03787-362.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>68216a58a64041ef64a495791e60aa5c</string>
			<key>Key</key>
			<string>1ebf99b178fb1c4c449f7997750234453e71e52826f1b7e5b34f3dee29caba11</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03578-362.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3fb39cd6e2588d46c46516c7536b20c8</string>
			<key>Key</key>
			<string>1194a39d7c16f4202c123615b970f2266ae19dce67201f791f7a5f85db2a7e24</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c076fb45c0c18d3fc70b3534f50622c9</string>
			<key>Key</key>
			<string>7a60c0123a9da4911e022748431612e2a9ed2c056ec5b502a846c78e270f882d</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>641dce772c611e8956eeed5d48917db9</string>
			<key>Key</key>
			<string>4da27b94935e50d8449bd18fb9495b56b1f30d482eec8e4bd198b8ed49a00874</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>012be04cc7cea5dc6e84cd7c9aabd43f</string>
			<key>Key</key>
			<string>f55c26368c2f926d3d7edcfe145868c7e6dd6aac5cb4e0210a5db5bf5dbcfa05</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>51088a28f7ba499a94c68681b850eff7</string>
			<key>Key</key>
			<string>d029a6919dec289991ca474bd1dad9c3168a303e90f530db06e214684e897858</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dabc7691bc799820f3ed4aef7f4069cf</string>
			<key>Key</key>
			<string>e2df815ed2bb89f5375d81a31ab0375be46f0b7cf9f00110ecd66f979ec0f074</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>81a10bd5204afeffb5c09258e858e8fb</string>
			<key>Key</key>
			<string>b3651beebaff03b42fb3a931160f31aea70f12c3f480700af599c535b32ac99a</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p101ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>854b13ae470c5e3f8bdd1965c1f7ae94</string>
			<key>Key</key>
			<string>fa2c090eb4b7d78b1c31228592ca85068e4df5e147ebc8f4efc592079341d5df</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e189f5868e3bf23771ab10eaa6a2c88f</string>
			<key>Key</key>
			<string>79d2e3a61dd101d8160291582c7e51bc7521d86721ac4d0e9838e8574a17d690</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p101.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1a7735b92120299891fe0f2e39266f2d</string>
			<key>Key</key>
			<string>97fca944ae3fadfe018b2c97252dd00c0134b20f49370e7a991f6607a26f6022</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p101.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dfcc19767bbed2af185e0487fd2f213d</string>
			<key>Key</key>
			<string>9f7eb5ada651da617f61afdfb382d4d1f81024d16510cabfc7840251830b2b0e</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p101.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8cc5d26c3cc9eeb8ae38ceffae128e79</string>
			<key>Key</key>
			<string>16a8df2ad008f35be561277fca2580fa9510b65c05ea241d39100257047cae8c</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p101</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1221b2564adf09060db0f2fc9b822516</string>
			<key>Key</key>
			<string>3ce419613e8d72ad990ec381b72528644bf29782c6410f08a66202e0e1c34dd0</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p101.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4615d832bd225982bc2c0f745fb51a86</string>
			<key>Key</key>
			<string>a23ff5911487258c7d61371d7c0f7b907ed517b519e774b1b39d38651d51e742</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e7c3652969f46e954d916dc9d8a5137d</string>
			<key>Key</key>
			<string>97229870a4a016d9fa4b1a92313ab263bda2af4b5f19e40488816ecfbb4418e1</string>
		</dict>
	</dict>
</plist>