<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.4.1</string>
		<key>Build</key>
		<string>12H321</string>
		<key>Device</key>
		<string>iPad2,2</string>
		<key>Codename</key>
		<string>Donner</string>
		<key>Baseband</key>
		<string>04.12.09</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.4.1/031-31288-20150812-4490750C-3C90-11E5-84FD-231C3A53DB92/iPad2,2_8.4.1_12H321_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-23859-023.dmg</string>
			<key>Key</key>
			<string>3a226d8253e744cf2eb84ae3b9fb19736350713aa8294e0bb8d9a241051223176c2d7ae1</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-24104-023.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>042e79bd09a1e7ef2fd00361f579ae23</string>
			<key>Key</key>
			<string>b161ef2e833f0db8a48eab5dc500bdbf5eefe37a0ca31f92153c23183fd9e971</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-24341-023.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>108a638dc1aa56053643083c07485eaa</string>
			<key>Key</key>
			<string>e3f7724fc61b4ba7ac2730b95f4ca97ae8644134969690500d436889e324d44d</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7024762156bac507f28dca8c1bb2f3d1</string>
			<key>Key</key>
			<string>bec85f0507dbec46982ff08e37b551310195dcf4f885649aab0162f729160066</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5febc7c988b8cf284f22145a07d5465c</string>
			<key>Key</key>
			<string>041fe53ed0412e184068c73220790bad5776b5b8cd365ec3c5d47476d280c334</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ff022969817ac42b8dad5f54a80c4412</string>
			<key>Key</key>
			<string>3ff8a9a4e3c68ed717d4ecb24b4b7434a9b3efc6724acc92fad718b1dd40c2a2</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>877a73e935315deb13b84a5f58f44f4f</string>
			<key>Key</key>
			<string>cda64082f82dcea541a727313aecf027e6308f64cf7b0c5c2d0eaf933fe55f0d</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>99e3aca913c7925c67072f5cdbbac950</string>
			<key>Key</key>
			<string>653249e7f7b0bf49b5b6f577d13efd28aaee0b05cdf5332ffe5dc15fec77500c</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e8ae3c240f0697f8cf6898e8be15757b</string>
			<key>Key</key>
			<string>7c16c8766bc2a2edba2af9741fbe8207e7077dd1327c5fb117bbb16a22c7ac13</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>31eafb5f2872333f49c391407533b913</string>
			<key>Key</key>
			<string>2340ba7b12093ebe1c4f9ad6adefb78b8aa5df718f63f4671dbc882cc657abfe</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>98da6966febd65b35a44a192b7372ab6</string>
			<key>Key</key>
			<string>4a9cf58fb8a356953094ffa3458afeab67794b52fde5ad581add9772d9a3ecd8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>57fba54b264b0911d3329de2231bd4b8</string>
			<key>Key</key>
			<string>e7677abd8b4cef14f9f75e02dec7fdbb0cc1ecc0707fb51367a783e4eeea731e</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>87af95c8e81448f7dc6f5bc6a37d9e55</string>
			<key>Key</key>
			<string>bfb3f57f1f16ea8f47ad056608717a52a481d805be044cf6e186212c5e342142</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>883c92ed915e4d2481570a062583495b</string>
			<key>Key</key>
			<string>ccfadf3732904885d38f963cce035d7e03b387b67212d526503c85773b58e52f</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fde7339da181e1197410abf1fa9f7f1b</string>
			<key>Key</key>
			<string>c5740043d184baa4d933cc376d0cf2c0c3bcdf1efee4b76c996a829e70c2767c</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>51ee3fc5b86c3625d072d0a8db072640</string>
			<key>Key</key>
			<string>3ce19c3bcc1f2b2dc3611be03952df3b11bf78f760755fbf529a20d143d9c56d</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>27e26a76c4e5aad81a242a215913651b</string>
			<key>Key</key>
			<string>94b064e65c5ba88ae555de1a6edc5510f6dcddbd1dce68c717300772119f44c4</string>
		</dict>
	</dict>
</plist>