<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.2</string>
		<key>Build</key>
		<string>13C75</string>
		<key>Device</key>
		<string>iPad3,4</string>
		<key>Codename</key>
		<string>Castlerock</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9.2/031-29112-20151203-854B22DA-8D8B-11E5-9A44-8B648B8BECEB/iPad3,4_9.2_13C75_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-26268-078.dmg</string>
			<key>Key</key>
			<string>7ccd940dfda4b304c87050997e9fd70b458f21b5f3845262d985730b23f41e84aa25dae3</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-26242-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8d2389c5f412af14d5a1e42b97d85eb5</string>
			<key>Key</key>
			<string>cfbe229a7b0c393945c693541440cbc11b32ec18b309d7b70d0718e9970dcb69</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25903-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1f9878f89ff006b1fb6bb16a7e746659</string>
			<key>Key</key>
			<string>e2c533b611609c2a896be6c1c8bc3ea19911f83423bdbe4fc78d2650602d9f61</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>939fe7496554b5e8836e1bbad87168ed</string>
			<key>Key</key>
			<string>a95cff36dfa16fdcbcaf3367887aa08a90ca7169362ee459113f735d98d6757b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>48ebb5b8664069d56a45308896ad9223</string>
			<key>Key</key>
			<string>3312b289334735c9903a8d63fe0bfc9ae59319ec76274eb5041c7231e00104df</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be81aa4fcba98645c865986ff9a3a8a3</string>
			<key>Key</key>
			<string>e51bbd6d7b88a94294b8bb057393ce227dec9977e24e1b31270ba7bb0b39a1c9</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fc5269a7e53fd566f2ba63e1fb993212</string>
			<key>Key</key>
			<string>1075e2f832a2755e6af9487419b70b80e5e3051e7d16ff4c752f2357581c4041</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e4533ecf6a2f7b41896992d63bcbff3</string>
			<key>Key</key>
			<string>4dfabddc5c80e5e22ca52e0d81dc3d0fba1a164f0bd41a4118f20909c114f763</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7c081f1b51cc28cf495ef79e3dd7feee</string>
			<key>Key</key>
			<string>563353bb283826ab3018b4c9f69573cedbcb53f243ac53b85823fb58b71ce5a4</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p101ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>27515ea049255a243c5f72372fbeec1a</string>
			<key>Key</key>
			<string>765d90dfa44890d2f655d9d4d1d111d38161bdbbfcad78e5b0346931ba285119</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ac6adf3719c75aa5c30a3fa08f9ffe09</string>
			<key>Key</key>
			<string>9e53d1b0119a7235d8ad80e1fcf518fb992b37ca980970d63931195f0a85b53c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p101.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>50e96f48fda01386a106fb78248c8aad</string>
			<key>Key</key>
			<string>c5055b905fa9c609fe7ace75e32d6babee75ad49b0c23bc7cd5e5aa07121097b</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p101.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be5a53de73799299a88eb5c19c80d020</string>
			<key>Key</key>
			<string>34f708b61e07a0a34e539d84f252b2dd49cdabc67016186561a5e2049952db8d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p101.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>efeeb77b4d4e13e701383eda7a636ddc</string>
			<key>Key</key>
			<string>79051363f1e817e929b62c7395460818a7fcf6c32c765b8b3d48d8f91214cb4c</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p101</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d23c8998f3b345f55f89f36be49120fa</string>
			<key>Key</key>
			<string>a3a2cce89d416f626f087ffadcd802c332fd3d41ef0b8ba8df95e2ad0c9f6741</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p101.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7e7815771dac738514d120eeb7885dca</string>
			<key>Key</key>
			<string>6335a2cda49b29668a5d88b4e5f339daf09d2800963602d4eafdcb0bd2272dc1</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>09a8552975a9ad6ddeb6152e0d07191d</string>
			<key>Key</key>
			<string>3bf76ef48c096dca398761850146c631ae75dae56d8d34a22cae707381602c4b</string>
		</dict>
	</dict>
</plist>