<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1</string>
		<key>Build</key>
		<string>10B141</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>Brighton</string>
		<key>Baseband</key>
		<string>3.04.24</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6.1/041-6608.20130128.6605t/iPad3,5_6.1_10B141_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-5898-111.dmg</string>
			<key>Key</key>
			<string>9c0fe5c99e30ea17f9a1468e86dc715785e6c1fc9a73c727cfcd73f5a1a6e468537bd04d</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0135-003.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6b76b3c6076c5b5c1b7d4d81729187e9</string>
			<key>Key</key>
			<string>4ab0bb73df1b2b1e74be770b76bda142950708387d734b3b6e3df78e3fbcc47c</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0153-003.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1f74111e3f82f56cd53586cd6da047d9</string>
			<key>Key</key>
			<string>7fb799de6ab0fd3eb66c8f874005dfb2525bdab182c42c3cec69fb4b9511f7c9</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d9d2c89d7a3386562accc67b6ac4b6ef</string>
			<key>Key</key>
			<string>bc8d3543849cbbeb066df8395f48052f528b28741f4f3a7d438cd1ded1fda639</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>49425d3eb9cef7d4a5b4450dad68a31c</string>
			<key>Key</key>
			<string>2686b92d31d5ba2b2c1eebadb9ad7849c399ec65607a74bdd75b73d2f7b4e791</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1a0318e2a756d09ce49fa2ac94d75fa9</string>
			<key>Key</key>
			<string>2d279969f6b08b952ff919ddcf95f7a34fbd3711cc22846766bc5d370b2b66cc</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bcd307150dde9eb2257946cc6f16aa84</string>
			<key>Key</key>
			<string>c279dd948e99800d11968f1eeea7c7337b7d073c5eecc36dfc827d0f3483fe1c</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9ee8516ff20046b766f4c6e8fe2d97e2</string>
			<key>Key</key>
			<string>a9d6c966947aa496af45a512697c1243f59e10529d5cc221f80c9c01ee557257</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>537ff431ebf3bd970a057de4b46c58ac</string>
			<key>Key</key>
			<string>4f73ebd63385c67a9f6bdc1524324a910b3833dadbf5ce5a47ad5e73b50278d8</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cabc6e4e5103a98afc5177c9876434f0</string>
			<key>Key</key>
			<string>70bed62433e7d55da03d0eed96e042d27fe2ca5b38b43292c60050d8bc843149</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>63d5e003bdda0e6d325121cccb9e8420</string>
			<key>Key</key>
			<string>23dac75d612be40704ce6b296cbbc86d802ba44e42317ebdf8f4c78f9439bd68</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>24347cb6763f68dfc744426e773904b1</string>
			<key>Key</key>
			<string>1cde56825d2d81610a6805331562bce33c91a0403626f81d294eaa9394f54684</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bf16d68d825abbcaaa55cc54732b7e2f</string>
			<key>Key</key>
			<string>32e83293923afe2f0d4da28d5a14bc48b3580596afc3c5c40178ac0a8ffe0767</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fbc97b6eed426697b4427c7b322d8479</string>
			<key>Key</key>
			<string>687bcf8b8ea283d43086f8d7c8b72f53d1c2f26834a6a378c01b220519281c2f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a0464982ec350a23a78cc53010f930a2</string>
			<key>Key</key>
			<string>186373599add5eb2767eed6e3b0e856c5ed7414c3adc0f734fd7c3bb937b7ef4</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8aec4f07d1be040f0223b81baf5e3415</string>
			<key>Key</key>
			<string>a7a30cb336e2b50e38020db19294ed1307f2dab6056b38be6bdc618680e7d26a</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d2da6d176e3093a54d5bd62804215dd7</string>
			<key>Key</key>
			<string>c05f6502aa93e0e52f8b507b46a0c0c9544b3f12c6786c8015446cc7b8bf2e1c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7b3766f2cb75f4f7cd960630bc282305</string>
			<key>Key</key>
			<string>75c5f3c8865291046eaf35063239b4a66c74cd6e2bbc55781d703b3edb818f24</string>
		</dict>
	</dict>
</plist>