<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.6</string>
		<key>Build</key>
		<string>11B651</string>
		<key>Device</key>
		<string>iPad2,1</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-2920.20140221.8j5GW/iPad2,1_7.0.6_11B651_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-2375-001.dmg</string>
			<key>Key</key>
			<string>e0ec291cacc67e03da916535c3ee1b957b7242e5ba253f0c9db451bc061e41e28344da58</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-2386-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>409d9e54057936c14fee7cccb70480d8</string>
			<key>Key</key>
			<string>15bf1db7790414fb85108539c89cbacf2ec141c66f9ff997426dba2a6fcdef7b</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-2340-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>68c3c88a3b13919eb3a7a91456406f71</string>
			<key>Key</key>
			<string>eb5cdafadda064da1700e52142220cecd0998321bbcdf92e354f62c9acc6a7ae</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c29f8a77bf512ac31b558144f3389a54</string>
			<key>Key</key>
			<string>f760cc1fccfa9c1b4d97fa276d2943c433f069d24a2653452667ad2c4da97a29</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2426db8847b048148c29338c4bfb9bdc</string>
			<key>Key</key>
			<string>bd61a78cda4d0d201de3dcf9b34df89033a0f618de0b15aff89b8c73532c09a7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f58e168dc789515c021a71ea04170af9</string>
			<key>Key</key>
			<string>359b5ecf19327891c0e36d6604057d377216808f481ced221e898cd33bb526af</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f7d713e3d12880acc4801baa25531e34</string>
			<key>Key</key>
			<string>ef922018a30ee16ffc710b11d5395a50299d403cf315116dbdc8787dfce55870</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aef9a422464d9d381d5b17b3dd96ce25</string>
			<key>Key</key>
			<string>940e6d3df1bd151dc9d61b5b4911314a584d8f0bb647d108d96da8ce04cad7aa</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a57e18137d6c17dd368ddc2965d0fb97</string>
			<key>Key</key>
			<string>beb1207d7f876a1c34b1849c6338425f9367048754f227a1c7a5c0feb1e1de13</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>beb0f5bd27c66e3a7cfdb13ff94a858c</string>
			<key>Key</key>
			<string>6a125cf37865d2f7d250ad1323d4125457ef8dd54931f65b01b8b395faa168bb</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a778a57b6fce99b7ff3e23eccba3855f</string>
			<key>Key</key>
			<string>676bbf61af7ac22ea5c68f5035e411efa1e8109a32925af7486fedf1b5fb60f5</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a08f5a3d63a6fd6f8d045fdf57be6917</string>
			<key>Key</key>
			<string>7639025c513af2b83fed84c321749e2a7b62dce9e6c1d8b7f79421a51cba050a</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>72ef076635bbe7ec9e1883bf1777e7f5</string>
			<key>Key</key>
			<string>f29ad0d647020e4eefa088efd1e76983ef8f27c69bc2d465799680f053a67235</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e5d1157c2a7b77a8b4db3a589f9b0b5e</string>
			<key>Key</key>
			<string>f288328d10a4af1132aa94f08c7636d8c88e223a0705a1953798d826b334652b</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>047757676fae30e4737d7573b9887492</string>
			<key>Key</key>
			<string>3c6c1a3123bfe4f85fbcfc3341524db9b7d9cf63a0243f8da48e62bc1a5a185a</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>19b398676e0bd800550ec26a23d95d0f</string>
			<key>Key</key>
			<string>355216ed5ead584608632ae4811459868dcf7bb9dd82a2849d8c803c51a96ae4</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>742585bff8b58d67a1ba2d7a790ba64b</string>
			<key>Key</key>
			<string>34f9098284e8c04d66fa724aac12196ddd81ee9a1341b77cbb61e48391e12457</string>
		</dict>
	</dict>
</plist>