<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1.2</string>
		<key>Build</key>
		<string>10B147</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>Brighton</string>
		<key>Baseband</key>
		<string>3.04.25</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6.1/091-0719.20130215.FssOd/iPad3,5_6.1.2_10B147_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-0844-003.dmg</string>
			<key>Key</key>
			<string>df6dd907792ed04dbf52795f6823916bbc8dae5a65282c122a5fd7303279d0fdbbb019c3</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-1452-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2aa26eebf18e591b9ede65b248413c9d</string>
			<key>Key</key>
			<string>8310dac8268cc6ce929b1d1d2b8fc4bbec97b7adb84d6f64ad4bf3bc4ea7e801</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-1460-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ddc18dffa4310c3822a4bcc4af7e2131</string>
			<key>Key</key>
			<string>898f286fd8f6af3af6ed909ea852d87a4e481e8e6efecadc6ec2e5935f8b5db8</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c86f47c3fe0ae35d7e124134b40ec606</string>
			<key>Key</key>
			<string>ab7d719b666f43ddddefaa61789bbdcd3b4c9f144802df78707fc6d3ea9ebd30</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8872ce194739a0a9e323c2b3c8ed19c3</string>
			<key>Key</key>
			<string>c521df99f50e33caf5a471d8e68f8de5b6cf97466ed1058fbab10685763c0c96</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>64925b88915efc7ad101f208f1b0e75f</string>
			<key>Key</key>
			<string>36fe7ebed0526aaedb9ab6f5b5d7e51a2c4eeff86a0506d0d24f7feea1529846</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>71ccd010fbddd0a619908ce76474af81</string>
			<key>Key</key>
			<string>fa9f402b40d171ef7c09dc3934b402e1f81a05f1e7c27096507e4d8e0112088c</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>209856fcf35f08988e19e631ffb34d20</string>
			<key>Key</key>
			<string>73c668f7fc486678d77c0643758b9106f263222f9b86822d843fa54728d2e249</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>71eb3bc09e3a3746cacbe6033a6c7388</string>
			<key>Key</key>
			<string>1135274f7485b3cb7d8e87b5680f41ce03b3c871c9f7056910046ec78df9baa6</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>75c1ebe639b607a2c51add5b6af18cc4</string>
			<key>Key</key>
			<string>7be5304901520d8669c05c88ab92ff3ccf84da95f64e2dd5edba5d4b39733d56</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>668416e25a0ffa70803a2a224f836ba3</string>
			<key>Key</key>
			<string>92ae9939d7a77787669da64d80a0d816646529926ad17855775564a203fb4eb8</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5db361c1c32e872bf5d198b5974e7322</string>
			<key>Key</key>
			<string>577da70a6632e83f2cdeb9220511a9606a624dd00a36d4d42e35a25fbd32239b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fae8c1319510944649042d64dfb3faf1</string>
			<key>Key</key>
			<string>945707fea251054323cf516736d03dc68c2e7dbdd292b8638296c5687b7e8a29</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e5c04cf3a1a9f5e7c7021dcc53b44c42</string>
			<key>Key</key>
			<string>0cf5b85ce3f32c6ead52c438c31f0992a81845f5bc59f454ffd3ba0826f2d1c3</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a0850b61d65bdc3e7ce8942cf21ec4ff</string>
			<key>Key</key>
			<string>8714cf43dd94449baa715ddb4ed7b1a4b5cb2447484509d4a8b71cae3048717c</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>54684101373f473d59768d1772998d0f</string>
			<key>Key</key>
			<string>fc1a741be3af5a028eedc242273dd4bfa3dd55f2282b981a50bd137dd67b41d1</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>de0a27fff6fd4a1049e91294cbce2228</string>
			<key>Key</key>
			<string>4593025bb7df296f51f6d753a22cfd6de3440645e5cd6b7bc828e3f805866f8e</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>45accb5d9e58e34bb856d1ff2602a07f</string>
			<key>Key</key>
			<string>ea135e47faef96984126f0b5df0503cbfa15cfa5415e920ea57b3ebfa16aa30a</string>
		</dict>
	</dict>
</plist>