<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.3</string>
		<key>Build</key>
		<string>11B511</string>
		<key>Device</key>
		<string>iPad 2 (Wi-Fi)</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-1020.20131022.14lik/iPad2,1_7.0.3_11B511_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-0335-002.dmg</string>
			<key>Key</key>
			<string>a296935d948524126cf0d4051d73f6084997e51ca8687f99b8ad550a112cf3855f4b91d2</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0337-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ba28897efe3620c53a918a45c7a27bcb</string>
			<key>Key</key>
			<string>3ce638d8cb1cc204c7d136809bc2836f7e1b2f87ee3e2d053c50bd45d5bd1b29</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0329-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>15382609671cf4f48909c99940e716e1</string>
			<key>Key</key>
			<string>beec5bbe74da56ca4e64420634c001e46d54a590ccce3286700d53f671f22451</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>93da9da1a80e42c6f54aa79464eb5670</string>
			<key>Key</key>
			<string>483e65fee786947d460820675f936c293a603fd54f9a61e7a12aa20d280e796e</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>305ed05e6dc76773adcc05555869dbdd</string>
			<key>Key</key>
			<string>35b8200f21921ec02601f69ff657069a9b2ac6c1107c4890719880f0969bb859</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5a71fe4b9f45985a2da44595648acacd</string>
			<key>Key</key>
			<string>c13200281edfd63a6a24612bdb25b732cfb554c1febe5e133b8531e0e12c54ed</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6e0fd3c73dd9bf84a5b9ac17a11814d1</string>
			<key>Key</key>
			<string>7b6451814eefe7c5385bea78e92ab2340d9afd8c010be82b76a5a22c528d62cd</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6a85c648758946501d6529c4484e12f7</string>
			<key>Key</key>
			<string>f20c2134291a20713fdd963c90121a71850416ab9de561c266973430ba8dfb24</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8f127b163c612934763a5b03da5641c1</string>
			<key>Key</key>
			<string>6a5f9f4cd2baf66d227509cb4ef6291f2a23521d22fff326ae3ec9153dcfbbd5</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ce98e6ca63242e24844d204a1bbebcd7</string>
			<key>Key</key>
			<string>5ac5c3f3b6abd14f860273c1e00df17a21be33564137b1470bf3d52170ca204f</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6a5290b588ba7f23b7142e157ad7f690</string>
			<key>Key</key>
			<string>9f2a2a7b0655b6811ca18d51c8af95785aa989ee90ef36bf8dbfe57f00c7b2ae</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1aa88a655a8c7f8474218cb058978a35</string>
			<key>Key</key>
			<string>138c8926979e312c859f72d6e83cc2eba0645fa77605e26560a84ae219739fb8</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0df8b766b5c2f8b773708c598606b0ae</string>
			<key>Key</key>
			<string>b4fa4a721a169f435115fbb1827176bb0a861cf846ff7fa03231d17861e16eb9</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6082ac1f5ab65c6d384aa3191cf0b3ee</string>
			<key>Key</key>
			<string>7b7a3c1f5653cc2442122f86b2bbdc94f3bb46dc1fa2ca627a91b79fa4cc9f45</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d3316d0d9763e1f8ccbf66fcb0b049e8</string>
			<key>Key</key>
			<string>da62cf16d79c3e867d60870b72bffa05f5d47d584ce8c8e1b880afb39a9c7b3d</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fd06d75080f36275b2850d8fc9d23082</string>
			<key>Key</key>
			<string>5af72584ab98e6dfbfac3f05f8d0c2cd5ded4ee33851412e329a0727644295c9</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9534b350b4e30b772dc52284cbcf3837</string>
			<key>Key</key>
			<string>89b35134c64ed26841b56f2e1edfa919756212fe8957aefd7cacbb48812caebc</string>
		</dict>
	</dict>
</plist>