<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.0</string>
		<key>Build</key>
		<string>12A365</string>
		<key>Device</key>
		<string>iPad2,1</string>
		<key>Codename</key>
		<string>Okemo</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS8/031-05398.20140917.9eo9l/iPad2,1_8.0_12A365_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04755-035.dmg</string>
			<key>Key</key>
			<string>6e1e63e8436d30693982fcb69289ec523de00682a3825717c0ae8a78ef328f78977139b9</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04807-035.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>59f56039cca1dfe66e86db1f78812a62</string>
			<key>Key</key>
			<string>3154d2ff053a181ef067b8983e0a1903b221f360fe09eb237f5640b974e22d05</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04585-035.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ae3484333ccb1f8ed1638f4a7fd38dfe</string>
			<key>Key</key>
			<string>6e2e691c56cb9ef97659cddad3ffa25f31e3eb53ecdf3216bcdd8ae756d0c0f4</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dc068b5100de41b3b20212100854d462</string>
			<key>Key</key>
			<string>ff77706f9530063398e1676962af6dec60638621aec3c6f5ebec56bdf6b03fc4</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef4c55ad1faf273ed2174d5cf76f2501</string>
			<key>Key</key>
			<string>e414af53b58f80f7e0619c14ebaa98a4f41ad951a5051c8be70d1b351a86917c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>498542fb15058da5dd4c45df8d6eea07</string>
			<key>Key</key>
			<string>f3b35d03a5852fdf813338330a5408e702a0132ac40a9dbdcff32e922f6075c5</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7ad492cfb58210e5ba42bdd388b3a2d6</string>
			<key>Key</key>
			<string>23d0c941996510acdb75627efce8c0ed17a82f487cd77ee726dd2d93ba38bc4b</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0b8143b389ac590d19e1a7ea26611757</string>
			<key>Key</key>
			<string>0b5b5fde93c7bd4a9e7d87ee34ab403bbec0d0ce08112acca81b3b5d16b05cab</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e7d79e9eadf52160aef2c3439ae3e66</string>
			<key>Key</key>
			<string>69418cf4989b5a0e4da6b9dcc4c0891745226ba9d7b94ded907f5e06fec0b02f</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d5134a24bd8bb48650a8c584be6b5bf3</string>
			<key>Key</key>
			<string>fbdd1e7ab0a0268cc4d0a53e3c5ab11b5cf6bc70171efb0d21995adaf0ebc257</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e4000aaccc28e0609fa69fc7147e1b16</string>
			<key>Key</key>
			<string>1ac9a33c648fc51b8e0bdb955cf391c45ad9e9a9d9ee015b30e2b5733f2894ac</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>36c19642042d0afa5af1e21993c771a4</string>
			<key>Key</key>
			<string>f0fa52baabd3552ef12a6bcb0c7bdd512c179f01ceeaa1c1f00d193b23261744</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2d25b3fc6e67e92e32a395a3c7682a30</string>
			<key>Key</key>
			<string>79e488668fec9559095d30746f18f0c14b4b63fbf902d949e26034c8d6e23ac4</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7e2fde88d68d0b9c91aab0aa4afd6976</string>
			<key>Key</key>
			<string>f28ad0636ba30105bb67da54f750530e7a4c90c3fb73eeb2d1b167a4fcf74f89</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ba68fa279df6493f99b79e4cdcdf741a</string>
			<key>Key</key>
			<string>ec7835a32083799242a2ae80cdd33875d062064506deebbed39335f6bf3f5687</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fc46516f76d2afc8fe84a82e60964a42</string>
			<key>Key</key>
			<string>065703853ea098f3a836a612ed7027358c3885507d6a5d71fe8f4c9854a6afc8</string>
		</dict>
	</dict>
</plist>