<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.0.2</string>
		<key>Build</key>
		<string>12A405</string>
		<key>Device</key>
		<string>iPad2,2</string>
		<key>Codename</key>
		<string>Okemo</string>
		<key>Baseband</key>
		<string>04.12.09</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04527-039.dmg</string>
			<key>Key</key>
			<string>b0472d13b066db14faeef64490b6e515511d5e8379d35d168e4439a7da95585fb5db3ffb</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04807-039.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7f551205bf652b7fd08836922a3116fc</string>
			<key>Key</key>
			<string>8f8e653c27ad918e19d1f4c6845d44577f5ab4168ecb23214caba92200bf6caa</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04585-039.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>428ef7b8bfa35acd579cb113f2991668</string>
			<key>Key</key>
			<string>5db7bcc119d764ff3cff8159d250b3b47d3e85e43407fc62d0991f4bb7be8f10</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6fa2f5c998b873672a7e0ec7a8f12a44</string>
			<key>Key</key>
			<string>663f6bed8f172e2e2d039896e848f5fbdbba4d33367070b860dddcb1cafb95fb</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>92f86d92e79adc6302f2cce730ae6d90</string>
			<key>Key</key>
			<string>1f27c78c601701095579a9a1d8f1e1bca318c1df23555e28b72bb2a8cf462300</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6ae2e304de83ee6bc2b2a62c98bb61ec</string>
			<key>Key</key>
			<string>77848b7cdc42d45fdb844d76fec6cc670a7ee0f05a81fa1690c47292e4307e13</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b10651dc8697b2b088c7112ed75f8007</string>
			<key>Key</key>
			<string>0f87b355d676eaf27de4e2e0e33355503d205a430ca53b63f88584facca18744</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>913be140f5e57902f03c272d7142fde9</string>
			<key>Key</key>
			<string>b02b879e4688a8275aa454c3015f956e9f3adfbba4da8cbcfd52371ba27bb552</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ddf013dc6550ded5d4766b2c413ae427</string>
			<key>Key</key>
			<string>13eb5c59f00d927264ee7f2a744383b0cae78225883149db09525d4c03dc80be</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>726a7f03415dc00576fa6d0364ebd43a</string>
			<key>Key</key>
			<string>4deb262d76ed8724c4f02cd2a1b7716483bef21d623dfcc3a6d342bab2692cf2</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>88582eba08bbe6827199874654fd0ece</string>
			<key>Key</key>
			<string>6993f42eedbd8b03747e62a65c52d1db597dd63dda5effb93b3a719e764afa3d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>77725822059c882f9a8b4e1cb0aed7d2</string>
			<key>Key</key>
			<string>5e247e747888e9177d79575634adbfee33a32f0ecc7cdfe91e5a662af66455ff</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>71887803e08065dd3d7c9ca1ecae539b</string>
			<key>Key</key>
			<string>2b26bae25b3fa5afd71fb6046a6031b003348d2c4f5dc463dd8941f51ee5069e</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>29ce46b59805b5608723cea649e87530</string>
			<key>Key</key>
			<string>6a5a3745c5623b45b86a7a106078d0be31d95727be734c67704b8eb5d841bad6</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>df0a95876f5cc8210a99b746dd04b541</string>
			<key>Key</key>
			<string>887148ee72eb53c1f9576a6d8d77493a982749b0fa51d5abd55279ab81ae0e6d</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7e83b5c404ea4f840f4fddf2348ea081</string>
			<key>Key</key>
			<string>cdf2afee9a5e4bd5e661e61f1551bbfc7f7661ea8d747877547610af233da35d</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a49685fa6d0564b30d8b886fb4e6506b</string>
			<key>Key</key>
			<string>16fbdea103362d484832ec7954052eb0672178fc9dbcd470312852ebc9372bbe</string>
		</dict>
	</dict>
</plist>