<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.4</string>
		<key>Build</key>
		<string>11B553</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Baseband</key>
		<string>5.02.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-1136.20131104.llo98/ipad3,5_7.0.4_11b553_restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-0420-004.dmg</string>
			<key>Key</key>
			<string>aa870f3a314f17765aeebda6cbe523c7cbe5a490cfb6d2b80ff577333b771ba875f98d08</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0417-004.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>635973d5393667b4ed43a66f80e209ff</string>
			<key>Key</key>
			<string>e0f863a473a2a3a27e0d673939f6683723913bebb2ecbad1227ab6d9090e99eb</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0439-004.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6f3fae73a81f739daae4bc50a241a14a</string>
			<key>Key</key>
			<string>03b8c54b5460399b405acfeed29cd493934c3922db3d92a9d61a068f82e833ff</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fef2662715245b3d18b00f56061ca150</string>
			<key>Key</key>
			<string>8ff6bcb1aa4c6e12275da7e8854d94a385cc9660e7b409cfb8674e4dc4f4e335</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fdc0da1f9421c6f58979ce1b4ea8bf5e</string>
			<key>Key</key>
			<string>3a6354293a2ee8d7eb70c4aea1b6c28a71c689607427039275b0d4fd73c6db57</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e10cd7d75faa48dd5954d4952828238e</string>
			<key>Key</key>
			<string>f55ae40bd1076c2b25335a34d938175e9b7a49085f795abd7f7620e8e913641b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e72db0ea9c252b9e0b76d56cc0c348e9</string>
			<key>Key</key>
			<string>142254dec4adef5d933c4e15acbf52376f875817f8aa656357078f2c78e201dc</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>10b3ceee30b662458c5f25e1e47059d3</string>
			<key>Key</key>
			<string>68907d98193c261091b3dbc2283e538d12a90918a7f50b9b15766b126aa018de</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>25f57bd659f2dc1c3e31a948a8bed2e5</string>
			<key>Key</key>
			<string>22a2225e22f965ba60538ff30693505f42ae4c7a9cad8a811e93fdbbbf81cfcb</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1f00c42a60e4b9fc3f2c54421342630c</string>
			<key>Key</key>
			<string>f3c70ce3afc649aea0d84f96b3070ce27cf7415321810b9a7402f14384252849</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b07f52b416329dabdba5f95146242f86</string>
			<key>Key</key>
			<string>2b77017885afd07f8c780b7434a74465e90daae86856ae6fe7f99766f3958080</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d651dfa8ae83a3ac85ddb9c27321a080</string>
			<key>Key</key>
			<string>b1f6dffd7f40fb0ffffc0be35358840f16fad0702ed98002c106f4427fa0566e</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a55faee0ba5e5b66e5aa64eca05b1bea</string>
			<key>Key</key>
			<string>62f7123a058456c508836693ebdd89d054e0e48993cb0c876469375b99603867</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e43fa203ca26afe289f33e7490e29966</string>
			<key>Key</key>
			<string>4aed51d00a75741608c331e9cc060cc1a3c0ce1b227253f36a8576ba95d9fb7a</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>11f1db391a86085e3a36b7b32a321148</string>
			<key>Key</key>
			<string>70b7a184aa808bae502278ea0b5f0ed56441be3ddcce2882a8bc3e62e55d081e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>867773cb0967da43bfd5656f75e7dfed</string>
			<key>Key</key>
			<string>42b273cfaab586542b20cca3b1cd56a2e5d124ea8d4595ea46e76cd86fed1db2</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>623e37036702efbdc85ece96635889d8</string>
			<key>Key</key>
			<string>f93d2798162f9be6a2ff0f5e4e7c35d4724e97710ac349abc62bb11b4e9d2160</string>
		</dict>
	</dict>
</plist>