<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.3</string>
		<key>Build</key>
		<string>11B511</string>
		<key>Device</key>
		<string>iPad3,5</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Baseband</key>
		<string>5.02.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-0924.20131022.vajre/iPad3,5_7.0.3_11B511_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-0191-001.dmg</string>
			<key>Key</key>
			<string>1638ea4e597da434cbb47443364c7728edff652c30b800fb4e01f989179dcc5819967cb8</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0187-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>977de88493d728bf7e0ae2d66bfe3161</string>
			<key>Key</key>
			<string>98ff966487ac5e244f6f2f66db7f25630e59be2d971106764b59af8a88392fd6</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-0210-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c4dc03ccd55749d2f8496dcb68cef422</string>
			<key>Key</key>
			<string>eaaa42f1d8e70b77aaf4bc772a5b6c1c4436e4152b810d75a820892008de4731</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9d9ad58ba71be5d027bfe5fffb9ed033</string>
			<key>Key</key>
			<string>46d78a45df812cba6ff31a78de6cc8564f5e1dc2e734bdede2abd9442ec7e3c5</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>58274d0a91f02734311dcc6026ad4cce</string>
			<key>Key</key>
			<string>e64622f5661a40afc519da66f1c5edcf8f25d3b5b8227c0a2d951b861e567e95</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d0e9aa0bfadca3e48b239bfc22bda25c</string>
			<key>Key</key>
			<string>2665b43a7f98d441265ec1c7a28b6c93b6dd62962a9087f84a69d378d24cca33</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c8947826dd6eed0e6b81c45e47570944</string>
			<key>Key</key>
			<string>daf37ee0c3ca15f9305834f457b27448c8ca8b741b0f2553fd1a2eeef3cf649f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d4342c2755ba871321b6bf3353e35569</string>
			<key>Key</key>
			<string>45612f0c6d18fdd815c29910482a97ad1fd797f1e34e4581a0f84d4c6ec6663f</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9a4f53563bd8a4fa99b443b53e2123c9</string>
			<key>Key</key>
			<string>b51ccc20bfea39fd2c31f50f22e57b53dbbcdd87c4e83d68eb44e252b92d1ac6</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p102ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c8999830b8a727961668c4e43ce2ad1e</string>
			<key>Key</key>
			<string>baf9f6fc8a8242ef0b5d91baac42dd1087c8ed727e3efe1502763fc9dcbd4fd7</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e5fbe1766ea0c96d062d743dc24d0451</string>
			<key>Key</key>
			<string>d658a150a40e77d40b03f35919ca16c5c8f64909dec7025988245417d60b9ebb</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3de9865c2eb30a398b9c6dfb13117354</string>
			<key>Key</key>
			<string>6aaf08fc05c1d580e7219a8aed6fea6f850fe662aa902552904cf1e48901893c</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>489cbd083edc05489ffa7773bdc9fdc6</string>
			<key>Key</key>
			<string>f1d836047d85648db5c0154241b425c59b66d985dec76e12d034e5c30aef6fef</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p102ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2739f4348844d39157b50dd0084175fa</string>
			<key>Key</key>
			<string>1475d8555dec3b1314e678250488c629fa88669d1d9debe1a4b131b7fc736a59</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p102</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>da6e80baf008ffee4ccefd543294666a</string>
			<key>Key</key>
			<string>1d0af9c156afa839796c0f5735dfb473c94e108ad7ba61328fa143737b13ca1c</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p102ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2dc5a6a1dd3c6f70217dbd023ae1ceb3</string>
			<key>Key</key>
			<string>78f580ed6936b7da9ab90af0bf425ca6dfe68b29fefca0432ecf08b5c2a9412d</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8f1f93a477933910d1343cb073c3f689</string>
			<key>Key</key>
			<string>d2d2f36c2bc786dd6e30680506dfc1766ba63038a49b1dc6c36189b6fe4e07ff</string>
		</dict>
	</dict>
</plist>