<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.4</string>
		<key>Build</key>
		<string>11B554a</string>
		<key>Device</key>
		<string>iPad3,4</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-1725.20131114.P3wE4/iPad3,4_7.0.4_11B554a_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-1064-002.dmg</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-1098-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-1121-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fef2662715245b3d18b00f56061ca150</string>
			<key>Key</key>
			<string>8ff6bcb1aa4c6e12275da7e8854d94a385cc9660e7b409cfb8674e4dc4f4e335</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e10cd7d75faa48dd5954d4952828238e</string>
			<key>Key</key>
			<string>f55ae40bd1076c2b25335a34d938175e9b7a49085f795abd7f7620e8e913641b</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>25f57bd659f2dc1c3e31a948a8bed2e5</string>
			<key>Key</key>
			<string>22a2225e22f965ba60538ff30693505f42ae4c7a9cad8a811e93fdbbbf81cfcb</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p101ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>89376db7c4ae795e5c745b6041f930af</string>
			<key>Key</key>
			<string>c7e21dd853007dd3f118de43a436ab5b37e53d682b6c57a14ecd87831fb93f77</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b07f52b416329dabdba5f95146242f86</string>
			<key>Key</key>
			<string>2b77017885afd07f8c780b7434a74465e90daae86856ae6fe7f99766f3958080</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p101ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ac9bae7d13d1183e13522ee0664dac50</string>
			<key>Key</key>
			<string>1851f8ebcaa39c5e721f23d12c49aef43894064c44d7a65e496e5e830f1395f5</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p101ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p101ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p101</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p101ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d23c4097bac56cf688dceeed7f74f135</string>
			<key>Key</key>
			<string>39fa6646641caca8753274e9b2595942e46953177a01605c10d5d1005df90f18</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>623e37036702efbdc85ece96635889d8</string>
			<key>Key</key>
			<string>f93d2798162f9be6a2ff0f5e4e7c35d4724e97710ac349abc62bb11b4e9d2160</string>
		</dict>
	</dict>
</plist>