<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.6</string>
		<key>Build</key>
		<string>11B651</string>
		<key>Device</key>
		<string>iPad 2 (GSM)</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Baseband</key>
		<string>04.12.09</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-2957.20140221.8j5GW/iPad2,2_7.0.6_11B651_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-2334-001.dmg</string>
			<key>Key</key>
			<string>734e4f75c5dd93d4f2bf4b4c7576af35feffb5e292fd6952e7cb3ac7438a4d62f8c1922f</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-2386-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1def13ce4df3fd4795a84bae1ce1ae7c</string>
			<key>Key</key>
			<string>542e77ab79c460e330c47acdfdd8feabfa29129d809139fe0b9b1a7c929a973d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-2340-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>20d01979ca943d0d26b2e621c6aa3a62</string>
			<key>Key</key>
			<string>b71ce112947b6427c7cacc0b17610b171bdab1e143bcfd75db0df30746afc9a6</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c29f8a77bf512ac31b558144f3389a54</string>
			<key>Key</key>
			<string>f760cc1fccfa9c1b4d97fa276d2943c433f069d24a2653452667ad2c4da97a29</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2426db8847b048148c29338c4bfb9bdc</string>
			<key>Key</key>
			<string>bd61a78cda4d0d201de3dcf9b34df89033a0f618de0b15aff89b8c73532c09a7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f58e168dc789515c021a71ea04170af9</string>
			<key>Key</key>
			<string>359b5ecf19327891c0e36d6604057d377216808f481ced221e898cd33bb526af</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f7d713e3d12880acc4801baa25531e34</string>
			<key>Key</key>
			<string>ef922018a30ee16ffc710b11d5395a50299d403cf315116dbdc8787dfce55870</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aef9a422464d9d381d5b17b3dd96ce25</string>
			<key>Key</key>
			<string>940e6d3df1bd151dc9d61b5b4911314a584d8f0bb647d108d96da8ce04cad7aa</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a57e18137d6c17dd368ddc2965d0fb97</string>
			<key>Key</key>
			<string>beb1207d7f876a1c34b1849c6338425f9367048754f227a1c7a5c0feb1e1de13</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>faddcf8f4e50876eb842e30685841041</string>
			<key>Key</key>
			<string>468248a2ef034f6b339cd4c94bddae21daf2a02c1e3b6c698761c3c7a2eb4b14</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a778a57b6fce99b7ff3e23eccba3855f</string>
			<key>Key</key>
			<string>676bbf61af7ac22ea5c68f5035e411efa1e8109a32925af7486fedf1b5fb60f5</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1daf1ce67e450bdde55afa95494301db</string>
			<key>Key</key>
			<string>cc49cfeb10cbdfb29bd6aa25407ac03f408242d3cda5121a17de6036eb323e21</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b93d6fcff55d1e644aab5c6ac0bd0324</string>
			<key>Key</key>
			<string>02c217974cf272932be424ece8d01775ccfb259fdff57342e29eea6592707b0d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cbe7dcb424380bf25caf3adc709cb369</string>
			<key>Key</key>
			<string>3974b3e4dae563c39fc1752a0ce07c57c17c96bb544524d7808394652054d227</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4faf44f155a8e74300fac942ef4d787b</string>
			<key>Key</key>
			<string>95cf52cd7134df4cb08f5a079c07c387a85dc2d2cfc82587158bf194fc2fb433</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>abcb5f5125c06c8b3c76d46c19a7f2d6</string>
			<key>Key</key>
			<string>ab8ded778e7c2f74b47b2880a53a008d3e55f8fa0a7f30107154dbe37c5ac95c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>742585bff8b58d67a1ba2d7a790ba64b</string>
			<key>Key</key>
			<string>34f9098284e8c04d66fa724aac12196ddd81ee9a1341b77cbb61e48391e12457</string>
		</dict>
	</dict>
</plist>