<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1</string>
		<key>Build</key>
		<string>11D167</string>
		<key>Device</key>
		<string>iPad3,6</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Baseband</key>
		<string>6.02.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4300-001.dmg</string>
			<key>Key</key>
			<string>2ac6c68239f659649f8553de3b2bd438ed81276b3844dd4b9856ff6bdc3d7c679bb0f576</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4336-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0805f5823ad408233bebcd32c4d82f58</string>
			<key>Key</key>
			<string>80937997d3fbce9d1e07b8a4422ceb8ac61a6fde6d4e577a863e0a092bcc4792</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4429-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>23e639d0787d09e418842c7c8706c5e9</string>
			<key>Key</key>
			<string>cde5fb670bde80d680c173fa22f41388479ed67046e964542978884d30e81fc4</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6cf064ea36d7eb3ad6645e6ee5abbb76</string>
			<key>Key</key>
			<string>cc30982ca657eb22a4f4d71c48f176d02845eb2e08054a744c19bbe1ed571693</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ad9e2f241e26c7bbcfa8ecdb1334df40</string>
			<key>Key</key>
			<string>06ad7edf75a93e4a88bc7332ab83403d897198b8ad46b941f4a6e050a64d37f6</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6fbd792d7dc5ddec67d4bbb4ef0a993d</string>
			<key>Key</key>
			<string>8f345494e1a2c42ad9edcdf9f2d3fec0d6a2a9b60eb73a6e3475b238308faec9</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>44624265596c4652eb610ab1cfde7049</string>
			<key>Key</key>
			<string>355caf5c839bf737dd470982b10f0de0fac403127387b7631076f61fd5399f58</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>08bcd7d15980ccf1eb20b0a055140645</string>
			<key>Key</key>
			<string>6db5568d2c742a416387bf69e750ced7bb1a92f862e0592c7b63f3c74b6a2348</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e1b2aba3be15f360c57435bc4f4394c</string>
			<key>Key</key>
			<string>d18e37c8c62da72806250b17982eddf0b77ab587ed755d4701168ed1442170ec</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p103ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>37f67c4b32d93cadc91abd24462a6625</string>
			<key>Key</key>
			<string>ed8dbd107e3b49d5f930e0aa3e520429da51bb0eeaaacb99565e0bed443fb7c1</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b3ef1c40b177abd5af1ada90b7a7e859</string>
			<key>Key</key>
			<string>2c3f9ad4bdc88d828f9498ff64b108b2f810fd8ce08c5a50f8605a15e792a80e</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p103ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e5358319cb9a60864ed27a7c7ec52179</string>
			<key>Key</key>
			<string>118001427da516a6b457a710b3cb92d27c25d46061ab7f7584ede1b96f9c00c7</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p103ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5142fb3b62ad82836c77476a64f9264b</string>
			<key>Key</key>
			<string>51d0df8535504cd8be8ad2b256de339fd4fe58eeda89d6186d314e3f64ff164f</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p103ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0bc6fc40b86bc93d138733848232f956</string>
			<key>Key</key>
			<string>495aeeb420ef6a1fdc176248118ba2b627ebf4a4af0ad7e4868aa972c5d9d505</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p103</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>27bde81c3e82b8521c518d7c54f07eab</string>
			<key>Key</key>
			<string>fba44e8a1300c9f82ff95ba04c340cefecb1e41320e984286db06c41ee7ba2a8</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p103ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>644193752ede59ef31fe51ab504d56ae</string>
			<key>Key</key>
			<string>169d18466f74fae50d0b058bca17317fa75d1e49d89eb49b9e9215fb76ebba1a</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>59a9303f2e064362880b55ce41c004f8</string>
			<key>Key</key>
			<string>82c6f3752360468eccd4d24988a9989b4427aa5510a4b91980f40dfd426401bb</string>
		</dict>
	</dict>
</plist>