<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.0.2</string>
		<key>Build</key>
		<string>13A452</string>
		<key>Device</key>
		<string>iPad2,1</string>
		<key>Codename</key>
		<string>Monarch</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-07911-225.dmg</string>
			<key>Key</key>
			<string>d5b9cc7400bf63e0130da54524eb1cf8bb4d03e3c72f459c01c45da76b41e627299103b1</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03591-290.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f7eb0425aa517d6baa8988bc46f1985f</string>
			<key>Key</key>
			<string>e15a7302bb344925b7c89f805889e52b4a893636e98d1ea5f20e76a62a82b44d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03653-290.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0d807be7eae13c1b9102838a082568d7</string>
			<key>Key</key>
			<string>46d02fa1e130d6b772a974ef51ec1a4e9b9f8c8918bad29cf303507b11c7aa45</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5aaebe7039e145633c92df375c059f61</string>
			<key>Key</key>
			<string>3cf113f71da72c1b360c8cb49e761280e8505c6b9072fb291097e816dab6f2f0</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>86fe068aeffa06aeb75cb0eab6538e18</string>
			<key>Key</key>
			<string>6bdf3df168e5a14398fd2d147b580e7ebca2e1e2c0b589d766ddcf90e38c5fce</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>45966f22a3133d4df506bba487ee6f5d</string>
			<key>Key</key>
			<string>bc3d4df02ab32b22eb38a7651cb5b1c1eb72bd2cfa539c328565c050ae1611ac</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>971a42625b4272e041179e0492f885a3</string>
			<key>Key</key>
			<string>5669fa3787e69e4f2ec0ea0fa236224698d5d762f56e7cfb28ad2a2e039be1e5</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>034680723f987a91cd3f14422ad72773</string>
			<key>Key</key>
			<string>3a3bc688cb3a548c6729f79309e460cb7b94cd67e2e8d42f547d4187cc6a63eb</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1~ipad.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bde41d3751de8e43ef4d5e9ce954f794</string>
			<key>Key</key>
			<string>81af205e0c63d822fe2e9a01836078d90c66db046bccb2bb31301c2cee79410d</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.k93ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5d310bdaa57bd2fd3969d5fdd3d853a4</string>
			<key>Key</key>
			<string>2e1297aa6658fa6ac0ef01876cef7aa55c67617b5c3b64010f813a9ab80f7703</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3730e6c5a0e431684f6dd35b217a77db</string>
			<key>Key</key>
			<string>a9e387d5fb6fb749cca225b4d66c160dd533084e1ad4cf5e1bfa7788d506bbab</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6912ac83c0b028e909351567977cec70</string>
			<key>Key</key>
			<string>538975f59dc4f2831fde9b0871837d338cccfa6c1a42c388e95f21cc044b6a3f</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4cf989d07f4f8243737015826bc8c763</string>
			<key>Key</key>
			<string>a7df1db614d3792966a4fdf84ef33427e2a102c790e63c59da94eaaa42817a7c</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.k93.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bc1e336031bcd5405f74c6d866a225b9</string>
			<key>Key</key>
			<string>5858c6cb73dbed61c107c1cdcc8981edaa448e5c877a55a210ac5428593812ef</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.k93</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0feb3f3e8efe73b1c00c714bfb7f264d</string>
			<key>Key</key>
			<string>1734f2b0cea3fe1031c36b1128b033c2b60eef8214b8c2a037a6d8f8fa35f548</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.k93.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b4d17d876420971d9aba86dfa008cc2b</string>
			<key>Key</key>
			<string>b0ba57ef67299611e803fbface104571138b226560b5975ac8030ba18272b1f6</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~ipad-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1473610e13df3311652214aa2d56a3e4</string>
			<key>Key</key>
			<string>be4c1c679f93d1919bce2f1ded86cf9243fbbc68b6c6ca85cc73bceb47ded318</string>
		</dict>
	</dict>
</plist>