<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.3</string>
		<key>Build</key>
		<string>13E233</string>
		<key>Device</key>
		<string>iPad3,6</string>
		<key>Codename</key>
		<string>Eagle</string>
		<key>Baseband</key>
		<string>10.01.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS9.3/031-28411-20160321-454CE40E-EAA9-11E5-AC10-E87BBD379832/iPad3,6_9.3_13E233_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-25438-330.dmg</string>
			<key>Key</key>
			<string>a10a2b5dcf86aad53c3bd8d3fdaadf6c940e58b47b4e45e969ba8d4f5be180ab70f974ee</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25495-330.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fdacb28969cc12a0a8e43c256040de22</string>
			<key>Key</key>
			<string>86c12f65a82738ce91510b221132deac2a53b094f89bfe8dfde4e4d1cdccc360</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25683-330.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9bea0a0ace7abe81bfa21e9ffcb606fd</string>
			<key>Key</key>
			<string>6e1fda4207d239809769566b4d28909fced516377901f9e173a2fc42cab0adb6</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>931401a026483d437da48ca52579ebd8</string>
			<key>Key</key>
			<string>940193f33deeb8ddc06635c525a97a63a9ba41d1d671851e222a13b34aecf83a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7d897703ac50d8db7eb418ca2e85c6ef</string>
			<key>Key</key>
			<string>a897da035c2170f2fc926218824a03cbea520e31249a2dd9591c405a4e331435</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5cae571cc2858e0b6ec4c484aa177713</string>
			<key>Key</key>
			<string>94c49a9fb076cd8dfb3f9e41223eac9cdae44f047885b93be69b57c0809ebbb6</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ccc1c4f870e2598c3e133ea2dda44ce6</string>
			<key>Key</key>
			<string>49154bdeb3eebbb61ae7e43ecac49764107c875650b8742bf0595a1727162e15</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>621886ddba6dc2fbad10d0519f07d358</string>
			<key>Key</key>
			<string>cc71c3cfd5ee0b1f47fc93c9d070c6d4f6c0f477a2e5d3f3387d79463023a4b7</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~ipad.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d4934d2a7c2baef5f96d2f34a6822f49</string>
			<key>Key</key>
			<string>e2db628ec263b14e7116edb4fe37c0dbe80a2d8e75a57e0294660718ae8f1210</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.p103ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>51382342ef3a19cfd399ec7de1f88425</string>
			<key>Key</key>
			<string>2d69b4e38ac421473c6530265b7f8e5b14896f8cf50ee503d49b981444a331ad</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>03a6a022b3ea2ab3af7a6e559dbc9061</string>
			<key>Key</key>
			<string>6537777fced3d0016de8bb567bb07283cd0f585446534a8a3972de139f1c1469</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.p103.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>52a4b19ea7554ec9c9ed0f522d7887ab</string>
			<key>Key</key>
			<string>0e1cb0432f8b69f3cba35ed579ff06feb69a511c4927f8fd6caf7d4e5d635fdd</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.p103.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7858a5b770eb684eb32789808effcb54</string>
			<key>Key</key>
			<string>a01f7048d2e4e7d300a5500582ffef90b8291ea755c830de83809b640da3f7ea</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.p103.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7951f971d0a383adc3d3f909e8fcd14b</string>
			<key>Key</key>
			<string>2d56bceb70b65f42c24cc0d957e8563787e20dc7ae81652a2dc0358e697c752d</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.p103</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b77c77feed1d2b7c3ada121e48c26080</string>
			<key>Key</key>
			<string>ae11eafa1ee30d7c3905eb91f4c7354d8c9ae20e22b083c6c871da29fabe1f74</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.p103.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>514b0c92c573fcc427ffb4972e446f9f</string>
			<key>Key</key>
			<string>bb1f66615ed3d26ea0971a2e4a02309dea01406b56aea7c1bccd42cc89c79b9b</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~ipad-lightning.s5l8955x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>efd2e3e3798f34c57690a9826c1bd940</string>
			<key>Key</key>
			<string>2f07b28fc6a41d526f9e46aac28e300f227ffc3116b69f400bfce3b67d8bd89e</string>
		</dict>
	</dict>
</plist>