<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.1.3</string>
		<key>Build</key>
		<string>7E18</string>
		<key>Device</key>
		<string>iPhone 3GS</string>
		<key>Codename</key>
		<string>SUNorthstarTwo</string>
		<key>Baseband</key>
		<string>05.12.01</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7472.20100202.8tugj/iPhone2,1_3.1.3_7E18_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-6483-022</string>
			<key>Key</key>
			<string>9b3fd35bad7d5307d85ce4b38b8e56bd680ef5a72a8f3b615f8d4f16c14bdcf3c3b24c6c</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6489-023</string>
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6495-022</string>
			<key>IV</key>
			<string>50a5d7418e3091a2c1d878495a6dbc6a</string>
			<key>Key</key>
			<string>217c7c38387264f2a2fef7a661d1bbeb705e7c90581c5b73055fe44f5bbc0498</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>106f935de2be3fcc56fc018124b6799b</string>
			<key>Key</key>
			<string>f662084d788a33650f441451106a6b628051fc7f7697a0eb6948abcf3d151a15</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5483202e320c6a272ae27591ff67f4bc</string>
			<key>Key</key>
			<string>ec15d959432b44355fd0c043f570b09c9fe62ad069db554cc20359322ea76d77</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5ff65ada6a48ea38adad2df3390d64ac</string>
			<key>Key</key>
			<string>88d0a0c2f05f3e54168eef00eed7958467503a204619be95dccca4606f857b2a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bb70b0109c0f6a323dba00df5806b111</string>
			<key>Key</key>
			<string>a95c62b3665493c92eebf3d471ea5949827fd9aab4248cd99d66bc2edf7ac4fe</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1d269ab89cb5d86caf9c24927be9a04b</string>
			<key>Key</key>
			<string>cb626d43047477c2f376def673ed8c226b6b2f180ee65f7c2997b666273d695e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5a4ff7c0cf5a572da1fae3877ee93887</string>
			<key>Key</key>
			<string>bc0e2288181b9e7b7759d350c5dfbd5c9863de737b4ec2dc7451add756712fec</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dbb1c221ba6ab75676f1d0186bfcceee</string>
			<key>Key</key>
			<string>c6ace9331cfeb4951ccdeb21fc47ec04dee3f6ed06c72edecd73caec58c4fd1b</string>
		</dict>
	</dict>
</plist>