<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>4.0GM and 4.0</string>
		<key>Build</key>
		<string>8A293</string>
		<key>Device</key>
		<string>iPhone 3GS</string>
		<key>Codename</key>
		<string>Apex</string>
		<key>Baseband</key>
		<string>05.13.04</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone4/061-7437.20100621.5urG8/iPhone2,1_4.0_8A293_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-5534-582</string>
			<key>Key</key>
			<string>5d79765bc3233cbee58727c17a9487e5dc1e38400c2a98c30997bb02d00e97ae3ce5fab8</string>
			<key>GM Key</key>
			<string>9f5df1142f09cf9cb38e08af4f7f56e3d9e748a86ab7e7e556d8f1ff029e5a9a83b35211</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-5540-599</string>
			<key>IV</key>
			<string>37b8e09cd2641fce10a42c0d0b1d29bb</string>
			<key>Key</key>
			<string>dc881ba7dc59864c43a8e7ad603cc0dfc85f9fb9f424b3be6fb0da6af1e64133</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6461-399</string>
			<key>IV</key>
			<string>d506ed68e4cd9955fe09be284ff5c60c</string>
			<key>Key</key>
			<string>adb1b9da63b54cb07e8c4a22481bf2c7dee17519506085b07b1a8057a8980003</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>14594ce65ae3dea24cbe8b078305df05</string>
			<key>Key</key>
			<string>cc88d770a3f9f94ea69acaf29644c4e5decaf2e93ad23f837c6b4dade8c539dc</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6fbe76fd654a6f38c6a29a22f484d6d1</string>
			<key>Key</key>
			<string>90e108e46e4ac83dec5d3af977a2d95d4589401cf3c1a23e5cbf525263038944</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e549ad939b053e17ba79f7d29c67b59</string>
			<key>Key</key>
			<string>03e110f2ce8ffc3c4d1d3c821a6173fea5ce352e671daf3a75fa119bc1d324fd</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>da06585d0644348f9e3164cb2cec4735</string>
			<key>Key</key>
			<string>8be0f039a73d5b0539dc49db5444c9edb57f12d076aa6462e8e7dd88cf0dc315</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d044caa6b4fe10d75e081f1950b986e7</string>
			<key>Key</key>
			<string>16785e6ec40dcd29ce5cfb46e18d6031ac2834f4efccdce6deea967c006c8018</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2bfaa179582e267ad80f4cc91f46940f</string>
			<key>Key</key>
			<string>d6d5ac10136dcee693abb0364c011c5e23c46afdbe435b2eaa68e5c809becd31</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>aabcdf152b250b17d864364f77ecf5ad</string>
			<key>Key</key>
			<string>63a72b50b24dfdfdb6578c0cae905ecfbdeea00d3a09d82a92a97ee4e0d8dcf1</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>797ac16307b2393ab397efc8f9e1a72b</string>
			<key>Key</key>
			<string>a32bd350501c990a0f133e93e7202e4c92bf455fcdfe964993993fef4afdb9f9</string>
		</dict>
	</dict>
</plist>