<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.0.2</string>
		<key>Build</key>
		<string>12A405</string>
		<key>Device</key>
		<string>iPhone5,3</string>
		<key>Codename</key>
		<string>Okemo</string>
		<key>Baseband</key>
		<string>3.09.01</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS8/031-08305.20140925.uLmAB/iPhone5,3_8.0.2_12A405_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04502-039.dmg</string>
			<key>Key</key>
			<string>c76b662b0cad3f4d37455785bc687f488229f6ed9cbd6699a5a9376f67f0f5392c98d7e6</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04719-039.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fafa7d0236c47751693e9dfe66856585</string>
			<key>Key</key>
			<string>d3b335d1a1ea2ee83c167a40266b2a4f96475e3322b0bdf1eb8d5a4da58b34e6</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-04628-039.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c6cbcfe90922848ff20ff286eddb3ec2</string>
			<key>Key</key>
			<string>73b4354f0f889380c29a394970674af46bdc6e28d51a4811fd1acaa4a21b1ec2</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3f21235489e5c5e6092f65c4b63e054e</string>
			<key>Key</key>
			<string>6f175ccf6e6c980ab6d6eb7a80622fde81464a65632b5c1b289e66c52ecec567</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5c5ed07d75e56102fea8576ac139eee7</string>
			<key>Key</key>
			<string>826d846c57a54ffef170966068f710c02247b72fc7b5e16b6cd2f592b72c23e7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eb88c863ed92d4b43afdbb90a44f552c</string>
			<key>Key</key>
			<string>7281fead490bd2c262f60b9d9ccdbee964b60e127ad9e513bcf61a020da2857c</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>933400ada3afbee673e01118b16831f7</string>
			<key>Key</key>
			<string>cc62578e3ea833dab8c754e370a1e8ee4898f55d21f30e1e78b68ebc21497ff1</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4c6787848b5522e30637eec064d34b09</string>
			<key>Key</key>
			<string>4c39703ca26565e5f58214c5c0e0825f070102330072698973fec462d5cc83dc</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cee995763e5ba1d517e2113ae71cad38</string>
			<key>Key</key>
			<string>2c51c138e700086c26d671cbf4b1190712fec5a3ac5189d9c1604a42f647ccfb</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n48ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>42e9c3b514c11f05eab16313efc40e99</string>
			<key>Key</key>
			<string>2259c718fd4804cce878e4ea18a9f2c17bd7c1a7397835fac0e422eb68b05e7e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>69bfa628da78321ca326f488428ccf02</string>
			<key>Key</key>
			<string>f697c804e5191ec57c7c57b872aa5801dbc6bb25f6a4e726a250f58bb6eef5ff</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n48ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6891855658ed8d0537d34887dd934867</string>
			<key>Key</key>
			<string>b35a9f36b4ac5fbaefff992f505f97b010d6f2f00b60db94c031c81edd54cb81</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n48ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8479be201e0792497b5a6acbed3ebe1e</string>
			<key>Key</key>
			<string>206271dd2bf73cccc357d0b92a22c0c4113a8858dc80e8691c7bf1656252876d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n48ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4e6fa6ac1ad3d4353f669579876cc999</string>
			<key>Key</key>
			<string>b7bb6a6d3a726a8bb76b8779801b71069988fddbec4188f449b70eb751a8fd43</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n48</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3c8e60616caed2cf65fe2b045edf3e5f</string>
			<key>Key</key>
			<string>c8d7418b54a18cd828d8cd932b62616e151ad205a57a445791aa2949a324646a</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n48ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e7f5271c53eefbc3311b8e1f215e378</string>
			<key>Key</key>
			<string>e13cb43111bc391a6ff55aebb4ebf8697b6d04c33be73b5109b2404bba984525</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>72c3908b598ce6379f8b14cfb757877e</string>
			<key>Key</key>
			<string>4f95b271e28f22625eb303357d792bf2e62c12a546d7e3d258af0df982d0a003</string>
		</dict>
	</dict>
</plist>