<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>1.0</string>
		<key>Build</key>
		<string>1A543a</string>
		<key>Device</key>
		<string>iPhone1,1</string>
		<key>Codename</key>
		<string>Heavenly</string>
		<key>Baseband</key>
		<string>03.11.02_G</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>694-5262-39.dmg</string>
			<key>Key</key>
			<string>28c909fc6d322fa18940f03279d70880e59a4507998347c70d5b8ca7ef090ecccc15e82d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>694-5259-38.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>BatteryCharging</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.m68ap.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.m68ap.RELEASE.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.m68ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.restore.release.s5l8900xrb</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.m68ap.RELEASE.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.img2</string>
			<key>Encryption</key>
			<false />
		</dict>
	</dict>
</plist>