<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>5.1</string>
		<key>Build</key>
		<string>9B176</string>
		<key>Device</key>
		<string>iPhone 3GS</string>
		<key>Codename</key>
		<string>Hoodoo</string>
		<key>Baseband</key>
		<string>05.16.05</string>
		<key>Download</key>
		<string>http://appldnld.apple.com/iOS5/041-1535.20120307.Jer6N/iPhone2,1_5.1_9B176_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-1764-169</string>
			<key>Key</key>
			<string>8ef999bcac523ec3daac7e80297b9fc2c7a22e32afeeaac7a14681b7bfee506f9866fda1</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-1799-165</string>
			<key>IV</key>
			<string>94e32a52e309d13e8975ad7eaa2dec39</string>
			<key>Key</key>
			<string>be686cb428dbdd83e05221a563981d88be5ac8d844c86b36df504558874958b9</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-1811-170</string>
			<key>IV</key>
			<string>4782da1f21aa63915b3e34cfe31acb20</string>
			<key>Key</key>
			<string>2828455b978137fd2e53b3f9c8dd09a4081f5df840f98bddeb6f9c54649286d1</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1fe15472e85b169cd226ce18fe6de524</string>
			<key>Key</key>
			<string>677be330d799ffafad651b3edcb34eb787c2d6c56c07e6bb60a753eb127ffa75</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9c71e50fb5b095d76ee04959908fb590</string>
			<key>Key</key>
			<string>5a6244db4be1e9fea828b3ca895a4a457172d73bd9378b38198dc430a5b7a796</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0cbb6ea94192ba4c4f215d3f503279f6</string>
			<key>Key</key>
			<string>36782ee3df23e999ffa955a0f0e0872aa519918a256a67799973b067d1b4f5e0</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a54034f09934945e047bbd6500b95c21</string>
			<key>Key</key>
			<string>0f8a2fe5dd674a228c929b322442fd8d2b6bdbacd6d1947061481b457c81ba22</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cc80609bce300c6567aa9ac1acb91089</string>
			<key>Key</key>
			<string>11e85390b7aa5240fb83332d5b883458fa71bd72595fc3d0187de1493a42cfa3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
	</dict>
</plist>