<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.6</string>
		<key>Build</key>
		<string>11B651</string>
		<key>Device</key>
		<string>iPhone5,2</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Baseband</key>
		<string>5.02.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-2387-001.dmg</string>
			<key>Key</key>
			<string>7dabfd01a114c1135abd4182a9679809b66b3df732070917af2c06c96c3c86fe86d7f565</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-3116-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>10d3106db6fb7cd3ae80daa5c8b4fd21</string>
			<key>Key</key>
			<string>7cb0c28b0af846e86979f257d8bc1492daf1a9baf89fab59992ae6727627df94</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-3121-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9b56e41f100484ebaa6fe6c93346d342</string>
			<key>Key</key>
			<string>7e547306b1b6038967b5e7269ccb07bbf0c8612df2279b0f1a364926f26f2750</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0a255d591aa2120974a05b1507840dc9</string>
			<key>Key</key>
			<string>0c18a7bccaddf5728ed870f85af7de04c9caf3a880605043ab0dff86991f70a5</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0da1950673e8d56ba69f8fc8ef5975e5</string>
			<key>Key</key>
			<string>4d6767338c0d49853747a201622e1d93f49dfbb99a4a9ab860e7e0e6bd450437</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a545fdebc7f9e694d55f0e9cf6fd1120</string>
			<key>Key</key>
			<string>1da6136c371a843353e57b0864802918627e348578e4e8411d5b28b84b0ad1f4</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2f29941426c01d475778e924025173a6</string>
			<key>Key</key>
			<string>a83a6b3498278ea39f6431c4249caa7dc468c712f213815406f4270d8d88619e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ddd91a5277316118656540547f864f1c</string>
			<key>Key</key>
			<string>01a6d936503d8c27a91db87561909f4e7395a330a96b65ab7d4ff5bb2c6b00b5</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7ac180acca329707d883b393f84889b0</string>
			<key>Key</key>
			<string>7b89f0add8453353e422038e4dcbe0f0a90116c76085c7fb6241c2f67586e791</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n42ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>37777202ed963a78005bbdfb2fc9192a</string>
			<key>Key</key>
			<string>bc870d009053f0af18959580f3639f784918950473c85c49a1c079301c10f548</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>74d816a41a663afdae8cfa1a54579d00</string>
			<key>Key</key>
			<string>d4376e4fcade9abc860af437998e1278fa1e3d28f3b79869da1d9ea184b2bc0b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n42ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>97167c44ca016f44730f325608328703</string>
			<key>Key</key>
			<string>591840b35fef3f82b578bce1697b9a13c720e76afc26525c6e1f6343147a90b3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n42ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>62da3218997c76cb75e83754df8b7639</string>
			<key>Key</key>
			<string>be934f7bc2b1837ab061a8b4356b41622a80878c8ed8152a5fb741e488b63dc1</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n42ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>14ae9dd6ad593c53427a35c4d9ab5ce7</string>
			<key>Key</key>
			<string>3e11dbab958af42279bee7e15aabb0dd9061a7390f3f0e6f8d9b55926fc0c6a9</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n42</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ad8128a46ca4833f6c837a74424a2242</string>
			<key>Key</key>
			<string>410bf9ef46bf53fe2f747a00428b332f994d3948ce37345d06f4a6d8c36f7271</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n42ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fd3d3765ab3657ee8d1f7bcc364ab194</string>
			<key>Key</key>
			<string>161050b35da56bd33720801e854e62fa0ac23e09b0a6018e1d5bb56cf4da4b3c</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>892515b2770245a90ec62afc4cc40d7a</string>
			<key>Key</key>
			<string>8f92de9ab8dded5015e12a203132e4980fb47bf1cf49c54c2b623dd9552ab0de</string>
		</dict>
	</dict>
</plist>