<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1.1</string>
		<key>Build</key>
		<string>11D201</string>
		<key>Device</key>
		<string>iPhone5,4</string>
		<key>Codename</key>
		<string>SUSochi</string>
		<key>Baseband</key>
		<string>2.18.02</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-00296-002.dmg</string>
			<key>Key</key>
			<string>f8bdb043ca23571c2308040a269518bbb1f07cfe38fe76cbb6ffc14c42d6b84de8ea54d2</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00289-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f8c7c908bbca9dff4636f0a2f7d99abf</string>
			<key>Key</key>
			<string>20fe9d390b0de5ed2936a4f1711400c35ba4629a3b18343a9f298f2fe99bad50</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00219-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>088220ac3e4ba10bdaee00a3ce9e20b8</string>
			<key>Key</key>
			<string>6813a30dd6c0f135e74299e87f31fc00910f02428890707914c2592ffe2fa2d1</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bba99d7ae4bb94dff69bacc69a49da51</string>
			<key>Key</key>
			<string>7c8b569010ba6596c5e9f4bf52d74ead57829f238e7d1758e70034313be7fb9a</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1e3851b06536f7417efc376289e82fa3</string>
			<key>Key</key>
			<string>efc40331226ac2ab2374c87a6f4463f347d26142d7a25776612e54f87af90173</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c107dabf6b89dfdac99283a2cc2cf609</string>
			<key>Key</key>
			<string>f67c8f6e7e90fcb61ebe33e3d676842c4d02f08e6970235b38df272ff2b4bf74</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0cb140df73f3ee7b9f78a3f195a46649</string>
			<key>Key</key>
			<string>0d196d77940e586f6f389529fc4232ad0213a822479a2a3bdd946321185b4263</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a369869492fb1eed4ae8e5fb7e73c356</string>
			<key>Key</key>
			<string>506cf90dd655e0efdc2a7438a515fa1a7e087a6e682e05051f24b59e62b9afa6</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8476388ad99eeb7615bd4f3128574a87</string>
			<key>Key</key>
			<string>3ae38b3c9af97cc0bcfd8d3be0059cac2ec58c26a128bc7075b6f71d66d9fafc</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n49ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5b1dfa071c3841604a5f6543ec673f16</string>
			<key>Key</key>
			<string>5ee6524d257cee41959f8c9ab00bf77d764d743494da5c7267b1ff364e2a36cc</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f1c7019e790b7fd7c6f00c169fb8f2f9</string>
			<key>Key</key>
			<string>538b4f24785f54c0a21873c3c7f59f09e292aaf9964d710a32b1d5af50cb42cb</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n49ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>468563ce00e60cf3f3ec122f92ee4820</string>
			<key>Key</key>
			<string>4e0b871c397319368659e4036207602f9a2d27ab2e72c72a18e9636bd64e5388</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n49ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a7be5f332c18f2ab87f78b4073a07b5d</string>
			<key>Key</key>
			<string>94cfc94c88d995044d87d3455283d9b78c9a1f749389928ad7e5b85a91d82848</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n49ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0a5dc2e597ced4d908c41fb608e8dad1</string>
			<key>Key</key>
			<string>db2dddd4013335cc835a7b39c3eb9bde0af88b78fd4670617f91c3e0a1921edd</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n49</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f8edfce8d069778f330ce796efc51b9f</string>
			<key>Key</key>
			<string>ad8c378279906851dcee4a3834772c9964cbce514547e3dc67d41356ce8504dd</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n49ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e5e1c39a3f275971512147e0e24ad1f8</string>
			<key>Key</key>
			<string>ecea7eb4e352e312a18ee819ff02f7b1b3e6fa617b9b938ecf6c597d3337930b</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>246e4aa68c4ceb2a413c3cac8864a514</string>
			<key>Key</key>
			<string>61c2a766be4203babb53763a059d9fea3602b5f387a995883f85cdfc35d98e16</string>
		</dict>
	</dict>
</plist>