<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.3</string>
		<key>Build</key>
		<string>12F70</string>
		<key>Device</key>
		<string>iPhone5,3</string>
		<key>Codename</key>
		<string>Stowe</string>
		<key>Baseband</key>
		<string>4.01.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.3/058-15010-20150408-6F9DB66C-DAEB-11E4-8834-996C90F2D2C2/iPhone5,3_8.3_12F70_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-14779-073.dmg</string>
			<key>Key</key>
			<string>26b00f541df9c0664c9ce444ae2f2aa5595f0902b3cea8226884bc84b4a83667587829e7</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14557-073.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b20d3279e6aad3003d74bc704bc4b2be</string>
			<key>Key</key>
			<string>acc8325d07bd6598d6006204c0624f8178389330394c57c243e9c0db3a6cd779</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14496-073.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cf1a7f466bf3e63336831a7d3fbb3b0e</string>
			<key>Key</key>
			<string>92d6dc6f0989a923a367cf909c8221edc96d7b2288e280ae0309ea4e3b5ff387</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1c0253a5b30cd4e767384ddecf5f2b20</string>
			<key>Key</key>
			<string>3a9b60dff5f00de0bf1b1b09e7078077607a3d0fb9bcbace310bbeed9c4cba59</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>85d9fdb2a5808ab83825e638b365fb37</string>
			<key>Key</key>
			<string>f4facd1972ae3a445a5675fb4d22bda6f587b0fd5bd7a8cb570299b82c836f5a</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bfd33e7c6faf0f150d71cdd89fd00b64</string>
			<key>Key</key>
			<string>4dc6db6b4e66210c5c23e6b4d9324d422dc3f4badeedf8ef5c8b48785ad93ee1</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>91136253baa198c7c24ace735eb45d8d</string>
			<key>Key</key>
			<string>bbe5709eae11e1130843a1d9fed6e4f2e7775e61855d6a34d5088a50fdeda58e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>acb5eb402c57815d3d0e72a36b05da0a</string>
			<key>Key</key>
			<string>5c95b3a3bfe52682c02b871c2472f2977c617f5b2d27a2f6ea6f60648a8cdff8</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c9b4a4631bedf75c4ac812e54b215533</string>
			<key>Key</key>
			<string>a26ce7a0b2bc4c66ca58b6ec71181f5fb69303c26882dce481bef817e6902740</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n48ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>79c303ae1b6c249b0ce7c7954c7d9564</string>
			<key>Key</key>
			<string>0cfebdf4423f9477c0a50b17b4f5ede5d478a52f5dde9661c1ff37a20dbdd1cf</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dd17656f9be7dc9d0d7f0d0e785da3cc</string>
			<key>Key</key>
			<string>76f5e1e874147e98f4908f3a3b4d5e21cd5229f9db3e80c6a5e900883e065ca8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n48ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0602d53b4863fa7b5e3c314a3177ecad</string>
			<key>Key</key>
			<string>86a7af9e4596c147ac56fa71f24547e6a61ba80a8170c6e8e652859f09724cef</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n48ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eb8eeb1d06b2a112bc0b6a0bebd83dac</string>
			<key>Key</key>
			<string>946a860eef826436c4b17a84e959ad07df3eb833aa1cb399bd696a65cb03ecf5</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n48ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>25617f8df9c3bc1e66367b39cdc958ad</string>
			<key>Key</key>
			<string>ef2893a192ef0000067021a6aa0a38ae7d348f1b502c3dbe2291846b52400c53</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n48</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6c5e2b19af656669cbc96fe42b8f78fb</string>
			<key>Key</key>
			<string>b42e6e0cb26c0c5b99e7d5e49a5d8fe58dba1a1c395e8b72bf01c86c5de7bb50</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n48ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a8fa9226a057ec279c4adca9be40f458</string>
			<key>Key</key>
			<string>de6da6837075bdf199f6c1e0739f1034bccd651e12249c2573e7a6442c0d7f5b</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>178df28e4b9f98a49583c656a748cc47</string>
			<key>Key</key>
			<string>edf3acaab8bcc496a1fac5516d5c625adf54541f8ceacd4ad2f98b3a0291bb11</string>
		</dict>
	</dict>
</plist>