<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.1</string>
		<key>Build</key>
		<string>7C144</string>
		<key>Device</key>
		<string>iPhone 3GS</string>
		<key>Codename</key>
		<string>Northstar</string>
		<key>Baseband</key>
		<string>05.11.07</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-6609.20090909.mwws4/iPhone2,1_3.1_7C144_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-5344-086</string>
			<key>Key</key>
			<string>b9cd10dd88ab615c1963e8aa04950b12dd64e0e5b11ea63c79a02af6db62334c710d21da</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-5349-086</string>
			<key>IV</key>
			<string>05fbba6bfd7bca47827b866e80b1bd9e</string>
			<key>Key</key>
			<string>1e23357267715aaffdb0dfbaebd5ea6bea928414cce593a15ac3b27a4c629e7c</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-5352-086</string>
			<key>IV</key>
			<string>74b6379adc29a078a69c502bfc850b51</string>
			<key>Key</key>
			<string>cbc20b0045f8ee317b08f3481f4f255f77ab48745546c7095e8bbb696746638b</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ac4fc5b1f85d4e6b18046334adcb20df</string>
			<key>Key</key>
			<string>e02a8862b746ee1aa6e704c755553e889ce7124a90bdaf3a789c3d316b8d2889</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be27e0308bc2609dae706776d9b4ead1</string>
			<key>Key</key>
			<string>94f92412c804d39821b0f515a823669a1b6cf0e491b6737f29a6dc9a519f2be3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7018fa05ee1b3154bf9acb775c0a4ede</string>
			<key>Key</key>
			<string>a4360eed53aa2d69857148e047cc52d585b88736885cff4a3c48038b4202e303</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>421e5f0f481a3344c9f04c45a13482da</string>
			<key>Key</key>
			<string>b831608d0ff9f84d3c35d5c3849cd147808763646ce7695c8bbc39adccb112fb</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7b08e696f4ce3ff66c0f03614cb43843</string>
			<key>Key</key>
			<string>e4cc0a7a463008395192bd364d3ef882dbf77120f92a9d26db96f694dddc8d6b</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f6c407732804fde7baa6c18f4e9219b3</string>
			<key>Key</key>
			<string>23958c7975d357c09d5ae13d5824ecd7ba311d48e66e495cd9482bf541c23e17</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
	</dict>
</plist>