<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.0</string>
		<key>Build</key>
		<string>10A405</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>Sundance</string>
		<key>Baseband</key>
		<string>1.00.16</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6/Restore/041-7169.20120919.5Mial/iPhone5,1_6.0_10A405_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-6485-002.dmg</string>
			<key>Key</key>
			<string>64222b62d812d68e883b71c22a25b20b533dadad0333a54079d71995fb6ceb02b3536c99</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-6466-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>eff60e62604a64e090d8075ad8746464</string>
			<key>Key</key>
			<string>7e1e3ed6fa6aa799ca942240980f56c69027495ab48b9ad6881cebeda760ef1a</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-6463-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a7921449dcc4b173d46b40fa11c9b40e</string>
			<key>Key</key>
			<string>120daf98813834ef1146c988baac1562db681642a149854b3308d07f39ff9ad1</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5458f2dce1333bfc5e0bd1aae814f089</string>
			<key>Key</key>
			<string>a64a7e657f574100abef63a64101b076d67394b08d4ce99ef6f99b88cba629c0</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1d3280e52ec4026da63f9552797d8ad3</string>
			<key>Key</key>
			<string>ff4b7b48abcd347f0d9abd8fcd1769a133a47fa8c323e2e85494fa26eb9bb786</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>871ee607f1ea2096ff8ae47a1b23fcc8</string>
			<key>Key</key>
			<string>a99aa3fc6f382fa7c61ae9eb6f5137ad5e5c544895df44f59958d4955353aa9a</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f4f58e47c2d99dae18eca67ef0c443f4</string>
			<key>Key</key>
			<string>a52a6c89ae5362e205cb0cac01697d069d87d93cbf13b85b8b8ea5065bff928d</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>af42e66c6ace7292e8aeabd9fe5bd5a4</string>
			<key>Key</key>
			<string>d24c85ba35ca99111113f25bbb84d4c025670b497e6adf2983ad4412a45d8078</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3b6ddc5a5e9744cce669c31bd59f01b4</string>
			<key>Key</key>
			<string>4f1a0907faed1af6a25ef3dbaa9567fedcd6580bd03a866ea6f51f9923be02e2</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n91ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>94e914ed79a34088e7b83b7dcad1d735</string>
			<key>Key</key>
			<string>e68c022219841e5864de20355129d72647894438ac2d5195f56f2c8dcc53b544</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f26eed21bce1ba8d231de20551c1ff5d</string>
			<key>Key</key>
			<string>5d9b8a10d4d6298f57e02ad98dc1bcb79053335c4226ce1f3e92fecd8c46f5f7</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5d4a31ebd9a3c497782b237a64158751</string>
			<key>Key</key>
			<string>8e8354a101a8609cc90c6c9d2f95226cea7f50abfa2e0415dc44318a3815058f</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4018851d3b9faf0123335557d22b554b</string>
			<key>Key</key>
			<string>ddda442e074265d8c1a82094339359f8799ab5d57972291dd35bfb37a9d4315d</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>da5e3be16355a7b1c4ba88d8f2840131</string>
			<key>Key</key>
			<string>e6f46a9047906c093f8ca60fc3af65d7633d939cc9f206297ae144250b7889dd</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>943ddbb6301c286875816d30f8db9c60</string>
			<key>Key</key>
			<string>d292297b3c1eb6b5b30e3d22e062aaa69bbf0d241aaeea226a4527ff29235b43</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0253a2c484b0fef5fb44acb9e4093d41</string>
			<key>Key</key>
			<string>129380581d7d1e4b0d535c0ba22d1639a9de25b1c88df96ed0a4781b75ea9c77</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7d5ced19788d8320fa1dd890c0bcc56f</string>
			<key>Key</key>
			<string>c9341ea6832dc6b4c8b851e4d8c1d91cfc70874e1eea172a3a9bd02028d699cb</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>27d0a34c2e5540497e994d13670eab75</string>
			<key>Key</key>
			<string>b834576f5f21ce3dfa1e14795e99a6672213e72b99a72f1600113b8b0fc11bc8</string>
		</dict>
	</dict>
</plist>