<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>2.0.1</string>
		<key>Build</key>
		<string>5B108</string>
		<key>Device</key>
		<string>iPhone 2G</string>
		<key>Codename</key>
		<string>Big Bear</string>
		<key>Baseband</key>
		<string>04.05.04_G</string>
		<key>Download</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-5135.20080729.Vfgtr/iPhone1,1_2.0.1_5B108_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-3884-4</string>
			<key>Key</key>
			<string>2cfca55aabb22fde7746e6a034f738b7795458be9902726002a8341995558990f41e3755</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3881-4</string>
			<key>IV</key>
			<string>4089a0cc1526664d4ecda5447756b6a2</string>
			<key>Key</key>
			<string>7df17fba69481d3d1c82e8f3c3779648</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3882-4</string>
			<key>IV</key>
			<string>024fdbba71ebf34df5b525cd975aefe8</string>
			<key>Key</key>
			<string>219eac3e01276c7ec50432123f50971a</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ac2bb3007164beaa32dbfbcd1a9f4826</string>
			<key>Key</key>
			<string>9a35ddc405748e1acb2bc74be9c039d5</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1fd704a626b0fe007ad46c06140a6ad0</string>
			<key>Key</key>
			<string>58c8b75318f1503c2339852c8265dbd3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>001f3c6b5137a7ebc652540a094c71da</string>
			<key>Key</key>
			<string>cb1c751fd28fa254d111c49e40dcd807</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2c71827c46f54f236195d8d4ef7b1e98</string>
			<key>Key</key>
			<string>9fee3d739fa079acc76c2ef508525abd</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>74324f7862d35bd5f9141395ceffc804</string>
			<key>Key</key>
			<string>b0deafad784eeee9f1b41a34d076715f</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>232abe78d479fdd80a767cfc0ca02b33</string>
			<key>Key</key>
			<string>8bb9d426ccba11524fd3d3d4b631f108</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2819aca510bb7653b1a5991c5c195d39</string>
			<key>Key</key>
			<string>ba0c56c504c255919d50d27e4664bce9</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f35d5e11e9dae866889734922ce3553d</string>
			<key>Key</key>
			<string>8488818c87dbea9199761628c59fa1da</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8007e654e86c3f9294068de07b5d64ab</string>
			<key>Key</key>
			<string>7c475bddb3c3b84e688812e05aa1f230</string>
		</dict>
	</dict>
</plist>