<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.0</string>
		<key>Build</key>
		<string>10A523</string>
		<key>Device</key>
		<string>iPhone 4S</string>
		<key>Codename</key>
		<string>Sundance</string>
		<key>Baseband</key>
		<string>3.0.04</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6/041-7953.20121101.Apmtr/iPhone4,1_6.0.1_10A523_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-7960-010.dmg</string>
			<key>Key</key>
			<string>3f6021eccb7f35b955cec94b52f4e79f77dd9e7d89b8b8956b72b1d5906d3d94c5234cd7</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-7931-011.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7d5e876670595a70032aebe7fd953f15</string>
			<key>Key</key>
			<string>9592dc994930ae19acbb5e9243ae2d75f9fe692c6f6921480120d9fda9f95357</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-7928-011.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e5972778fdd4d18f29a68acf22823d3d</string>
			<key>Key</key>
			<string>34ba7682406ced7301246a7471a8f139cd67439a2de9d1b38cfa01aa594f81c7</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8d195ad21a93eaf6248bc17640f1751f</string>
			<key>Key</key>
			<string>b5fe998848f4d43c1f72cec96af23ad6542335fe3006df8edfc7e61cf044c14b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a6bfa351c93a27cb62e5f4e697bab427</string>
			<key>Key</key>
			<string>17763a93b201b2b3dfa8c7e185cb146922841dc10d6ba6c9c749a70a2b892644</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7de1d1716548211b97dbde4f242ca6d6</string>
			<key>Key</key>
			<string>7d872905f277f0dbcfc9510aa295270544616896e4fa186c93eee8de58b2edac</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a2c2b697b53a569ce6ae43584ba3aa67</string>
			<key>Key</key>
			<string>2ff7b0c164c84b25a7ef7ffdd3fa43f49a44ea874f3585c160abe46704199c0e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>71e2507553daa6495700ead6b694b685</string>
			<key>Key</key>
			<string>fa4cae049548f5d6c5e6823a7f92f7bbfb41c12a13d9d4c9edf56c32125be805</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>41102c93122606e9e735decaafc7e9a3</string>
			<key>Key</key>
			<string>d7f4e9f228529141581fa0d04afb58eed7b6e6c9f25a143cf5635e727a0d3cc1</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bb5f036b3d8f0f26600ee0443454db0a</string>
			<key>Key</key>
			<string>6f5f9a762a8352f81a88e30661241cfb77fc40217635cbcbbf5ff363552129bc</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4812da4db3e15c46d8de44acb9e6fd23</string>
			<key>Key</key>
			<string>cc1f4bdd78ba48ee87693e83a14a5635181e438d81affe5a3e45a591c39860ff</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2f3b0cfa872c52dde43d6f7c718ce3bd</string>
			<key>Key</key>
			<string>d60cb604e2004404cd4e3ea0f4a42e13eca532b2287a4452b9be7e4a776c9789</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>83b3896070f98a135daf0ac68a13a55d</string>
			<key>Key</key>
			<string>37d6ff4c024db1ebc86d5069552b7b10205dff3919092615d6963adf85d4ae33</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0488707c20616c46b2a98e49770c3d2d</string>
			<key>Key</key>
			<string>2a0b4dacfdf72658d30d871898a9bf3b854c20779f4a68f1d1aa5f80f9413236</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4c5c0d5908df62d963f3d6775297b717</string>
			<key>Key</key>
			<string>f1613fcbeeea3106d9dfb29b07263e0a2be2cb0f7e14a527c445a531eebf1bd9</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>86341c206556f37db4bc120cdab4f761</string>
			<key>Key</key>
			<string>4ab922283abdd9e4dc19acd6d1ec9094def6d9cc374300a5ce434c682b4eadb6</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a038586fcd6f939f89d2693bbaf87213</string>
			<key>Key</key>
			<string>a93811c5e242dcdeb2270daab3562456439996ce72ed4311969adcf364f54a39</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4ecdc91dcc7df45c03b73790fdce15f4</string>
			<key>Key</key>
			<string>3966c20b575de4c1e5f87444dac38d6279a98be3c65e92168b874597e5b3b323</string>
		</dict>
	</dict>
</plist>