<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.1.3</string>
		<key>Build</key>
		<string>12B466</string>
		<key>Device</key>
		<string>iPhone4,1</string>
		<key>Codename</key>
		<string>SUOkemoTaosTwo</string>
		<key>Baseband</key>
		<string>5.4.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.1.3/031-15466-20150119-8A77FDB0-A005-11E4-9FF7-3A565BAA4ECA/iPhone4,1_8.1.3_12B466_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-11860-017.dmg</string>
			<key>Key</key>
			<string>1077a38a9c5d449778d8fcd35efd4698d8515b04c750a8cc65d43512b01e8ecbb4eecd6a</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-11915-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1bee8dc81b92fc5699d7ac6be9e0329c</string>
			<key>Key</key>
			<string>367d3c5a705a390dfba6da30df6091fbe30b8a70db6a3b2ae903526efdf680fe</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-12115-017.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>971872190a80415b801c04d4176ef900</string>
			<key>Key</key>
			<string>021247a03ee3951a13b0626cfa12ccfd3043fe53e835421c8867c02e20ffbea3</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0d8cc5a4fe43528c9e6c4d1c0f6a8039</string>
			<key>Key</key>
			<string>17d4d5f057e0323dafe48a2d1e07653f6ba1b6ae45e57bed97c16bcbf2024e8b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>43ceece32beed21db400a2a9c4852705</string>
			<key>Key</key>
			<string>fa34f3190d0ebfac4cef75d9eb6a4caea897a18443d4e542667ef15762258a9c</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0f08916cfb394bdb5cca93901d557d6a</string>
			<key>Key</key>
			<string>5edafb024d409c97e8c75a448ed64014e25b2340a98c8d91cec227c259c64b2c</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>99f74c9954208c525fabc9060bac1270</string>
			<key>Key</key>
			<string>8c7c48694c1f17fe55306f70e4b03b211c2bb70e0bb4b0535f05d120a0bec972</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>11257ba24def48be5085fcafb8d7b28c</string>
			<key>Key</key>
			<string>9ae66e33b7ab58a1873b94c5ee06a4534d04ff528653b7e35b1688efd4397eab</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>340037dd1b2c8d8fcee3341a6345d2d6</string>
			<key>Key</key>
			<string>92efde5ab7476b51c8fa1114bf5379449fcfcd6b7012c2336eea79b930e24b77</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dce0081a6b1048f98004fecb8e760521</string>
			<key>Key</key>
			<string>2a5cbb42bb92dba6bec89f80497e2f780519f67984d8fd864fb5dd059dd8e62f</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d500ad5e859e87eca9e344c6884c1b53</string>
			<key>Key</key>
			<string>5edd62535195b1fe494ee4a708364538ce81dee1965215eb31c968eb616f671b</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>28f1ce78c927962cd942bd07f627fc24</string>
			<key>Key</key>
			<string>4d325f83c84d08ee40f4e2cc9c78b872460a9d436658b450fad7d01b59646fd3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2f1611773e3243416fafd2d4300ff549</string>
			<key>Key</key>
			<string>e26e74ae54f437170bcdb12b687f726a2dcd573c9fe464fffbe7c91f2bb2c358</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7de3dc6457cc5546ce9e4215f8d7766e</string>
			<key>Key</key>
			<string>76fc4db53383cd2231e7499d64ba22762c5553addaf24c5a7aee7f38a8e5c54b</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>192db1b6b87c2dc1ec211c39ba20fffe</string>
			<key>Key</key>
			<string>c0473861e1ccb2d75f96327530c41ec21225ca6d23698624424b27f538408cbb</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>76143ac3342f786e1273b65237b0ab71</string>
			<key>Key</key>
			<string>57318517fa98f72e18554893c0b1d4e08e8de75ed19fc825aec0d2ed59eeab46</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c12fc4bc84f824d690a22bc93f7e3764</string>
			<key>Key</key>
			<string>7d1d3ddb7c646b9e2e234992bbe5280a31b973e80b59c657287ac8ed6ce9b230</string>
		</dict>
	</dict>
</plist>