<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.0.2</string>
		<key>Build</key>
		<string>13A452</string>
		<key>Device</key>
		<string>iPhone4,1</string>
		<key>Codename</key>
		<string>Monarch</string>
		<key>Baseband</key>
		<string>6.0.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-04038-278.dmg</string>
			<key>Key</key>
			<string>57b432b729e7b2959a1fd8ff048cca62de5e1103f942f60f7e2fdba5def3d1ec91af58cf</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03591-290.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3aa750c020d4a061e15654290fa1a82a</string>
			<key>Key</key>
			<string>1a46107c8b7a77936cbcabf237ad80b58a13b769a1ac965ced7871860935abec</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03653-290.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>853c3d7faab4a19fb1a772fb317f871b</string>
			<key>Key</key>
			<string>99545ef51a2e12888f7a305f7f25a0904d1513c6a03d6ecb2a47cf760a1a3762</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0ba902e78d3f3266e1458aa7ffb1eb35</string>
			<key>Key</key>
			<string>31c6b0fbb0ce9bb67550a05b816f297f27688a4a20ca3c16262290ec97e2bf44</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ccc1e415e869388aa5a8de850fc72cf3</string>
			<key>Key</key>
			<string>9cea84535d979843d14bbdafb7441af56d1af4c23739e8f75cdf71551b38703d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f85501bebecdb894a59ff08438870af7</string>
			<key>Key</key>
			<string>0fa347ac4886ef14c3b6bf7928f3f52d7ae106696cca1b242f28f6542407f080</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9f666ba94b8e97c035a3c238b37d5530</string>
			<key>Key</key>
			<string>373d8452cfe9b6cc1d272941adb3c61f5146d4a300ae3873c8aac534c07ea04d</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>623d41f127c65eeee03cd30f92425eda</string>
			<key>Key</key>
			<string>b16ee0628be28b0b5203a8fa609462ffe1300231f6d6bf6b1f4dac77e270a518</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>39818dbbc8172b9c68229538a4dcf37f</string>
			<key>Key</key>
			<string>b76490ca7fa83b41b47d94c6e02558679e62045c12504164b247be268fedd361</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6a22a6b1734a39eb027ace2f8d4de8a0</string>
			<key>Key</key>
			<string>45ff5e1aa8aefc787913a5b079f48e2bc908969b9a3434664dd802a8bfa5f9d5</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e6fa7823928bd9a55b6bc1ca98014952</string>
			<key>Key</key>
			<string>8fca953defa15b9fbad36da785d32847f41754e992c4cf2b771af513f258a557</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>66774d6dae9ea7d7757fc7bcccab1e23</string>
			<key>Key</key>
			<string>82e395654a0f8795d95ff8d22410a8b76145e5a69c500f1cd09c9765c1527435</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f2229acaec9274a0849243590e58d077</string>
			<key>Key</key>
			<string>75e213e773e97af77e1107dd9899cd552b3b13ddb5f5947cc8567b7a9368c57d</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b17ac3cfcf6d787637867d36e2addf7c</string>
			<key>Key</key>
			<string>621b001a05fe65050d759c9a6148904937e196788aef1cd37501ac7e2b89fb96</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>79981a3fa7a6adbf503226c931a6390e</string>
			<key>Key</key>
			<string>ca84cff6bb5ba37d2d5e576c1a583975d2d26a132c39fc32340ee3ff39cdbbd2</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>80e8cd7de71d4d18f2cdaf1440558ec7</string>
			<key>Key</key>
			<string>4ab529d29ff194c08e2b77553b90017ca97126a591eb889b5aca6985ffb22dc7</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>678337dddee4b8ececab27ed87e60397</string>
			<key>Key</key>
			<string>5653ed4e0d5cbbbd44fe65426cbc529c16ae91857f250c578805baa34a8037b9</string>
		</dict>
	</dict>
</plist>