<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1</string>
		<key>Build</key>
		<string>11D167</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>Sochi</string>
		<key>Baseband</key>
		<string>6.02.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7.1/031-4323.20140310.gdKZa/iPhone5,1_7.1_11D167_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-4435-001.dmg</string>
			<key>Key</key>
			<string>ed0409cdb4a17b699e44f3d7c5d96cf7b93a7f1f0770cc2ed88c9669c658875a93421e76</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4357-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b7f8c6654f69720fddb69412935bf950</string>
			<key>Key</key>
			<string>dea8cc04317d7cbbe3ae91dac32362aa5a845efd87c59de580e6493120c5856d</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-4276-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>44a237bc4d250986f8402ba40b31f1db</string>
			<key>Key</key>
			<string>cf1e065ce19a4a63adf8c9ade98bb2206ffdd948e2696d026302636b056c3a4f</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>82691defa82e9cc2e493632b9cf9e546</string>
			<key>Key</key>
			<string>bacdd381e9b5933c66e5bae528d608f2499126ba4d6b376382f9b3d26e7391cf</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>31533de85bc12747b7d8e34294311ec3</string>
			<key>Key</key>
			<string>e3f3e57c61b3f5f7694fc209a84c0b8b791e3c8df2a436abcdb7539a0b772324</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>89f650aa217ecbdb64ded543e4860b76</string>
			<key>Key</key>
			<string>5ac016c426e6e17fc5d0f870a9694f575b385018674aef9a62ca3f937faad9cb</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b775ae8f978f7b0476875a20c52bbc8f</string>
			<key>Key</key>
			<string>576337e3e8ce212e9348362de08546d6ac3e5e660fcee86ce826112a3c26c00f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>469dc50e6ab8f49d1e953f8b61006b90</string>
			<key>Key</key>
			<string>b6efb8bdb590833a15c07df48c69897d6d2810102659b76d14406678a6edcafe</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0f41d7f4959d76d0554be4bfe956fd33</string>
			<key>Key</key>
			<string>fe8be54881ac4b0a58c6fa3074a36260c55146685224c862a7951350fa450e24</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4d43f6511c3187eddefa17d48309ee48</string>
			<key>Key</key>
			<string>c0e696fdfb16d761c50e14f8d4ee909d700ee9e8a0c8b4155225bac1a6430dc4</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>177b6748e1878e99c8cc1403ee66de3d</string>
			<key>Key</key>
			<string>1b5d53781c76b040f41f101c3a00c13102869c023363eae146beda5af84ea3fb</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a8f195fae5d9f0d72dfc459e12d6b8ee</string>
			<key>Key</key>
			<string>0af50adc27fdda76af46ad4bfd0a97247f5e4b94f004e6cffda067ccfd33cb3c</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2903c3fb3683bbc7073818913e09066e</string>
			<key>Key</key>
			<string>820fe14d571f71ecd8ff45874eaa4b8e37a6aff03822279078d56386f6d68f6b</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>783a77a6be6ef759f7ed63839d4b6d0b</string>
			<key>Key</key>
			<string>d2efbae4076b164360a252b5228b978b7b7f2d361b3299fb586e94afdce33db4</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>114d99a60d2660c8694e626f5ebc666c</string>
			<key>Key</key>
			<string>01675c28ca17f12c848515f39fcb2e7783c9109b941818360d28fe37adecc186</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>22c2ea725fae8c291709fe38593ada3d</string>
			<key>Key</key>
			<string>9a7ef53b923572daf9f2f5fee06cba0568034073104ed79923df835c4f276824</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>18f070b087535d63611f8e23343adb3e</string>
			<key>Key</key>
			<string>7ef1bc7046ae37993d339266fd39b90c9f90a4ac114c99dde91fbe2ce753b765</string>
		</dict>
	</dict>
</plist>