<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.0.6</string>
		<key>Build</key>
		<string>11B651</string>
		<key>Device</key>
		<string>iPhone 4 (GSM) [Rev A]</string>
		<key>Codename</key>
		<string>InnsbruckTaos</string>
		<key>Baseband</key>
		<string>04.12.09</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7/031-2943.20140221.8j5GW/iPhone3,2_7.0.6_11B651_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-2396-001.dmg</string>
			<key>Key</key>
			<string>a97b812c19cf19d66857a58fc6cca9f4b7818d2a8b266c5aee7dcedc6604aa61182fabc5</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-2347-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dfe9e920398f871de2ae43b83c9fa782</string>
			<key>Key</key>
			<string>3e39478bcc3432feae398c0f21253c72568055d4edca1756f443147cea8756c9</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-2320-001.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dc3b66dc7b9e63273b4c4663e44547f3</string>
			<key>Key</key>
			<string>71b4a6d3cb64c49802a7a4c76d29af9d4d2dfb2a2d852a4d4881a146fd08efaf</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>37e3909dfb8d38d4c0cd070c12180b39</string>
			<key>Key</key>
			<string>98fd6c5260d2fbc2a4356d949668fb63a41b8caf5f44cde34a0437a48e4b152c</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6dc4494f3ac721a722273b801802388e</string>
			<key>Key</key>
			<string>3d8806aa1d8c2aa03023dd3643f3ee63a2a628704df8de3a98f3f2e9eba164a9</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c0ece2ba28edb8573baa356e2be4c047</string>
			<key>Key</key>
			<string>fb5208339fa503440dd6617390c77e7f4b717542c826eedeb183862dd7ee409a</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>559c9681eae6a0b77ffbd00b1315c4b1</string>
			<key>Key</key>
			<string>a404798a348c19e6f2d4837f0f9407aab5eb05b1e30683e5918b90cd50e2310f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6aaca5d1d12490392884aefee1f38185</string>
			<key>Key</key>
			<string>07f9f9505e08250b53765a0d59b8ca025a5a174d6eec7adba42ce873d6352bdd</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6a9a74ed6bf7f233bd2a0c15998fbdc9</string>
			<key>Key</key>
			<string>1c8af135ea66122bfda7c414b4918b5f694ee19a303c5b74ecfdf30f479045dc</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n90bap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>102872422784f363d25f7d7a50268b56</string>
			<key>Key</key>
			<string>b6deb3d2ab60a022729b731d7ae3d9055387afdcb7a121c10105fef72e48aa1e</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-30pin.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cf3056a6d7a35ca357d89d886904d293</string>
			<key>Key</key>
			<string>4abcfed92ed6eb2744196cbd71fc7b32f138186dcaa2514c3fe010f0ac7e1297</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n90bap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>38aeff11dc1fd769c762cf8da170a66b</string>
			<key>Key</key>
			<string>963ba49ed4d906b80626951943b9722c33fe476d9b584c3c8e93c5c8da0bb97f</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n90bap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6b88fe28fd79091a1abbfb4e6257fdd4</string>
			<key>Key</key>
			<string>1bbdae9fbfd9f4ce61bd224fa0fd8e2afe03e638d0465f1f5d7aa151a02e6734</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n90bap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d71c029b64ace2262f47af5636a8c121</string>
			<key>Key</key>
			<string>e6264eed39b00f66a3b9aa3b9db5cba7b94bc5597f31350c952a27cb7e450229</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n90b</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0bf1a87c598dbd4d06d8a4c204659e29</string>
			<key>Key</key>
			<string>76224e1c124fec052d98f47c820d4a2162f8e9b5bfa458d3baec171b1d495f7f</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n90bap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1a14bc4cadcdd9df895fabdbd29dd234</string>
			<key>Key</key>
			<string>63c2d47c284f97d57fffdaca7793d693fe4b99a2e519d10e03eda7488f00da0d</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone-30pin.s5l8930x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cfff9c784b4f7a94d6bd6df98ffc6846</string>
			<key>Key</key>
			<string>256d4b752ec916d28066880231c92f4d65a8e73a5ca1c63f3d5273fc9d22cc7b</string>
		</dict>
	</dict>
</plist>