<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>4.1</string>
		<key>Build</key>
		<string>8B117</string>
		<key>Device</key>
		<string>iPhone 3G</string>
		<key>Codename</key>
		<string>Baker</string>
		<key>Baseband</key>
		<string>05.14.02</string>
		<key>Download</key>
		<string>http://appldnld.apple.com/iPhone4/061-7932.20100908.3fgt5/iPhone1,2_4.1_8B117_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-7060-114</string>
			<key>Key</key>
			<string>4c3c83d3899ea9bef415b1c9c656aaef966b2362494d2c9093a9283d388257562a228c86</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-7072-079</string>
			<key>IV</key>
			<string>4f545fda195abfded796f10627fedd6f</string>
			<key>Key</key>
			<string>dc4ee98876c3106888fc501576f0c1b7</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-7079-079</string>
			<key>IV</key>
			<string>a0fc6ca4ef7ef305d975e7f881ddcc7f</string>
			<key>Key</key>
			<string>18eab1ba646ae018b013bc959001fbde</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9cdcfbdf36175c103d4f3d4993bc8423</string>
			<key>Key</key>
			<string>91f2b4c9a8a69f502a294200472059f3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be8c599d54c7db4c73d5f625dabe5b9e</string>
			<key>Key</key>
			<string>b999597f1c7c5e69787e557c7d4005a0</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>717b2fc18a4144734472d610d35e6cad</string>
			<key>Key</key>
			<string>ad089848459714cc4b8eccc20b39ec49</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>274fdb766f0429b42b567233e6efaa98</string>
			<key>Key</key>
			<string>a326f6b58fcfe493146430bead54a040</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>040eafd07ba3f2cfa489ea63057e5431</string>
			<key>Key</key>
			<string>ef36455a0bdaa272930e258a601d2085</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>61bcf143fdf8eef414f1a54117418691</string>
			<key>Key</key>
			<string>5f24bbec11ae22f04956a16d6cfe851b</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1500e2b65dc6e9bc958d92f014f090a5</string>
			<key>Key</key>
			<string>15118cb6f0f542da929cb5858cb6fdb2</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2002b24db0abaad78411e3cf47007aff</string>
			<key>Key</key>
			<string>fe54f722d6ddb22cc263ef5e8b1c0235</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4236670ec4fdab27363451fdb27e633f</string>
			<key>Key</key>
			<string>d23902e0efe394a1f09b37c6e86dd6a3</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4c8dd5528dcf283bec1ecd8d741aa540</string>
			<key>Key</key>
			<string>9b5a1fc8c62912cc1404a6bd5cc45685</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7238dcea75bf213eff209825a03add51</string>
			<key>Key</key>
			<string>0295d4ef87b9db687b44f54c8585d2b6</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8926b78e0a2b9e4ec9dd34b0f99148fb</string>
			<key>Key</key>
			<string>536e5c0303edd8f11ca90535c0770963</string>
		</dict>
	</dict>
</plist>