<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.1</string>
		<key>Build</key>
		<string>13B143</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>Boulder</string>
		<key>Baseband</key>
		<string>10.00.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-25066-078.dmg</string>
			<key>Key</key>
			<string>93177b8be46db86c290eb311b448daf067c0b0dc4ece6e65b6a5af7bfcc78afc8c10a541</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25394-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6512224dc9d15efdf11c0f3606c42c69</string>
			<key>Key</key>
			<string>4ff8ff466219d3e64f1927e6d949c738ec984bf2622f1a4b163aef11dd6d6cfe</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-25124-078.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fab495067b8373ac12cf6221298eab62</string>
			<key>Key</key>
			<string>98a9f35b54b81dca44c11c336837921cba4a79d0dea7e63f7d7db3bf59686eff</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f31e632e7a9686bc051550d01432afeb</string>
			<key>Key</key>
			<string>e22b27248c7fc3bacd4be14faaa8de5a4a74b340aeb4c7a2d2beb4a9f744538b</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d25c0993d81a764ac8920660d522ac62</string>
			<key>Key</key>
			<string>db8cc92126ee34d07e4228b87b7ee14435de5f4f6f7e98f8d8d70d4755ee002e</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3acc7fd2313d7ecf146dd968a655211f</string>
			<key>Key</key>
			<string>2ec6c4ec331f327b44214dbe994b1e22fcc114559db3503eede29c3d65c300e5</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9b4d2c28aaccbe15839f46c19335181d</string>
			<key>Key</key>
			<string>65a0dfc7715c8d09405ddd5c8d0b31eb47218d16c7992df2604fb159d3c31f2a</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>48efd3c99304cace8fc71bf81005ac27</string>
			<key>Key</key>
			<string>9865cfa17590859241b33df38bacf8626f8662e5e1a6c17f9d60caa503130564</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>58bfb7e04ab3034678efabc955ec933e</string>
			<key>Key</key>
			<string>c33eeb2e7f60ac9d4dc0112d9b6e1ac75da2227940ec2e5146f3ba74af09dbfd</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6c986e61c349807c226ebe342690aad4</string>
			<key>Key</key>
			<string>e999cb196b47a8ddfb9ab157f651bb91b60731ca524a0953e34f8caa4931d93a</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1981605a9c78a1898640288701e6a6aa</string>
			<key>Key</key>
			<string>aa3b09c9a0c73bff420fbf1c9d9c1f6129092bcc0fc6a09ee29221fc1bc5745d</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c638d614e3666a5aa8c7e37269088f92</string>
			<key>Key</key>
			<string>1975100f30611880da18b421c1a182b267ee876f4e5f3a50b9f0f481f32ddd78</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a4b245455ed8445cbcb4e84c12ba124d</string>
			<key>Key</key>
			<string>c5e849fef9624f0b4feb1162b0e1432256297244176c651a686c336b7bdbb79a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0b7aa0b868e004d1cadcbafd509b5616</string>
			<key>Key</key>
			<string>18ccf705500b2e91dbd30f29215f002389c37a5ab8dc0855abaf3a4d57e1bd17</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4d04402f9079a949e6b2146185027543</string>
			<key>Key</key>
			<string>9630460d4694f48d8990635a93b5e905e1deaba6aee849e15488bf5c976215e0</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b74080d074d86d91a3b1a63cc8ea713f</string>
			<key>Key</key>
			<string>b5152a43cf95fda340440d64c6669bdf8b4e8b3f1aa12fc90b5fb6060487005a</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3e80e0f5aac3b658e0d3979125f21383</string>
			<key>Key</key>
			<string>aa4e365444d43f45bedfeb21f0ac653f8e4eb1cb21e09aeac1f9b3100a43ebd7</string>
		</dict>
	</dict>
</plist>