<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.0.1</string>
		<key>Build</key>
		<string>13A404</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>Monarch</string>
		<key>Baseband</key>
		<string>10.00.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9.0.1/031-35640-20150923-C5804EE0-5EFE-11E5-A1AE-2C5D51D92A8C/iPhone5,1_9.0.1_13A404_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-07904-301.dmg</string>
			<key>Key</key>
			<string>8a8da5871b3c82f5c1c264de2c22b2b39c2e0610771cae44412d3f9faee56429013941e1</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03478-366.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0775d3366609cf608a51e920407e3ff0</string>
			<key>Key</key>
			<string>49f8750925fede3710a44959b7e2faa079f8a1bf0b9db6847638a765724b5d67</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03706-367.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d078ecfa8f16e1c0b838742a6601808f</string>
			<key>Key</key>
			<string>90ad3cb1f1209e6961514d4405e8373d52478364d0fdb65248c975905acd8694</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a0ca94531ce2f36ca59dbe21136ae6cf</string>
			<key>Key</key>
			<string>bc5141bc9f5093aa3f925cd357197dc2f3ab80eb50dcc9167ad56224dfe4a05d</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8228cddb11ce082605320e567af98b6d</string>
			<key>Key</key>
			<string>a1e6419b1b88d3732e0f74e40b0f0d00112004a8d9d6108af60a84967d2dc5f7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>800db112bad8b20835695569799c461e</string>
			<key>Key</key>
			<string>c6dd441a03358aac9a79ca878a8745ff244ce11bcdd9fd8b78e09b33b6706d62</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d43cdeb92270ceb6d5aabfccbfdb2255</string>
			<key>Key</key>
			<string>fe064f1be34c08a6face508a1b8f24364ee9cb03efb66915bbdfaba20cf05df5</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6a2513928a181a37798de826c154e2a0</string>
			<key>Key</key>
			<string>b355ba6732e67d7159faa826d70e95fa62887db7e9e954738d37aa0cb23aeebf</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>55135bafe5b9800998aa3f44d81d7119</string>
			<key>Key</key>
			<string>286f08162fd24d5219bd2ddb27301daa7a80eee75d9c3494befd6c51ce12e45b</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>23810c1c355e42f40cd695870d52e0a0</string>
			<key>Key</key>
			<string>52577f0248a106ca62824b569fea0853aa2e0fac57284ea77dcda8d7a95ec6e4</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ed5395f8ee7d9d9d18a37e8d92670b02</string>
			<key>Key</key>
			<string>ca43f82b8971bf0da07f4abc7c43860effb91d1049024f6ab9ce86c899581236</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4ac3ea78e622c57087fd75aebf199dae</string>
			<key>Key</key>
			<string>e8d03969c239c2555b2662e1794cabdead7db45d8e1d8f3853aaf6769afbe96a</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e348a35a8dc20181b8a76237fb10de95</string>
			<key>Key</key>
			<string>d1153534fa2ab91c57f6d883cc431b032827f0de4ef6c22722e302bd00b41c8a</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d4a0d3cc255df28f7792a421e7a763c4</string>
			<key>Key</key>
			<string>ecdd18632f7ca0b54804fbbe1dc395c59fa517621985580332fb319f5c66ae1d</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c62c57b7b8082c112f73c939e04c6286</string>
			<key>Key</key>
			<string>4c448fd4e89b58ff245d4bad48423c4bf7f53f971cae4093d6e66940d08078e9</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a9b36033868e7483214a727a90f5e6c0</string>
			<key>Key</key>
			<string>13ee92bd26c8db33db9c919fa6be4a9991e7b4d1e6e563c3c1992f72204d6d95</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1f17a8419250135aab5e280b46f71f8a</string>
			<key>Key</key>
			<string>5fc61627f9dd087b7043b9e97e81ebcf535a4864c6349cffb5f3fbc89349e0b0</string>
		</dict>
	</dict>
</plist>