<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1.2</string>
		<key>Build</key>
		<string>10B146</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>Brighton</string>
		<key>Baseband</key>
		<string>3.04.25</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6.1/091-0720.20130215.Xerg4/iPhone5,1_6.1.2_10B146_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-0866-002.dmg</string>
			<key>Key</key>
			<string>fc9985c7f879de0ef4247a58d8761f9ee40093f4ee2f9e60f18ced44dbc7ee67a4230209</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0859-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>accd22b74b7cdbf63155adcecdd74e40</string>
			<key>Key</key>
			<string>b4c0b0a7e58d0b83807df630e2c79551061605c6b5cc100fd679f46ca196e2f9</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0856-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>87a214c4a43b9f6fd745b20e363034ce</string>
			<key>Key</key>
			<string>ac261239ccf677c7333abdea1624bce320d67bb6254842b8a6ff1f7ae1d55017</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>27b2550d29cc5b5582e50c3c4d40dbef</string>
			<key>Key</key>
			<string>3cbb37f09ee009ae592b098ac72e93b5ae2cbfe6332366cd76eb75798b270630</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a0c88bf04ddc9a440b57a14df294df91</string>
			<key>Key</key>
			<string>604c6abeb42fe0c8b4cc6cfd1668e475c08ef1bd69549df201d1cc73f5d6060d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>efa12529f5a10fe005ab8fe0d93553a8</string>
			<key>Key</key>
			<string>70754fac308970eaa882d501a124a8c73bc594cc1f9fb1d73a63457720534238</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7216a94cadcee71c46c5584ba0fe2cec</string>
			<key>Key</key>
			<string>1a81cb4abb7b2c16823ae2369ea141d0a8f9dc1e6236672c2e73475616494d84</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>66b9ae01304e206f1f1e8bdc951ae5a0</string>
			<key>Key</key>
			<string>b2b34efe2e2a69d2fc79cb27a5faf1d02e4ccafe9066fcffaff9ab6a214487e6</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>def02e4c95c9c09c991911f9c92cfa80</string>
			<key>Key</key>
			<string>dbfa6b7d6fd9c773788e46444e1ca1169ad5084d47622bcb1d60aa5664a0da4b</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>939daa03bc77b5836b4c71dd03d01756</string>
			<key>Key</key>
			<string>826a825b6b58756ceef5e229e969c601afe03306f4ea33bb6f3b6fc64bacdf58</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>4556570b9754122c1ad4a9c74f9f678b</string>
			<key>Key</key>
			<string>06d67ab65b38ff31a94d20b565a4cc06cd4b3b759b75a5b27919f90f89c61f8a</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c8bbbe9b0d73ed17b2f3bdf9699ca0a0</string>
			<key>Key</key>
			<string>965aa60475a7c412411d4a842b36eb5da6dd9cdc5ba601c124dc964ddc2d0631</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bfa03dd561efe2bc5725cd41ead88b4e</string>
			<key>Key</key>
			<string>80ed4d002675a2f75923f98795eee72d6d7d6da189b761df07b44205f192bf39</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>974df181a68778fd0baf13635171740c</string>
			<key>Key</key>
			<string>174bc34785eddca345e17724a51f37a8fe6df39e50647ad708363cf49ff27593</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>92d1e42a0323ce08e4ce5fb2d74ef136</string>
			<key>Key</key>
			<string>eb544c2ca64db38d2ccc94240fa756f0d764fc07973d6d99df08606ca0369ba3</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a01a9d087045766c2545721fc54d490b</string>
			<key>Key</key>
			<string>29eed4f930e7ec7c9f81c33f6002eed13a0d51f1a129d48562c64cc8eea865c1</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dd18d0fc01b3ef262aa29dd21d87c293</string>
			<key>Key</key>
			<string>3f90b9cfe66b69b55efb0693bdd4050480f31c0d495c96efbe674678949ee7d4</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9b4777b02e840d2936d9b090b1ffc9be</string>
			<key>Key</key>
			<string>2720055a1e6864cd4cf59754aad64f65986b838d5d7fc5b91370a85d71c353f6</string>
		</dict>
	</dict>
</plist>