<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.3</string>
		<key>Build</key>
		<string>12F70</string>
		<key>Device</key>
		<string>iPhone5,2</string>
		<key>Codename</key>
		<string>Stowe</string>
		<key>Baseband</key>
		<string>8.01.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.3/031-19940-20150408-6F9D0DCA-DAEB-11E4-B32A-8E6C90F2D2C2/iPhone5,2_8.3_12F70_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-14626-073.dmg</string>
			<key>Key</key>
			<string>c9fabc9d5d7067f0fefc4f38bc5225b896c6dcca550d263539bfb8c08cc6d0dec23db3b6</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14557-073.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e4a35b0bf52aa305f6bf2d123b5436a0</string>
			<key>Key</key>
			<string>abd342978853396473dd5748323573e9773e482a37c7cdc45509ede27dd7ac9f</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14496-073.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f9791d366b82ec1279977f6f42030cdc</string>
			<key>Key</key>
			<string>e4aa9f89a57c0a5508e9ed8b3bbde7df400e106f6a5dfc454dc05f064f584151</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1c0253a5b30cd4e767384ddecf5f2b20</string>
			<key>Key</key>
			<string>3a9b60dff5f00de0bf1b1b09e7078077607a3d0fb9bcbace310bbeed9c4cba59</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>85d9fdb2a5808ab83825e638b365fb37</string>
			<key>Key</key>
			<string>f4facd1972ae3a445a5675fb4d22bda6f587b0fd5bd7a8cb570299b82c836f5a</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bfd33e7c6faf0f150d71cdd89fd00b64</string>
			<key>Key</key>
			<string>4dc6db6b4e66210c5c23e6b4d9324d422dc3f4badeedf8ef5c8b48785ad93ee1</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>91136253baa198c7c24ace735eb45d8d</string>
			<key>Key</key>
			<string>bbe5709eae11e1130843a1d9fed6e4f2e7775e61855d6a34d5088a50fdeda58e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>acb5eb402c57815d3d0e72a36b05da0a</string>
			<key>Key</key>
			<string>5c95b3a3bfe52682c02b871c2472f2977c617f5b2d27a2f6ea6f60648a8cdff8</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c9b4a4631bedf75c4ac812e54b215533</string>
			<key>Key</key>
			<string>a26ce7a0b2bc4c66ca58b6ec71181f5fb69303c26882dce481bef817e6902740</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n42ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>31237043ecf67ab95f45953da4d5b1a9</string>
			<key>Key</key>
			<string>2d77146f5f8e337d7de2c6f2a6fbb9e7918860eeed95e87b88f7340924534481</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dd17656f9be7dc9d0d7f0d0e785da3cc</string>
			<key>Key</key>
			<string>76f5e1e874147e98f4908f3a3b4d5e21cd5229f9db3e80c6a5e900883e065ca8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n42.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>167897c8fa5992fab32a37e326ad833a</string>
			<key>Key</key>
			<string>a165efc2a750ac2cbf3d7a6782352a0cf2a09d63eb3e62577e29e001c5d6b7a8</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n42.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>57e9b23293afa86f47f6b558fa6cb6af</string>
			<key>Key</key>
			<string>1d38293337ca5bdd564db3b5ec571a8e3cd1735a82bf184d5aad7955fb474093</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n42.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ede34ba3eabef71bc3edc3d1245ec014</string>
			<key>Key</key>
			<string>a7cd746de8dbb7f64098ed06a35374aa44294b1fad2cc71f31f48c23d7e3be13</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n42</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0a904ae8f0b78a0d4b1210ff0aa54c62</string>
			<key>Key</key>
			<string>acccbb678b8b26cf5d1c7ef981b5e8bc3d6b8d2a6ffa05e5ee9d6e8e7f960220</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n42.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>60e245445cf4cd7c11551f150b338bf0</string>
			<key>Key</key>
			<string>6bdd40d16a24486b9dcf525fa11934cfb5fed3f0685aa52ed60d3a968bd765ad</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>178df28e4b9f98a49583c656a748cc47</string>
			<key>Key</key>
			<string>edf3acaab8bcc496a1fac5516d5c625adf54541f8ceacd4ad2f98b3a0291bb11</string>
		</dict>
	</dict>
</plist>