<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>6.1.2</string>
		<key>Build</key>
		<string>10B146</string>
		<key>Device</key>
		<string>iPhone 3GS</string>
		<key>Baseband</key>
		<string>05.16.08</string>
		<key>Codename</key>
		<string>Brighton</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS6.1/091-0744.20130215.2E34r/iPhone2,1_6.1.2_10B146_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>048-0896-002.dmg</string>
			<key>Key</key>
			<string>7ea65d98990caf5db0d92c4a7f5938fe850b3c511de24fdf1f8460ec98caa8698f5fc779</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0739-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0450b79be1f5e0e2549c0c0e400726d7</string>
			<key>Key</key>
			<string>634e369f8e618402a3e747919b7d4f0d46bb1aeccf431ce7b1ea5f07864d62cd</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>048-0728-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e955fb2268d1d94996831492dac9664d</string>
			<key>Key</key>
			<string>3a3b7b0768fef2f02e8601558640d75ce590c9f5ffbc7c515d2e022d1a21077a</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3fb62bd17ec20653e501a556f03d40c3</string>
			<key>Key</key>
			<string>2de185050a14ea3cc682ff532c9e3b9908fa4716a869eb69ae914918a78ccf96</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>52bccfdfad0b545e2cb85882e094494d</string>
			<key>Key</key>
			<string>a0a142e6c03714c4785ccc6d84f90b93a71620e5dc99248330b7b98bec4bd967</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0e2bfd871465d6d6448ba4e251121bc3</string>
			<key>Key</key>
			<string>9c5fa1c789e222837dbc65020eb4bb51db583698b6a673fba5a850784a33ae77</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>87c8249aeb2336119fa743b45f10982a</string>
			<key>Key</key>
			<string>1e8ba8898a65c37a9498af4e421d1ec53853ab44babb5fd8ecbdd306a979da28</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>db6040be6859d8e2cd15befca4090968</string>
			<key>Key</key>
			<string>92a2d9eb2b93ef8df79789ecf09c48ae8ec7e4bf9c4aa0a9a775b3d23cc95371</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>820e5dfc2d66fe99ea68e5b7c225e777</string>
			<key>Key</key>
			<string>38aa72c0c9bb3ef207280392e46d553643e6495eb5b6efa088e66f54d233beac</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n88ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d57ac6733caa3a1ea7fc095071029c5d</string>
			<key>Key</key>
			<string>c2124d274014cdb193e18ec0c34ffd41bfa8fdf63f779b41f6fbac2613051882</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>21ea3349e3bf0b5b5043f173f9b5c8bf</string>
			<key>Key</key>
			<string>51f6067c1ff2d26b248c7e3c53b6d2f935db966749473c34c1af9ba3a220cfaa</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f3c9f5e591891b56fc2ba496ff9d5c33</string>
			<key>Key</key>
			<string>a7c957d08e7e2815fa121cd6093adc180752f2dcc5c82845909f1c23c69f15dc</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n88ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8c8254cd2bcdcb9f99c1b97d6296a966</string>
			<key>Key</key>
			<string>425e89fd80735fdcc664c0a04ee8a2ee73a9239ff33338329bf793ec9e736718</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n88ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7d1f47fd6c9baf885fded38af7f1d9a9</string>
			<key>Key</key>
			<string>e36fe056864cef33518648f16a7115e278f1632528313e6c1150f629e84a5b9e</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n88ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c4ed1ffe6fc1bd993f0db795145b5d6c</string>
			<key>Key</key>
			<string>b6b018fc6727fdce291415f678fd19fe4f945e073b742525de380193e50966c3</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n88</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1a39fcdd3686e672923bf16327afd8ed</string>
			<key>Key</key>
			<string>65e749a4c70fb7d0dadfb2d614f74e956342b433986bce08add5740caa8fd97d</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n88ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6db1d808526a16efe7180c9eef80d06c</string>
			<key>Key</key>
			<string>0fc34dfed8e2fc12768d9028ba42e7f961e00f57b92443a74f87d42521843f68</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode~iphone.s5l8920x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>13b49f2c433876115f79d6356c9f0e4a</string>
			<key>Key</key>
			<string>7e268a1335b0d520b35aebc41ef63751476d14c9498fbc11e5e39d6dd2be2762</string>
		</dict>
	</dict>
</plist>