<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.0.1</string>
		<key>Build</key>
		<string>13A404</string>
		<key>Device</key>
		<string>iPhone5,4</string>
		<key>Codename</key>
		<string>Monarch</string>
		<key>Baseband</key>
		<string>6.00.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios9.0.1/031-35314-20150923-C58085FE-5EFE-11E5-B44C-305D51D92A8C/iPhone5,4_9.0.1_13A404_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-07891-301.dmg</string>
			<key>Key</key>
			<string>992cfcd3651697094ec9c136b0ce203611a0477cc4ec1a84a63359aae54d0f2bb5eae761</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03478-366.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>df7f3033a2fe4b55283d2b51e6e7da04</string>
			<key>Key</key>
			<string>28d43e8b6052062dc2634436d5288c1fc6ae0c87dfc1cfb6d12394c7049e40da</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-03706-367.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>904538fabd670480bbce2268dd83fa95</string>
			<key>Key</key>
			<string>4faf10fb27810b15771c765285b5fe1ff40363567c7aee3b96e93e2041fbafc6</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a0ca94531ce2f36ca59dbe21136ae6cf</string>
			<key>Key</key>
			<string>bc5141bc9f5093aa3f925cd357197dc2f3ab80eb50dcc9167ad56224dfe4a05d</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8228cddb11ce082605320e567af98b6d</string>
			<key>Key</key>
			<string>a1e6419b1b88d3732e0f74e40b0f0d00112004a8d9d6108af60a84967d2dc5f7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>800db112bad8b20835695569799c461e</string>
			<key>Key</key>
			<string>c6dd441a03358aac9a79ca878a8745ff244ce11bcdd9fd8b78e09b33b6706d62</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d43cdeb92270ceb6d5aabfccbfdb2255</string>
			<key>Key</key>
			<string>fe064f1be34c08a6face508a1b8f24364ee9cb03efb66915bbdfaba20cf05df5</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6a2513928a181a37798de826c154e2a0</string>
			<key>Key</key>
			<string>b355ba6732e67d7159faa826d70e95fa62887db7e9e954738d37aa0cb23aeebf</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>55135bafe5b9800998aa3f44d81d7119</string>
			<key>Key</key>
			<string>286f08162fd24d5219bd2ddb27301daa7a80eee75d9c3494befd6c51ce12e45b</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n49ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6b0b5f3a07c2c118c1892d3d19e0d382</string>
			<key>Key</key>
			<string>ac86b81a5cfafe7ac577df1e7250e1c8cf46d33cea790d395563a0716b15644a</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ed5395f8ee7d9d9d18a37e8d92670b02</string>
			<key>Key</key>
			<string>ca43f82b8971bf0da07f4abc7c43860effb91d1049024f6ab9ce86c899581236</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n49.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>384777f3a17e20dfb21c441f5b76b5fe</string>
			<key>Key</key>
			<string>acf5a212edeef8db7c4bd1a52164292baab07fb57f55eae0255063055715ea12</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n49.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>00e5aff2653cae2b7aeb01ee4d798fdc</string>
			<key>Key</key>
			<string>b54e87d1792490a7e41b7f8bca88e8753da04715857e481387fdfae04bad2cda</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n49.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7600ba45ca2b9172fc561c11a81bdf6c</string>
			<key>Key</key>
			<string>f4a202b5ea4047ac6eb7e2ca7383162fc4c6ef82b08bd2ace7937c4706b089cf</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n49</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a41ebcd77e1c9087345d9a45bfced6d1</string>
			<key>Key</key>
			<string>fd0fe74a27f3d48313c057453a0d837f4acac49ff2629c93c4ac6ba38f5927df</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n49.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c5041242d5828814c6edd02782933fcd</string>
			<key>Key</key>
			<string>6cd220ae373987559e2f2fc2723aa18aac13d30d40a457180e366c95bd3f7857</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1f17a8419250135aab5e280b46f71f8a</string>
			<key>Key</key>
			<string>5fc61627f9dd087b7043b9e97e81ebcf535a4864c6349cffb5f3fbc89349e0b0</string>
		</dict>
	</dict>
</plist>