<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.3</string>
		<key>Build</key>
		<string>12F69</string>
		<key>Device</key>
		<string>iPhone5,1</string>
		<key>Codename</key>
		<string>Stowe</string>
		<key>Baseband</key>
		<string>8.01.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.3/031-14819-20150408-429A4EA4-D8B7-11E4-A122-D41A90F2D2C2/iPhone5,1_8.3_12F69_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-14986-072.dmg</string>
			<key>Key</key>
			<string>8d8053e832dac3bc8518a1d3b00d1ab5e25f101e0b58c62ac308a1b81f6e0a1e6e9870ca</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14557-072.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ca53ad44c5abce2c79a59e12ebde8728</string>
			<key>Key</key>
			<string>0dbe632d30de944f698647b47ee800ac39771b6ff03d6d752870aff391323e01</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-14496-072.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>325b2e1141d585fb735769253a608c53</string>
			<key>Key</key>
			<string>d30628467906111c3a459f7aea8f553744bc7ebf67bddbb7d85d5fe9dcd50f17</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1c0253a5b30cd4e767384ddecf5f2b20</string>
			<key>Key</key>
			<string>3a9b60dff5f00de0bf1b1b09e7078077607a3d0fb9bcbace310bbeed9c4cba59</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>85d9fdb2a5808ab83825e638b365fb37</string>
			<key>Key</key>
			<string>f4facd1972ae3a445a5675fb4d22bda6f587b0fd5bd7a8cb570299b82c836f5a</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bfd33e7c6faf0f150d71cdd89fd00b64</string>
			<key>Key</key>
			<string>4dc6db6b4e66210c5c23e6b4d9324d422dc3f4badeedf8ef5c8b48785ad93ee1</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>91136253baa198c7c24ace735eb45d8d</string>
			<key>Key</key>
			<string>bbe5709eae11e1130843a1d9fed6e4f2e7775e61855d6a34d5088a50fdeda58e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>acb5eb402c57815d3d0e72a36b05da0a</string>
			<key>Key</key>
			<string>5c95b3a3bfe52682c02b871c2472f2977c617f5b2d27a2f6ea6f60648a8cdff8</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c9b4a4631bedf75c4ac812e54b215533</string>
			<key>Key</key>
			<string>a26ce7a0b2bc4c66ca58b6ec71181f5fb69303c26882dce481bef817e6902740</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n41ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dc96fec6c5b4748603d065e630e5006d</string>
			<key>Key</key>
			<string>73bd24582215e9882797d8f5ea6101ebbb9c8dd421c5277ff81ad2d6ae94d2dd</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dd17656f9be7dc9d0d7f0d0e785da3cc</string>
			<key>Key</key>
			<string>76f5e1e874147e98f4908f3a3b4d5e21cd5229f9db3e80c6a5e900883e065ca8</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>38a0aff1d24b536006e601df88b4f47f</string>
			<key>Key</key>
			<string>4ca6b15ec78b43df9f393452715ae1e90ebe3e44361badf1559feb0c73655670</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>29cd94be0536eb44565d02274aba8d05</string>
			<key>Key</key>
			<string>3cce1c349f3781c000e9361b19a411f3a4a40fa574355b0bf323e291ca140dad</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n41.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0ab32fb0e8c254b71c4df0cf73e47e18</string>
			<key>Key</key>
			<string>0c6c1a35aa8a149214be36876f32de7123a18e56f4d1e05a14f3e0faf97909a8</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n41</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0dde3b2d671147880fb7df7744435fa8</string>
			<key>Key</key>
			<string>98da8ea6640fea1a038b8df3d07f39f72898a58642c13013fac7f496ec6b826e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n41.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e5107f778650d4059be28db411a78862</string>
			<key>Key</key>
			<string>c97d6f017d44ce56784bd3228bf47028abbc511f5175a9c8b1f6136701e03899</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>178df28e4b9f98a49583c656a748cc47</string>
			<key>Key</key>
			<string>edf3acaab8bcc496a1fac5516d5c625adf54541f8ceacd4ad2f98b3a0291bb11</string>
		</dict>
	</dict>
</plist>