<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>7.1.1</string>
		<key>Build</key>
		<string>11D201</string>
		<key>Device</key>
		<string>iPhone4,1</string>
		<key>Codename</key>
		<string>SUSochi</string>
		<key>Baseband</key>
		<string>5.2.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iOS7.1/031-00360.20140425.NdB5S/iPhone4,1_7.1.1_11D201_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-00295-002.dmg</string>
			<key>Key</key>
			<string>af16cc625945211013cbde22e73ef3e6bf20f445a60df2f9dc8a300dc7f3dc1e40cc66cb</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00363-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>dd6b2c1c6dc15d126c27c157f70f54d2</string>
			<key>Key</key>
			<string>0eeaf0d00a7584f2440abc67cb827161bbf63f38bd39954f0cd7466b0f2b69dd</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-00183-002.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>64836af651c3306e0897f7509a50cb7d</string>
			<key>Key</key>
			<string>f5688427288c6dac2e485ff30e9ca51dde53f1ad593e595d56778044d58ed09a</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5f69a9237a3d3da896c00c13ecd6a63d</string>
			<key>Key</key>
			<string>274ab134dd7ab751acd60d0fb0cc742d57cbb31591d033a1fd715bcc24c538be</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bfca1e078bd1bc193219acff49186e06</string>
			<key>Key</key>
			<string>83ee07eee1db4934326a9c70e05b6c9d6b6d5cb87c30b087850b3e6670fb8e5d</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cb5eaccbd9572aac849124ce37d936e6</string>
			<key>Key</key>
			<string>32c2ebabc483605d41f54cfae85638a2a14d2d6fae11e74a062c8713d6fb3bdc</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>65470bf4e2e8d3d6a1b05be806f5d2be</string>
			<key>Key</key>
			<string>f8658e84213437d928f35a9240fcc59cd0c77fc6cf80237d7f270245b249f04c</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>daab6f7534d92900a44e769ee2ec6677</string>
			<key>Key</key>
			<string>19c42e4ffbad7f70f55ed7f0355f90fca7cbaca9994527782f2b437fc0ce5d10</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ba7e25f64f18b3c8e4880471d7674969</string>
			<key>Key</key>
			<string>4ba990f8d3e874a3fc34d72b119d00e706650d016f7cdc5a16c46d3a2b2c3439</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7afbf38b39762040e40cefea36b0048b</string>
			<key>Key</key>
			<string>d2927794301c573df623db8bb021de5ddef549a1cf1b22236b71c191cd895c9a</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8477d4ef91b4576c6732aa99fef3cd1d</string>
			<key>Key</key>
			<string>7755c82ea971b61be53aee3b795300678fbf0d84b1580c5089b18c957b6acf84</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7ab06c16c3fc515478409f22b4dd5a37</string>
			<key>Key</key>
			<string>3f492094635e406ddb3340fde5d2e1cd6acb7ec212ed17afc272256829d3b5b3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f65822b51fbc5e2c5c3dfe2bfceeae28</string>
			<key>Key</key>
			<string>3ccabe74ee2bc33659e12756c3d6784054e55cbf19fabbf65b7706717660fbe8</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8d03e855370dc03fc6fa8423e5177005</string>
			<key>Key</key>
			<string>3bd84ebf9df97a0a5e953a5f3ae4b04f97586f1e5166b48c6d994ab47ce5ce5e</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>822ed54226f238a9a114ef94da0a2f91</string>
			<key>Key</key>
			<string>2d682bf9ff67116449801229192f32ae0a1d8a300bc6ae38395386d145d645dc</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f11fd9f31a145fdc908e60707a931413</string>
			<key>Key</key>
			<string>efbc033022d4fbaf3c7ba7a7bd0abe78f81f066e07654c1e507cb6b0794b4873</string>
		</dict>
	</dict>
</plist>