<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>9.2.1</string>
		<key>Build</key>
		<string>13D15</string>
		<key>Device</key>
		<string>iPhone4,1</string>
		<key>Codename</key>
		<string>Dillon</string>
		<key>Baseband</key>
		<string>6.0.00</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-32057-015.dmg</string>
			<key>Key</key>
			<string>b6644378699052dbd0a53f596f5916c9ac68a3ca8650454dd0a431bb8b617b2e9149b2b8</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-32255-015.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>73d7e6c665bcf2210faf21cdda9cdc16</string>
			<key>Key</key>
			<string>1893d688c9e73197b5cdd076c1a1a223e18a45364bf89993db7f9c03db939e01</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-32327-015.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1748cd2cbb87d4970f7471fb9fce2980</string>
			<key>Key</key>
			<string>4512dc4f276eadba7237e7b2ae0ae4a5c62923cd5356a6547f05a28de5cd294e</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>196d08fe8078a78c704ede111b65213a</string>
			<key>Key</key>
			<string>24cec19ae1b7d49cfbbac4bbdea11a49d499deddf51b0fbe14996e8ff726165f</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>3713c3e2efaf5efb62084950fc4dc5b2</string>
			<key>Key</key>
			<string>dec9cdb9db49ba23a90c6c7ac95bdea81d217309f55669a2daf31c2006ed8303</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>63e91f06fdab046aeec2345b4e52fd6e</string>
			<key>Key</key>
			<string>71f428d07a5aa4bdf5ab47d611a444f9819084f3b829dbebc1bfa5b49ce8e0ee</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1c9fdd3c8c890bd65d45551d466181d8</string>
			<key>Key</key>
			<string>3be0b37bb2437746a2f7db16fdfd004f55bef122647a707d233b59b3cb61ea1a</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>8417d4518209a465bb2e38061588dc48</string>
			<key>Key</key>
			<string>9d50a0104a62ed94f7a93bd253a31dcc2c53d66675761e64b688a0a53c3117e6</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>14d4b91213a1c2665102beb8edc67c54</string>
			<key>Key</key>
			<string>e79eca830cec3179a97feda8cd58dd060ae04b89351274c6b108fd42e1f50bd6</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n94ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>08b791c9796d1f51814e51e4ccd8bc41</string>
			<key>Key</key>
			<string>1d03d10c7e1cd7a4dadc7e89c27c1d1b5d03cf1f04628630b213dbb93a255124</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>82d1679e4a8e4d816a1bd45421b2ae09</string>
			<key>Key</key>
			<string>db3ea443d39faef4fbd63bda3187eda2e9b674f9a375d3d17ed44abe04402eec</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>05ea572cd92514080e06c2a8c60b3a21</string>
			<key>Key</key>
			<string>a2387134172374d561be4d83c0b1ddbaed65dfd4eabb118cf492d77e6608e69f</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be989250a6cfc7ec8bc5e2ea27723680</string>
			<key>Key</key>
			<string>6b055294826867f8b97253929a7ac391fd3c2205c10299680a808144b9644879</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n94.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b5b6326b622093b9b9b7dd7f979d4efd</string>
			<key>Key</key>
			<string>de009fb55ff385412a8154ce317bf82917babd60c43132c11854bb2d28102820</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n94</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1a9ed17c0353f4df70fb69469d5c6dc1</string>
			<key>Key</key>
			<string>22df13c54b35ce188b498a461c5858e94c4c6d912e398a28f561c9410d30ce4e</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n94.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2222077db0f2940fc08ab80aef1404ae</string>
			<key>Key</key>
			<string>5afe9f5dd76273ba1b34815de81d5e5fc264d4dc694c6f98febbc202711386a8</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@2x~iphone-30pin.s5l8940x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>cbba370314ad627f02a53c0819fb4407</string>
			<key>Key</key>
			<string>c227fb16190f49a4ee1b4bea967bd66a37cb3e7a81d61297ee939d9da1ad68b1</string>
		</dict>
	</dict>
</plist>