<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>8.4.1</string>
		<key>Build</key>
		<string>12H321</string>
		<key>Device</key>
		<string>iPhone5,4</string>
		<key>Codename</key>
		<string>Donner</string>
		<key>Baseband</key>
		<string>4.03.00</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/ios8.4.1/031-30941-20150812-7516948C-3C8F-11E5-B90B-951A3A53DB92/iPhone5,4_8.4.1_12H321_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>058-24465-023.dmg</string>
			<key>Key</key>
			<string>ff4ac04c5d77dc0dd020cfc507f550fa9e81309fcde782fe85d83dad5fe1d5ff0f3fd76b</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-24024-023.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b6077808c2794285d5ad590c1d994ce8</string>
			<key>Key</key>
			<string>5f18206c6046ec2a78664bf520b6d88f71642d7a15876543ddf480422f5c2028</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>058-23947-023.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ed87eb6c7a2d0a85ec436b60946ae536</string>
			<key>Key</key>
			<string>dcedd05434ecea301ddfd9c8ace731882e593c114e8b77caed7bfec206fe7236</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>ef41848f4bdd07ea7de5a2bd2d90b989</string>
			<key>Key</key>
			<string>967e260de1a600600ead78fa451865be406c851f8d97da4ddc6d7429173f5648</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>09c5d6fcc1036284ddfb44dbb3ee510c</string>
			<key>Key</key>
			<string>921f87621d26e902cd56f1d7eaf5d640fefa8427010a8bc87d2eabae020da064</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>51356ef38dfa424f8c2c1554c4b0f25e</string>
			<key>Key</key>
			<string>5688c6d98483945aeb71c5844e08c4bf508e97ddcc7db43da1ba08a77fe4ab0d</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3f2f09bd0991ed670fff6375efff92f</string>
			<key>Key</key>
			<string>6ad7299dca1266fb59a4a492b4838800466b68c4397100b5c203e4750bbc8703</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a2bd56b795e07d4ce21ee0820212d2f2</string>
			<key>Key</key>
			<string>f793ca70cfb80595a3d851a8bb981f501dd492ac7a734fc9cb2819884d2c55c3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1@2x~iphone.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>c14003b9dccc6ffab60056c7ad8bbd68</string>
			<key>Key</key>
			<string>be25f0e2954dd5e41c80c4cc075bf450ccbcacf0ae659319126795ab3a205077</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n49ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>03e6b67926e327a71d34249e18f51518</string>
			<key>Key</key>
			<string>9de4399114038b84aa323e57f9bd1ce42e1cbfbbe41cc30399de6e3bb9dc5559</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin@2x~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f22b99dc38a5ae4441e3003e983bc44d</string>
			<key>Key</key>
			<string>92d0e023138feb0869639d4e3b076f647e8825579fab1c0b81d6c996d1d440a5</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n49.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d957ce1156c7412598c817f17841ac5f</string>
			<key>Key</key>
			<string>58857e8e7d65b1940b47d0745a7e14d516068cd26b6b68f09209aee6f6632d12</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n49.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>99fac9814ff7606ded72880e1a7018e7</string>
			<key>Key</key>
			<string>f233a529a97c6bec62da1b1a3a879d30bcae8a4bf0317e88303fefc3e85d8571</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n49.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>039241f2b0212bb7c7b62ab4deec263f</string>
			<key>Key</key>
			<string>d0b49d366469ae2b1580d7d31b1bcf783d835e4fac13cfe9f9a160fa95010ac4</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n49</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a5f3ebd973c44c0e2ffa3688904aff85</string>
			<key>Key</key>
			<string>29e75598a86bcce2aa0ec8899016f08f7cb28dd5b901db4889e889c09ccdb8ff</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n49.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2acc57ad9437a527c2eed2e64a6f7244</string>
			<key>Key</key>
			<string>2d9fcd0524b5cec45515c1abe5735c71d8603a923dc3ccba60b072846cb9280f</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b7f40a1a42819877650e7b0eea0a91ee</string>
			<key>Key</key>
			<string>9bbbb96c690eff8df79e7c60e6dd553c3443947528d8d5e600bb95f6dea219aa</string>
		</dict>
	</dict>
</plist>