<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>4.3.2</string>
		<key>Build</key>
		<string>8H7</string>
		<key>Device</key>
		<string>iPod touch 3G</string>
		<key>Codename</key>
		<string>Durango</string>
		<key>Download URL</key>
		<string>http://appldnld.apple.com/iPhone4/041-0667.20110414.95hVL/iPod3,1_4.3.2_8H7_Restore.ipsw</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>038-1040-007.dmg</string>
			<key>Key</key>
			<string>7085a2976bd57eceedcbbe88a270e1a5028133c288b8afb122c2f886830a9a641daf8bd4</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-1039-007.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>038-1034-007.dmg</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a1a00217be79d8e6b8cf3406f66f2c67</string>
			<key>Key</key>
			<string>595dc4fa476e300c836d9b333933ac3f4426f5b41c5f0369142998d84cbd4c90</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9ba36096d5296c3910caec40de3ac966</string>
			<key>Key</key>
			<string>d9aba3b1b3f13d01953d3294fee992935b6416579aa74d60506c9f7323187db7</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>654b89fec9bd1ef374b41d7e983c6770</string>
			<key>Key</key>
			<string>b37c6b545489f92d8bba0c4ffa5fca97451d95a5f5315bad92fd263857d4d3bf</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b1430bd8503278df2811c7a66b406a21</string>
			<key>Key</key>
			<string>4fb91496f9a0a10fb656ac911580c0c389ec0dcb8df39af292f0880d82305a7f</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>90b6b968ca158188806dae8e98695960</string>
			<key>Key</key>
			<string>948f5429eada3fde73cb69fdc112310dca2b2631058eed6270f3dda40e1624a4</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>86841381f0a9ff544fcf51cbf9558093</string>
			<key>Key</key>
			<string>88f9abca05f05a52bc2a8f735d8c75d65302fc1f04418fb5b3c97b368eb98f92</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n18ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>712d28fd3a30ac18a63cb7bba06de78d</string>
			<key>Key</key>
			<string>609671e9f99ff38bdcdeee2975025be3641fb96b3c8a2a10fa9e47678896c344</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9b57253ec61c06d5c6bba81a6300c5d5</string>
			<key>Key</key>
			<string>98104df2bbe56603469198167d92355fe0fa058c8d3fb156a4dda2585e8adaec</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>9faebba3b25378907840ca823f18f4d6</string>
			<key>Key</key>
			<string>78d7b5470d3532d3181acdc746ebb34e485386b4c7a88b5d58793460f9abb21c</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n18ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>07df45f769043f202b65fb76a2f19fe8</string>
			<key>Key</key>
			<string>1ab385acd6bed60cfc81796edcd408691170f1bea6ee6aa8a4cc17e168bc3b7a</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n18ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f998a2e8e9f2364301e700b7416c6610</string>
			<key>Key</key>
			<string>36a7ff63c67c4ce69d9c6ba9ddc59d79740381f5ae27a53c75e6e8231e425bd9</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n18ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a4ff016010ce6831cae2a7009113c16f</string>
			<key>Key</key>
			<string>f7e6576f69cbcefbe96939efa39600cada2e13d12a6372499eff67f0566b86d2</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.n18</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>d0e2f5db401a12369cc8554d01044595</string>
			<key>Key</key>
			<string>3ad2437485791116eb642e8048511a9ede80ce8b119f4d30c7673c922db95dad</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n18ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b5f2e1e2b15e5044908a6e866d18ba20</string>
			<key>Key</key>
			<string>85271b231ad2c28510705d3e33ce4497825fbf4ab509720bb670f6ff9504d85f</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8922x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a008cb07c9519ce90e11d1681492face</string>
			<key>Key</key>
			<string>11127ad8259aa5b7fb61894e9c7a5e041c8f9cf9dffa368d38b7cc8196393d93</string>
		</dict>
	</dict>
</plist>