<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>2.0.1</string>
		<key>Build</key>
		<string>5B108</string>
		<key>Device</key>
		<string>iPod1,1</string>
		<key>Codename</key>
		<string>Big Bear</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-3796-9.dmg</string>
			<key>Key</key>
			<string>2cfca55aabb22fde7746e6a034f738b7795458be9902726002a8341995558990f41e3755</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3881-4.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>e33d5c7af40422bb32a9e522cb0448b0</string>
			<key>Key</key>
			<string>fc0dfb4d99bfb020621f28f3d6ed774b</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-3882-4.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>024fdbba71ebf34df5b525cd975aefe8</string>
			<key>Key</key>
			<string>219eac3e01276c7ec50432123f50971a</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>bf67cfba9160ad7dbdf44f2baf176458</string>
			<key>Key</key>
			<string>4b69f6c9eed042cacf89fc575ff3b193</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n45ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>be606c8201a122182df9b0e3db4a9bcc</string>
			<key>Key</key>
			<string>dbe4e063c3e863e4e8c4a2492b44b50f</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n45ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n45ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f7e464f98b0b7fe6dfdbd8d0a7f239a1</string>
			<key>Key</key>
			<string>524df80669f9f0237f097db25e8e0c6b</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n45ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.s5l8900x</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>285df0aa00b76e8c0b9870a4dd7bd5f6</string>
			<key>Key</key>
			<string>444f19d072e725f8a27d88ce50ce73de</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n45ap.RELEASE.img3</string>
			<key>Encryption</key>
			<false />
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>TODO</string>
			<key>Key</key>
			<string>TODO</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8900x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0e1504c70c2b7eabe2488a5bf7b1ac60</string>
			<key>Key</key>
			<string>2e5d3470a5a1c9ab8b6c7c334569e86f</string>
		</dict>
	</dict>
</plist>