<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
	<dict>
		<key>Version</key>
		<string>3.1.2</string>
		<key>Build</key>
		<string>7D11</string>
		<key>Device</key>
		<string>iPod touch 2G</string>
		<key>Codename</key>
		<string>Northstar</string>
		<key>Root FS</key>
		<dict>
			<key>File Name</key>
			<string>018-6133-014.dmg</string>
			<key>Key</key>
			<string>fc68c25f1dcc929f37c2be82b94e4c92b48eac3ddd67adefd462404663265e3dca43a930</string>
		</dict>
		<key>Update Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6142-014.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>00c0685faeeebc48cb457e679bea9be7</string>
			<key>Key</key>
			<string>db7fee02b08b5c9efaae920fdd9ad4f9</string>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File Name</key>
			<string>018-6141-014.dmg</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>f37bd3f9597c1acba87bfd4029a08ff9</string>
			<key>Key</key>
			<string>de0e35e16213e69cb9c19dc527d9a96c</string>
		</dict>
		<key>AppleLogo</key>
		<dict>
			<key>File Name</key>
			<string>applelogo.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>fb91437b42eff2bc7c41366a1a97537f</string>
			<key>Key</key>
			<string>99d6958cca282856f8b2c38aa429d7f7</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging0.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b03bbe48c42a19425370146d07ab853a</string>
			<key>Key</key>
			<string>20515b4f579da95de08dbe8269b119fa</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File Name</key>
			<string>batterycharging1.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a3155facb8d2fd807ce5e22babfcc883</string>
			<key>Key</key>
			<string>284d4d538af74bfe96929454e7336275</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File Name</key>
			<string>batteryfull.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>621a662e104d6c4f2bb55c7503289af2</string>
			<key>Key</key>
			<string>1fbb68aa75a4ec15b79a1ae32236f87e</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File Name</key>
			<string>batterylow0.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1ad981e4bf81f94c80edf859b360db1d</string>
			<key>Key</key>
			<string>ca126e7d7942c9d1d026f5e4159b820b</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File Name</key>
			<string>batterylow1.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>26f3b742afe64d705cedcb6008aa361c</string>
			<key>Key</key>
			<string>39d0bb25b47d2bda8c1a367712a3d8c7</string>
		</dict>
		<key>DeviceTree</key>
		<dict>
			<key>File Name</key>
			<string>DeviceTree.n72ap.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>6918c895c2159124bae3e3a496b90076</string>
			<key>Key</key>
			<string>44fa74fe0a1349d3eb8eb475bcec1820</string>
		</dict>
		<key>GlyphCharging</key>
		<dict>
			<key>File Name</key>
			<string>glyphcharging.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>a67784e1a45c30b93b30b78ccd68f4ab</string>
			<key>Key</key>
			<string>0ecce3bda844d18806c893f0464a586b</string>
		</dict>
		<key>GlyphPlugin</key>
		<dict>
			<key>File Name</key>
			<string>glyphplugin.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>b93a0c847a17734df97f4ad895856bb3</string>
			<key>Key</key>
			<string>411c7f55d98b3d114eea9e08ebb71cec</string>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File Name</key>
			<string>iBEC.n72ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>0551d6bca63f6e458d65d0e308a4a676</string>
			<key>Key</key>
			<string>a2f0497c17e7181705c002f1b1c8edcf</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File Name</key>
			<string>iBoot.n72ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>5e421f8ce8c811311bbbb8a734ec07ce</string>
			<key>Key</key>
			<string>191b6846543d7026b6f0d5247f030588</string>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>File Name</key>
			<string>iBSS.n72ap.RELEASE.dfu</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>083528a985c2e3f90f8324e1e9dce4e4</string>
			<key>Key</key>
			<string>c7af1cfc980b24e2464b70310e2b1713</string>
		</dict>
		<key>Kernelcache</key>
		<dict>
			<key>File Name</key>
			<string>kernelcache.release.s5l8720x</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>1d84879d9be87ca9b503216493d15813</string>
			<key>Key</key>
			<string>911fe67f760b98ffdac6cc576b5ca9bf</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File Name</key>
			<string>LLB.n72ap.RELEASE.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>7525c877ebd56679618172d619217355</string>
			<key>Key</key>
			<string>654914557bb53def070a44c1cde59d77</string>
		</dict>
		<key>NeedService</key>
		<dict>
			<key>File Name</key>
			<string>needservice.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2ac99b3d28251cf984b66dc4a3edc4d7</string>
			<key>Key</key>
			<string>ff900555197190243f21b89b3b3c3dbe</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File Name</key>
			<string>recoverymode.s5l8720x.img3</string>
			<key>Encryption</key>
			<true />
			<key>IV</key>
			<string>2d111a3b5d3c09ad7efc04947dab697f</string>
			<key>Key</key>
			<string>f0a439241017c09b8ea5527274ec72ce</string>
		</dict>
	</dict>
</plist>